body {
	font-size: 15px;
}

.first-row {
	margin-top: 50px;
}

span.website, span.phone, span.address, span.email {
	display: inline-block;
	padding-top: 1em;
}

span.website span, span.phone span, span.address span, span.email span {
	padding-right: 0.5em;
	padding-left: 1.5em;
}

.button-download {
	margin-right: 1em;
}

img.home-flag {
	width: 35px;
	height: 35px;
	margin: 25px 0 0 0;
}

.single-language-container {
	padding-bottom: 20px;
}

a.navbar-site-title, a.navbar-site-title:hover {
    color: inherit;
}

footer {
	padding-top: 30px;
	padding-bottom: 30px;
}

img.footer-logo {
	width: 35px;
	margin-right: 10px;
}
