---
extends: base.j2
default_block: main
title: Наръчник На Имигранта – Лондон
description: Basic information useful for people who are arrived and  starting to live in London
---

<div class="row">
  <div class="col-md-12 download-container">
    <a href="migrants-guide-bg.pdf" class="btn btn-success button-download" aria-label="Изтегляне като PDF">
      <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
      Изтегляне като PDF
    </a>
    <a href="migrants-guide-bg.epub" class="btn btn-success button-download" aria-label="Изтегляне като EPUB">
      <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
      Изтегляне като EPUB
    </a>
  </div>
  <div class="col-md-12 toc-container">
  	<h2>Съдържание</h2>
  	<ul class='toc'>
  		<li><a href='#section-introduction' >Въведение</a></li>
  		<li><a href='#section-transport' >Транспорт</a></li>
      <li><a href='#section-internet' >Интернет и телефон</a></li>
      <li><a href='#section-cheap' >Евтина храна и други неща</a></li>
  		<li><a href='#section-bank' >Банкова сметка</a></li>
      <li><a href='#section-learning' >Учене на английски</a></li>
      <li><a href='#section-healthcare' >Здравеопазване</a></li>
      <li><a href='#section-home' >Дом</a></li>
      <li><a href='#section-work' >Работа</a></li>
      <li><a href='#section-benefits' >Социални помощи</a></li>
      <li><a href='#section-legal' >Правни въпроси</a></li>
      <li><a href='#section-domestic' >Домашно насилие и сексуално посегателство</a></li>
      <li><a href='#section-lgbt' >ЛГБТ* (Лесбийки, Гейове, Бисексуални и Транс*)</a></li>
      <li><a href='#section-other' >Други полезни връзки</a></li>
      <li><a href='#section-who' >Кои сме ние и защо ни е грижа?</a></li>
  	</ul>
  </div>
  <div class="col-md-12 text-container">
  	<h2 id='section-introduction' >Въведение</h2>
  	<p>Започването на нов живот в Лондон може да бъде плашещо. Много неща са различни от дома. Повечето неща са скъпи, а някои просто трудни. Тази брошура предлага основни съвети за справяне с определени неща, когато пристигнете и проблемите, с които е вероятно да се сблъскате.</p>
  	<p>Някои от съветите важат за всички. Повечето хора предполагат, че въпреки че сте имигранти, имате законово право да живеете и да работите във Великобритания, най-вероятно защото сте гражданин на ЕС. Ако това не е вашият случай, нещата може да са по-комплексни и вероятно ви трябва по-задълбочена информация, отколкото предлага тази брошура.</p>
  </div>
  <div class="col-md-12 text-container">
  	<h2 id='section-transport' >Транспорт</h2>
  	<p>За да използвате публичния транспорт в Лондон ви трябва синя, електронна карта  „Ойстър“. Няма хартиени билети и не можете да платите в брой във автобус или влак. Картата Ойстър струва 5 лири, които получавате обратно щом върнете картата. Слагате пари в картата и при всяко пътуване ви се начислява определена сума. Картите могат да се закупят и заредят на всички станции и в някои магазини. Ойстър картите работят на автобуси, метрото, трамвая и локалните влакове, които пътуват из Лондон.</p>
  	<p>Транспортната мрежа е разденела на зони, които започват от 1 в центъра и стигат до зона 6 в покрайнините. Цената на метрото и влаковете зависи от зоните и е по-скъпо в натоварените часове (6.30 – 9.30 и м/у 16- 19ч). Пътуване от зона 2 до зона 1 ще ви струва 2.20 или 2.80 (паунда). Пътуване с автобус струва 1.40, а ако пътувате повече от три пъти на ден цената спира да се начислява след  £4.40. Пътуване гратис е възможно но контрольорите се срещат често. Могат да се опитат да проверят имиграционния ви статут, ако ви спрат. Пътуване без билет е престъпление и дела се завеждат.</p>
	<p>It is possible to buy weekly travelcards only for buses, for which the zone doesn't matter (£20.20) or the more comprehensive ones that you can use in any transport, but which depend on the zones you travel (various prices). Traveling without ticket is possible, but ticket inspectors are common. They may try to check your immigration status if they stop you. Travelling without a ticket is a criminal offence and they do take people to court.</p>
  	<p>Използвайте сайта на TFL, за да разберете как да стигнете от едно място на друго из Лондон с публичен транспорт.<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.tfl.gov.uk/'>tfl.gov.uk</a></span><br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0343 222 1234</span><br/>
  	</p>
  	<p>На страницата на National Rail ще може да намерите разписание на влакове и ценоразпис.<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nationalrail.co.uk/'>nationalrail.co.uk</a></span><br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 08457 48 49 50</span><br/>
  	</p>
  	<p>Автобусите често за по-евтини от влаковете, особено тези като Megabus.<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://uk.megabus.com/'>uk.megabus.com</a></span><br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0141 332 9644</span><br/>
  	</p>
  	<p>Можете да намерите точния адрес навсякъде във Великобритания като въведете пощенския код в търсачката на  Гугъл Мапс или Бинг Мапс.<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.google.co.uk/maps/place/London+E1+7Q'>google.co.uk/maps/place/London+E1+7Q</a></span><br/>
  	</p>
  </div>
  <div class="col-md-12 text-container">
  	<h2 id='section-internet' >Интернет и телефон</h2>
  	<p>Интернет кафенетата обикновено начисляват по £1 на час като в централен Лондон е повече. Освен това предлагат копирни услуги и евтини международни разговори.</p>
  	<p>Можете да се свържете с мрежата безплатно в библиотеките. Обикновено, за да влезете в библиотека трябва да се регистрирате. Безплатно е, но ще трябва да докажете, че живеете в района. На някои места пускат и без регистрация, така че си заслужава да попитате на рецепцията. В библиотеките може да намерите вестници и списания, учебни материали за учене на английски, както и книги на други езици. Това е добро място, за да си набавите информация, относно това какво предлага общността, събития, образование намиране на жилище и т.н.</p>
  	<p>Мобилен телефон без договор се нарича pay as you go, prepaid, PAYG, което значи предплатена. Мрежи като Лебара, Лайкател и Гифгаф предлагат много добри сделки само за сим карта. Може да си закупите предплатена сим карта с 250 минути, неограничени съобщения и 1гб интернет за £10 на месец. Малките квартални магазинчета за мобилни телефони са най-доброто място да си набавите сим карта и евтин телефон. Аргос също предлага евтини апарати.</p>
  	<h2 id='section-cheap' >Евтина храна и други неща</h2>
  	<p>Най-евтиният супермаркет е Лидъл, Алди или Морисънс. Ако отидете  късно вечер понякога може да намерите храна, чийто срок изтича същия ден и се предлага за много евтино. Храната по пазарите обикновено е по-евтина, отколкото в магазините. Взимате на храна от контейнерите е престъпление, но рядко се търси отговорност.Възможно е да имате проблеми с охраната, ако ви хване. Внимавайте, защото понякога изсипват белина върху храната, а може да има и плъхове наоколо. Места, които предлагат безплатна храна:  университет SOAS и LSE (London School of Economics) – Понеделник – Събота ; 12:15 до 14:30ч.- Бус за храна: Кентиш таун – 12:00ч., Камден таун – 13:00ч., Кингс Крос – 14:15ч. – Понеделник до Събота;  Дневен център Matchless Gifts – Каледониан Роуд  102, Ислингтън Лондон, N1 9DN.</p>
  	<p>Праймарк е най-евтиният магазин за дрехи. Аргос е евтин за домашни потреби, електрически уреди и електроника. Благотворителни организации като Оксфам, Мари Кюри и Майнд имат магазини, наречени чарити шопс, където могат да се закупят евтини дрехи втора ръка, домашни потреби и книги.</p>
  	<p>Фрийсайкъл и интернет форум, където хората предлагат неща без пари.
      <br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://uk.freecycle.org/'>uk.freecycle.org</a></span><br/>
  	</p>
  	<p>Гъмтрий има секция за безплатни неща.<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gumtree.com/freebies/london/freebies'>gumtree.com/freebies/london/freebies</a></span><br/>
  	</p>
  	<p>Ще трябва да сте търпеливи и да имате късмет, защото нещата с високо качество се взимат бързо.</p>
  </div>
  <div class="col-md-12 text-container">
  	<h2 id='section-bank' >Банкова сметка</h2>
  	<p>Не е лесно да откриете банкова сметка, ако тепърва сте заживели във Великобритания. Често банките изискват документи, с които може да се сдобиете само, ако вече имате открита банкова сметка. Трябват ви два документа: документ за самоличност и документ потвърждаващ местожителство, който може да е трудно достъпен. Пазете всички официални писма с името ви върху тях, защото може да послужат именно за тази цел. Често ще ви трябва история на адресите, на които сте живели и съответните дати. Записвайте тази информация всеки път когато се местите.</p>
  	<p>Договор за наем се счита за доказателство за местоживеене, но е малко вероятно да имате такъв в началото. Битови сметки като тези за газ, електричество или домашен телефон, но не и мобилен, също се приемат. Трябва да помолите хазяина да впише сметките на ваше име и да изчакате до края на месеца за следващата сметка. Не се съгласяват много често. Ако имате сметки вписани на ваше име, не забравяйте да уведомите съответната компания, когато се местите, защото в противен случай може да поискат да платите сметките на други наематели. </p>
  	<p>Валидна шофьорска книжка от Великобритания се счита като доказателство за местожителство. Може да смените всяка шофьорска книжка от ЕС с такава от Великобритания срещу такса от £50. Може да подадете молба за временна шофьорска книжка, предназначена за хора, които се учат да шофират, защото някои банки ги приемат. <br/>
  	<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://ask.co-operativebank.co.uk/help/customer_services/address_proof'>ask.co-operativebank.co.uk/help/customer_services/address_proof</a></span><br/>
  	</p>
  	<p>Работодателят ви може да напише писмо, с което потвърждава местожителството ви. Трябва да бъде написано на хартия, на която компанията принтира документи и да бъде подписана от някой с ръководен пост. Някои банки приемат писмо от така наречения JobCenter, в което потвърждават вашия National Insurance номер (номер на националната застраховка).  <br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.hsbc.co.uk/content_static/en/ukpersonal/pdfs/en/passport_brochure.pdf'>hsbc.co.uk/content_static/en/ukpersonal/pdfs/en/passport_brochure.pdf</a></span><br/>
  	</p>
  	<p>Някои банки откриват сметки и на хора новодошли във Великобритания като изискват само документ  за самоличност, без доказателство за местожителство<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.lloydsbank.com/banking-with-us/joining-lloyds/new-to-the-uk.asp'>lloydsbank.com/banking-with-us/joining-lloyds/new-to-the-uk.asp</a></span><br/>
  	</p>
  	<p>или пък приемат като такова банкова разписка от вашата държава:<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.barclays.co.uk/Helpsupport/ComingtoworkintheUK/P1242601780771'>barclays.co.uk/Helpsupport/ComingtoworkintheUK/P1242601780771</a></span><br/>
  	</p>
  	<p>Кредитните съюзи са малки банкови общности, които могат да бъдат по- гъвкави при откриване на сметка. Може да намерите кредитния съюз близо до вас на <br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.findyourcreditunion.co.uk/home'>findyourcreditunion.co.uk/home</a></span><br/>
  	</p>
  	<p>Съберете колкото можете повече нужни документи и отидете лично в банката. Опитайте в няколко различни банки, защото може да ви провърви и да бъдете обслужени от човек, който не е толкова отдаден на правилата.</p>
  	<h2 id='section-learning' >Учене на английски</h2>
  	<p>Във всеки квартал може да намерите колеж за възрастни по професионални дисциплини. Наричат се Further Education (FE) или Comunnity College (Допълнително обучение или Общностен колеж). Предлагат курсове по различни предмети, включително и английски, които са достъпни, а понякога и безплатни, особено ако взимате социални помощи. Някои общини, библиотеки, църкви и социални центрове също предлагат уроци по английски. Потърсете съвет в библиотеката до вас.</p>
  </div>
  <div class="col-md-12 text-container">
  	<h2 id='section-healthcare' >Здравеопазване</h2>
  	<p>Ако имате нужда от спешна медицинска помощ, обадете се на 999. Ако имате нужда от бърза, но не спешна помощ, телефонът е 111. Освен това може да посетите спешното отделение (А&E), което обикновено се намира в болница.</p>
  	<p>NHS е здравноосигурителната институция във Великобритания. Може да намерите болници, клиники, зъболекари, клиники по сексуално здраве и други услуги близо до вас на този уебсайт:<br/>
  	<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nhs.uk/Service-Search'>nhs.uk/Service-Search</a><br/>
  	</span>
  	</p>
  	<p>Основно здравни услуги, като посещения при лекар или спешна интервенция са безплатни, независимо от имиграционния ви статут. Може да бъдете таксувани за посещение при специалист или за престой в болница. Ако имате правото на престой във Великобритания, това също е безплатно. Часовете при зъболекар или оптик и лекарствата по рецепта винаги се заплащат.
  	<p>Първата ви връзка ще е с GP. Обикновено работят в хирургия, но това няма нищо общо с хирургически процедури. Трябва да се регистрирате в най-близката до вас и да си запишете час всеки път, когато искате преглед. Ако сте болни или наранени, а не е спешно, но не можете да изчакате до следващия свободен час, може да посетите така наречените walk-in клиники, където ще ви обслужи сестра. Пригответе се за дълга опашка от няколко часа.</p>
  	<p>За да ви прегледа зъболекар трябва да се регистрирате и да си запишете час. Прегледът струва £18.50, а процедура като вадене на зъб струва £50.50. За най-скъпите процедури ще трябва да заплатите единична такса, а ако трябва да повторите визитата в идните два месеца, ще е безплатна. </p>
  	<p>Абортите са разрешени до 24-тата седмица и се предлагат безплатно във Великобритания. Ще ви трябва направление от лекаря ви или от British Pregnancy Advisory Service (Институция за съвети при бременност). <br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03457 30 40 30</span><br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.bpas.org/'>bpas.org</a></span><br/>
  	</p>
	<p>Аборт може да се направи и в частна клиника,където ще трябва да се заплати между £450 и £750.</p>
	<p>Всеки има право на достъп до презервативи безплатно, дори под 16-годишна възраст. Могат да се намерят в противозачатъчни клиники, клиники по сексуално здраве, някои GP хирургии и в някои организации свързани с млади хора. </p>
	<p>Спешното противозачатъчно хапче също може да се намери безплатно в противозачатъчни клиники, центрове Брук, някои аптеки, повечето клиники по сексуално здраве, повечето NHS walk-in центрове, GP хирургии и в някои болнични отделения по спешност и злополуки.</p>
	<p>В Лондон има много клиники по сексуално здраве, често в близост до болница. На адрес Dean Street 56 се намира чудесна NHS клиника по сексуално здраве, отворена за всички. Подходящи са за ЛГБТ хора. Имат клиника за транссексуални хора, секс-работници и за мъже, които си падат по див секс и наркотици.<br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 3315 6699</span><br/>
  		<span class='address'><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 56 Dean Street, Soho, London, W1D 6AQ</span><br/>
  	</p>
  </div>
  <div class="col-md-12 text-container">
  	<h2 id='section-home' >Дом</h2>
  	<h3>Намиране на къща</h3>
  	<p>Цената на наемите в Лондон за изключително високи и да си намери човек добро място е трудно и отнема време. По-евтино е в Зона 3 и нататък. Преди да изберете, погледнете няколко места, попитайте хората, които живеят в района колко плащат, проверете различни интернет страници и се допитайте до брокери по недвижими имоти. Някои новинарски агенции имат табло с обяви или обяви по прозорците си. Също можете да попитате в помещения за пране, барове, фризьорски салони, кафенета и социални центрове. Gumtree е най-популярната страница за стаи и апартаменти:<br/>
  	  <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gumtree.com/london'>gumtree.com/london</a></span><br/>
  	</p>
  	<p>Повечето хора не могат да си позволят апартамент, затова взимат под наем стая или дори споделят стая с друг човек. Споделяне със съквартиранти и спане на легла едно над друго е най-евтино. Roommate (рууммейт)  е човек, с когото споделяте една стая,а flatmate (флатмейт)  е човек, с когото споделяте апартамент, но живеете в различни стаи. Внимавайте, когато споделяте една стая – някои хора търсят сексуални партньори. Единична стая (single room) побира един човек, а (double room), е по-голяма с легло, на което могат да спят двама души. Ако в обявата пише, че става въпрос за стая, тогава трябва да е лично за вас. Обикновено хазяите отдават под наем всяка стая в апартамента като за спалня – хол или общо помещение е екстра. Ако се чудите, попитайте дали ще трябва да споделяте стаята, колко хора живеят в апартамента, дали има хол, колко хора споделят банята и т.н.</p>
  	<p>Евтина стая в Лондон е около £300-£500 на месец с включени сметки. Повечето стаи са между 500 и 700£. Сметките включват газ, електричество и вода; екстри като телефона, интернет, кабелна или сателитна телевизия; данъкът, който се плаща на регионалното правителство – нарича се council tax  или общински данък и най-скъпата сметка. Общинският данък зависи от това в коя част на Лондон се намира имотът и колко е голям. Проверете кои сметки са включени в цената. Ще трябва да платите наем предварително за два месеца, като половината е за първия месец, а другата половина е депозит, който ще получите обратно щом се изнесете.</p>
  	<p>Измамите са често срещани. Не плащайте предварително за нищо, което не сте видели. Ако офертата изглежда твърде добра, за да е истина, вероятно не е. Хора, които имат да изплащат заеми често карат други да платят голям депозит и после бягат с парите. След това рискувате да ви изгонят от жилището. За жалост е трудно да се предпазите от нещо такова. Постарайте се да запазите копия от всяко нещо, което сте подписали, а най-добре ако е под формата на официален договор. </p>
  	<h3>Права на наемателя</h3>
  	<p>Има различни видове договори за наем. Правата ви зависят от кой вид е. Най-често срещаният е . Assured shorthold tenants (осигурени наематели), което ви дава някакви права и защита. Ако се водите ‚квартирант‘ имате много малко права. При това положение в договорът ви пишат excluded occupier. Дори и да нямата договор, все пак имате права, стига да може да докажете, че плащате на хазяина. Искайте касови бележки, когато плащате наема, а най-добре платете по банков път за доказателство.</p>
  	<p>Основните права за описани законово. Полагат ви се дори да не са записани в договора ви. Ако в договора има клаузи, противоречащи на закона, законът има приоритет. Някои от най-важните права са следните:</p>
  	<ul>
  		<li>Хазяинът трябва да извършва основни ремонти (щета се нарича disrepair)</li>
  		<li>Хазяинът е длъжен да подържа в добро състояние водната, газовата, електрическата, хигиенната, отоплителната за вода и помещение инсталации.</li>
  		<li>Имате правото да живеете мирно и необезпокоявани от хазяина. (Хазяинът е длъжен да ви предупреди 24 часа, преди посещение, освен, ако не е по спешност).</li>
  	</ul>
  	<p>Като цяло хазяинът не трябва да ви дискриминира. Има някои изключения като например ако живеете в същото място като хазяина.</p>
  	<p>Наем може да се повиши с формално заявление. Ако в договора ви е описана процедура по увеличаване на наема, хазяинът е длъжен да я спазва. Иначе е не повече от веднъж годишно с месец предизвестие, ако става въпрос за наем месец за месец или седмица за седмица, а за фиксирани наеми, става само с ваше позволение, докато не изтече фиксираният период. </p>
  	<h3>Тормоз от хазяина</h3>
  	<p>HТормоз от хазяина е престъпление и ако това се случва, може да се обадите на полицията или да говорите с независима организация като Citizen’s Advice Bureau (Бюро по съвети за гражданите). Тормоз може да се изрази в различни форми като например:</p>
  	<ul>
  		<li>Премахване или ограничаване достъпа до услуги като газ, електричество или вода или отказ за плащане на съответните сметки, което води до тяхното преустановяване.</li>
  		<li>Често посещение на дома ви, без предупреждение, особено късно вечер.</li>
  		<li>Намесване в пощата ви</li>
  		<li>Заплахи</li>
  		<li>Изпращане на строители, без предупреждение</li>
  		<li>Влизане в дома ви, когато ви няма, без съгласието ви</li>
  		<li>Allowing your home to get into such a bad state of repair that it’s dangerous for you to stay</li>
  		<!--
  		Think this one is missing from the translation
  		-->
  		<li>Започване на ремонти, без да бъдат довършени.</li>
  		<li>Тормоз на база пол, раса или сексуалност</li>
  	</ul>
  	<h3>Депозит и депозитен план</h3>
  	<p>Когато се нанесете някъде, трябва да платите депозит, в случай, че нанесете щети на имота или се забавите с наема. Чест проблем е връщането на депозита. Когато се нанесете в къщата, снимайте я и изпратете снимките на някого по имейл. Това ще е датирано доказателство за състоянието на къщата, което ще можете да използвате, в случай, че хазяинът ви обвини в нанасяне на щети. Ако наемодателят задържи целия депозит или част от него, той е длъжен да предостави фактура, в която се описва какви разходи са направени, включително касови бележки за ремонтни дейности или почистване.</p>
    <p>scheme), одобрен от правителството, когато се нанесете. Ако депозитът не ви бъде върнат, когато се изнасяте, наемодателят може да бъде глобен. Ако откажат, вие можете да обжалвате по плана. Списъкът с одобрени планове и друга информация, може да намерите на страницата на правителството:<br/>
          <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.gov.uk/tenancy-deposit-protection'>gov.uk/tenancy-deposit-protection</a></span><br/><br/>
    </p>
    <h3>Изгонване</h3>
    <p>Хазяинът трябва да има основателна причина да ви изгони, преди да е свършил срока на договора. Причини могат да бъдат нарушаване на условията описани в договора или закъснение с плащането на наема.</p>
    <p>Наемодателят първо трябва да ви връчи предупреждение, което отговаря на определени юридически изисквания. В този момент не трябва да напускате жилището. Хазяинът трябва да получи съдебна заповед, която казва, че трябва да се изнесете. Може да разясните ситуацията писмено до съда или да се явите лично в деня на заседанието.</p>
    <p>Можете да останете в дома си, докато не се появят съдии-изпълнители. Не сте длъжни да ги допускате в дома си, освен ако не става въпрос за глоби за престъпления или данъци. Не им е позволено да влизат насила. Ако ги пуснете, ще вземат нещата ви. Полицията също няма право да влиза със сила вместо тях, освен ако нямат заповед за обиск, която показва, че има съмнения, че сте извършили престъпление.</p>
    <p>Запомнете, предупреждение от хазяина, не е достатъчно, за да ви изгонят, нужна е съдебна заповед. Ако някои се опита да ви изгони, без да е следвал съответната процедура, те извършват престъпление наречено нелегално изгонване. Полицията често смята, че незаконното изгонване е граждански случай, а всъщност е криминален случай и те са длъжни да ви предпазят. Имате законовото право да смените ключалките си, за да се защитите от тормоз, стига да запазите оригиналната ключалка и да я върнете, когато си тръгвате.</p>
    <h3>Диспути</h3>
    <p>Всеки диспут с наемодателя ви трябва да бъде добре преценен. Ето няколко неща, които биха ви помогнали:</p>
    <ul>
      <li>Прочетете договора за наем и се запознайте в правата и задълженията си</li>
      <li>Проучете жилищните си права и потърсете съвет от юрист при възможност</li>
      <li>Запишете и копирайте всички справки за плащане, кореспонденция и снимков материал, пращат на хазяина, за да имате доказателства при нужда</li>
    </ul>
    <p>Shelter е благотворителност, която предлага жилищни съвети и съвети за бездомност. Може да им се обадите или да намерите информация на интернет страницата им:<br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 800 4444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://england.shelter.org.uk/get_advice'>england.shelter.org.uk/get_advice</a></span><br/>
    </p>
    <p>Общините често имат някой, отговорен за жилищни съвети, но понякога са трудни за намиране и имат различни имена. Да речем за района на Хакни е Housing Options.</p>
    <p>Страницата на Housing Rights Info съдържа много информация за жилищни права и има секция, посветена на правата на новодошлите мигранти:<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.housing-rights.info/index.php'>housing-rights.info/index.php</a></span><br/>
    </p>
    <p>Citizen’s Advice Bureau ще ви даде жилищни съвети
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <h3>Бездомност</h3>
    <p>Значителен брой от бездомните хора в Лондон са мигранти, най-вече от Централна и Източна Европа. Хората не осъзнават колко скъп е животът тук и колко трудно се намира работа. В последствие се случва нещо кофти и се озовават на улицата. Ако станете бездомни и не сте от ЕС или пък сте от ЕС, но сте в Англия от по-малко от три месеца, нямате никакви права за помощи.</p>
    <p>Някои организации, които предлагат съвети и подкрепа за бездомните:<br>
    Shelter
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 800 4444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://england.shelter.org.uk/get_advice'>england.shelter.org.uk/get_advice</a></span>    <br/>
    </p>
    <p>
      The Simon Community
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7485 6639</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.simoncommunity.org.uk'>simoncommunity.org.uk</a></span></p><br/>
    <p>
      Crisis
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.crisis.org.uk'>crisis.org.uk</a></span><br/>
    </p>
    <p>
Списанието The Pavement предлага своевременна информация относно бездомицата по улиците в Лондон, включваща практическа информация като социални кухни и т.н.
      <br/> 
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.thepavement.org.uk'>thepavement.org.uk</a></span><br/>
    </p>
    <p>
      Barka предлага подкрепа за хора от Централна и Източна Европа, които се сблъскват със сериозни социални и икономически затруднения. Безплатен телефон между 9:00 и 14:00 всеки Понеделник, Вторник, Четвъртък и Петък. Услугата се предлага на полски, руски и английски. 
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 171 2926</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.barkauk.org'>barkauk.org</a></span><br/>
    </p>
    <h3>Окупирането</h3>
    <p>Окупирането на жилищни имоти е криминално престъпление. Има хора, които са били съдени и осъждани на затвор. Окупирането на други имоти не е нелегално, но задържането на едно място за повече време е трудно. Advisory Service for Squatters предлагат съвети за окупиране (squatting).
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 3216 0099</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.squatter.org.uk'>squatter.org.uk</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-work' >Работа</h2>
    <h3>Национална застраховка (National Insurance)</h3>
    <p>Националната застраховка е данък, който се приспада от заплатата ви и отива за безработица, боледуване и пенсионно осигуряване. Трябва ви National Insurance (NI) номер, за да работите във Великобритания. Може да започнете без него, но трябва да си го извадите възможно най-скоро. Трябва да отидете на интервю и да носите със себе си документ за самоличност като паспорт или  шофьорска книжка. Обадете се на Jobcentre Plus за да запазите час за интервю.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0345 600 0643</span><br/>
    </p>
    <h3>Заплата, минимално заплащане, данъци</h3>
    <p>Шефът ви трябва да ви предостави писмен договор за работа. Не са длъжни да издадат пълен такъв, но трябва да определят основните условия, като например заплащане, в писмен вид. Винаги питайте за договор. Ако не го получите, това може да е предупредителен знак за бъдещи проблеми. Намерете някой, който може да провери договора ви за съмнителни условия.</p>
    <p>Нелегално е за шефа ви да ви плаща под националната минимална заплата. В момента това е 6.50 британски лири на час, ако сте навършили 21г. или 5,13 лири ако сте по-млади. Заплащането обикновено се представя като часово или годишно (per annum или pa). Пълното работно време (40 часа на седмица) с 6,50 на час е грубо 13,520 лири годишно.</p>
    <p>Примерно изчисление на данъци и национална застраховка на пълно работно време и минимална заплата:<br/>
    Заплащане преди данъци: £13,520 годишно<br/>
    Национална застраховка: £668 годишно<br/>
    Данък ‚Доход‘: £704 годишно<br/>
    Нето заплащане: £12,148 годишно, £234 седмично и около £1,010 на месец в зависимост от дължината му.</p>
    <p>Пазете фишовете и записите за платеж, работни часове и отпуски. Това ще ви помогне да разберете дали ви плащат достатъчно, дали ви дават достатъчно отпуск и т.н. Правете записки за всеки инцидент, спор и т.н. на работното място, заедно с имената на свидетелите. Такива записки от времето на инцидента могат да ви помогнат, ако някой мениджър се опитва да ви тормози, глобява или уволнява в последствие.
    </p>
    <p>Ако имате договор за работа, дори и на няколко работни места, работодателят е длъжен да плати всички данъци, които дължите, без да ви се налага да попълвате каквито и да било документи, свързани с данъци. Ако започнете да работите без NI номер, ще трябва да плащате данък „спешност“, който може да си възвърнете веднага щом си извадите номера. Не се стряскайте, ако платите повече за данъци. Винаги може да си ги възвърнете накрая на годината, като попълните self assessment формуляр. Данъчната година свършва на 5-ти Април и имате време до Октомври да го попълните. </p>
    <p>HMRC (Her Majesty’s Revenue and Customs), които събират всички данъци, често биха помогнали, ако имате проблеми. Отговорни са за няколко телефонни линии, които предлагат съвети по определени данъци. Можете на намерите номерата тук:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://taxaid.org.uk/guides/taxpayers'>taxaid.org.uk/guides/taxpayers</a></span></p><br/>
   <p>Tax Aid  е благотворителност, която помага на хора с нисък доход относно данъчни проблеми, с които HMRC не може да се справи:
     <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://taxaid.org.uk/guides/information'>taxaid.org.uk/guides/information</a></span><br/>
     <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0345 120 377</span><br/>
   </p>
   <h3>Основни права на работа</h3>
   <p>Независимо дали работите временно или постоянно, с агенция, на пълно или частично работно време, имате основни права:</p>
   <ul>
     <li>Поне 5.6 седмици платен отпуск (paid holiday, leave, time off) годишно. Това се равнява на 28 дни за нормална работна седмица, ако работите на пълен работен ден. Това включва официални празници като Коледа и банкови празници. Договорът ви може да включва повече, но не и по-малко отпуск. За хора на частичен работен ден, умножете броя на работните ви дни на седмица средно по 5.6. Правилото важи за всички работи от момента на започване – на първия ви ден получавате два дни платен отпуск, след 6 месеца стават 14.</li>
     <li>Правото на болнични. Имате правото да получавате болнични, ако не сте били на работа за 4 последователни дни, по здравословни причини. Трябва да печелите повече от 111 британски лири на седмица без данъчно облагане и да сте били на работа за повече от три месеца (или ако се смята, че сте имали работи в продължение на 13 седмици).</li>
     <li>Правото на отпуск по майчинство/бащинство, когато имате деца. Повечето майка получават 26 седмици платен отпуск плюс 26 неплатен. За да получите отпуск по майчинство трябва да печелите над 111 паунда на седмица и да сте работили продължително за повече от 26 седмици, когато ви остават 15 седмици до раждане. За първите 6 седмици трябва да получите 90% от средните възнаграждения, а след това по точно 138,18 лири за 33 седмици. Ако шефът не може/не иска да плати, Министерството по труда и пенсиите трябва да го направи. Бащи/партньори мъже получават 2 седмици отпуск по бащинство.</li>
     <li>Правото на самозащита. Имате правото на защита от това да ви уволнят (get sacked,fired,let go) при употребата на законови работни права. Имате право да се съюзите с ваши колеги, да се организирате заедно и да се включите в синдикат.</li>
     <li>Правото на равноправно отношение. Имате правото да не бъдете дискриминирани заради вашата възраст, недъг, пол, статут на брак или партньорство, бременност, майчинство, раса, религия или вяра, секс и сексуална ориентация. Това се наричат protected characteristics (защитени характеристики).</li>
   </ul>
   <h3>Тормоз, дразнене и дискриминация.</h3>
   <p>Запомнете, тормозът или дразненето не са по ваша вина. Не сте длъжни да ги търпите.</p>
   <p>Тормозът и дразненето са поведения, които нараняват, заплашват, ожертвяват, подценяват, накърняват, унизяват или принизяват. Вашият работодател е длъжен да осигури работна атмосфера, в която няма тормоз и дразнене. Дразненето е повтарящо се поведение, което подкопава личното ви достойнство. Тормозът е единичен инцидент или редица от инциденти, свързани със споменатите защитени характеристики.</p>
   <p>Сексуален тормоз, включващ пипане и други физически заплахи са криминални престъпления и трябва да се докладват на полицията.</p>
   <h3>Работно време</h3>
   <p>Относно времето на работа основните ви права са:</p>
   <ul>
     <li>Не може да работите повече от 13 часа на ден.</li>
     <li>Един ден отпуск всяка седмица.</li>
     <li>Почивки от поне 20 минути след всеки 6 часа работа и поне 11 часа почивка на 24 часа работа. Почивките за хора под 18 са минимум 30 минути на всеки 4 часа и половина.</li>
     <li>Може да откажете да работите повече от 48 часа на седмица. Това се определя като се осредни 17-седмичен период, така че могат да ви накарат да работите повече в една седмица. Имате право писмено да се откажете от това ваше право и понякога работодатели се опитват да вмъкнат тази клауза в договора ви.</li>
     <li>Нощем не може да се работи повече 8 часа на смяна средно. Работещите през ноща имат правото на безплатни прегледи при лекар.</li>
   </ul>
   <h3>Здраве и безопасност</h3>
   <p>Имате правото на откажете да работите, ако условията на работа не са безопасни или ви застрашават. Работодателят е длъжен да ви предостави правилното обучение и няма право да ви задава работа, за която не сте квалифицирани.</p>
   <p>Работодателят е длъжен да предостави добри условия на работа, включващи достатъчно тоалетни, помещения за миене и питейна вода. Трябва да има процедурни табла (упътвания за действие) за рисковете по време на работа. Трябва да има изготвен план за здравето и безопасността.  Всички политики, споразумения и процедури трябва да бъдат обяснени на всички работници преди започване на работа. Работниците трябва да получават консултации относно здраве и безопасност.</p>
   <p>Здравето и безопасността струва пари и време, така че често шефовете опитват да избегнат правилата. По закон на всеки нает на работа трябва да бъдат предоставени здравословни и безопасни условия.</p>
   <p>Запомнете, имате законовото право да си тръгнете в случай, че усещате моментна опасност.</p>
   <h3>Договори нулево часово работно време и самостоятелна работа</h3>
   <p>Самостоятелната работа означава, че изкарвате пари като работите за себе си вместо да получавате заплата от шеф.  Когато работите самостоятелно вие сте отговорни за националната застраховка и бюрокрацията около данък доход. Националната застраховка се плаща месечно, а данък доход накрая на годината, като сумата може да бъде значителна. Вероятно ще ви трябва помощ от професионален счетоводител. Права като минимална заплата, работни часове, болнични и платен отпуск се полагат само на служители, а не на хора на самостоятелна работа.</p>
   <p>Някои шефове се опитват да накарат работниците да преминат на самостоятелна работа, спестявайки от данъци и отнемайки им правата по този начин. Това се нарича фалшива самостоятелна работа. Често срещана е в сектори като строителния. Незаконна практика е, но правителството не прави нищо по въпроса. На този сайт може да проверите дали сте нает или на самостоятелна работа:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.hmrc.gov.uk/working/intro/empstatus.htm'>hmrc.gov.uk/working/intro/empstatus.htm</a></span><br/>
   </p>
   <p>Договор за нулево работно време е споразумение, което не гарантира определени работни часове. Не е нужно да е 0 часа, но значи че работодателят не е длъжен да ви предоставя работа. Освен това договорът може да съдържа клауза, която ви спира от поемането на друга работа. И двете неща за законни.</p>
   <p>При договор за нулево работно време имате същите права за почивка, болнични и отпуск по майчинство както други работници. Понякога шефове отказват тези права незаконно. Може никога да не ви дадат достатъчно работа, за да се квалифицирате за правото на доходна граница.</p>
   <p>Договорите за нулево работно време са често срещани в сектора за продажби на дребно, хотельорство, работа в агенции и други ниско платени работи. Няма да имате гарантирани работни часове всяка седмица, може да не получите график и да бъдете викани на работа същия ден.</p>
   <p>Ако имате проблеми с мениджърите си, независимо дали са свързани с работа или не, те могат да спрат да ви дават смени. Ако искат да се отърват от вас, няма нужда да прекъсват договора ви, а просто да спрат да ви дават смени завинаги.</p>
   <p>Договорите на нулево работно време, както и самостоятелната работа ви поставят в много слаба позиция. Ако сте малтретирани по време на работа и се опитате да се защитите индивидуално или колективно, шефът просто може да ви съкрати работните часове и заплатата. Няма особено какво да направите, ако тези практики са налице при започване на работа. Ако шефът ви се опитва да смени съществуващия ви договор с такъв за нулево работно време или за самостоятелна работа, организирането с колеги и колективното отказване от подписване може да е трудно, но е единствената възможност.</p>
   <h3>Оплаквания и дисциплинарни процедури</h3>
   <p>Дисциплинарната процедура е за шефът, когато вие сте направили нещо нередно на работа. Оплакването (grievance) е обратното. ACAS, организация, която помага за диалога при диспути на работното място има практическа политика за това как дисциплинарните процедури и оплаквания трябва да изглеждат. Работодателят трябва да спазва тази политика, но това е препоръка, а не закон.</p>
   <p>Работници, на които предстои дисциплинарно действие трябва да имат достатъчно време да приготвят защитата си. Трябва да имате възможността да дадете доказателства и да извикате свидетели. Ако сте привикани на дисциплинарно прослушване, имате право на придружител. За тази роля може да изберете някой обучен от синдиката или друг негов представител (няма значение дали синдикатът е официален) или пък колега. Вие и който и да ви придружава сте защитени от дисциплинарно действие или съкращение на база използвайки правото на придружител. Прослушването трябва да бъде проведено в уместен времеви период. </p>
   <p>Ако не можете да разрешите случая на работното място или пък са ви съкратили, може да отнесете случая до специфичен съд - specialist employment court, наречен The employment Tribunal. Ще се наложи да платите такса от 390 или повече паунда в зависимост от вида на случая. Ако загубите и трибуналът реши, че не сте имали никакъв шанс за успех, е възможно да поискат да платите разноските по делото на работодателя. Можете да бъдете представяни от себе си или служебно лице от синдиката, но ако ви трябва професионална юридическа помощ, ще трябва да заплатите таксите. Ако спечелите, ще получите парично обезщетение. </p>
   <p>Синдикатите имат интернет страница с информация за правата ви на работа
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.worksmart.org.uk/'>worksmart.org.uk</a></span><br/>
   </p>
   <p>
     ACAS имат друга страница с такава информация:
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.acas.org.uk/'>acas.org.uk</a></span><br/>
   </p>
   <p>
     Бюрото по граждански съвети (Citizen’s Advice Bureau) може да ви даде напътствия относно работното място:
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
   </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-benefits' >Социални помощи</h2>
    <p>Системата за социални помощи във Великобритания е много сложна. Има различни видове социални помощи. Вашето лично положение е решаващо за това кои и колко ще може да вземете. Обикновено заплащането е малко, важи само за определен период от време и трябва да покриете различни критерии не само за да започнете да получавате парите, но и за да продължите да ги получавате. Всеки вид социална помощ трябва да се получава отделно. Настъпваща реформа всичко да се слее в едно, в така наречения Универсален кредит, ще влоши още повече нещата. </p>
    <p>Ако сте граждани на ЕС, трябва да работите в продължение на три месеца във Великобритания, за да може да получавате социални помощи. Ако нямате гражданство в ЕС е възможно да получите някои вид помощи, но правилата са изключително сложни. Възползването от социални помощи в случай, че не идвате от държава-членка на ЕС може да се отрази отрицателно на правото ви да останете във Великобритания. </p>
    <p>Използвайте един от калкулаторите, за да сметнете какви и колко може да получите от социални помощи.
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.entitledto.co.uk/benefits-calculator/startcalc.aspx'>entitledto.co.uk/benefits-calculator/startcalc.aspx</a></span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://benefits-calculator.turn2us.org.uk/AboutYou'>benefits-calculator.turn2us.org.uk/AboutYou</a></span><br/>
    </p>
    <p>Точната сума зависи от вашите лични обстоятелства. Добре е да получите квалифициран съвет, преди да подадете заявленията. The Citizens Advice Bureau е добро място да потърсите помощ:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <p>Измама със социални помощи (benefit fraud)  - преднамереното или нечестно присвояване на помощи, които не ви се полагат е престъпление, което се наказва със затвор във Великобритания.</p>
    <h3>Основни помощи</h3>
    <p>Job Seekers Allowance or JSA е заплащане, което получавате, ако сте работили във Великобритания, но сте загубили длъжността си. Ще получите 57.50 лири на седмица ако сте на 24 или по-малко, 72.40 ако сте над 24 или самотен родител над 18, 113,70 ако сте двойка. Ще трябва постоянно да представяте доказателства, че търсите работа, а те ще го направят много трудно за вас да получавате парите за повече от няколко месеца.</p>
    <p>Социални помощи за жилище (Housing Benefit) ви помагат да плащате наема си, ако имате нисък доход или ползвате друго помощи. Сумата зависи от това къде живеете и вида на жилището – стая, апартамент и пр. Няма как да е повече от цялата сума за наема, а обикновено не го покрива целия. Много хазяи предпочитат да не приемат наематели на социални помощи.</p>
    <p>Детски надбавки (Child Benefit) може да получите, ако сте родител или настойник на дете над 16. Може да получавате 20.50 лири на седмица за най-възрастното дете и по 13.55 за останалите.</p>
    <p>Working Tax Credits е вид социална помощ, която получавате като намаление на данък доход за хора с ниско-платена работа. Може да проверите каква сума бихте спестили с този калкулатор:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.gov.uk/tax-credits-calculator'>gov.uk/tax-credits-calculator</a></span><br/>
    </p>
    <p>Employment and Support Allowance (ESA) и Personal Independence Payment (PIP) са два вида социални помощи, които може да получавате, ако страдате от дългосрочно заболяване или инвалидност. За да получите правото за тези помощи трябва да сте живели във Великобритания за дълго време. Трябва да минете през оценка на състоянието ви, за да докажете, че наистина не може да работите. Тази оценка е известна с това, че е много натоварваща и дори хора, които наистина страдат от сериозни болести са писани като годни за работа.</p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-legal' >Правни въпроси</h2>
    <h3>Полиция и съд</h3>
    <p>Полицията е расистка и ксенофобска. Като имигрант е по-малко вероятно полицаите да започнат разследване, ако сте жертва на престъпление и е по-вероятно да бъдете обвинени в нещо. Справят се зле с престъпление, свързани с жени като домашно насилие и сексуално посегателство. Често е трудно да се докладват такива инциденти, защото полицаите отказват да ги вземат на сериозно и се държат ужасно с жертвите. Ако отидете в полицейско управление, вземете приятел и запишете всичко, което ви казват. Ако откажат да запишат оплакването ви, може да отидете в друго районно и да опитате отново. Ако искате да докладвате сексуално насилие, домашно насилие или престъпление от омраза (расистка, хомофобска или др. подобна атака) е по-лесно да намерите Community Safety Unit (отделът по защита на общността) и да минете през тях първо, тъй като те не подхождат с такива предразсъдъци. Използвайте гугъл да намерите най-близкия до вас отдел.</p>
    <p>Ако ви спре полиция на улицата, опитайте да запазите спокойствие. Могат да ви спрат и да ви задават въпроси, но вие не сте длъжни да отговаряте. Могат да ви претърсят, само ако имат основателни причини да мислят, че може да сте извършили престъпление, но на практика правят каквото си искат. Имат правото да ви накарат да свалите якето и ръкавиците си. Имате правото на записките от ареста ви, в които трябва да присъстват данните на отговорния полицай.<br/>
    Наръчник при преджобване:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://londonagainstpoliceviolence.wordpress.com/guide-to-stop-search'>londonagainstpoliceviolence.wordpress.com/guide-to-stop-search</a></span><br/>
    </p>
    <p>Ако ви арестуват трябва да дадете на полицията вашето име, адрес, дата на раждане. Не отговаряйте на никакви въпроси, без присъствието на адвокат. Имате право на безплатен адвокат по време на разпит. Не използвайте адвокат, препоръчан от полицията (служебен адвокат). Опитайте се да намерите познати. Имате право на телефонно обаждане. Имате право на преводач, в случай, че не знаете английски.<br/>
    Нюхам монитъринг груп може да помогне в случай на полицейски нарушения, особено такива на расистка основа.
    <br/>
    <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 169 3111</span><br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nmp.org.uk'>nmp.org.uk</a></span><br/>
    </p>
    <p>Ако полицията смята, че сте виновни, може да ви предложат предупреждение (caution). Означава, че приемате вината, но няма да бъдете водени на съд и няма да получите присъда или глоба. Предупреждението остава в досието ви. Потърсете съвет от адвокат, преди да приемете предупреждение. Ако сте извършили престъпление, но не искате да признаете вина, не казвайте на адвоката си, тъй като са длъжни да съобщят за това.</p>
    <p>Ако сте понесли физически щети от полицията (бой) ви трябва медицинско становище възможно най-бързо. Оплакванията срещу полицията са възможни, но трудни.</p>
    <p>В зависимост от доходите ви, може да получите безплатна правна помощ, в случай, че ви съдят. Ако изкарвате по малко от 12 475 лири на година, адвокатът е безплатен. Ако изкарвате повече, ще трябва да минете през определен тест, а ако изкарвате над 22 325 лири, ще трябва да платите сами. Това е само за криминални случаи. За граждански престъпления като дългове, семейни или жилищни проблеми, вероятно ще трябва сами да платите. Може да използвате този калкулатор, за да проверите:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://legal-aid-checker.justice.gov.uk'>legal-aid-checker.justice.gov.uk</a></span><br/>
    </p>
    <h3>Имиграция</h3>
    <p>Имиграционната полиция се казва UK Border Agancy или UKBA. Често щурмуват пазари, магазини, спирки на градския транспорт и домове и квартали, където живеят общности от имигранти. Въпреки че граждани от ЕС имат право да живеят във Великобритания, полицията и UKBA са депортирали хора в миналото. Това е възможно да се случи, ако сте безработни от много време или бездомни.</p>
    <p>Ако UKBA или полицията ви спрат на улицата и ви попитат за имиграционния ви статус, не сте длъжни да отговаряте на въпросите им. Не сте длъжни да им давате името и адреса си. Кажете им, че не желаете да разговаряте с тях – бъдете любезни, но уверени и си продължете пътя. Не могат да ви спрат само заради расата или етноса ви. Ако ви спрат само на база външния ви вид или езика, на който говорите им кажете: Това е расистко. <i>Това е нелегално. Щ подам оплакване.</i></p>
    <p>Ако вие или някой друг е задържан, свържете се с <i>Bail for Immigration Detainees:</i>
    <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7247 3590</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.biduk.org'>biduk.org</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-domestic' >Домашно насилие и сексуално посегателство</h2>
    <h3>Подкрепа за жени</h3>
    <p>Помощ за жени – гореща линия за домашно насилие, отворена 24ч. в денонощието:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 2000 247</span><br/>
    </p>
    <p>Наърчник за оцелели от сексуално нападение на много езици, включително полски и испански:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.womensaid.org.uk/landing_page.asp?section=0001000100080004'>womensaid.org.uk/landing_page.asp?section=0001000100080004</a></span><br/>
    </p>
    <p>Southall Black Sisters предлага съвети за жени с азиатски произход и чернокожи за домашно насилие и сходни теми, включително и имиграция.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0208 571 0800</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.southallblacksisters.org.uk'>southallblacksisters.org.uk</a></span><br/>
    </p>
    <p>Rape Crisis London предлага конфиденциална помощ, информация и подкрепа за жени и момичета, които за преживели сексуално насилие от всеки вид.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 80 29999</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.rapecrisislondon.org'>rapecrisislondon.org</a></span><br/>
    </p>
    <p>Women’s Rights предлага безплатни правни съвети на няколко телефонни линии. Намерете тази за вашия район на тази страница:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.rightsofwomen.org.uk/adviceline.php'>rightsofwomen.org.uk/adviceline.php</a></span><br/>
    </p>
    <p>Kalayaan предоставя безплатни, независими и конфиденциални съвети относно имиграция и работа за имигранти. Свържете се с тях, ако имате проблеми с работодателя ви, ако сте напуснали работа, но работодателят държи паспорта ви или ако просто искате да разберете повече за правата си.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7243 2942</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.kalayaan.org.uk'>kalayaan.org.uk</a></span><br/>
    </p>
    <h3>Подкрепа за ЛГБТ хора</h3>
    <p>Broken Rainbow LGBT - гореща линия при домашно насилие
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 999 5428</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.brokenrainbow.org.uk'>brokenrainbow.org.uk</a></span><br/>
    </p>
    <h3>Подкрепа за мъже</h3>
    <p>Гореща линия за мъже пострадали при домашно насилие
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 801 0327</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.mensadviceline.org.uk'>mensadviceline.org.uk</a></span><br/>
    </p>
    <p>Survivors UK конфиденциална гореща линия за мъже, които са преживели сексуално насилие
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0845 122 1201</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.survivorsuk.org'>survivorsuk.org</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-lgbt' >ЛГБТ* (Лесбийки, Гейове, Бисексуални и Транс*)</h2>
    <p>Може да е трудно да се намерят други ЛГБТ хора, ако сте нови в града, а гей-баровете са все по-скъпи. Ето някои контакти, които ще ви улеснят:</p>
    <p>London Lesbian and Gay Switchboard е информационна телефонна линия:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0845 122 1201</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.llgs.org.uk'>llgs.org.uk</a></span><br/>
    </p>
    <p>Социален център The London Queer или House of Brag са колектив от куиър хора:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://houseofbrag.wordpress.com'>houseofbrag.wordpress.com</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-other' >Други полезни връзки</h2>
    <p>GOV.UK е правителствена интернет страница, която обяснява законите на достъпен език. Покрива различни теми, включително и засегнатите в този наръчник.
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gov.uk'>gov.uk</a></span><br/>
    </p>
    <p>Citizen's Advice Bureau (CAB) е благотворителна организация, която предоставя съвети на хора в нужда. Имат районни центрове, където може да получите съвети лично. Намерете центъра до вас на тази страница:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>http://www.citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <p>Advice Guide е страница със съвети от всички теми в CAB:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.adviceguide.org.uk'>adviceguide.org.uk</a></span><br/>
    </p>
    <p>Community Law Centres (центрове по общински закони) предлагат квалифицирани юридически съвети на хора, които не могат да си позволят адвокат. Може да намерите център във вашия район тук:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.lawcentres.org.uk/i-am-looking-for-advice'>lawcentres.org.uk/i-am-looking-for-advice</a></span><br/>
    </p>
    <p>Mary Ward Legal Centre е друго място, където може да получите правни съвети:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.marywardlegal.org.uk/'>marywardlegal.org.uk</a></span><br/>
    </p>
    <p>National Debt Line дава съвети относно дългове      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 808 4000</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='nationaldebtline.org/EW/Pages/default.aspx'>https://www.nationaldebtline.org/EW/Pages/default.aspx</a></span><br/>
    </p>
    <p>NHS Choices е страница със здравна информация и информация за здравни услуги
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nhs.uk/Pages/HomePage.aspx'>nhs.uk/Pages/HomePage.aspx</a></span><br/>
    </p>
    <p>London Coalition Against Poverty (Лондонска коалиция против бедността) e коалиция от групи, които са основани на идеята, че чрез солидарност и преки действия, обикновените хора имат силата да променят собствените ни животи. На интернет страницата им са изписани различните групи, които работят в Лондон по райони:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://lcap.org.uk'>lcap.org.uk</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-who' >Кои сме ние и защо ни е грижа?</h2>
    <p>Солидарната Федерация е организация, които подкрепя себе организацията или колективни действия. Освен организирането в собствените ни работни места и общности, сме щастливи да подкрепим всеки, който има проблем с шефа или хазяина си. Така че. Ако искате да се организирате, свържете се с нас!
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://solfed.org.uk'>solfed.org.uk</a></span><br/>
      <span class='email'><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href='mailto:solfed@solfed.org.uk'>solfed@solfed.org.uk</a></span><br/>
      <span class='email'><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href='mailto:info@migrantsguide.uk'>info@migrantsguide.uk</a></span><br/>
    </p>
  </div>
</div>
