---
extends: home.j2
default_block: main
title: London - A Migrant's Guide
description: Basic information useful for people who are arrived and  starting to live in London
---
<div class="row">
	<div class="col-md-6">
		<div class="row single-language-container">
  		    <a href='/bg.html'>
			  <div class="col-md-1"><img class='home-flag' src='/media/images/flag-bulgaria.png'></div>
			  <div class="col-md-11">
			  	<h1>Наръчник На Имигранта – Лондон</h1>
			  	<h2>На български</h2>
			  </div>
			</a>
		</div>
	</div>


	<div class="col-md-6">
		<div class="row single-language-container">
  		    <a href='/en.html'>
			  <div class="col-md-1"><img class='home-flag' src='/media/images/flag-uk.png'></div>
			  <div class="col-md-11">
			  	<h1>London - A Migrant's Guide</h1>
			  	<h2>In English</h2>
			  </div>
			</a>
		</div>
	</div>

</div>

<div class="row">

	<div class="col-md-6">
		<div class="row single-language-container">
  		    <a href='/es.html'>
			  <div class="col-md-1"><img class='home-flag' src='/media/images/flag-spain.png'></div>
			  <div class="col-md-11">
			  	<h1>Londres - La Guía del Inmigrante</h1>
			  	<h2>En Español</h2>
			  </div>
			</a>
		</div>
	</div>

	<div class="col-md-6">
		<div class="row single-language-container">
  		    <a href='/it.html'>
			  <div class="col-md-1"><img class='home-flag' src='/media/images/flag-italy.png'></div>
			  <div class="col-md-11">
			  	<h1>Londra, una guida per migranti</h1>
			  	<h2>In italiano</h2>
			  </div>
			</a>
		</div>
	</div>

</div>

<div class="row">

	<div class="col-md-6">
		<div class="row single-language-container">
  		    <a href='/lt.html'>
			  <div class="col-md-1"><img class='home-flag' src='/media/images/flag-lithuania.png'></div>
			  <div class="col-md-11">
			  	<h1>Londonas - Emigranto Gidas</h1>
			  	<h2>lietuvių</h2>
			  </div>
			</a>
		</div>
	</div>


	<div class="col-md-6">
		<div class="row single-language-container">
  		    <a href='/hu.html'>
			  <div class="col-md-1"><img class='home-flag' src='/media/images/flag-hungary.png'></div>
			  <div class="col-md-11">
			  	<h1>Londoni Migránskalauz</h1>
			  	<h2>Magyar</h2>
			  </div>
			</a>
		</div>
	</div>

</div>

<div class="row">

	<div class="col-md-6">
		<div class="row single-language-container">
  		    <a href='/pl.html'>
			  <div class="col-md-1"><img class='home-flag' src='/media/images/flag-poland.png'></div>
			  <div class="col-md-11">
			  	<h1>Londyn - Przewodnik Imigranta</h1>
			  	<h2>Po polsku</h2>
			  </div>
			</a>
		</div>
	</div>

	<div class="col-md-6">
		<div class="row single-language-container">
  		    <a href='/pt.html'>
			  <div class="col-md-1"><img class='home-flag' src='/media/images/flag-portugal.png'></div>
			  <div class="col-md-11">
			  	<h1>London - Guia Do Imigrante</h1>
			  	<h2>Em Português</h2>
			  </div>
			</a>
		</div>
	</div>

</div>

<div class="row">

	<div class="col-md-6">
		<div class="row single-language-container">
  		    <a href='/tr.html'>
			  <div class="col-md-1"><img class='home-flag' src='/media/images/flag-turkey.png'></div>
			  <div class="col-md-11">
			  	<h1>Londra - Bir Göçmenin El Kitabı</h1>
			  	<h2>Türk olarak</h2>
			  </div>
			</a>
		</div>
	</div>

</div>
