---
extends: bare.j2
default_block: main
title: Londres - la guía del inmigrante
description: Basic information useful for people who are arrived and  starting to live in London
---

<div class="row">
  <div class="col-md-12 text-container">
  	<h2 id='section-introduction' >Introducción</h2>
  	<p>Empezar una nueva vida en Londres puede ser intimidante. Muchas cosas funcionan de manera muy diferente de cómo estás acostumbrad@. La mayoría de las cosas son caras, y muchas cosas son simplemente difíciles. Este panfleto contiene consejos básicos sobre algunas cosas que tendrás que tener en cuenta cuando llegues aquí y sobre algunos problemas que probablemente vas a encontrar.</p>
  	<p>En general, cuando llegues aquí, la mayoría de la gente te verá como un/a inmigrante, pero seguramente asumirá que tienes el derecho legal de vivir y trabajar en el Reino Unido porque seas un/a ciudadan@ de la UE. Si ese no es tu caso, las cosas te serán más complejas aún y necesitarás información más detallada de la que te puede provenir este pequeño panfleto.</p>
  </div>
  <div class="col-md-12 text-container">
  	<h2 id='section-transport' >Transporte</h2>
  	<p>Para viajar en transporte público en Londres necesitas una tarjeta azul y electrónica que se llama Oyster Card. No hay billetes en papel y no se puede pagar con efectivo en el bus, el metro, o tren. Para comprar una tarjeta Oyster tienes que pagar un depósito de £5, que te lo devuelven cuando devuelves la tarjeta. Se carga (“top up”) la tarjeta con dinero y el precio de cada viaje esta descontado cuando la utilices. La tarjeta funciona en el bus y el metro (The Tube, The Overground and the DLR), y en trenes regionales y nacionales cuando se viaja dentro Londres.</p>
  	<p>La red de transportes está dividida en zonas, desde Zona 1 en el centro hasta Zona 6 en las afueras de la ciudad. En el tren y el metro, el precio depende de la zona y de la franja horaria en la que viajes, siendo más caros los trayectos en hora punta (6h30 a 9h30 y 16h00 a 19h00). Un viaje entre Zona 2 y Zona 1 vale £2.30 ó £2.90. Un viaje un bus vale £1.50 and si viajas más que 3 veces en un día, el coste total está limitado a £4.40. También se puede cargar la tarjeta con abonos de un día, una semana o un mes que se llaman Travelcards. Puedes comprar travelcards sólo para bus y para la que no importa la zona (£20.20) o las más completas que te valen para viajar en cualquier transporte y dependen de la zona (precios varios).</p>
    <p>Viajar sin billetes es posible pero hay bastantes revisores. Si te detienen también es posible que te revisen tus papeles y te comprueben tu estatus de inmigración. Viajar sin billetes es un delito y normalmente si las autoridades te pillan, te pondrán una multa les digas lo que les digas y pueden llegar a procesarte.</p>
	<p>Consulta la página web de TFL para ver como desplazarse entre lugares específicos usando transporte público:<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.tfl.gov.uk/'>tfl.gov.uk</a></span><br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0343 222 1234</span><br/>
  	</p>
  	<p>National Rail Enquiries te ayudará en conseguir horarios y precios para los trenes:<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nationalrail.co.uk/'>nationalrail.co.uk</a></span><br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 08457 48 49 50</span><br/>
  	</p>
  	<p>Autocares, especialmente las compañías low cost como Megabus suelen ser más baratos que los trenes.<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://uk.megabus.com/'>uk.megabus.com</a></span><br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0141 332 9644</span><br/>
  	</p>
  	<p>Se puede encontrar la ubicación exacta de cualquier dirección poniendo el código postal en Google Maps o Bing Maps.<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.google.co.uk/maps/place/London+E1+7Q'>google.co.uk/maps/place/London+E1+7Q</a></span><br/>
  	</p>
  </div>
  <div class="col-md-12 text-container">
  	<h2 id='section-internet' >Internet y Teléfono</h2>
  	<p>El acceso a internet en un locutorio (Internet Café) es próximamente £1/hora, ó más caro en el centro de Londres. En los locutorios también se pueden hacer fotocopias y llamadas internacionales baratas.</p>
  	<p>Se puede acceder a internet gratis en las bibliotecas públicas. Normalmente hace falta registrarse. Es gratis pero necesitarás pruebas de que vives en la zona, como por ejemplo recibos de la luz, o cartas del banco. No obstante, es posible que te dejen acceder sin registrarse y por eso merece la pena preguntar. Las bibliotecas públicas tienen periódicos, revistas, recursos para aprender inglés y muchas tienen libros en varios idiomas, incluido el castellano. Son lugares muy útiles para conseguir información sobre recursos comunitarios, eventos, educación, trabajo, alquileres, etc.</p>
  	<p>Si tienes un teléfono móvil desbloqueado (unlocked), para utilizarlo aquí, hay una opción sin contrato que se llama prepaid, pay as you go o PAYG (lo que es una tarjeta de prepago). Hay redes celulares como Lebara, Lycatel o Giffgaff que venden tarjetas SIM (Sim Only) que salen muy barato. Se puede conseguir un tarjeta SIM con 250 minutos de llamadas pre-pagados, mensajes SMS (“texts”) ilimitados y 1GB de internet por £10. Tiendas pequeñas en mercadillos locales y quioscos son los mejores lugares para conseguir un SIM, desbloquear tu teléfono (unlock) y un teléfono barato si lo necesitas. Argos también vende teléfonos baratos. Muchas compañías telefónicas también ofrecen contratos que se renuevan mensualmente y se llaman ‘rolling contracts’. Esta opción te ofrece más llamadas, mensajes e internet, suele tener contratos que cuestan sobre £10 al mes, pero normalmente te piden el pasaporte, un comprobante de residencia (una carta del banco, un recibo de la luz o similar, y una cuenta bancaria de Inglaterra).</p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-learning' >Aprender Inglés</h2>
    <p>En todas las zonas municipales hay escuelas para adultos dónde dan clases. Estas escuelas se llaman Further Education College o Community College. Ofrecen cursos en una variedad de asignaturas incluyendo clases de inglés que son económicos o a veces gratis, especialmente si estás recibiendo asistencia ayuda del estado (benefits), como por ejemplo el paro, o algún tipo de pensión. Algunos ayuntamientos, bibliotecas, iglesias y centros sociales comunitarios también ofrecen clases gratuitas de inglés. Pregunta en tu biblioteca local para conseguir más detalles.</p>
  </div>
  <div class="col-md-12 text-container">
  	<h2 id='section-cheap' >Comida Barata Y Otras Cosas</h2>
  	<p>Los supermercados más baratos son Lidl, Aldi o Morrisons. A veces se puede conseguir comida descontada en el Reduced Section donde venden las cosas que casi han caducado. La comida es normalmente más barata en los mercadillos que en las tiendas. “Skipping” (sacar comida de los basureros de las tiendas) es ilegal pero no es muy común multar a las personas que pillen haciéndolo. Probablemente tendrías problemas con los agentes de seguridad de la empresa si te pillaran en el acto. Ten cuidado porque a veces echan lejía sobre la comida y se puede encontrar ratas en los basureros. Lugares donde se puede encontrar comida gratis: Las Universidades de SOAS y LSE (London School of Economics) – Lunes-Sábado 12.15pm – 2.30pm; Food Van: Kentish Town – 12pm, Camden Town – 1pm, Kings Cross – 2.15pm – Lunes a Sábado; Centro diario: Matchless Gifts – 102 Caledonian Road, Islington, London N1 9DN.</p>
  	<p>Primark es la tienda más barata de ropa. Argos es barato para artículos domésticos y productos eléctricos. Organizaciones humanitarias como Oxfam, Marie Curie y Mind tienen tiendas de segunda mano (charity shops) donde se puede encontrar ropa, libros, artículos domésticos de muy baratos.</p>
    <p>Freecycle es un foro de internet donde la gente dona cosas gratis.
      <br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://uk.freecycle.org/'>uk.freecycle.org</a></span><br/>
  	</p>
  	<p>Gumtree tiene una sección para cosas gratis<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gumtree.com/freebies/london/freebies'>gumtree.com/freebies/london/freebies</a></span><br/>
  	</p>
  	<p>Necesitas mucha paciencia y suerte para conseguir cosas de calidad porque siempre desaparecen muy rápido.</p>
  </div>
  <div class="col-md-12 text-container">
  	<h2 id='section-bank' >Cuentas Bancarias</h2>
  	<p>Abrir una cuenta bancaria es difícil si acabas de llegar en el Reino Unido. Para abrir una cuenta los bancos te piden varios documentos lo cuales son imposible conseguir sin antes tener una cuenta bancaria (puede resultar un círculo vicioso). Necesitarás dos documentos, una prueba de identidad como un pasaporte o DNI, y una prueba de domicilio (“proof of address”), lo cual es más difícil obtener. Guarda todas las cartas oficiales con tu nombre durante unos meses porque pueden ser útiles más tarde. Normalmente necesitarás mantener un record de todos los lugares donde hayas vivido. Nota tu antigua dirección cada vez que te mudes de piso.</p>
  	<p>Un contrato de alquiler es una prueba de domicilio, pero no es muy probable que lo tendrás al principio. Una factura (como la de electricidad, gas o teléfono fijo pero no móvil) funcionará. Pide al casero que cambie el nombre de la factura a tu nombre y espera al fin de mes cuando venga la próxima factura. Sin embargo, los caseros no siempre acceden a tal petición. Si has puesto tu nombre como titular en una factura, informa a la compañía cuando te mudes de piso, o podrás ser responsable de las facturas impagadas de los siguientes inquilinos.</p>
  	<p>Un carné de conducir británico también cuenta como prueba de domicilio. Se puede intercambiar un carné EU por uno del Reino Unido pagando £50. Se puede solicitar un carné de conducir provisional (el carné de los conductores que todavía no han pasado su prueba de conducir) y algunos bancos lo aceptan.<br/>
  	<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://ask.co-operativebank.co.uk/help/customer_services/address_proof'>ask.co-operativebank.co.uk/help/customer_services/address_proof</a></span><br/>
  	</p>
  	<p>Tu empleador puede escribir una carta confirmado tu dirección, pero tiene que hacerse en una carta con membrete de la compañía y firmada por alguien con una posición de autoridad dentro de la compañía. Algunos bancos aceptan eso o una carta de la oficina de empleo (Job Centre) confirmando tu número de seguridad social (número de National Insurance o N.I.)<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.hsbc.co.uk/content_static/en/ukpersonal/pdfs/en/passport_brochure.pdf'>hsbc.co.uk/content_static/en/ukpersonal/pdfs/en/passport_brochure.pdf</a></span><br/>
  	</p>
  	<p>Some banks offer accounts for people newly arrived to the UK, where only a passport and no proof of address is required<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.lloydsbank.com/banking-with-us/joining-lloyds/new-to-the-uk.asp'>lloydsbank.com/banking-with-us/joining-lloyds/new-to-the-uk.asp</a></span><br/>
  	</p>
  	<p>O un extracto de cuenta de tu país se sirve.<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.barclays.co.uk/Helpsupport/ComingtoworkintheUK/P1242601780771'>barclays.co.uk/Helpsupport/ComingtoworkintheUK/P1242601780771</a></span><br/>
  	</p>
  	<p>Uniones de crédito (Credit Unions) son pequeñas organizaciones bancarias comunitarias y pueden ser más flexibles a la hora de abrir una cuenta. Se puede encontrar tu Credit Union local aquí:<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.findyourcreditunion.co.uk/home'>findyourcreditunion.co.uk/home</a></span><br/>
  	</p>
  	<p>Guarda todos los documentos que puedas, ve al banco en persona e intenta en varios bancos porque puedes tener suerte y dar con alguna persona más flexible que te atienda.</p>
  </div>
  <div class="col-md-12 text-container">
  	<h2 id='section-healthcare' >Salud</h2>
  	<p>Si tienes una emergencia médica llama a 999. Si necesitas ayuda rápida pero no es urgente llama al 111. También se puede ir al servicio de urgencia (Accident and Emergency o A&E), que normalmente se sitúa en tu hospital local.</p>
  	<p>El NHS, el servicio nacional de salud, ofrece servicios de salud en el Reino Unido. Se puede encontrar hospitales, clínicas, dentistas, clínicas de salud sexual u otros servicios sanitarios que están cercas usando esta página web:<br/>
  	<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nhs.uk/Service-Search'>nhs.uk/Service-Search</a><br/>
  	</span>
  	</p>
  	<p>Servicios de sanidad básicos, como una visita a un médico de cabecera o tratamiento de urgencia son gratuitos, sin importar tu estatus de inmigración. Puede ser que te cobren determinados servicios especialistas o una estancia hospitalaria.  Si tienes el derecho legal de vivir en el Reino Unido, estos servicios también son gratuitos. Para tener una cita con el dentista u oculista siempre hay que pagar.</p>
  	<p>Tu primer punto de contacto con el sistema de salud es el médico de cabecera (GP o General Practitioner), normalmente trabajan en un Surgery (se llama así aunque no tiene nada que ver con la Cirugía). Tienes que registrarte con una cerca de tu casa y reservar una cita cada vez que quieres ver al médico. Si tienes una enfermedad o herida que no es urgente pero no puedes esperar hasta la cita que te den, puedes ir a un walk-in clinic (clínica abierta) donde una enfermera te atenderá, pero prepárate para esperar varias horas.</p>
  	<p>Necesitas registrarte y reservar una cita para ver el dentista. Una revisión sale £18.50 y un procedimiento dental (como poner empaste etcétera) saldrá £50.50. Solo pagarás la tasa del servicio más caro una vez, incluso si necesitas visitar el dentista varias veces.  Si vuelves dentro de 2 meses será gratis.</p>
  	<p>Los abortos son legales hasta las 24 semanas de embarazo y es gratis en el Reino Unido. Antes, necesitarás una referencia de tu médico o del British Pregnancy Advisory Service.<br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03457 30 40 30</span><br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.bpas.org/'>bpas.org</a></span><br/>
  	</p>
	<p>Los abortos también son disponibles en clínicas privadas, donde tendrás que pagar entre £450-£750.</p>
	<p>Todo el mundo puede conseguir preservativos gratis, incluso si son menores de edad. Están disponibles en clínicas contraconceptivas, clínicas de salud sexual, algunas clínicas GP Surgeries, la mayoría de NHS Walk-In Centres y algunos A&E Departments de los hospitales.</p>
	<p>Hay muchas clínicas de salud sexual en Londres, muchas de ellas al lado de los hospitales. 56 Dean Street es una clínica de salud sexual abierta a todo el mundo que es particularmente bueno para las personas LGBT. Esta ofrece servicios para personas transexuales, trabajadores/as sexuales y para personas que toman drogas duras o participan en actividades sexuales de alto riesgo.<br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 3315 6699</span><br/>
  		<span class='address'><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 56 Dean Street, Soho, London, W1D 6AQ</span><br/>
  	</p>
  <p>La píldora del día siguiente está disponible de forma gratuita en clínicas contraceptivas, clínicas de salud sexual, la mayoría de las GP surgeries y en la mayorías de los servicios de emergencia de los hospitales públicos. También se puede comprar por unos £26 en cualquier farmacias, incluidas las farmacias dentro de las perfumerías como boots y superdrug.</p>
  </div>
  <div class="col-md-12 text-container">
  	<h2 id='section-home' >Casas</h2>
  	<h3>Buscando una casa</h3>
  	<p>El alquiler en Londres está muy caro y encontrar una vivienda buena es un proceso difícil y largo. Es más barato en las zonas más periféricas de la ciudad, especialmente fuera de las zonas 1 y 2 de la red de transportes. Antes de elegir dónde vivir, mira varias viviendas, pregunta a gente que vive en la zona cuánto pagan ellos, busca en varias páginas web y pregunta en agencias inmobiliarias. Algunas tiendas pequeñas (Newsagents) tienen anuncios de alquileres en sus escaparates. También se puede preguntar en lugares como lavanderías, pubs, barberías, cafés y centros sociales. Gumtree es la página web más popular para habitaciones, casas y pisos.<br/>
  	  <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gumtree.com/london'>gumtree.com/london</a></span><br/>
  	</p>
  	<p>La mayoría de personas no puede pagar un piso entero así que alquilan una habitación o incluso comparten habitación con otra persona. Compartir con otros, durmiendo en literas es lo más barato. Un roommate es alguien que vive en una habitación contigo, a flatmate es alguien que comparte tu piso pero no tu habitación. Ten cuidado si decides compartir una habitación, porque hay personas que utilizan tales anuncios para encontrar una pareja sexual. En una habitación individual (single) cabe una persona; una doble (double) es más grande, y debe contar con una cama para dos personas. Si el anuncio habla de la habitación (room) deberías tenerla para ti solo. A menudo los caseros ofrecen todas los cuartos de un piso como habitaciones y por eso las casas con salón u otra sala común suelen ser más caras. Si tienes dudas, pregunta si vas a estar compartiendo la habitación (sharing the room), cuanta gente viven en el piso, si tiene salón (living room) y cuantas personas van a compartir el baño, la cocina, etc.</p>
  	<p>Una habitación barata en Londres cuesta £300-£500 al mes incluyendo las facturas. La mayoría de dormitorios son £500-£700 al mes. Las facturas se llaman utilities, y se refieren a cosas como el gas, la electricidad y el agua; los extras como teléfono, internet y televisión de cable o satélite; y el impuesto que se paga al ayuntamiento, que se llama council tax (que normalmente es la factura más grande). El council Tax varía dependiendo del tamaño y lugar del piso. Confirma con el casero cual de todas estas facturas están incluidas en el precio de tu alquiler. Necesitarás pagar dos meses de alquiler por adelantado, uno para el alquiler u otro mes de depósito, que te lo devolverán cuando salgas del piso.</p>
  	<p>Los engaños son muy comunes. No pagues dinero por adelantado por algo que ya no hayas visto. Si el trato parece demasiado bueno para ser de verdad, probablemente no sea de verdad. A veces personas endeudadas piden que pagues un deposito muy caro y el alquiler en avance y luego se marchan con tu dinero. Entonces estarás en riesgo de desahucio. Intenta guardar copias escritas de cualquier acuerdo – idealmente en forma de un contrato formal.</p>
  	<h3>Derechos de los arrendatarios (inquilinos)</h3>
  	<p>Existen diferentes tipos de contratos de alquiler, cada uno de ellos te otorgará diferentes derechos como arrendatario. El tipo de contrato más común es el Assured shorthold tenancy, que equivaldría a “arrendamiento asegurado de corta duración”. Este tipo de contrato te ofrece protección y algunos derechos. Por el contrario, tus derechos se ven muy reducidos si no eres un inquilino de “pleno derecho”, es decir, si vives con tu casero (excluded occupier) o, por ejemplo,  si estás alquilando una habitación en casa de tu casero y compartes las facturas y gastos con él (lodger).</p>
    <p>Tus derechos como arrendatario son efectivos desde el momento en que pagas el alquiler, sin importar que no exista un contrato escrito de arrendamiento. Ahora bien, debes poder probar que has pagado el alquiler. Intenta pagar siempre a través del banco para tener pruebas de las transferencias y en caso de pagar en efectivo pide siempre los recibos.</p>
  	<p>Tus derechos básicos emanan directamente de la ley, por lo que no es necesario que estén especificados en tu contrato de alquiler. Si tu contrato contiene alguna cláusula contraria a la ley ésta será inválida, ya que siempre se prioriza la ley. Algunos de tus derechos como arrendatario más importantes son:</p>
  	<ul>
  		<li>Tu casero debe hacerse cargo de las reparaciones básicas de la vivienda.</li>
  		<li>Tu casero debe asegurar el buen funcionamiento de las instalaciones para  el suministro de agua, gas, electricidad, recogida de basura, calefacción y calefactor del agua. </li>
  		<li>Tienes derecho a vivir de forma tranquila en la vivienda sin ser molestado o importunado por tu casero. El casero está obligado a avisar de su visita con 24 horas de antelación, siempre y cuando no sea una emergencia. </li>
  	</ul>
  	<p>Por lo general el casero no puede discriminarte por ningún motivo, aunque puede haber excepciones si compartes vivienda con el casero.</p>
  	<p>El alquiler sólo puede aumentarse mediante una solicitud formal. Si en tu contrato existe un proceso específico para el aumento del alquiler el casero está obligado a seguirlo. En caso contrario la ley determina que no puede aumentarse más de una vez al año y que debe informarse de la subida con un mes de antelación  para los arrendamientos periódicos [mes a mes o semana a semana] y sólo con tu consentimiento para los contratos de periodo fijo hasta que el período fijado acabe. </p>
  	<h3>Acoso por parte del casero</h3>
  	<p>El acoso por parte de un casero es un delito, si tu casero está acosándote puedes llamar a la policía o hablar con alguna organización independiente como el Citizen’s Advice Bureau (oficina de ayuda al ciudadano). El acoso puede presentarse en diversas formas, por ejemplo:</p>
  	<ul>
  		<li>Retirada o restricción del suministro de agua, gas o electricidad, por ejemplo dejando de pagar las facturas para que la compañía corte el suministro.</li>
  		<li>Visita a la vivienda sin previo aviso, especialmente si las visitas se dan entrada la noche. </li>
  		<li>Intercepta el correo.</li>
  		<li>Recibir amenazas.</li>
  		<li>El casero manda albañiles a la vivienda sin previo aviso.</li>
  		<li>El casero entra en la vivienda cuando los inquilinos no están y sin permiso.</li>
  		<li>Permitiendo que la vivienda llegue a encontrarse en tan mal estado que sea peligroso vivir en ella.</li>
  		<li>Empezar obras molestas y no terminándolas. </li>
  		<li>Acosándote directamente por razones de género, raza u orientación sexual.</li>
  	</ul>
  	<h3>Depósito y Plan de depósitos de alquiler (Tenancy Deposit Scheme)</h3>
    <p>El depósito es una cantidad exigida por el casero para cubrir los gastos en caso de que el arrendatario genere algún daño en la propiedad o deje de pagar el alquiler. Es bastante común que los caseros se nieguen a devolver el depósito. </p>
  	<p>Recuerda siempre pedir un recibo o justificante al pagar el depósito. Saca fotos de la vivienda y mándalas por email a alguien de confianza, de este modo tendrás pruebas (con fecha) del estado de la vivienda al mudarte y el casero no podrá culparte de daños en la propiedad que sean previos a tu llegada. Si el casero decide quedarse con la totalidad o parte del depósito, deberá presentar facturas detalladas de los costes, incluyendo los recibos por trabajos de reparación o limpieza. </p>
    <p>El casero debe registrar tu depósito en un plan para depósitos aprobado por el gobierno (Tenancy Deposit Scheme) para que éste quede protegido. De ese modo, en caso de que el casero se niegue a devolver el depósito podrá ser multado por no seguir las regulaciones marcadas por el plan de depósitos. Se puede acceder  a un listado de planes de depósito y otra información relacionada en la página web del gobierno.<br/>
          <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.gov.uk/tenancy-deposit-protection'>gov.uk/tenancy-deposit-protection</a></span><br/><br/>
    </p>
    <h3>Desahucio</h3>
    <p>El casero necesita un motivo para desahuciarte antes de que finalice el contrato. Este motivo puede ser el incumplimiento de alguno de los términos del contrato o el retraso en el pago del alquiler.</p>
    <p>El casero debe notificar por escrito su intención de desahuciarte mediante una nota que cumpla con los requisitos formales. Recibir la notificación no implica que tengas que abandonar la vivienda inmediatamente. Tu casero debe  entregarte una orden judicial en la que se especifique cuando debes abandonar la vivienda. Tú tienes el derecho a explicar tu situación ante un tribunal ya sea por escrito o atendiendo a una audición en persona. </p>
    <p>Tras recibir la orden puedes permanecer en la vivienda hasta que un juez o funcionario judicial (bailiffs) visite la vivienda. A no ser que el desahucio esté relacionado con multas o el impago de impuestos no estás obligado a dejar entrar en la vivienda al funcionario judicial. Este no tiene permitido irrumpir en la vivienda sin tu permiso. Si les dejas entrar podrán proceder a embargar tus pertenencias. La policía tampoco tiene derecho a irrumpir en tu casa sin una orden de arresto que especifique que eres sospechoso de haber cometido algún delito.</p>
    <p>Recuerda, una nota del casero no es suficiente para desahuciarte, necesitan una orden judicial para proceder al desahucio. Si alguien intenta desahuciarte sin respetar el proceso legal estarán incurriendo en un delito por desahucio ilegal. Pese a que por lo general la policía considera los desahucios ilegales como causas civiles, éstos son en realidad asuntos penales y la policía tiene el deber de protegerte contra ellos.</p>
    <p>Tienes el derecho legal a cambiar las cerraduras para protegerte de acoso, siempre y cuando guardes la cerradura original y vuelvas a colocarla cuando dejes la vivienda.</p>
    <h3>Conflictos</h3>
    <p>Cualquier conflicto o problema con tu casero debe ser tomado en consideración. Aquí tienes algunos consejos que pueden ayudarte: </p>
    <ul>
      <li>Lee detenidamente tu contrato o acuerdo de alquiler para conocer cuáles son tus derechos y responsabilidades.</li>
      <li>Investiga sobre los derechos de vivienda y asesórate jurídicamente siempre que sea posible. </li>
      <li>Graba, guarda y copia cualquier prueba de los pago realizados, correspondencia y fotografías para preparar generar un “rastro de papel” (paper trail) que puede ayudarte ante un juez.</li>
    </ul>
    <p>Shelter  es una organización benéfica (charity) cuyo objetivo es asesorar sobre derechos relacionados con la vivienda y para aquellas personas que se han quedado en la calle. Puedes llamarles directamente para asesorarte o acceder a la información disponible en su página web.<br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 800 4444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://england.shelter.org.uk/get_advice'>england.shelter.org.uk/get_advice</a></span><br/>
    </p>
    <p>Los ayuntamientos suelen tener alguien encargado de asesorar sobre derechos relacionados con la vivienda, pero en ocasiones puede ser difícil encontrarlos puesto que responden a diferentes nombres. El de Hackney, por ejemplo es Housing Options.</p>
    <p>La página web de Housing Rights Info dispone de mucha información sobre derechos de la vivienda, con una sección específica sobre los derechos de los inmigrantes recién llegados:<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.housing-rights.info/index.php'>housing-rights.info/index.php</a></span><br/>
    </p>
    <p>El Citizen’s Advice Bureau te ofrece asesoramiento sobre derechos de vivienda.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <h3>Quedarse en la calle</h3>
    <p>Un gran número de los sin techo de Londres son inmigrantes llegados recientemente, principalmente procedentes de Europa Central y Europa del Este. Muchas personas no son conscientes de lo caro que resulta vivir en Londres y de lo difícil que puede ser encontrar un trabajo que dé estabilidad económica. Es por esto que algunas personas no consiguen superan las dificultades y se quedan en la calle.</p>
    <p>Si por desgracia acabas viviendo en la calle no podrás solicitar ayudas estatales si no eres miembro de la UE, y en caso de ser miembro comunitario de la UE deberás probar que llevas más de tres meses en Reino Unido para acceder a las ayudas. En cualquier caso, los servicios destinados a personas sin hogar son escasos y los canales de ayuda están saturados. Algunas organizaciones ofrecen apoyo y asesoramiento de forma desinteresada: <br>
    Shelter
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 800 4444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://england.shelter.org.uk/get_advice'>england.shelter.org.uk/get_advice</a></span>    <br/>
    </p>
    <p>
      The Simon Community
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7485 6639</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.simoncommunity.org.uk'>simoncommunity.org.uk</a></span></p><br/>
    <p>
      Crisis
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.crisis.org.uk'>crisis.org.uk</a></span><br/>
    </p>
    <p>
      La revista The Pavement ofrece información actualizada sobre los datos de personas viviendo en la calle en Londres, así como información práctica, como por ejemplo comedores sociales.
      <br/> 
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.thepavement.org.uk'>thepavement.org.uk</a></span><br/>
    </p>
    <p>
      Barka ofrece ayuda a personas procedentes de Europa Central y del Este que se encuentran en situaciones de extrema vulnerabilidad social y económica. El horario de atención de su línea telefónica gratuita es: Lunes, Martes, Jueves y Viernes de 9.00 a 14.00. Las líneas atienden en polaco, ruso e inglés.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 171 2926</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.barkauk.org'>barkauk.org</a></span><br/>
    </p>
    <h3>Ocupar ilegalmente</h3>
    <p>Ocupar ilegalmente un edifico residencial es un delito. Algunas personas han sido perseguidas, detenidas y condenadas a prisión por delitos de ocupación ilegal. Ocupar otro tipo de propiedades no es ilegal pero es siempre complicado permanecer en ellas por un largo período de tiempo. Advisory Service for Squatters (Servicio de asesoramiento para ocupantes ilegales) ofrece consejos y asesoramiento sobre ocupaciones ilegales:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 3216 0099</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.squatter.org.uk'>squatter.org.uk</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-work' >Trabajo</h2>
    <h3>National Insurance</h3>
    <p>El National Insurance es un impuesto que se deduce de tu salario y se destina a los subsidios de empleo, enfermedad y jubilación. Para poder trabajar legalmente en el Reino Unido debes tener el National Insurance Number  -NI- (número de la seguridad social). Podrás empezar a trabajar sin él, pero necesitas conseguirlo lo antes posible.  Para obtener el National Insurance Number  debes solicitarlo en el Jobcentre Plus, necesitarás llevar una prueba de identidad (pasaporte, documento de identidad) a la entrevista. Llama al Jobcentre Plus para concertar una entrevista:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0345 600 0643</span><br/>
    </p>
    <h3>Salario mínimo e Impuestos</h3>
    <p>Tu jefe debe entregarte un contrato laboral por escrito. No es necesario que te den un contrato completo, pero por lo menos debes tener por escrito y especificadas las condiciones básicas como el salario. Pide siempre que te den una copia de tu contrato laboral. Si tu jefe se niega a entregarlo puede ser una señal de que tendrás problemas en el futuro. Intenta encontrar a alguien que pueda revisar tu contrato y ver si existen clausulas sospechosas en él.</p>
    <p>Es ilegal que tu salario sea inferior a salario mínimo interprofesional (National Mínimum Wage).  Actualmente el salario mínimo es de £6,50 la hora si tienes 21 años o más, o £5,13 si eres menor de 21. El salario suele estar especificado por hora o por año (per annum o pa). Un trabajo a jornada completa (40 horas a la semana) con un salario de £6,50 la hora equivale aproximadamente a £13.520 anuales.</p>
    <p>Ejemplo sobre las deducciones de impuestos y National Insurance  en un trabajo a jornada completa y  con el salario mínimo:<br/>
    Salario bruto: £13.520 al año<br/>
    National Insurance: £668 al año<br/>
    Impuestos: £704 al año<br/>
    Salario neto: £12.148 al año, £234 a la semana, aproximadamente £1.010 al mes.</p>
    <p>Guarda tus nóminas y mantén un registro o diario con las horas que has trabajado y las vacaciones que has tomado. Eso te ayudará a saber si te están pagando menos de lo acordado o si te están dando todas las vacaciones que te corresponden. Toma nota de cualquier incidente, discusión, etc, que ocurra en tu lugar de trabajo, junto con los nombres de aquellas personas que estaban presentes. Estas notas pueden ayudarte si el jefe trata de intimidarte o quiere despedirte tras un incidente.</p>
    <p>Si tienes un contrato de trabajo e incluso si tienes varios trabajos, la empresa o empresas que te han contratado deben encargarse de pagar todos los impuestos y tasas por ti, por lo tanto tú no necesitas hacer ningún trámite relacionado con el pago de los impuestos al final del año fiscal. Si empiezas a trabajar antes de obtener el National Insurance Number  pagarás un impuesto de emergencia (emergency tax)  que podrás reclamar una vez tengas el National Insurance Number. Si has estado pagando más impuestos de los que te corresponden, no te preocupes, puedes reclamarlos mediante una declaración de autoliquidación de impuestos (tax self-assessment) al final del año fiscal. El año fiscal acaba el 5 de abril y puedes reclamar tus impuestos hasta octubre.</p>
    <p>HMRC (Her Majesty’s Revenue and Costums) es el organismo encargado de recaudar los impuestos y generalmente ofrecen ayuda sobre problemas relacionados con los impuestos. El organismo dispone de una línea telefónica que ofrece asesoramiento sobre impuestos específicos. Puedes encontrar el número de teléfono en su página web.<br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://taxaid.org.uk/guides/taxpayers'>taxaid.org.uk/guides/taxpayers</a></span></p><br/>
   <p>Tax Aid es una organización sin ánimo de lucro que ayuda a personas con bajos ingresos que tienen problemas con sus impuestos cuando la HMRC no es capaz de ayudarles.<br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://taxaid.org.uk/guides/information'>taxaid.org.uk/guides/information</a></span><br/>
     <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0345 120 377</span><br/>
   </p>
   <h3>Derechos laborales básicos</h3>
   <p>Tanto si trabajas de forma temporal o permanente, a través de una agencia, a jornada completa o a tiempo parcial tienes siempre una serie de derechos básicos:</p>
   <ul>
     <li>Derecho a vacaciones pagadas. Tienes derecho a por lo menos 5,6 semanas de vacaciones pagadas (leave or time off) al año. Esto corresponde a 28 días laborales si trabajas a jornada completa. Estos días incluyen las vacaciones de Navidad y las fiestas oficiales (bank holidays).  Tu contrato puede darte más vacaciones pero nunca menos. Si trabajas a tiempo parcial multiplica los días que trabajas a la semana por 5,6. Esto se aplica a todo tipo de trabajos desde el día que empiezas a trabajar – el primer día tienes dos días de vacaciones y pasados los 6 meses te corresponden 14 días.</li>
     <li>Derecho a cobrar una baja por enfermedad. La baja se aplica a partir del 4 día consecutivo que has faltado al trabajo por enfermedad. Necesitas ganar más de £111 sin impuestos y llevar por lo menos 3 meses en la empresa (o haber estado empleado de forma continua durante 13 semanas).</li>
     <li>Tienes derecho a una baja por maternidad/paternidad cuando tengas hijos. Por lo general las madres tienen 26 semanas de baja por maternidad remuneradas más otras 26 semanas no remuneradas. Para disfrutar de la baja por maternidad debes ganar más de £111 a la semana y llevar al menos 26 semanas trabajando de forma continua antes de las 15 semanas anteriores al nacimiento del bebe. Durante las 6 primeras semanas de tu baja por maternidad debes recibir el 90% de tu salario medio, después un pago constante de £138,18 durante 33 semanas. Si el jefe o empresa no quiere o no puede pagarte, el departamento de trabajo y pensiones (Departement of Work and pensions ) tiene que pagar en su lugar. Los padres o compañeros masculinos tienen derecho a 2 semanas de baja por paternidad.</li>
     <li>Derecho a defenderte. Tienes derecho a protegerte para no ser despedido (sacked, fired, “let go”) por defender tus derechos laborales. Tienes derecho a organizarte colectivamente con tus compañeros de trabajo y de unirte a un sindicato.</li>
     <li>Derecho a un trato igualitario. Tienes derecho a no sufrir discriminación alguna por razones de edad, discapacidad, cambio de sexo, estado civil, embarazo, maternidad, raza, fe o religión, orientación sexual, género. Todas ellas son llamadas características protegidas (protected characterístics).</li>
   </ul>
   <h3>Bullying, acoso y discriminación</h3>
   <p>Recuerda, no te culpes a ti mismo por ser víctima de acoso o bullying. Bajo ningún concepto mereces ser acosado o intimidado.</p>
   <p>El bullying y el acoso implican comportamientos que dañan, intimidan, amenazan, victimizan, subestiman, ofenden, degradan, violentan y humillan. Tu jefe o empresa debe asegurarse de que el lugar de trabajo está libres de situaciones de Bullying o acoso. Eres víctima de Bullying cuando se dan, de forma constante, situaciones que atentan contra tu dignidad personal. El acoso puede tratarse de un incidente aislado o una serie de incidentes relacionadas con las características protegidas mencionadas anteriormente.</p>
   <p>El acoso sexual, es decir, incidentes que implican tocamientos u otro tipo de amenazas físicas, son delitos penales y debes informar de ellos a la policía. </p>
   <h3>Normativa sobre la jornada laboral</h3>
   <p>Tus derechos laborales en lo referente a la jornada laboral son:</p>
   <ul>
     <li>No trabajar más de 13 horas al día.</li>
     <li>Un día libre en cada semana de trabajo.</li>
     <li>Descansos de al menos 20 minutos por cada 6 horas trabajadas. Al menos 11 horas de descanso cada 24 horas. Si eres menor de 18 tienes derecho a un descanso de 30 minutos cada 4 horas y media.</li>
     <li>Puedes negarte a trabajar más de 48 horas a la semana. La cantidad de horas se calcula con una media para un periodo de 17 semanas, por lo tanto sí puedes ser forzado a trabajar más de 48 horas en una semana siempre y cuando la media no supere las horas estimadas por ley. Puedes acordar por escrito la eliminación de este derecho (opt out) aceptando trabajar más, pero cuidado porque en ocasiones los empleadores pueden intentar incluir esta clausula en tu contrato sin consultártelo.</li>
     <li>Los turnos de noche no pueden exceder las 8 horas por día. Los trabajadores con turno de noche tienen derecho a chequeos médicos gratuitos.</li>
   </ul>
   <h3>Normativas de Salud y Seguridad</h3>
   <p>Puedes negarte a trabajar si consideras que las condiciones no son seguras o que la tarea puede suponer un peligro para ti. La empresa debe ofrecerte un entrenamiento relacionado con tus tareas, no pueden pedirte que realices tareas para las que no has sido debidamente entrenado@.</p>
   <p>La empresa debe asegurar un entorno laboral decente, esto implica que haya suficientes lavabos y agua potable. Debe existir un procedimiento claro sobre cómo actuar en situaciones de riesgo laboral. Debe existir un plan de Salud y Seguridad. Las normativas de salud y seguridad así como su implementación deben ser debidamente explicadas a los trabajadores antes de que empiecen a trabajar. Los trabajadores deben ser informados de cualquier cambio o suceso que pueda afectar a su salud o seguridad en el lugar de trabajo.</p>
   <p>Las empresas deben invertir tiempo y dinero en explicar e implementar las normativas de seguridad y salud por lo que en ocasiones intentan no seguir las normativas poniendo en peligro a sus trabajadores. Por ley, las empresas están obligadas a asegurar que todos sus trabajadores trabajan en condiciones de salud y seguridad apropiadas.</p>
   <p>Recuerda, tienes derecho a abandonar tu lugar de trabajo si percibes un peligro inminente.</p>
   <h3>Contratos de Cero horas y Autoempleo</h3>
   <p>Autoempleo (ser autónomo aquí se llama self-employed) es cuando tu ganas el dinero trabajando para ti mism@, en vez de recibir un salario de una empresa. Si eres autoemplead@ eres responsable de pagar la seguridad social (national insurance) y los impuestos, así como de llevar tu propio papeleo. El “national insurance” se paga mensualmente y los impuestos a final de año y puede ser una cantidad de dinero considerable. Posiblemente necesitarás ayuda de una asesoría contable. Derechos como el salario mínimo, las horas trabajables y la paga por vacaciones o enfermedad son sólo aplicables a empleados por cuenta ajena, no a personas auto-empleadas (self-employed people).</p>
   <p>Algunos jefes tratan de forzar a sus empleados para que se hagan auto-empleados y de esta manera ahorrar en impuestos y recortar sus derechos. Esto es lo que llamamos “falso autoempleo” (false self-employment). Es muy común en algunos sectores como la construcción. Es ilegal pero el gobierno no está haciendo nada para pararlo. Puedes usar esta página web para averiguar si tu eres un trabajador por cuenta ajena o un trabajador autónomo (auto-empleado):
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.hmrc.gov.uk/working/intro/empstatus.htm'>hmrc.gov.uk/working/intro/empstatus.htm</a></span><br/>
   </p>
   <p>El contrato de “cero horas” (Zero hours contract) es un contrato de trabajo en el que no se te garantiza que vas a trabajar un determinado número de horas. Puede no decir “cero horas” en concreto, pero entonces dirá que el empleador, la compañía, no tiene ninguna obligación de darte horas de trabajo. Puede contener también una cláusula exclusiva, que te impide tener otro trabajo. Las dos cosas son legales.</p>
   <p>Si tu contrato es de “cero horas” tienes los mismos derechos a vacaciones, baja por enfermedad y baja por maternidad pagadas, como lo tienen los otros trabajadores. Los jefes, a veces, se niegan ilegalmente a que ejerzas estos derechos. También pueden dejarte sin suficiente trabajo para que sea posible aplicarte estos derechos para los que es necesario sobrepasar un determinado umbral de salario.</p>
   <p>Los contratos de “cero horas” son muy comunes en los sectores de comercio, hostelería, trabajo temporal por agencia y otro tipo de trabajos mal pagados. No tendrás ninguna garantía de que, cada semana, vas a trabajar un determinado número de horas; puede que ni siquiera tengas un horario y que te llamen para trabajar el mismo día que te necesitan.</p>
   <p>Si tienes algún problema con tus jefes o encargados, no importa si es personal o relacionado con el trabajo, ellos simplemente pueden dejar de darte turnos de trabajo. Si se quieren librar de ti, no necesitan poner punto final al contrato, simplemente dejan de darte horas o turnos permanentemente.</p>
   <p>Ambos, el autoempleo y los contratos de “cero horas” te ponen en una situación muy delicada en el trabajo.  Si eres “maltratad@” en algún sentido e intentas defenderte, tanto de manera individual como colectiva, los jefes pueden simplemente recortarte horas y sueldo. No hay mucho que puedas hacer cuando empiezas a trabajar en un trabajo en el que ya usan este tipo de contratos. Si el jefe está intentando cambiar tu actual contrato a otro de cero horas o te fuerza a ser auto-empleado, organizate con tus compañeros de trabajo para rechazar colectivamente el nuevo tipo de contratos, es difícil pero es la única opción disponible.</p>
   <h3>Reclamaciones y procedimientos disciplinarios</h3>
   <p>Un procedimiento “disciplinario” (a disciplinary process) es normalmente llevado a cabo por el jefe cuando tú has hecho algo incorrecto en el trabajo. Una grievance (reclamación) es cuando tú tienes una queja. ACAS, una organización que hace de mediadora en los conflictos de trabajo, tiene un “código de conducta” (Code of Practice) especificando como los procesos disciplinarios y de reclamación deberían ser tratados. El empleador debería seguir este código, pero es una guía, no una ley.</p>
   <p>A los empleados que se enfrentan a una acción disciplinaria se les debería dar un tiempo adecuado para preparar una defensa. Debería ser posible que pudieses  proporcionar  evidencias y llamar a testigos. Si eres llamad@ a una audiencia disciplinaria, tienes el derecho de ir acompañad@ por alguien. Puedes elegir entre alguien preparado para este fin por un sindicato (union), por un sindicato oficial (no importa si es un sindicato reconocido o no) o un/a compañer@ de trabajo. Tu, y quienquiera que te acompañe, estáis protegidos contra cualquier procedimiento disciplinario o despido en relación con el uso de este derecho de acompañamiento. Las audiencias deben notificarse  dentro de un período de tiempo razonable.</p>
   <p>Si no puedes resolver el caso dentro del lugar de trabajo o has sido despedid@, puedes llevar el caso a un tribunal especialista en temas de trabajo y empleo, The Employment Tribunal. Tendrás que pagar una tarifa de £390 o más, dependiendo de cuál sea tu caso. Si pierdes y el tribunal decide que tu caso no tiene posibilidad de éxito, te pueden pedir que pagues también los costes legales de la empresa. Te puedes representar a ti mism@, o puedes ser representad@ por un funcionaro del sindicato (union official), pero si necesitas que un profesional legal te represente, también tendrás que pagar sus tarifas. Si ganas, obtendrás una compensación económica.</p>
   <p>
     Los sindicatos (Trade unions) tienen una página web con información sobre tus derechos en el trabajo.
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.worksmart.org.uk/'>worksmart.org.uk</a></span><br/>
   </p>
   <p>
     El ACAS tiene otra página web con esta información:
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.acas.org.uk/'>acas.org.uk</a></span><br/>
   </p>
   <p>
     La oficina de consejo al ciudadano (Citizen's Advice Bureau) te dará consejo en el tema de problemas en el trabajo:
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
   </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-benefits' >Subsidios</h2>
    <p>El sistema de subsidios de UK es muy complicado. Hay diferentes tipos de subsidios. Tus circunstancias individuales determinan cuales puedes pedir y cuanto dinero se te proporcionará. Las cantidades son habitualmente bajas, y durante un periodo de tiempo limitado, además, tendrás que cumplir varias condiciones y no solamente empezar a pedirlos, sino persistir en ello. Tienes que pedir los diferentes tipos de subsidios de forma separada. Una reforma en curso, con el fin de reunirlos a todos en un super-subsidio llamado Universal Credit, hará que las cosas sean incluso peor y más difíciles.</p>
    <p>Si eres un ciudadano europeo, tienes que trabajar durante tres meses in UK para tener derecho a recibir subsidios. Si vienes de fuera de la Comunidad Europea, podrás reclamar algunos subsidios, pero la legislación es extremadamente complicada. Pedir subsidios, siendo un ciudadano no perteneciente a la Comunidad Europea, puede impactar negativamente en tu derecho a permanecer en UK.</p>
    <p>Puedes usar una de estas calculadoras para hacer una estimación de que subsidios podrías obtener.
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.entitledto.co.uk/benefits-calculator/startcalc.aspx'>entitledto.co.uk/benefits-calculator/startcalc.aspx</a></span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://benefits-calculator.turn2us.org.uk/AboutYou'>benefits-calculator.turn2us.org.uk/AboutYou</a></span><br/>
    </p>
    <p>
      La cantidad real depende de tus circunstancias y deberías buscar consejo cualificado antes de pedirlos. La oficina de consejo al ciudadano – Citizens Advice Bureau –  es un buen lugar para buscar ayuda:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <p>El fraude relacionado con los subsidios, cuando se produce de forma deliberada o deshonestamente pides más subsidios de los que tienes derecho, es un delito por el que puedes ir a prisión.</p>
    <h3>Principales subsidios</h3>
    <p>Job Seekers Allowance – JSA, es la prestación para desempleados (literalmente “buscadores de empleo”) –  es una paga que puedes obtener si trabajabas legalmente en Reino Unido y has perdido tu trabajo. Obtendrás  £57.50  a la semana si tienes menos de 24 años, £72.40 si tienes más de 24 o eres padre/madre solter@ de más de 18;  en el caso de que lo pidáis como pareja,  recibirás £113.70. Tendrás que proporcionar continuamente muchas pruebas de que estás buscando trabajo y ellos te lo pondrán extremadamente difícil cuando lleves unos cuantos meses.</p>
    <p>Housing Benefit – Ayudas para la vivienda.  Es dinero para ayudarte a pagar el alquiler si tienes unos ingresos bajos o estás recibiendo otras ayudas. La cantidad depende de donde vivas, y del tipo de vivienda (habitación, piso, etc). Nunca será mayor que la renta real que estés pagando y normalmente no será suficiente para cubrir el total. La mayoría de caser@s no quieren arrendar a personas que cobran subsidios (on benefits).</p>
    <p>Child Benefit – Ayudas si estás a cargo de niños. Es una paga que puedes obtener si eres padre o madre o tienes menores de 16 años a tu cargo. Puedes recibir £20.50 a la semana por el mayor, y £13.55 por los otros.</p>
    <p>Working Tax Credits (reducción de impuestos sobre los ingresos)  es un subsidio en el que se te abona parte de los impuestos que pagas, para aquell@s que tienen unos ingresos salariales bajos. Puedes averiguar la cantidad de tax credit que puedes recibir usando esta calculadora:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.gov.uk/tax-credits-calculator'>gov.uk/tax-credits-calculator</a></span><br/>
    </p>
    <p>Employment and Support Allowance (ESA) y el Personal Independence Payment (PIP).  Son dos subsidios que puedes recibir si tienes alguna discapacidad o una enfermedad a largo plazo. Tienes que vivir en UK desde hace un tiempo determinado para poder acceder a este subsidio. Tienes que someterte a una evaluación para probar que tu situación es tan mala que no puedes trabajar. Es del saber popular que esta prueba es bastante angustiante y estresante, y que incluso personas que sufren de situaciones serias son a veces clasificados como válidos para trabajar.</p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-legal' >Temas legales</h2>
    <h3>Policía y tribunales</h3>
    <p>La policía es racista y xenófoba. Como inmigrante, es menos probable que la policía investigue si tu eres víctima de un crimen, y, llegada la situación, es más posible que te vean como culpable. La policía actúa de forma lamentable cuando se trata de crímenes que afectan a mujeres, tales como la violencia doméstica y agresiones sexuales. A menudo es difícil dar parte de esas incidencias, porque la policía probablemente no las toma en serio y son momentos horribles para las víctimas. Si vas a ir a una comisaría, es mejor que vayas con un/a amigo/a que te apoye y que apuntes todo lo que te digan. Si ellos se niegan a registrar tu queja puedes ir a otra comisaría e intentarlo otra vez. Si estás denunciando un ataque sexual, violencia doméstica o crimen de odio (e.j. Un ataque racista o homófobo), a menudo es más fácil buscar la sede más cercana de la Community Safety Unit e ir directamente a ellos desde el principio, ya que es probable que tengan menos prejuicios. Usa google para encontrar la sede más cercana.</p>
    <p>Si la policía te para en la calle, trata de mantener la calma. Pueden pararte y preguntarte pero no es necesario que tú respondas. Ellos solo deberían pararte si tienen sospechas fundadas de que estás cometiendo un crimen, pero en la práctica ellos hacen lo que quieren. Tienen el derecho de hacerte quitar el abrigo o chaqueta y los guantes. Por otra parte, tú tienes el derecho a tener un “registro de la detención”, en el cual debería estar el número de identidad del oficial. Párate y mira esta guía:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://londonagainstpoliceviolence.wordpress.com/guide-to-stop-search'>londonagainstpoliceviolence.wordpress.com/guide-to-stop-search</a></span><br/>
    </p>
    <p>Si la policía te arresta, les tienes que dar tu nombre, dirección y fecha de nacimiento. No respondas ninguna pregunta sin hablar con un/a abogad@. Tienes derecho a un abogado gratuito en la entrevista con la policía. No aceptes ningún abogado recomendado por la policía (a duty solicitor – un abogado de servicio), intenta encontrar alguno recomendado por la gente que conoces. Tienes el derecho a una llamada telefónica. Tienes también derecho a un traductor/a si no hablas inglés.<br/>
    El grupo Newham Monitoring Group te puede ayudar en casos de mala conducta policial, especialmente aquellos relacionados con el racismo:
    <br/>
    <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 169 3111</span><br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nmp.org.uk'>nmp.org.uk</a></span><br/>
    </p>
    <p>Si la policía cree que eres culpable, te pueden ofrecer una “advertencia” (caution). Esto significa que tu aceptas la culpa pero no serás llevad@ a los tribunales ni recibirás una multa o sentencia. Una “advertencia” queda registrada en tus antecedentes penales (Criminal record). Pide consejo a un abogado antes de aceptar una “advertencia” . Si has cometido un crimen pero no te quieres declarar culpable, no se lo cuentes al abogado, ya que se vería en la necesidad de declararlo.</p>
    <p>Si eres agredid@ por la policía, necesitas un informe médico tan pronto como sea posible. Hacer quejas contra la policía es posible pero difícil.</p>
    <p>Dependiendo de tus ingresos, puedes conseguir un abogado gratis en el caso de que seas llevado a los tribunales. Si ganas menos que £12,475 el abogad@ será gratis, si ganas más tendrás que pasar un “evaluación total de recursos” (full means test), y si ganas más de £22,325 tendrás que pagártelo tu mism@. Esto solo es para casos criminales. En casos civiles, tales como deudas, familia o problemas de vivienda, lo más seguro es que lo tengas que pagar tú. Puedes usar esta calculadora para averiguarlo:<br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://legal-aid-checker.justice.gov.uk'>legal-aid-checker.justice.gov.uk</a></span><br/>
    </p>
    <h3>Inmigración</h3>
    <p>La UK Border Agency o UKBA es la policía de inmigración. Este cuerpo especial de policía organiza redadas de forma regular en mercados, tiendas, estaciones de transporte público e incluso casas particulares situadas en barrios con alta proporción de inmigrantes. A pesar de que los ciudadanos de la Unión Europea –UE- tienen derecho a residir legalmente en Reino Unido, ya se han dado algunas deportaciones organizadas por la UKBA en el pasado. El riesgo de ser deportado aumenta si llevas una temporada larga en situación de desempleo o si vives en la calle.</p>
    <p>Si la UK Border Agency o la policía te para en la calle para preguntarte sobre tu estatus como inmigrante (pidiéndote que entregues documentación) no estás obligado a responder ninguna de sus preguntas. No estás obligado a darles tu nombre ni tu dirección. Puedes simplemente decirles que no quieres hablar con ellos, se educado, mantén la calma y márchate. Ni la policía ni la UKBA tienen derecho a considerarte sospechoso por razones de raza. Si deciden pararte debido a tu aspecto, el color de tu piel, o el idioma que hablas diles que su actuación es racista y por tanto ilegal y que denunciarás el caso.</p>
    <p>Si tú mismo o alguien que conoces ha sido detenido contacta Bail for Immigration Detainees:<br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7247 3590</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.biduk.org'>biduk.org</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-domestic' >Violencia Domestica y Agresiones Sexuales</h2>
    <h3>Asociaciones de apoyo a las mujeres</h3>
    <p>
      La Women’s Aid domestic violence hotline (Linea de ayuda para mujeres víctimas de violencia doméstica) está activa 24 horas al día
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 2000 247</span><br/>
    </p>
    <p>
      Guía para supervivientes en diversos idiomas, incluyendo polaco y español
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.womensaid.org.uk/landing_page.asp?section=0001000100080004'>womensaid.org.uk/landing_page.asp?section=0001000100080004</a></span><br/>
    </p>
    <p>
      Southall Black Sisters proporciona ayuda y asesoramiento a mujeres negras o asiáticas con problemas relacionados con violencia doméstica así como otros temas como inmigración.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0208 571 0800</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.southallblacksisters.org.uk'>southallblacksisters.org.uk</a></span><br/>
    </p>
    <p>
      Rape Crisis London ofrece ayuda de forma confidencial para aquellas mujeres y niñas que hayan experimentado algún tipo de agresión sexual.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 80 29999</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.rapecrisislondon.org'>rapecrisislondon.org</a></span><br/>
    </p>
    <p>
      Women’s Right dispone de diversas líneas telefónicas desde donde ofrecen asesoramiento legal gratuito. Puedes encontrar los números de las áreas legales específicas en su página web.
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.rightsofwomen.org.uk/adviceline.php'>rightsofwomen.org.uk/adviceline.php</a></span><br/>
    </p>
    <p>
      Kalayaan ofrece asesoramiento independiente, confidencial y gratuito sobre inmigración, así como asesoramiento específico para inmigrantes emplead@s y trabajadores/as doméstic@s. Puedes contactarles si tienes algún problema con tu empresa, si la empresa para la que trabajabas se ha quedado tu pasaporte o si, simplemente, deseas saber más sobre tus derechos como trabajador.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7243 2942</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.kalayaan.org.uk'>kalayaan.org.uk</a></span><br/>
    </p>
    <h3>Apoyo para personas LGBT</h3>
    <p>
      Broken Rainbow LGTB Domestic Violence helpline (Línea de ayuda para personas LGTB víctimas de violencia doméstica).
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 999 5428</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.brokenrainbow.org.uk'>brokenrainbow.org.uk</a></span><br/>
    </p>
    <h3>Apoyo para hombres</h3>
    <p>
      Men’s Domestic Violence and Abuse helpline (Linea de ayuda para hombres víctimas de violencia doméstica o abuso).
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 801 0327</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.mensadviceline.org.uk'>mensadviceline.org.uk</a></span><br/>
    </p>
    <p>
      Survivors UK línea de ayuda confidencial para hombres que han sufrido alguna experiencia de violencia sexual.<br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0845 122 1201</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.survivorsuk.org'>survivorsuk.org</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-lgbt' >LGBT* (Lesbian, Gay, Bisexual y Trans*)</h2>
    <p>Puede ser difícil encontrar otras personas LGBT cuando eres nuev* en la ciudad y por lo general los bares gay o de “ambiente” suelen ser cada vez más caros. Aquí tienes algunos contactos que harán que te resulte más fácil:</p>
    <p>
      La línea de ayuda London Lesbian and Gay Switchboard: 
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0845 122 1201</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.llgs.org.uk'>llgs.org.uk</a></span><br/>
    </p>
    <p>
      El centro social London Queer Social Center o “House of Brag” es un colectivo popular Queer.<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://houseofbrag.wordpress.com'>houseofbrag.wordpress.com</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-other' >Otros contactos útiles</h2>
    <p>
      GOV.UK es una página web del gobierno que explica la ley de un modo sencillo. Contiene información sobre diversos temas, algunos de los cuales han sido expuestos en esta guía.
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gov.uk'>gov.uk</a></span><br/>
    </p>
    <p>
      Citizen’s Advice Bureau es una asociación sin ánimo de lucro que ofrece asesoramiento directo a todo aquel que lo necesite. Disponen de locales donde puedes obtener asesoramiento en persona. Puedes encontrar tu centro más cercano en su página web.<br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>http://www.citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <p>
      Advice Guide es una página web con consejos sobre todo tipo de problemas creada desde el CAB (Citizen’s Advise Bureau).<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.adviceguide.org.uk'>adviceguide.org.uk</a></span><br/>
    </p>
    <p>
     Los Community Law Centres  ofrecen ayuda y asesoramiento legal a aquellas personas que no pueden permitirse un abogado. Puedes encontrar un centro en tu área en su página web.
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.lawcentres.org.uk/i-am-looking-for-advice'>lawcentres.org.uk/i-am-looking-for-advice</a></span><br/>
    </p>
    <p>
      Mary Ward Legal Centre  es otro centro que ofrece asesoramiento legal:<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.marywardlegal.org.uk/'>marywardlegal.org.uk</a></span><br/>
    </p>
    <p>
     La National Debt Line ofrece asesoramiento sobre deudas.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 808 4000</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='nationaldebtline.org/EW/Pages/default.aspx'>https://www.nationaldebtline.org/EW/Pages/default.aspx</a></span><br/>
    </p>
    <p>
      NHS Choices es una página web donde puedes encontrar información sobre Salud en general y sobre los servicios y centros de salud.<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nhs.uk/Pages/HomePage.aspx'>nhs.uk/Pages/HomePage.aspx</a></span><br/>
    </p>
    <p>
      London Coalition Against Poverty (Coalición londinense contra la pobreza) es una coalición de grupos basado en la idea de que mediante la solidaridad y la acción directa las personas pueden adquirir el poder necesario para cambiar sus vidas. Su página web dispone de una lista de los diferentes grupos de trabajo activos en Londres.
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://lcap.org.uk'>lcap.org.uk</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-who' >¿Quiénes somos y por qué nos importa?</h2>
    <p>
      Solidarity Federation es una organización que fomenta la auto-organización y la acción colectiva. Además de promocionar la organización de base en nuestros lugares de trabajo, en nuestros barrios y comunidades, estaremos encantados de ayudar a cualquier persona que tenga problemas con su jefe o casero. Si estás interesad@ en movilizarte ¡contáctanos!
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://solfed.org.uk'>solfed.org.uk</a></span><br/>
      <span class='email'><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href='mailto:solfed@solfed.org.uk'>solfed@solfed.org.uk</a></span><br/>
      <span class='email'><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href='mailto:info@migrantsguide.uk'>info@migrantsguide.uk</a></span><br/>
    </p>
  </div>
</div>
