---
extends: bare.j2
default_block: main
title: Londres - Guia do imigrante
---

<div class="row">
  <div class="col-md-12 text-container">
  	<h2 id='section-introduction' >Introdução</h2>
  	<p>Começar uma nova  vida em Londres pode ser assustador. Muitas coisas são diferentes daquilo que você conhece de casa. Algumas coisas são caras e algumas são simplesmente difíceis. Este folheto fornece alguma informação básica sobre algumas coisas que você terá que resolver quando chegar aqui, e sobre os problemas que você provavelmente irá enfrentar.</p>
  	<p>Algumas destas informações se aplicam a todos. A maioria presumiria, que embora seja imigrante, tem o direito de viver e trabalhar no Reino Unido, provavelmente por ser um cidadão da União Européia. Caso não seja o caso, essa questão pode ser mais complexa e você precisará de mais informações, além das que esse folheto é capaz de lhe proporcionar.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
  	<h2 id='section-transport' >Transportes</h2>
  	<p>Para usar o sistema de transportes de Londres você precisará de um cartão eletrônico azul da Oyster. Por aqui não há bilhetes de papel e não se pode pagar em espécies no ônibus ou no trem. O cartão Oyster custa 5 libras e você vai receber esse valor de volta quando o devolver. Você pode carregá-lo (top up) e o preço de cada viagem será descontado dele. Os cartões Oyster podem ser comprados ou carregados em todas as estações e em algumas lojas. O cartão Oyster é aceito em ônibus, em metrô – the Tube, the Overground e na DLR - rede de trens municipais e interurbanos no território Londrino. </p>
  	<p>A rede de transportes está dividida em zonas, começando pela zona 1 no centro até a zona 6 no subúrbio. Nos trens e no metrô o valor do transporte depende da zona e é mais caro durante os horários de pico (das 6:30 às 9:30 e das 16:00 às 19:00). A viagem da zona 2 à zona 1 vai custar 2.30 ou 2.90 libras. A viagem de ônibus custa 1.50 libras e se você viajar mais que 3 vezes por dia, o custo total vai ser congelado em 4.40 libras. Através da Oyster você pode comprar os tickets diários, semanais ou mensais, chamados travelcards. É possível viajar sem bilhete, mas fiscais são muito comuns. Em uma fiscalização eles poderão checar o estatus de imigrante (immigration status). Viajar sem bilhete é um delito e os culpados são levados à justiça.</p>
  	<p>Para descobrir como chegar de um lugar a outro com os meios de transporte no território londrino, use o site de TFL:<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.tfl.gov.uk/'>tfl.gov.uk</a></span><br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0343 222 1234</span><br/>
  	</p>
  	<p>O National Rail Enquiries vai te ajudar a encontrar os horários de trens e os preços dos bilhetes<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nationalrail.co.uk/'>nationalrail.co.uk</a></span><br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 08457 48 49 50</span><br/>
  	</p>
  	<p>Ônibus é frequentemente mais barato que os trens, especialmente as linhas econômicas como Megabus<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://uk.megabus.com/'>uk.megabus.com</a></span><br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0141 332 9644</span><br/>
  	</p>
  	<p>Para localizar qualquer endereço no território do Reino Unido, entre com o seu código postal no Google Maps ou no buscador Bing Maps<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.google.co.uk/maps/place/London+E1+7Q'>google.co.uk/maps/place/London+E1+7Q</a></span><br/>
  	</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
  	<h2 id='section-internet' >Internet & Telefone</h2>
  	<p>O acesso à internet em um café (Lan house) custa aproximadamente 1libra/ hora, no centro de Londres custa mais. Lá você também pode fazer fotocópias e chamadas internacionais baratas.</p>
  	<p>Você pode acessar internet gratuitamente em bibliotecas. Geralmente as bibliotecas exigirão que você se inscreva. A inscrição é gratuita, mas você terá que comprovar que vive na área da biblioteca. Algumas concedem acesso sem inscrição, assim sendo, vale a pena perguntar no balcão de informações. Em bibliotecas você encontrará jornais, revistas, recursos para estudar inglês e muitas delas possuem livros em outros idiomas. Elas são um bom lugar para conseguir informações sobre os recursos das comunidades locais, eventos, educação, moradia etc.</p>
  	<p>O telefone celular sem contrato é chamado prepaid, pay as you go ou PAYG (pré pago). Algumas operadoras como a Lebara, Lycatel ou Giffgaff têm ofertas muito boas de cartões SIM. Você pode conseguir um SIM pré-pago com 250 minutos, SMS (texts) ilimitados e 1 GB de dados por 10 libras/ mês. O melhor lugar para encontrar um SIM e um aparelho barato são as pequenas lojas de celulares nos mercados locais. Os aparelhos baratos também são vendidos na Argos.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-learning' >Aprender inglês</h2>
    <p>Em cada bairro há um Instituto de Educação e Desenvolvimento Profissional para adultos, chamado Further Education (FE) ou Community College. Eles organizam cursos em várias disciplinas, entre elas as aulas de língua inglesa. Os cursos têm preços acessíveis e às vezes são até gratuitos, especialmente quando você recebe os subsídios estatais. As classes gratuitas de inglês são também organizadas pelas câmaras municipais, bibliotecas, igrejas e centros comunitários. Peça orientação em sua biblioteca local.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
  	<h2 id='section-cheap' >Comida barata e outros</h2>
  	<p>Os supermercados mais baratos são: Lidl, Aldi e Morrisons. Às vezes, se você chegar à tarde, vai poder encontrar preço reduzido para alimentos que vencem no mesmo dia. A comida é frequentemente mais barata nos mercados que nas lojas. O Skipping (tirar comida do lixo) é um crime, mas procesos por causa disso são raros. Você pode ter problemas com os seguranças se for pego. Tome cuidado, porque às vezes as sobras de comida recebem um tipo de detergente e nas latas de lixo podem existir ratos. Lugares que oferecem comida de graça são: SOAS University e LSE (London School of Economics) de segunda ao sábado de 12:15 até às 14:30 hs; Food Van em Kentish Town às 12:00, em Camden Town às 13:00, em Kings Cross às 12:15 de segunda ao sábado; Day Centre: Matchless Gifts, 102 Caledonian Road, Islington London, N1 9DN.</p>
  	<p>A loja de roupas mais barata é Primark. A loja de eletrodomésticos mais barata é a Argos. As entidades sem fins lucrativos como Oxfam, Marie Curie, Mind têm lojas de caridade, onde se pode comprar roupas, livros e utensilios domésticos de segunda mão.</p>
  	<p>As pessoas doam objetos de graça pelo site de Freecycle
      <br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://uk.freecycle.org/'>uk.freecycle.org</a></span><br/>
  	</p>
  	<p>O Gumtree tem uma seção para objetos gratuitos<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gumtree.com/freebies/london/freebies'>gumtree.com/freebies/london/freebies</a></span><br/>
  	</p>
  	<p>Nestes locais é preciso garimpar, ter paciencia e sorte, pois as coisas boas tendem a desaparecer logo.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
  	<h2 id='section-bank' >Conta bancária</h2>
  	<p>Abrir uma conta bancária é difícil se você acaba de chegar a Reino Unido. Os bancos vão te pedir os documentos para abrir a conta e para consegui-los você pode precisar de uma conta bancária já existente. Você precisa de dois documentos: um documento de identificação como um passaporte ou um documento de identidade, e uma comprovação de endereço, que pode ser mais complicada de conseguir. Guarde toda a correspondência oficial com o teu nome por pelo menos alguns meses, pois ela poderá ser útil para isso e outras coisas. Frequentemente você vai precisar um registro de seus endereços anteriores com as datas em que viveu lá. Anote-os cada vez que você muda para um novo endereço.</p>
  	<p>O contrato de locação serve como comprovação de endereço, mas é bastante improvável que você receba um no começo. O que é aceito são as contas de gás, eletricidade ou telefone (mas não do celular). Você terá que pedir ao proprietário do seu apartamento ou à empresa de serviços que mudem a conta para o seu nome e esperar até o final do mês para a chegada da próxima conta. Eles nem sempre concordam em fazê-lo. Se o teu nome figurar em algumas das contas, não esqueça de informar a empresa de serviços na hora de se mudar, se não, você irá continuar responsável pelas contas não pagas dos próximos inquilinos.</p>
  	<p>A comprovação de endereço pode ser uma habilitação (carteira de motorista) emitida no Reino Unido. Você pode trocar a habilitação emitida pela União Europeia por uma britânica por 50 libras. Você pode solicitar uma habilitação provisória destinada às pessoas que aprendem a dirigir e alguns bancos vão aceitá-la:<br/>
  	<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://ask.co-operativebank.co.uk/help/customer_services/address_proof'>ask.co-operativebank.co.uk/help/customer_services/address_proof</a></span><br/>
  	</p>
  	<p>Também o teu empregador pode escrever uma carta que confirma o seu endereço. A carta tem que ser escrita em papel timbrado e deve ser assinada por pessoa com algum grau de autoridade na empresa. Alguns bancos aceitam esse documento ou a carta emitida por Job Centre que confirma o teu Número Nacional de Seguro (i.e. carteira de trabalho)<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.hsbc.co.uk/content_static/en/ukpersonal/pdfs/en/passport_brochure.pdf'>hsbc.co.uk/content_static/en/ukpersonal/pdfs/en/passport_brochure.pdf</a></span><br/>
  	</p>
  	<p>Alguns bancos oferecem contas bancárias para pessoas que recentemente chegaram ao Reino Unido, onde somente se requer o documento de identificação e nenhuma comprovação de endereço<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.lloydsbank.com/banking-with-us/joining-lloyds/new-to-the-uk.asp'>lloydsbank.com/banking-with-us/joining-lloyds/new-to-the-uk.asp</a></span><br/>
  	</p>
  	<p>ou um extrato de conta bancária recente do teu país de origem, que será aceita como comprovação de endereço<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.barclays.co.uk/Helpsupport/ComingtoworkintheUK/P1242601780771'>barclays.co.uk/Helpsupport/ComingtoworkintheUK/P1242601780771</a></span><br/>
  	</p>
  	<p>As cooperativas de créditos (Credit Unions) são pequenas instituções bancárias comunitárias e podem ser mais flexíveis na hora de abrir uma conta nova. Aqui você pode encontrar a sua cooperativa de créditos local<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.findyourcreditunion.co.uk/home'>findyourcreditunion.co.uk/home</a></span><br/>
  	</p>
  	<p>Junte tantos documentos relevantes quantos puder e vá a uma instituição bancária. Tente em vários bancos diferentes. Você poderá ter a sorte e ser atendido por alguem que não será tão exigente no processo de verificação como requerem as diretrizes de segurança.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
  	<h2 id='section-healthcare' >Assistência médica</h2>
  	<p>Em caso de emergência, ligue 999. Se você precisar de assistência médica urgente, mas se não for emergência, ligue 111. Também pode ir até uma unidade de urgência e emergência chamada A&E que normalmente se encontram em hospitais. </p>
  	<p>NHS, National Health Service ou Serviço Nacional de Saúde, fornece assistência médica no Reino Unido. Você pode encontrar os hospitáis, clínicas, dentistas, clínicas de saúde sexual e outros serviços de saúde locais usando a seguinte página web:<br/>
  	<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nhs.uk/Service-Search'>nhs.uk/Service-Search</a><br/>
  	</span>
  	</p>
  	<p>O atendimento médico básico como uma visita ao médico familiar ou tratamento de emergência são gratuitos independentemente do seu estatuto de imigrante. Você pode ser cobrado pelos serviços especializados e hospitalização. Se você possuir o direito de permanência no Reino Unido, esses também são gratuitos. Visitas ao dentista e oftalmologista, assim como medicamentos prescritos sempre são pagos.</p>
  	<p>O seu primeiro ponto de contato é um médico familiar chamado GP ou general practitioner. Eles normalmente trabalham em surgeries, o que não significa que fazem cirurgías. Você precisa se registrar em uma próxima do seu local de residência e marcar a primeira consulta. Se você tem uma doença ou ferida que não seja uma emergência, mas não pode esperar por um agendamento, pode ir até uma walk-in clinic (um ambulatorio), onde você será atendido por um(a)  enfermeiro (a). Esteja preparado para algumas horas de espera.</p>
  	<p>Para ver um dentista, é preciso se registrar e agendar uma consulta. Uma revisão vai custar 18.50 libras e os procedimentos como obturação ou remoção de dente vão custar 50.50 libras. Você vai pagar o preço único para a maioria dos tratamentos caros e se você tiver que voltar ao dentista dentro de dois meses, o tratamento será gratuito. </p>
  	<p>O aborto é legal no Reino Unido até a 24ª semana de gravidez e é gratuito. Você irá precisar de referências do seu médico ou do British Pregnancy Advisory Service.<br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03457 30 40 30</span><br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.bpas.org/'>bpas.org</a></span><br/>
  	</p>
	<p>AO aborto também é efetuado em clínicas privadas, onde você terá que pagar de 450 a 750 libras.</p>
	<p>Todos têm direito a preservativos gratuitamente, mesmo se forem menores de 16 anos. Eles são oferecidos por clínicas de contracepção, clínicas de saúde sexual, alguns consultórios de GPs e alguns serviços juvenis. </p>
	<p>Em clínicas de contracepção, centros de Brook, algumas farmácias, na maioria das clïnicas de saúde sexual a na maioria dos ambulatórios de NHS, consultórios de GPs e unidades de urgência e emergência de alguns hospitais, é possível receber a pílula do día seguinte gratuitamente.</p>
	<p>Em Londres há muitas clínicas da saúde sexual, frequentemente perto de hospitais. 56 Dean Street é uma excelente clínica de saúde sexual aberta a todos. Eles são bons especialmente para as pessoas do grupo LGTB. Possuem uma clínica para pessoas transsexuais, para pessoas que vivem da prostituição ou pessoas que curtem sexo hardcore e drogas.<br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 3315 6699</span><br/>
  		<span class='address'><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 56 Dean Street, Soho, London, W1D 6AQ</span><br/>
  	</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
  	<h2 id='section-home' >Alojamento</h2>
  	<h3>Buscar o apartamento</h3>
  	<p>Os aluguéis em Londres são extremamente caros e encontrar uma moradia decente é muito difícil e exige paciência. É mais barato da Zona 3 em diante. Antes de escolher confira lugares diferentes e pergunte às pessoas vivendo nessa área quanto pagam de aluguel, busque nos sites variados e visite agentes imobiliários. Alguns jornaleiros têm um quadro de avisos ou anúncios colocados nas vitrines e você também pode perguntar em lugares como lavanderias, pubs, cabeleireiros, cafés e centros comunitários. O site mais popular para os quartos e apartamentos de aluguel é o Gumtree:<br/>
  	  <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gumtree.com/london'>gumtree.com/london</a></span><br/>
  	</p>
  	<p>A maioria das pessoas não se pode dar ao luxo de alugar um apartamento, então alugam um quarto ou até o dividem com outros. O mais barato é dividir um beliche. A pessoa que vive no mesmo quarto com você é roommate, o flatmate é alguem que vive no mesmo apartamento, mas em quarto separado. Tome cuidado na hora de decidir dividir o quarto, porque algumas pessoas podem estar buscando parceiros sexuais. Single room é um quarto para uma pessoa só, o double room é maior e tem uma cama onde podem dormir duas pessoas. Se ele for anunciado como o room você deveria tê-lo só para você. Frequentemente os proprietários alugam cada quarto em um apartamento como um dormitório – uma sala de estar para o uso coletivo é um extra. Se você tiver dúvidas, pergunte se vai ter que dividir um quarto com mais alguém, quantas pessoas vivem no apartamento, se ele tem sala de estar, quantas pessoas usam o banheiro, etc.</p>
  	<p>Um quarto barato em Londres custa aproximadamente de 300 a 500 libras/ mês, inclusas todas as contas. As contas consistem de gás, eletricidade e água. O telefone, a internet, a TV por satélite ou cabo são consideradas extras, assim como o imposto pago a autoridade local chamado council tax, que normalmente é a conta mais alta. Council tax varia dependendo da localização e do tamanho da propriedade. Confira se as contas estão inclusas no preço. Você vai ter que pagar por dois meses de aluguel com antecedência: um mês como aluguel, e um outro como depósito, que você irá receber de volta na hora de se mudar do apartamento.</p>
  	<p>As fraudes são muito comuns. Nunca pague com antecedência por algo que você não viu. Se um negócio parece bom demais para ser verdade, provavelmente não é. As pessoas endividadas frequentemente demandam o pagamento de um depósito alto de aluguel com antecedência para depois sumir com o seu dinheiro. Nesse caso você está ameaçado com despejo sumário, que é muito difícil de prevenir ou evitar. Tente fazer todos os acordos por escrito, de preferência na forma de um contrato oficial.</p>
  	<h3>Os direitos do inquilino</h3>
  	<p>Existem diferentes formas de contratos de locação. Os seus direitos dependem daqueles que você fechou no contrato. O mais popular deles, o Assured shorthold tenants, lhe oferece alguns direitos e proteção. Enquanto um excluded occupier, como por exemplo um inquilino, você tem muito poucos direitos. Até mesmo quando você não tiver nenhum contrato assinado, você tem alguns direitos se puder provar que pagou ao proprietário. Peça um recibo na hora de pagar o aluguel e pague de preferência por transferência bancária para ter um comprovante. </p>
  	<p>Os seus direitos fundamentais constam diretamente da lei. Você os possui até mesmo quando eles não figuram no seu contrato. Se o contrato contém cláusulas que contradizem a lei, a lei é mais importante e será considerada. Alguns dos direitos mais importantes são:</p>
  	<ul>
  		<li>Proprietário do imóvel deve executar os reparos básicos (o dano é chamado disrepair).</li>
  		<li>Proprietário é obrigado a manter as instalações de água, gás, eletricidade, esgoto, calefação e aquecimento de água em bom estado permitindo o seu uso.</li>
  		<li>Você tem direito a viver no alojamento tranquilamente, sem ser molestado pelo proprietário (o proprietário deve te notificar sobre qualquer visita com 24 horas de antecedência, com exceção de casos de emergência)</li>
      <li>Na maioria dos casos o proprietário não pode te discriminar por nenhum motivo, com exceção do caso em que vocês vivam no mesmo alojamento.</li>
  	</ul>
  	<p>O aluguel só pode ser aumentado através de um requerimento oficial. Se o seu contrato possuir um procedimento para o aumento de aluguel, o proprietário tem que segui-lo. No outro caso o tal aumento não pode exceder uma vez por ano, chegando o aviso com um mês de antecedência no caso dos aluguéis periódicos (mensais ou semanais) ou só com o seu consentimento no caso de aluguel válido até o final do contrato.</p>
  	<h3>Assédio por parte do proprietário</h3>
  	<p>O assédio da parte do proprietário é considerado um delito e se você sofrer o tal, pode chamar a polícia ou falar com uma organização independente como Citizen´s Advice Bureau. O assédio pode tomar várias formas, por exemplo:</p>
  	<ul>
  		<li>Cortar ou restringir acesso a serviços como gás, eletricidade ou água ou evitar de pagar as contas por eles até o ponto de serem desligados</li>
  		<li>Trazer visitas regulares na tua casa, especialmente durante a noite</li>
  		<li>Mexer na sua correspondência</li>
  		<li>Ameaçando-te</li>
  		<li>Enviando equipes de construção sem aviso prévio</li>
  		<li>Entrando na sua casa durante a sua ausência e sem a sua permissão</li>
  		<li>Permitindo a sua casa chegar a tal estado, que se torna perigoso permanecer nela</li>
  		<li>Começando reparos perturbadores sem concluí-los</li>
  		<li>Agredindo-te por razão de seu sexo, raça ou opção sexual.</li>
  	</ul>
  	<h3>Depósito e o esquema de depósitos (Tenancy Deposit Scheme)</h3>
  	<p>Quando você se muda para um apartamento, paga o depósito para o caso em que cause algum dano ou acontecer um atraso no pagamento da locação, este seja coberto. O saque do depósito é um problema comum que as pessoas tem quando alugam imóveis. Não esqueça de levar um recibo na hora de pagar o depósito. Tire fotos do imóvel no dia em que se muda e mande-as por email a alguém. Isso será uma prova com data sobre o estado do imóvel, que você poderá utilizar caso o proprietário te acuse de ter causado algum dano. Se o proprietário retiver uma totalidade ou uma parte do depósito, ele vai ter que apresentar uma fatura detalhada dos custos deduzidos dele, incluindo os recibos por qualquer tipo de reparos ou limpeza.</p>
    <p>O prorietário está obrigado a colocar o seu depósito em um tenancy deposit scheme aprovado pelo governo logo depois de você ter ocupado o imóvel. Ele pode ser multado se não o devolver quando você se mudar de lá. Se ele recusar a devolução, você pode se dirigir ao deposit scheme. A lista dos esquemas aprovados e outras informações encontram-se baixo:<br/>
          <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.gov.uk/tenancy-deposit-protection'>gov.uk/tenancy-deposit-protection</a></span><br/><br/>
    </p>
    <h3>Despejo</h3>
    <p>O proprietário do imóvel precisa de uma razão (grounds) para te expulsar antes do fim do seu contrato. Essa pode se dever ao infringimento dos termos do contrato ou ao atraso no pagamento de aluguel.</p>
    <p>Antes o proprietário tem que te entregar um aviso por escrito que cumpre com certos requisitos legais. Depois disso você ainda não precisa se mudar. Em seguida, o proprietário precisa conseguir uma orden judicial que comunica quando você deve deixar o imóvel. Você pode explicar a sua situação ao juízo por escrito ou pessoalmente, indo a uma audiência.</p>
    <p>Você pode ficar na casa até a chegada dos oficiais de justiça (bailiffs). Você não tem obrigação de deixar os bailiffs entrarem na sua casa, a menos que sua visita seja causada por multas devido a delitos ou impostos. Eles são proibidos de entrar à força. Se você lhes permitir a entrada, eles terão o direito de levar os seus pertences. Os policiais também não podem entrar à força em nome dos bailiffs, a menos que possuam um documento que comprove, que você é suspeito de um delito.</p>
    <p>Lembre-se que o aviso entregue pelo proprietário não é o suficiente para te despejar, ele precisa de uma orden judicial. Se qualquer pessoa tentar te despejar sem seguir o procedimento correto, ela estará cometendo um crime de illegal eviction. A polícia assume frequentemente, mas sem razão, que o despejo fora da lei é um caso cível. Essa é de fato um caso criminal e eles têm a obrigação de te proteger. Você tem o direito legal de trocar as fechaduras para se proteger do assédio, mas tem que lembrar de guardar a fechadura original e repô-la na hora de se mudar.</p>
    <h3>Conflitos</h3>
    <p>Trate com precaução cada conflito com o teu proprietário. Aqui você tem algumas dicas que podem te ajudar:</p>
    <ul>
      <li>Leia o seu contrato de aluguel para descobrir os seus direitos e obrigações</li>
      <li>Pesquise os seus direitos a moradia e busque consulta legal onde seja possível</li>
      <li>Guarde e copie cada prova de pagamento, correspondência e evidência fotográfica enviada ao proprietário para criar provas documentais.</li>
    </ul>
    <p>Você encontra conselhos sobre a questão do alojamento e da situação do sem-teto na organização de caridade Shelter. Pode ligar ou usar o seu site para se informar:<br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 800 4444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://england.shelter.org.uk/get_advice'>england.shelter.org.uk/get_advice</a></span><br/>
    </p>
    <p>As câmaras municipais locais frequentemente têm um encarregado de conselho sobre moradia, mas eles às vezes podem ser difíceis de localizar e têm nomes das funções diferentes, por exemplo o funcionário de Hackney chama-se Housing Options.</p>
    <p>O site informativo sobre os Direitos de moradia contêm muita informação sobre os direitos, assim como uma seção sobre os direitos para os imigrantes recém chegados:<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.housing-rights.info/index.php'>housing-rights.info/index.php</a></span><br/>
    </p>
    <p>O Citizen´s Advice Bureau vai te aconselhar no tema de alojamento
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <h3>A questão dos sem-tetos</h3>
    <p>Um número significativo de sem-tetos em Londres são imigrantes recém chegados, especialmente do Centro e Leste europeu. As pessoas não têm consciência de quão cara pode ser a vida em Londres ou de como é difícil encontrar  trabalho, e quando as coisas vão mal, eles acabam na rua. Se você chegar a perder o teto, não vai ter direito à nenhum tipo de ajuda se não for cidadão de nenhum país da União Europeia ou, se for, não tiver vivido no Reino Unido por mais de três meses. Até mesmo se tiver direito, os serviços para os sem-teto são imensamente sobrecarregados e você vai ter dificuldades em encontrar ajuda.</p>
    <p>Algumas organizações que aconselham e ajudam os sem-tetos.<br>
    Shelter
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 800 4444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://england.shelter.org.uk/get_advice'>england.shelter.org.uk/get_advice</a></span>    <br/>
    </p>
    <p>
      The Simon Community
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7485 6639</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.simoncommunity.org.uk'>simoncommunity.org.uk</a></span></p><br/>
    <p>
      Crisis
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.crisis.org.uk'>crisis.org.uk</a></span><br/>
    </p>
    <p>
      A revista Pavement publica informações atuais sobre os sem-tetos em Londres e inclui informações práticas, como os pontos com refeições quentes etc.
      <br/> 
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.thepavement.org.uk'>thepavement.org.uk</a></span><br/>
    </p>
    <p>
      Barka presta apoio às pessoas da Europa Central e Oriental em dificuldades sociais e econômicas graves. A linha gratuita trabalha das 9:00 até as 14:00 horas na segunda, terça, quinta e sexta-feira. O serviço é prestado em polonês, russo e inglês. 
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 171 2926</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.barkauk.org'>barkauk.org</a></span><br/>
    </p>
    <h3>Squatting</h3>
    <p>Ocupar propriedades residenciais (Squatting) é um delito. As pessoas são perseguidas e sentenciadas por causa disso. Squatting em outras propiedades não é ilegal, mas é difícil permanecer num lugar por um período mais longo. Serviço de Aconselhamento aos Ocupantes fornece conselhos sobre squatting:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 3216 0099</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.squatter.org.uk'>squatter.org.uk</a></span><br/>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-work' >Emprego</h2>
    <h3>Seguro nacional (National Insurance)</h3>
    <p>National Insurance é um imposto descontado do seu salário para os benefícios no caso de desemprego, doença ou aposentadoria. Para poder trabalhar no Reino Unido é preciso conseguir o número de National Insurance (NI). Você pode começar a trabalhar sem ele mas tem que conseguir um o quanto antes. Para isso, você precisa se apresentar para uma entrevista e trazer um comprovante de identidade (por exemplo passaporte ou carteira dehabilitação). Para marcar a entrevista, chame o Jobcentre Plus
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0345 600 0643</span><br/>
    </p>
    <h3>Salário, salário mínimo, impostos</h3>
    <p>O seu patrão deve te entregar um contrato de trabalho por escrito. Não precisa entregar a versão completa, mas ele tem que especificar as condições básicas, como o salário. De qualquer modo, sempre peça  um contrato. Se você não o receber, isso pode ser um sinal de advertência, de que você poderá ter problemas no futuro. Tente encontrar alguém para poder conferir, se o contrato não contém termos suspeitos.</p>
    <p>É ilegal ser pago abaixo do salário mínimo nacional. Esse é atualmente de 6,50 libras/ hora, quando você tiver mais que 21 anos de idade ou 5,13 libras/ hora quando for menor. O salário é geralmente anunciado por hora pelo ano inteiro (per annum ou pa). O trabalho no período integral (40 horas por semana) por uma taxa horária de 6,50 libras equivale a 13,520 libras por ano.</p>
    <p>Um exemplo de distribuição dos impostos, seguro nacional no caso do trabalho no período integral pelo salário mínimo sería:<br/>
    Salário antes da tributação: 13,520 libras por ano.<br/>
    Seguro nacional: 668 libras por ano.<br/>
    Imposto de renda: 704 libras por ano.<br/>
    Salário líquido: 12,148 libras por ano, 234 libras por semana, aproximadamente 1,010 libras por mês, dependendo da duração do mês.</p>
    <p>Guarde os comprovantes de salários e o registro das horas trabalhadas e feriados. Isso vai te ajudar a comprovar se você não está sendo mal pago ou recebendo folgas insuficientes etc. Mantenha o histórico de cada conflito, discussão etc. que acontecem no trabalho, incluindo os nomes das testemunhas. Anotações dos horários e datas do ocorrido irão te ajudar se o seu chefe tentar  te intimidar, multar ou requerer algum tipo de indenização posteriormente.
    </p>
    <p>Se você permanece no contrato de trabalho, até mesmo quando for trabalhando em vários empregos distintos, o seu empregador é obrigado a pagar todos os impostos que você deve e você não tem que preencher nenhum tipo de documento de impostos no fim do ano fiscal. Se você começa a trabalhar sem o Número de NI, terá que pagar um emergency tax adicional, que vai poder reembolsar logo depois de receber o número de NI. Não entre em pânico se tiver pago mais imposto do que deveria. Você sempre pode receber o reembolso fazendo uma Declaração de Rendimentos de Autoliquidação Tributária no fim do ano fiscal. O ano fiscal termina no 5 de abril e você pode fazer a Declaração de Rendimentos até o outubro.</p>
    <p>HMRC (Her Majesty´s Revenue and Customs), autoridade fiscal e aduaneira britânica que cobra todos os impostos, poderá te ajudar em muitos casos de dúvidas. Eles têm um número de linhas telefônicas oferecendo aconselhamento a respeito de impostos diferentes. Você encontra os números aqui:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://taxaid.org.uk/guides/taxpayers'>taxaid.org.uk/guides/taxpayers</a></span></p><br/>
   <p>Tax Aid é uma organização de caridade que ajuda as pessoas com renda baixa com os problemas fiscais que a HMRC não pode resolver:
     <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://taxaid.org.uk/guides/information'>taxaid.org.uk/guides/information</a></span><br/>
     <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0345 120 377</span><br/>
   </p>
   <h3>Direitos básicos no trabalho</h3>
   <p>Independentemente de você trabalhar como temporário ou com contrato permanente, através de uma agência, meio-período ou  período integral, você tem certos direitos básicos:</p>
   <ul>
     <li>Pelo menos 5.6 semanas de férias pagas (leave ou time off) por ano. Isso equivale aos 28 días da semana do trabalho normal (días úteis), se você trabalhar no período integral. Nisso são inclusos os feriados públicos e os chamados bank holidays. O seu contrato pode te oferecer mais dias, mas não menos. Para os que trabalhem meio período, multipliquem por 5.6 o número dos días que vocês aproximadamente trabalham por semana. Essa regra se aplica a todo tipo de emprego a partir do dia em que você começa a trabalhar – desde o primeiro dia de trabalho, recebe 2 dias livres e depois de seis meses o número aumenta para 14 dias.</li>
     <li>O direito ao pagamento por doença: Pela lei você recebe o pagamento por doença, se você faltar ao trabalho quatro dias seguidos devido a uma enfermidade. Para isso você precisa ganhar mais que 111 libras por semana descontados os impostos e estar trabalhando por mais de três meses, ou ter permanecido em emprego contínuo por 13 semanas.</li>
     <li>O direito à licença-maternidade ou licença-paternidade, quando você teve um filho. A maioria das mães recebem 26 semanas de licença-maternidade remunerada, mais 26 semanas não remuneradas. Para obter licença-maternidade você precisa estar ganhando mais de 111 libras por semana e estar trabalhando continuamente por mais de 26 semanas até a 15ª semana antes da data prevista para o parto. Pelas primeiras 6 semanas você recebe 90% do seu salário médio e depois uma taxa constante de 138,18 libras por 33 semanas. Se o seu chefe não quer ou não pode pagar, tem que fazê-lo o Department of Work and Pension. Os pais/ parceiros obtêm duas semanas de licença-paternidade remunerada.</li>
     <li>O direito a se defender: Você tem direito de se proteger de ser despedido (sacked, fired, let go) por defender os direitos ao trabalho legal. Você tem direito a se juntar aos outros trabalhadores e organizar grupos coletivos, assim como a aderir a um sindicato.</li>
     <li>Você tem direito à igualdade de tratamento. Você tem direito a não ser discriminado no teu lugar de trabalho por causa da sua idade, deficiência, mudança de sexo, matrimônio ou união civil, gravidez ou maternidade, raça, religião ou crença, gênero ou orientação sexual. Essas são as chamadas protected characteristics. </li>
   </ul>
   <h3>Intimidação, assédio, discriminação</h3>
   <p>Lembre-se de que você não é culpado (a) de intimidação e assédio. Você não tem que aguentá-los.</p>
   <p>Intimidação e assédio implicam um comportamento que fere, intimida, ameaça, prejudica, abala, ofende, degrada ou humilha. O seu patrão tem obrigação de asegurar que o seu local de trabalho seja livre de casos de intimidação e assédio. A intimidação é um comportamento repetitivo que mina a tua dignidade pessoal. Assédio é um incidente único ou uma série de incidentes relacionados às protected characteristics mencionadas acima.</p>
   <p>Incidentes graves de assédio sexual, como os que incluem tocar e outras intimidações físicas, são um delito e devem ser denunciados à polícia.</p>
   <h3>Regulamento das horas de trabalho</h3>
   <p>Quando se trata de horas de trabalho, os seus direitos básicos são:</p>
   <ul>
     <li>Você não pode trabalhar mais que 13 horas por dia.</li>
     <li>Você tem um dia livre por semana..</li>
     <li>Os intervalos de pelo menos 20 minutos após 6 horas de trabalho, pelo menos 11 horas de descanso em cada 24 horas. Os intervalos para os menores de 18 anos têm que ser de no mínimo 30 minutos a cada 4 ½ horas.</li>
     <li>Você pode se recusar a trabalhar por mais de 48 horas por semana. Isso é calculado tirando média de um período de 17 semanas, então você pode ser obrigado a trabalhar por mais tempo em uma única semana. Você pode assinar um acôrdo para abrir mão desse direito (opt out) e às vezes os empregadores tentam incluí-lo como um dos pontos do seu contrato de trabalho.</li>
     <li>O trabalho noturno não pode ultrapasar 8 horas por dia. Os trabalhadores noturnos têm direito a exames médicos gratuitos.</li>
   </ul>
   <h3>Saúde e segurança</h3>
   <p>Você tem o direito a se negar a trabalhar, se as condições de trabalho não forem seguras ou te colocarem em perigo. O empregador deve te oferecer o treinamento adequado e não lhe é permitido designar trabalhos para os quais você não esteja qualificado.</p>
   <p>O empregador deve fornecer condições de trabalho dignas, incluindo um número adequado de banheiros, lavatórios e água potável. Tem que haver procedures (normas de procedimento) para os riscos no trabalho. Eles tem que fazer o plano de health and safety (saúde e segurança). Os acordos, políticas e prática de health and safety têm que ser explicadas para todos os empregados antes de começarem a trabalhar. Os empregados devem ser informados sobre todas as questões que envolvem as regras de saúde e segurança.</p>
   <p>As normas de saúde e segurança no trabalho custam dinheiro e tempo e os empregadores frequentemente tentam evitá-lo. Pela lei eles são obrigados a oferecer condições saudáveis e seguras a cada pessoa que empregam.</p>
   <p>Lembre-se de que você pode abandonar o seu lugar de trabalho em qualquer momento que sinta que o posto está em perigo imediato.</p>
   <h3>Contrato Zero Horas e auto-emprego</h3>
   <p>Auto-emprego é o modo de ganhar dinheiro através de trabalhar para si mesmo e não como um trabalhador remunerado pelo patrão. Quando você está auto-empregado, você é responsável pelo seu NI, seu imposto de renda e todos os documentos. National Insurance é pago mensalmente, o imposto de renda no fim do ano e pode ser uma soma considerável. Você provavelmente vai precisar de ajuda de um contador profissional. Aos auto-empregados (trabalhadores autônomos) não se aplicam os direitos ao salário mínimo, horários de trabalho, período de doença e de férias remuneradas.</p>
   <p>Alguns empregadores tentam forçar os seus empregados a se registrarem como autônomos para poder economizar nos impostos e tirar-lhes os seus direitos. Isso é chamado auto-emprego falso. É muito comum em certos setores, como construção. Isso é ilegal, mas o governo não faz nada contra isso.</p>
   <p>Para conferir se você é um empregado ou um empregado autônomo, visite a página:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.hmrc.gov.uk/working/intro/empstatus.htm'>hmrc.gov.uk/working/intro/empstatus.htm</a></span><br/>
   </p>
   <p>O contrato zero horas (zero hours contract) é um contrato de trabalho que não te garante horas de trabalho. Ele não precisa se chamar “zero horas”, mas pode comunicar que o empregador não tem a obrigação de te asegurar o trabalho. Ele também pode conter uma cláusula de exclusividade proibindo-te de aceitar outro emprego. Ambas as coisas são legais. Com o contrato de zero horas você tem o mesmo direito a férias, pago em caso de doença e licença-maternidade como outros trabalhadores. Os patrões às vezes ilegalmente recusam esses direitos. Eles podem não te dar  trabalho suficiente  para se qualificar aos direitos que requerem um límite mínimo de renda.</p>
   <p>Os contratos de zero horas são muito usados em vendas, hotelaria, trabalho por agência e outros empregos de baixa renda. Você não vai ter horas de trabalho garantidas durante a semana, pode não receber nenhuma escala de horário de trabalho e só ser chamado para vir ao trabalho no mesmo dia.</p>
   <p>Se você tem qualquer tipo de problemas com os teus chefes, não importa se de natureza privada ou se relacionados ao trabalho, eles podem simplesmente parar de te designar turnos. Se eles querem se livrar de você, não precisam terminar o contrato, eles podem parar de te dar os turnos permanentemente.</p>
   <p>Tanto o emprego autônomo como o contrato zero horas te põem numa situação muito frágil no teu emprego. Se você for maltratado de qualquer maneira e tentar defender-se ora individualmente ora coletivamente, o seu patrão pode simplesmente cortar as suas horas de trabalho e a sua renda. Se você começa a trabalhar num lugar, onde esse tipo de condição já estiver em uso, não pode fazer nada contra isso. Se o patrão tenta transformar o contrato existente em um contrato de zero horas ou te forçar em auto-emprego, a única, difícil opção, é organizar-se com os seus colegas de trabalho para coletivamente recusar a firma de fazer contratos novos.</p>
   <h3>O procedimento de apresentação de queixa e procedimento disciplinário</h3>
   <p>Procedimento disciplinário é tomado quando você faz algo errado no lugar do trabalho. O procedimento de apresentação de queixa (grievance) acontece, quando você faz a queixa. ACAS é uma organização que serve como mediadora em caso de conflito no lugar de trabalho, e aplica o Código de Conduta que especifica, como os procedimentos de queixa e de procedimentos disciplinários devem ser tratados. O empregador deveria seguir esse código, mas ele é somente uma sugestão e não uma lei.</p>
   <p>Os empregados expostos ao procedimento disciplinário deveriam receber o tempo suficiente para preparar a sua defesa. Você tem que ser capaz de apresentar as provas e chamar testemunhas. Se você for chamado a um procedimento disciplinário, você tem direito de estar acompanhado por alguma pessoa. Você pode escolher alguém treinado pelo sindicato para esse fim, ou um outro ativista de sindicato (não é relevante se o sindicato é reconhecido ou não) ou algum colega de trabalho. Você e o teu acompanhante são protegidos de qualquer procedimento disciplinário ou de demissão por conta de usar esse direito de acompanhamento. As audiências devem se dar dentro de um período de tempo razoável. </p>
   <p>Se você não conseguir resolver o caso dentro do local de trabalho ou você tiver sido demitido, você pode levar o seu caso a um tribunal especializado em asuntos trabalhistas, The Employment Tribunal. Você terá que pagar uma taxa de 390 libras ou mais, dependendo do tipo do seu caso. Se você perde e o Tribunal decide que o teu caso não tinha nenhuma chance de sucesso, você pode ser requerido a pagar os custos legais do seu empregador. Você pode representar a si mesmo ou pode ser representado por um oficial de sindicato, mas se você precisar ser representado por um profissional, terá que pagar os seus honorários. Quando você ganhar, recebe a compensação financeira.</p>
   <p>
     Os sindicatos têm uma página web sobre os teus direitos no trabalho
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.worksmart.org.uk/'>worksmart.org.uk</a></span><br/>
   </p>
   <p>
     ACAS tem uma outra página web sobre esse tema
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.acas.org.uk/'>acas.org.uk</a></span><br/>
   </p>
   <p>
     Você vai receber orientação sobre os temas ligados ao trabalho no Citizen´s Advice Bureau
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
   </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-benefits' >Benefícios (benefits)</h2>
    <p>O sistema de benefícios no Reino Unido é muito complicado. Existem vários tipos de subsídios. As circunstâncias de vida, nas quais você se encontra determinam qual deles você pode requerer e quanto você vai receber. Os pagamentos são geralmente baixos e e pagos por um período de tempo determinado e você tem que cumprir varias condições não só para começar a recebê-los, mas também para continuar obtendo-os. Você tem que requerer vários subsídios separadamente. Há uma reforma para se requerer um subsídio total, chamado Universal Credit, que vai torná-lo até mais complicado.</p>
    <p>Se você é um cidadão da União Europeia, tem que trabalhar por três meses no Reino Unido para ter direito a receber benefícios. Se você vem de fora da UE, pode ser intitulado a receber alguns subsídios, mas as regras são extremamente complicadas. Reclamar os benefícios chegando de fora da UE pode ter uma influência negativa sobre o seu direito de permanência no Reino Unido.</p>
    <p>Você pode usar um dos calculadores abaixo para obter uma soma aproximada de quais beneficios poderá  receber:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.entitledto.co.uk/benefits-calculator/startcalc.aspx'>entitledto.co.uk/benefits-calculator/startcalc.aspx</a></span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://benefits-calculator.turn2us.org.uk/AboutYou'>benefits-calculator.turn2us.org.uk/AboutYou</a></span><br/>
    </p>
    <p>
      A soma real vai depender de suas circunstâncias e é interessante buscar uma ajuda qualificada antes de requere-los. Um bom lugar para buscar assistência é o Citizen´s Advice Bureau:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <p>A solicitação fraudulenta que deliberadamente ou desonestamente requer mais do que o seu direito, é um delito sob pena de prisão no Reino Unido.</p>
    <h3>Principais benefícios</h3>
    <p>Job Seekers Allowance (subsídio para pessoa à procura do emprego) ou JSA é um auxílio que pode obter depois de ter trabalhado e perdido o emprego no Reino Unido. Se você tem até 24 anos de idade, você vai receber 57,50 libras por semana, 72,40 libras se você tem mais que 24 anos ou é pai/mãe solteiro/a de 18 anos ou mais, 113,70 libras se vive com parceiro. Você terá que continuamente estar apresentando muitas provas de que você está procurando emprego e será extremamente difícil para você conseguir esse subsídio por mais de alguns meses.</p>
    <p>Housing Benefit (subsídio de alojamento) é um valor em dinheiro que serve para te ajudar a pagar o aluguel, quando você tiver renda baixa ou estiver recebendo outros benefícios. A soma depende de onde você vive e do tipo de alojamento, como quarto, apartamento etc. Isso nunca vai ser mais que o preço real do alojamento que você paga e frequentemente não é o suficiente para pagá-lo por completo. Muitos proprietários não querem aceitar inquilinos que vivem de subsídios.</p>
    <p>Child Benefit (abono de familia) é um pagamento que você pode receber quando é pai/mãe ou responsável por uma criança menor de 16 anos. Você pode receber até 20,50 libras por semana para o filho maior e 13,55 libras para o resto das crianças.</p>
    <p>Working Tax Credit (Crédito Fiscal para Trabalhadores) é um subsídio em forma de desconto do teu imposto de renda para aqueles que têm um emprego de renda baixa. Você pode conferir o valor do crédito fiscal para você, usando o seguinte calculador:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.gov.uk/tax-credits-calculator'>gov.uk/tax-credits-calculator</a></span><br/>
    </p>
    <p>Employment and Support Allowance – ESA (subsídio de emprego e apoio) e Personal Independence Payment – PIP (pagamento de independência pessoal) são benefícios que se pode receber quando sofrer de uma doença prolongada ou de uma deficiência. Para poder recebê-las, precisa ter vivido no Reino Unido por um período muito longo de tempo. Você precisa passar por uma avaliação que tem por finalidade provar, que o estado em que você se encontra é tão grave, que você não é capaz de trabalhar. Essa avaliação tem fama de ser extremamente estressante e até as pessoas sofrendo de doenças sérias são frequentemente classificadas como capacitadas ao trabalho.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-legal' >Assuntos legais</h2>
    <h3>Polícia e tribunais</h3>
    <p>A polícia é racista e xenofóbica. Se você é um imigrante, é provável que a polícia não vá investigar o seu caso se você for vítima de um crime, e é mais provável que você vá ser considerado culpado de um delito. Eles são muito maus com os crimes cometidos contra as mulheres, como violência doméstica e agressão sexual. Frequentemente é muito difícil denunciar esse tipo de ocorrências, pois a polícia não as leva à sério e é muito cruel com as vítimas. Se você precisa ir a uma delegacía, leve um(a) amigo(a) para te apoiar e anotar o que eles te dizem. Se eles se recusarem de registrar a sua queixa, você pode ir a uma outra delegacía e tentar de novo. Se você denuncia o assédio sexual, violência doméstica ou um crime de ódio (por exemplo um ataque racista ou homofóbico) é frequentemente mais fácil dirigir-se antes a uma “Community Safety Unit” e reportar a eles antes, porque eles podem ser menos preconceituosos. Use o google para encontrar a unidade mais próxima de você.</p>
    <p>Se você for parado pela polícia na rua, tente ficar calmo(a). Eles podem te parar e questionar, mas você não tem que responder. Eles só podem te revistar se tiverem fortes motivos para suspeitar de um delito, mas na prática eles podem fazer o que quiserem. Eles têm direito a te mandar tirar o casaco e as luvas. Você tem direito a um registro de detenção que deve conter o número de identidade do funcionário de polícia.<br/>
    O guía sobre detenção e revista:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://londonagainstpoliceviolence.wordpress.com/guide-to-stop-search'>londonagainstpoliceviolence.wordpress.com/guide-to-stop-search</a></span><br/>
    </p>
    <p>Quando detido(a), é obrigatório dar aos policiais o seu nome, endereço e data de nascimento. Não responda nenhuma pergunta sem ter falado com um advogado. Você tem direito a um advogado gratuito durante o interrogatório. Não aceite o advogado recomendado pela polícia (a duty solicitor), tente encontrar alguem recomendado por pessoas que você conhece. Você tem direito a uma chamada telefônica. Você tem direito a um tradutor, se não fala inglês.<br/>
    Newham Monitoring Group pode te ajudar em casos de má conduta por parte de polícia, especialmente nos casos envolvendo racismo:
    <br/>
    <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 169 3111</span><br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nmp.org.uk'>nmp.org.uk</a></span><br/>
    </p>
    <p>Se a polícia te considera culpado(a), ela pode te entregar caution (aviso). Isso significa que você aceita a sua culpa, mas não vai ser levado(a) ao tribunal e não vai receber nem multa nem pena de prisão. Caution fica anotado em seus antecedentes. Comunique-se com o seu advogado antes de aceitar o aviso. Se você cometeu o delito mas não quer confessar a culpa, não o diga ao teu advogado, porque ele teria que te denunciar.
    </p>
    <p>Se você for espancado pela polícia, precisa de um laudo médico o mais rápido possível. Fazer uma queixa contra a polícia é difícil, mas é possível.</p>
    <p>Dependendo da tua renda, você pode ter um advogado gratuito quando for levado(a) ao tribunal. Se você ganha menos que 12,475 libras o teu advogado vai ser gratuito, se você ganha mais, vai ter que passar pela avaliação de renda total e se você ganhar acima de 22,325 libras, vai ter que pagar por conta própria. Isso só no caso de delitos criminosos. No caso dos procesos civis, como dívidas, família ou questões de moradia, você provavelmente vai ter que pagar por conta própria. Você pode conferí-lo através desse calculador:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://legal-aid-checker.justice.gov.uk'>legal-aid-checker.justice.gov.uk</a></span><br/>
    </p>
    <h3>Imigração</h3>
    <p>A polícia de imigração é chamada UK Border Agency ou UKBA. Ela frequentemente organiza as incurções nas feiras, lojas, estações de transporte público e nas casas dos bairros onde vivem comunidades de imigrantes. Embora o cidadão de UE tenha o direito de viver no Reino Unido, a polícia e a UKBA já deportaram essas pessoas no pasado. Isso é possível de acontecer quando você ficar por muito tempo sem trabalho ou se for um sem-teto.</p>
    <p>Se a UKBA ou polícia te pararem na rua e perguntarem pelo teu estatus de imigrante, você não precisa responder suas perguntas. Você não tem que lhes dar o teu nome e endereço. Diga a eles, que você não deseja falar com eles, esteja bem-educado mas seguro de si e vá embora. Eles não são autorizados a te parar somente por causa de tua raça. Se eles te param só pela tua aparência ou o idioma que você fala, diga para eles: This is racist, this is illegal, I will make a complaint.</p>
    <p>Se você ou alguem que você conhece ficar detido, contate ajuda aos detidos pela imigração (Bail for Immigration Detainees):
    <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7247 3590</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.biduk.org'>biduk.org</a></span><br/>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-domestic' >Violência doméstica e assédio sexual</h2>
    <h3>Ajuda às Mulheres</h3>
    <p>
      A linha de emergência de 24 horas Women's Aid
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 2000 247</span><br/>
    </p>
    <p>
      Guía para sobreviventes em diferentes idiomas incluindo versão em espanhol
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.womensaid.org.uk/landing_page.asp?section=0001000100080004'>womensaid.org.uk/landing_page.asp?section=0001000100080004</a></span><br/>
    </p>
    <p>
      Southall Black Sisters fornecem serviços de aconselhamento para as mulheres negras e asiáticas sobre violência doméstica e assuntos relacionados, inclusive imigração
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0208 571 0800</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.southallblacksisters.org.uk'>southallblacksisters.org.uk</a></span><br/>
    </p>
    <p>
      Rape Crisis London oferece ajuda confidencial, informação e apoio às mulheres e meninas que sofreram violência sexual de qualquer tipo
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 80 29999</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.rapecrisislondon.org'>rapecrisislondon.org</a></span><br/>
    </p>
    <p>
      Women's Rights oferece aconselhamento legal gratuito por meio de várias linhas, confira os números de áreas legais específicas no site
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.rightsofwomen.org.uk/adviceline.php'>rightsofwomen.org.uk/adviceline.php</a></span><br/>
    </p>
    <p>
      Kalayaan oferece aconselhamento gratuito, independente e confidencial sobre imigração e emprego às empregadas domésticas imigrantes. Entre em contato com eles se você tem algum problema com o teu empregador, deixou um empregador que levou o teu passaporte ou se simplesmente quer entender mais sobre os teus direitos
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7243 2942</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.kalayaan.org.uk'>kalayaan.org.uk</a></span><br/>
    </p>
    <h3>Apoio às pessoas LGBT</h3>
    <p>
      A hotline Broken Rainbow LGBT Domestic Violence
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 999 5428</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.brokenrainbow.org.uk'>brokenrainbow.org.uk</a></span><br/>
    </p>
    <h3>Apoio aos Homens</h3>
    <p>
      Men's Domestic Violence and Abuse helpline
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 801 0327</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.mensadviceline.org.uk'>mensadviceline.org.uk</a></span><br/>
    </p>
    <p>
      Survivors UK linha confidencial para os homens que foram vítimas de violência doméstica
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0845 122 1201</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.survivorsuk.org'>survivorsuk.org</a></span><br/>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-lgbt' >LGBT* (Lésbicas, Gays, Bisexuais and Trans*)</h2>
    <p>Quando você for novo na cidade pode ser difícil encontrar outras pessoas LGBT, e os bares gays costumam ser cada vez mais caros. Aqui tem uns contatos que vão te facilitar a vida:</p>
    <p>
      London Lesbian and Gay Switchboard é uma hotline com as informações: 
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0845 122 1201</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.llgs.org.uk'>llgs.org.uk</a></span><br/>
    </p>
    <p>
      The London Queer Social Centre ou "House of Brag" é um coletivo popular das pessoas queer
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://houseofbrag.wordpress.com'>houseofbrag.wordpress.com</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-other' >Outros contatos úteis</h2>
    <p>
      GOV.UK é um site governamental explicando as leis de modo compreensível. Abrange vários temas, inclusive alguns, sobre os quais tratamos nesse folheto
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gov.uk'>gov.uk</a></span><br/>
    </p>
    <p>
      Citizen's Advice Bureau é uma caridade que fornece conselho às pessoas necessitadas. Eles possuem centros locais onde você pode buscar ajuda pessoalmente. Encontre o seu centro local na
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>http://www.citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <p>
      Advice Guide é um site com as dicas sobre todo tipo de problemas, basado no trabalho de Citizen's Advice Bureaus:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.adviceguide.org.uk'>adviceguide.org.uk</a></span><br/>
    </p>
    <p>
      Community Law Centres – os centros comunitários fornecem aconselhamento de qualidade às pessoas que não podem pagar um advogado. Você pode encontrar um centro local indo à:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.lawcentres.org.uk/i-am-looking-for-advice'>lawcentres.org.uk/i-am-looking-for-advice</a></span><br/>
    </p>
    <p>
      Mary Ward Legal Centre é um outro lugar, onde você vai receber assistência legal:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.marywardlegal.org.uk/'>marywardlegal.org.uk</a></span><br/>
    </p>
    <p>
      National Debt Line aconselha na área das dívidas
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 808 4000</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='nationaldebtline.org/EW/Pages/default.aspx'>https://www.nationaldebtline.org/EW/Pages/default.aspx</a></span><br/>
    </p>
    <p>
      NHS Choices é uma página web com as informações sobre saúde e serviços de saúde
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nhs.uk/Pages/HomePage.aspx'>nhs.uk/Pages/HomePage.aspx</a></span><br/>
    </p>
    <p>
      London Coalition Against Poverty é uma aliança de grupos unidos pela idéia, de que a solidaridade e ação direta das pessoas comuns têm o poder de mudar a vida delas. A página web deles enumera grupos locais que trabalham em vários pontos de Londres
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://lcap.org.uk'>lcap.org.uk</a></span><br/>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-who' >Quem somos nós e por quê nos importamos?</h2>
    <p>
      The Solidarity Federation é uma organização que incentiva a autoorganização de pessoas e a ação coletiva. Além de nos organizarmos em nossos locais de trabalho e comunidades, com prazer apoiamos todas as pessoas, que tenham problemas com o seu patrão ou proprietário de imóvel que o alugam. Então, se você tenta se organizar, entra em contato conosco!
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://solfed.org.uk'>solfed.org.uk</a></span><br/>
      <span class='email'><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href='mailto:solfed@solfed.org.uk'>solfed@solfed.org.uk</a></span><br/>
      <span class='email'><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href='mailto:info@migrantsguide.uk'>info@migrantsguide.uk</a></span><br/>
    </p>
  </div>
</div>
