---
extends: bare.j2
default_block: main
title: Londoni Migránskalauz
---
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-introduction' >Bevezetés</h2>
    <p>Új, londoni életed megkezdése ijesző lehet. Sok dolog teljesen máshogy működik az otthon megszokotthoz képest. Sok minden sokkal drágább, néhány dolog határozottan bonyolultabb. Ez a könyvecske néhány alapvető tanáccsal lát el olyan ügyekben, melyekben megérkezésed után el kell járnod, illetve néhány olyan jellegű „kaland” esetére, melyet a frissen érkezetteknek nem mindig sikerül kikerülniük.</p>
    <p>A füzetben található tanácsok némelyike minden újonnan érkezett személyre vonatkozik, többnyire azzal az előfeltételezéssel, hogy a füzet olvasója – az Európai Unió állampolgáraként – az Egyesült Királyság területén letelepedési és mukavállalási joggal rendelkezik. Amennyiben ez az állítás Rád nem igaz, a helyzet sokkal bonyolultabb lehet, és sokkal átfogóbb tanácsadásra lehet szükséged annál, mint amit ez a füzet nyújtani tud.</p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-transport' >Közlekedés</h2>
    <p>A londoni tömegközlekedés legális használatbavételéhez legelőször szerezz be egy  kék Oyster kártyát. Londonban nem vásárolhatsz papír jegyeket, és nem fizetheted ki a szállítási díjat készpénzben a buszon vagy a városi vonaton. Az Oyster kártya 5£-ba kerül, amit visszakapsz a kártya visszaadásakor. A kártyádat ezután fel kell töltened valamennyi pénzzel (top up), és minden utazásod menetdíja ebből az összegből vonódik le. Oyster kártyát és feltöltőkártyákat az állomásokon és néhány boltban vásárolhatsz. Az Oyster kártyáddal a következő tömegközlekedési eszközöket használhatod: buszokat, metrót (a the Tube, a the Overground és a the DLR), a helyi vonatjáratokat és a helyközi vonatjáratokat a Londont érintő (Londonon belüli) szakaszaikon.</p>
    <p>Az Oyster kártyás rendszerben vásárolhatsz napi vagy hetijegyet is – ezeket travelcard-nak hívják. Lehetséges jegy nélkül utazni, de gyakran ellenőrzik a jegyeket, és ha belefutsz egy ellenőrbe, az bepróbálkozhat a bevándorlási státuszod kiderítésével. A tömegközlekedés jegy nélküli használatba vétele bűncselekménynek számít, és bíróság elé állítanak érte.</p>
  <p>A tömegközlekedési hálózat 1-től 6-ig terjedő zónákra van osztva, ahol az 1-es szám a városközpontot jelöli,  és a számok a városközponttól való távolság arányában növekednek a külvárosok irányába. A vonatok és a metró viteldíja zónánként változik és a csúcsforgalomban (reggel 6.30-9.30 között illetve délután 4-7 között) a legdrágább. Egy út ára a 2-es zónából az 1-es zónába 2.30£-tól 2.90£-ig terjedhet. Egy buszút ára 1.50£ de ha egy nap háromnál többször szállsz buszra, 4.40. £-ot fizetsz.</p>
    <p>A londoni tömegközlekedési hálózat megismeréséhez, és annak kiderítéséhez, hogyan jutsz el egyik helyről a másikra, a TFL weboldal böngészését ajánljuk:<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.tfl.gov.uk/'>tfl.gov.uk</a></span><br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0343 222 1234</span><br/>
    </p>
    <p>A National Rail Enquiries segít az induási/érkezési időpontok és a jegyárak megállapításában.<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nationalrail.co.uk/'>nationalrail.co.uk</a></span><br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 08457 48 49 50</span><br/>
    </p>
    <p>A buszjáratok gyakran olcsóbbak a vasútnál, ez főleg a Megabus-ra és a hasonló fapados busztársaságokra igaz.<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://uk.megabus.com/'>uk.megabus.com</a></span><br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0141 332 9644</span><br/>
    </p>
    <p>Bármelyik keresett címet/helyet könnyen megtalálod a Google vagy Bing térképet használva úgy, hogy a keresőbe beírod a keresett cím/hely irányítószámát.<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.google.co.uk/maps/place/London+E1+7Q'>google.co.uk/maps/place/London+E1+7Q</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-internet' >Internet és telefon</h2>
    <p>Az internetkávézókban átlagosan óránként 1£-ért internetezhetsz, London központja felé haladva számíts az árak növekedésével. Az internetkávézók többségében fénymásholhatsz is, illetve aránylag olcsón telefonálhatsz külfödre.</p>
    <p>Ingyen internetezési lehetőséghez könyvtárakban juthatsz. A könyvtárak többségét úgy használhatod, ha előzetesen beiratkozol. A beiratkozás ingyenes, de bizonyítanod kell, hogy a környéken laksz. Előfordulhat, hogy beiratkozás nélkül is engednek internetezni, érdemes rákérdezni a könyvtárospultnál. A könyvtárakban újságokat, folyóiratokat, angoltanuláshoz használatos segédanyagokat és sok különböző nyelvű könyvet is találhatsz. A könyvtárak átalában a környékkel kapcsolatos információk hasznos forrásai – sokat megtudhatsz a helyi rendezvényekről, oktatási, lakhatási lehetőségekről, stb.</p>
    <p>A szerződés nélküli, feltöltőkártyás telefont prepaid-nek, pay as you go-nak vagy PAYG-nek hívják. Néhány mobilhálózat, pl. a Lebara, a Lycatel vagy a Giffgaff aránylag olcsón kínál SIM kártyákat. Havonta 10£-os feltöltésért 250 percet beszélhetsz, korlátlanul SMS-ezhetsz, és 1 GB-nyi internethozzáféréshez jutsz. A helyi piacokon/bevásárlóhelyeken található kis mobiltelefonboltokban találsz olcsó SIM kártyákat és mobiltelefonokat. Az Argos boltokban is találhatsz olcsó telefont.</p>
    <h2 id='section-cheap' >Olcsó kaja és más dolgok</h2>
    <p>A legolcsóbb szupermarketek a Lidl, az Aldi és a Morrisons. Ha késő este próbálkozol, néha találhatsz nagyon olcsó, a következő nap lejáró kajákat. Olcsó élelmiszert hamarabb találsz a piacokon, mint a boltokban. A kukázás (Skipping) szabálysértésnek számít, de ritkán büntetik.</p>
    <p>Sokkal valószínűbb, hogy a helyi biztonsági őrökkel keveredsz összetűzésbe, ha kukázáson kapnak. Nagyon vigyázz és légy óvatos: a boltok és szupermarketek kukáiban talált lejárt szavatosságú kajára gyakran öntenek vegyszereket, illetve a kukákban patkányok is tanyázhatnak. Ezeken a helyeken ingyen ételhez juthatsz: SOAS University and LSE (London School of Economics) –Hétfő–Szombat 12:15 –14.30
Food Van: Hétfő-Szombatig három helyszínen: Kentish Town – 12.00, Camden Town – 13.00, Kings Cross –14.15
Day Centre: Matchless Gifts – 102 Caledonian Road, Islington London, N1 9DN.</p>
    <p>A legolcsóbb ruhabolt a Primark. Az Argosban olcsó háztartási és elektronikai cikkeket találsz. Az Oxfam, Marie Curie és Mind adományboltok, melyekben olcsón vehetsz aránylag jó minőségű ruhát, de könyveket és háztartási cikkeket is találsz ott.</p>
    <p>A Freecycle egy internetes fórum, ahol az emberek ingyen elvitelre kinálnak dolgokat.<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://uk.freecycle.org/'>uk.freecycle.org</a></span><br/>
    </p>
    <p>A Gumtree is foglalkozik ingyen felkínált dolgokkal.<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gumtree.com/freebies/london/freebies'>gumtree.com/freebies/london/freebies</a></span><br/>
    </p>
    <p>Sok türelemre és szerencsére lesz szükséged, mert a jó minőségű ingyen cuccokat hamar elkapkodják.</p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-bank' >Bankszámla</h2>
    <p>Ha most érkeztél az Egyesült Királyságba, bonyolult a bankszámlanyitás. Előforulhat, hogy a banki alkalmazottak olyan dokumentumok felmutatását kérik Tőled, melyek megléte már egy létező bankszámlát feltételez. Két dokumentumra egész biztos szükséged lesz. Egy személyazonosságodat igazoló dokumentumra (érvényes útlevél vagy személyi igazolvány) és egy lakcímedet igazoló dokumentumra, amit néha elég nehéz beszerezni. Mindenesetre őrizz meg minden nevedre érkező hivatalos levelet néhány hónapig – ezek felmutatása segítségedre lehet lakcímed igazolásakor egy bankban vagy más hivatalos helyen. Egyes esetekben az eddigi lakcímeid listájára is szükséged lehet, így hasznos, ha minden egyes költözéskor feljegyzed addigi lakcímedet.</p>
    <p>A bérleti szeződés hiteles lakcímet igazoló dokumentumnak számít, de nem veheted biztosra, hogy a kezdetekben rendelkezni fogsz ilyesmivel. A nevedre érkező gáz, villany, vezetékes telfonszámlák is segíthetnek lakcímed igazolásánál. A mobiltelefonszámlát általában nem fogadják el. Ahhoz, hogy a számlák nevedre szólóan érkezzenek, a főbérlő (az Általad bérelt lakás tulajdonosa) és a gáz, villamos, stb. művek közreműködése szükséges. Erre neked kell őket megkérned/felszólítanod, majd megvárnod, míg a hónap végén megkapod a nevedre érkező csekkeket. A főbérlők gyakran nem hajlandók ezt megtenni. Amennyiben elköltözöl egy olyan címről, amelyre saját nevedre érkeztek a számlák, kiköltözésedről mindenképp értesítsd a számlákat küldő műveket/vállalatokat, mivel a később esetleg kifizetetlen, nevedre érkező számlák összege behajtható lesz rajtad.</p>
    <p>Az érvényes, Egyesült Királyságban kiadott járművezetői engedély hiteles lakcímet igazoló dokumentumnak számít. 50£ illetékért az érvényes EU-s járművezetői engedélyedet becserélheted egy egyesült királyságira. Kérheted az átmeneti járművezetői engedély kiadását – ezt a vezetni tanuló emberek kapják – néhány bank ezeket is érvényes lakcímet igazoló dokumentumnak fogadja el.<br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://ask.co-operativebank.co.uk/help/customer_services/address_proof'>ask.co-operativebank.co.uk/help/customer_services/address_proof</a></span><br/>
    </p>
    <p>A munkaadód is írhat egy levelet, amivel hitelesítheti lakcímedet. Egy, a munkahelyed fejlécét tartalmazó papírra kell írni az ilyen levelet, és egy vezető beosztású személynek kell aláírnia. Néhány bank elfogadja lakcímigazolási dokumentuként a Munkaügyi Központ (Job Centre) által címedre kiküldött biztosítási számodat (National Insurance Number) tartalmazó levelet is.<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.hsbc.co.uk/content_static/en/ukpersonal/pdfs/en/passport_brochure.pdf'>hsbc.co.uk/content_static/en/ukpersonal/pdfs/en/passport_brochure.pdf</a></span><br/>
    </p>
    <p>Néhány bank szolgáltatásként ajánl számlanyitást az újonnan az Egyesült Királyságba érkezetteknek – az ilyen számla nyitásához csak az útleveledre van szükséged, minden további lakcímet igazoló irat felmutatásától eltekintenek.<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.lloydsbank.com/banking-with-us/joining-lloyds/new-to-the-uk.asp'>lloydsbank.com/banking-with-us/joining-lloyds/new-to-the-uk.asp</a></span><br/>
    </p>
    <p>Esetleg az eddigi (nem egyesült királyságbeli) bankodból származó számlakivonat is helyettesítheti a lakcímet igazoló dokumentumokat.<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.barclays.co.uk/Helpsupport/ComingtoworkintheUK/P1242601780771'>barclays.co.uk/Helpsupport/ComingtoworkintheUK/P1242601780771</a></span><br/>
    </p>
    <p>A “Credit Union”-ok kis, közösségi bankszervezetek, és rugalmasabbak lehetnek új számla nyitásakor. A helyi közösségi bankodra itt kereshetsz rá:<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.findyourcreditunion.co.uk/home'>findyourcreditunion.co.uk/home</a></span><br/>
    </p>
    <p>Gyűjts annyi releváns dokumentumot, amennyit csak tudsz, menj el az Általad kiválasztott bankba személyesen, és ha szerencséd van, olyan ügyintéző szolgál ki, aki hajlandó lesz nagyvonalúbban értelmezni az adott bank belső előírásait.</p>
    <h2 id='section-learning' >Angoltanulás</h2>
    <p>Minden kerületben található szaktárgyakat oktató felnőttképzési intézmény (college), amit Further Education-nek (FE) vagy Community College-nek hívnak. Ezek az intézmények elérhető áron vagy alkalmanként ingyen hirdetnek kurzusokat – gyakran angol nyelvi kurzusokat is. Nagyobb esélyed van ingyen bejutni ezekbe, ha állami segélyezésben részesülsz. Néhány önkormányzat, könyvtár és közösségi központ ingyen angoloktatást biztosít. Kérdezősködj helyi könyvtáradban.</p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-healthcare' >Egészségügy</h2>
    <p>Ha sürgősségi ellátásra van szükséged, hívd a 999-es számot (elsősegély). Ha sürgősen szükséged van orvosi ellátásra, de nem áll fenn vészhelyzet, hívd a 111-es számot. Személyesen is felkeresheted a Baleseti és Sürgősségi Egységet (Accident and Emergency Unit-A&E), amit általában a helyi kórházban találsz.</p>
    <p>Az NHS (National Health Service), azaz a nemzeti egészségszolgálat a közegészségügyi feladatokat látja el az Egyesült Királyságban. Ezen a weblapon keresgélve találhatod meg a környéki kórházakat, klinikákat, fogorvosokat, szexuális egészség klinikákat és más egészségügyi szolgálatokat:<br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nhs.uk/Service-Search'>nhs.uk/Service-Search</a><br/>
    </span>
    </p>
    <p>Az egészségügyi alapellátás, mint pl. a háziorvos felkeresése, illetve a sürgősségi ellátás ingyenes, függetlenül bevándorlási státuszodtól (immigration status). A szakorvosi ellátás igénybevétele, illetve a kórházi tartózkodás pénzbe kerülhet, de ha legálisan tartózkodsz az Egyesült Királyság területén, ezek is ingyen vehetőek igénybe. A fogorvos, a szemorvos/optikus és a gyógyszerreceptek mindig fizetősek.</p>
    <p>Az első, akivel az orvoslátogatásod során találkozni fogsz egy GP-nek vagy general practitioner-nek (általános gyakorlatot végző) nevezett orvos lesz. A GP-k általában a  surgery-nek nevezett helyeken rendelnek, melyeknek azonban semi közük nincs a sebészeti beavatkozásokhoz (a surgery magyarul sebészetet jelent). Ahhoz, hogy eljuss egy ilyen helyre, regisztálnod kell a lakhelyedhez legközelebb eső surgery-k valamelyikén, és minden egyes orvoslátogatásod előtt időpontot kell egyeztetned.</p>
    <p>Ha nincs szükséged sürgősségi beavatkozásra, mégis sürgősen szeretnél orvossal konzultálni, elmehetsz egy walk-in clinic-be (“besétáló klinika”), ahol szakképzett egészségügyi nővérek vizsgálnak ki. Számíts több órás sorbanállásra.
A fogorvoslátogatáshoz is regisztálnod kell, illetve előzetesen kell időpontot egyeztetned. Az általános kivizsgáálás 18.50£-ba, a fogtömés illetve foghúzás jellegű beavatkozások 50.50£-ba kerülnek. A következő hasonló jellegű beavatkozás az első beavatkozás napjától számított két hónapon belül ingyenes – abban az esetben, ha újra meg kell látogatnod a fogorvosi rendelőt. Ez minden fogorvosi beavatkozás esetén így van.</p>
    <p>Az abortusz a terhesség 24.-ik hetéig legális és ingyenes az Egyesült Királyság területén. Ehhez szakorvosi javaslatra lesz szükséged amit vagy háziorvosod, vagy a British Pregnancy Advisory Service (Brit Terhességi Tanácsadó Szolgálat) állít ki.<br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03457 30 40 30</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.bpas.org/'>bpas.org</a></span><br/>
    </p>
  <p>Az abortusz magánklinikákon is elvégeztethető, ára 450-750£.</p>
  <p>Óvszerhez bárki ingyen is hozzájuthat; abban az esetben is, ha nem múlt el 16 éves. Ingyen óvszereket a fogamzásgátló klinikákon (contraception clinics), szexuális egészség klinikákon (sexual health clinics), illetve néha egyes háziorvosi rendelőkben (GP surgeries) és egyes ifjúsági szolgálatoknál találhatsz.</p>
  <p>Eset utáni tablettákhoz ingyen a következő helyeken juthatsz: fogamzásgátlási klinikák (contraception clinics), Brook központok (Brook centres), némelyik gyógyszertár, a legtöbb szexuális egsység klinika, a legtöbb NHS walk-in központ, háziorvosi rendelő, és néhány kórházban a baleseti és sürgősségi osztályokon.</p>
  <p>Londonban sok szexuális egészség klinika (sexual health clinics) van, általában a kórházak közelében találod őket. 56 Dean Streeten egy kiváló NHS szexuális egészség klinikát találasz, amely minden ember felé nyitott, és különösen megfelelő az LGBTQI emberek számára. Itt külön transznemű emberek, szexmunkások és szexuális problémákkal küszködő kábítószerélvező férfiak számára is fenntartanak rendeléseket.<br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 3315 6699</span><br/>
      <span class='address'><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 56 Dean Street, Soho, London, W1D 6AQ</span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-home' >Otthon</h2>
    <h3>A megfelelő hely megtalálása</h3>
    <p>A londoni albérletárak nagyon magasak, és a megfelelő lakhely megtalálása sok időt vehet igénybe. A 3-as zónában, illetve annál kijjebb csökkennek az árak. Mielőtt meghozod a döntésed egy bérlendő hellyel kapcsolatban, nézz körül alaposan a hirdetett ingatlanok között, kérdezd meg a kiválasztott hely környékén élőket, mennyi bérleti díjat fizetnek, nézelődj és keress különböző ingatlanos internetoldalakon, és kérdezz ingatlanügynököket. Néhány ingatlanközvetítő iroda a kirakatában is tart hirdetéseket, de a környékbeli mosodákban, kocsmákban, fodrászboltokban, kávéházakban és közösségi központokban is érdeklődhetsz. A legnépszerűbb albérletkereső weboldal a Gumtree:<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gumtree.com/london'>gumtree.com/london</a></span><br/>
    </p>
    <p>Az emberek többsége nem tudja megengedni magának egy egész lakás bérlését, ezért általában többen bérelnek egy lakást, esetleg osztoszkodnak egy szobán. Általában az emeletes ágyas szobán való osztozás a legolcsóbb megoldás.</p>
    <p>A szobatárs (roommate) az a személy, akivel egy szobában élsz, a lakótárs (flatmate) az a személy, akivel közösen bérelsz lakást. Légy óvatos a szobatárskeresésnél, előfordul, hogy egyes emberek így keresnek szexuális partnert. A “single room”-ba (egyes szoba) egy ember fér el kényelmesen, a a double room (dupla szoba) nagyobb, általában dupla ággyal van ellátva, amin két ember is kényelmesen elfér. Ha a szobát “room”-ként (szoba) hirdetik, az általában azt jelenti, hogy egy embernek szeretnék kiadni. A főbérlők gyakran lakásaik minden szobáját kiadják – egy szocializációs célokra használható nappali jellegű szoba extraszámba megy. Amenyiben ez nem teljesen világos számodra, kérdezz rá a főbérlőnél: egyedül laksz-e majd a bérelendő szobában, hány ember lakik a lakásban, van-e külön nappalija, hány ember használja a fürdőt, stb?</p>
  <p>Egy olcsó szoba havi bérleti díja Londonban körülbelül 300-500£ között mozog a rezsivel együtt. A rezsibe beleszámít: a gázszámla, villanyszámla, vízszámla. A vezetékes telefont, internetet, szatelit- vagy kábeltévét külön számítják fel. A lakbéred legnagyobb tételét általában az önkormányzatnak fizetendő adó, az ún.  council tax teszi ki. A council tax magassága általában attól függ, London melyik kerületében laksz, és mekkora a lakás alapterülete. Beköltözéskor a főbérlők általában két havi lakbért, plusz az adott havi lakbért, plusz az egyhavi lakbér összegének megfelelő kauciót kérnek (végösszeg: négy havi lakbér készpénz kell a beköltözéshez, a kauciót általában visszakapod kiköltözéskor).</p>
    <p>Gyakran fordulnak elő átverések. Ne fizess előre semmiért, amit nem tekintettél meg személyesen. Ha az ajánlat valószínűtlenül jónak hangzik, előfordulhat, hogy átveréssel van dolgod. Tartozásokba keveredett emberek gyakran fizettetnek súlyos előlegeket és kauciókat reménybeli bérlőiknek, majd lelépnek a pénzzel, te és lakótársaid pedig tömeges kilakoltatással (summary eviction) néztek szembe. Sajnos nagyon nehéz kiszúrni ezeket a dolgokat, illetve jól kerülni ki belőlük, ha már belekeveretél. Próbálj minden egyezségről írásos bizonyítékot szerenzi, ha lehet, akkor írásos szerződés formájában.</p>
    <h3>Bérlői jogok</h3>
    <p>Többféle bérleti szerződés létezik. Bérlői jogaid annak függvényében alakulnak, hogy milyen a szerződésed. Az Assured shorthold tenant a legelterjedtebb bérlői jogviszony, ez némi jogi védettséget biztosít. Ha bérlői jogviszonyod excluded occupier, nagyon kevés bérlői jogod van. Abban az esetben is rendelkezel valamennyi kis bérlői jogi védettséggel, amennyiben nincs írásbeli szerződésed, de bizonyítani tudod, hogy fizettél a felbérlőnek. Lakbérfizetéskor mindig kérj számlát, de (bizonyítási szempontból) a legjobb, ha banki átutalással fizetsz.</p>
    <p>Többféle bérleti szerződés létezik. Bérlői jogaid annak függvényében alakulnak, hogy milyen a szerződésed. Az Assured shorthold tenant a legelterjedtebb bérlői jogviszony, ez némi jogi védettséget biztosít. Ha bérlői jogviszonyod excluded occupier, nagyon kevés bérlői jogod van. Abban az esetben is rendelkezel valamennyi kis bérlői jogi védettséggel, amennyiben nincs írásbeli szerződésed, de bizonyítani tudod, hogy fizettél a felbérlőnek. Lakbérfizetéskor mindig kérj számlát, de (bizonyítási szempontból) a legjobb, ha banki átutalással fizetsz.</p>
    <p>Alapjogaid közül néhány:</p>
    <ul>
      <li>Főbérlőd köteles a bérleményben elvégezni az alapvető javításokat (a megrongálódásokat a jogi terminológia disrepair-nak nevezi).</li>
      <li>Főbérlőd köteles működőképes állapotban tartani a lakás víz-, gáz-, villamosságellátását, a fűtést és a melegvízellátást.</li>
      <li>Jogod van a bérleményedben való békés és háborgatásmentes életre a főbérlőd részéről is (a főbérlőd köteles minden látogatását legalább 24 órával érkezése előtt bejelenteni, ez alól kivételt képezhetnek a vészhelyzetek).</li>
    </ul>
    <p>A legtöbb esetben főbérlődnek nincs joga diszkriminálni téged, kevés kivételtől eltekintve, pl: azokban az esetekben, amikor a főbérlővel egy háztartásban (bérleményben) éltek.</p>
    <p>A lakbér kizárólag formális szerződésújítás során emelhető. Amennyiben a szerződésed záradékban tárgyalja a lakbér emelésének módját, a főbérlőd köteles követni a szerződésben lefektetett eljárási módot. Ezen kívül a lakbér emelése egy év során egyszer lehetséges úgy, hogy a főbérlő ezt legalább egy hónappal a bérleti díj megemelése előtt közli az időszakos (havi vagy heti rendszerességgel fizetett) bérleti szerződések esetében. Ha a bérleti szerződés lejárta a szerződésben véglegesítve van, a bérleti díj megemelése csakis a Te beleegyezéseddel lehetséges.</p>
    <h3>Főbérlői zaklatás</h3>
    <p>A főbérlői zaklatás bűncselekmény, és ha úgy érzed, a főbérlőd zaklat, védelmet kérhetsz a rendőrségtől vagy valamelyik független szervezettől, pl. a Citizen's Advice Bureau-tól (Polgári Tanácsadó Szolgálat). A zaklatás sokféleképpen történhet, pl:</p>
    <ul>
      <li>A gáz, villany, vízellátás korlátozása, a számlák befizetésével való késlekedés úgy,</li>
      <li>Legalább 24 órás előzetes bejelentés nélküli főbérlői látogatás, különösképpen az éjszakai órákban.</li>
      <li>Nevedre érkező postai küldemények felbontása vagy megkárosítása.</li>
      <li>Fenyegetés, fenyegetőzés.</li>
      <li>Átépítési munkálatok végeztetése előzetes értesítés nélkül.</li>
      <li>A bérleménybe való belépés távolléted alatt úgy, hogy Te ebbe nem egyeztél bele.</li>
      <li>A bérlemény állagának olyan súlyosságú elhanyagolása, hogy az abban való tartózkodás veszélyessé válhat.</li>
      <li>A bérleményben való nagyobb jellegű átalakítások elkezdése, de be nem fejezése.</li>
      <li>Nemed, társadalmi nemed, etnikai hovatartozásod, szexuális irányultságod miatti zaklatás.</li>
    </ul>
    <h3>Betét (kaució) és bérleti betét (kaució) rendszer</h3>
    <p>Mielőtt beköltöznél egy bérleménybe, kauciót fizetsz arra az esetre, ha károsodást okoznál a lakás állagában vagy berendezésében, illetve ha elmaradnál a bérleti szerződésben rögzített bérleti díj kifizetésével. A kaució visszaszerzése egy általános probléma lakásbérléskor. Ne felejts el számlát kérni a kaucióként átadott összegről. Készíts fotókat a bérleményről beköltözéskor, és e-mailben küldd el a fényképeket valakinek. Ez keltezett bizonyítéknak számít a bérlemény beköltözésedkori állapotáról, és jól jöhet abban az esetben, ha a főbérlő azzal az ürüggyel próbálná kiköltözésedkor visszatartani a visszaadandó kauciót, hogy kárt okoztál a lakás állagában vagy berendezésében. Amennyiben a főbérlőd visszatartja a kauciót, vagy annak bármekkora részét, köteles tételes számlafelmutatás során bizonyítani, hogy az Általad kifizetett kauciót az állítólagosan Általad okozott károk helyreállítására költötte.</p>
    <p>A főbérlőd elvben köteles az Általad kifizetett kaució összegét az államilag hitelesített tenancy deposit scheme-be (bérleti betét rendszerbe) helyezni beköltözésedkor, és a főbérlőd bírságolható, amennyiben nem fizeti vissza Neked a kauciót, amikor kiköltözöl. Amennyiben elutasítást tapasztalsz, hivatkozz a rendszerre (tenancy deposit scheme). Minden ezzel kapcsolatos információt megtalálsz a következő kormányweboldalon:<br/>
          <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.gov.uk/tenancy-deposit-protection'>gov.uk/tenancy-deposit-protection</a></span><br/><br/>
    </p>
    <h3>Kilakoltatás</h3>
    <p>Főbérlődnek jogalapra van szüksége ahoz, hogy a bérleti szerződés lejárta előtt kilakoltasson. Ilyen jogalap a bérleti szerződés Általad történő megszegése, illetve a bérleti díj kifizetésének megtagadása lehet.</p>
    <p>A főbérlődnek először írásbeli figyelmeztetésben kell részesítenie Téged, aminek tartalmaznia kell követeléseinek jogi magyarázatát, vagy az érvényes jogra való utalásokat. Ekkor még nem kell elhagynod a bérleményt. Főbérlődnek ezután egy bírói végzést kell beszereznie, ami meghatározza a bérlemény Általad történő elhagyásának idejét. Jogodban áll, hogy helyzetedet írásban vagy személyesen magyarázd el a bíróságnak.</p>
    <p>Jogod van a bérleményben maradni, amíg a bírósági végrehajtók (bailiffs) nem keresnek fel a bérleményben. Nem vagy köteles a bírósági végrehajtókat beengedi a bérleménybe, amennyiben nem adó- vagy szabálysértési bírság ügyében érkeztek. A bírósági végrehajtóknak nincs joguk betörni a bérleménybe. Amennyiben beengeded őket, jogukban áll elkobozni (elvinni) magántulajdonodban levő tárgyakat. A rendőröknek sincs joguk betörni hozzád, kivéve ha Ellened szóló elfogatóparancsuk van, amiben bűncselekmény elkövetésével vádolnak.</p>
    <p>Ne feledd, a főbérlőd által küldött figyelmeztetés nem elég ahhoz, hogy kilakoltassanak, ehhez bírósági végzésre van szükség. Ha bárki megpróbálna a hivatalos eljárást megkerülve kilakoltatni, az illegális kilakoltatás cselekményét hajtja végre, amit a törvény büntet. A rendőrség gyakran tévesen a polgári perrendtartásba tartozó cselekményként értelmezi az illegális kilakoltatást, míg az minden esetben a büntető perrendtartás része, tehát a rendőrség köteles Téged megvédeni ilyen esetekben. Jogodban áll az Általad lakott bérlemény bejárati ajtaján zárcserét hajtani végre, amennyiben megőrzöd az eredeti zárat, és kiköltözéskor magadra vállalod annak működőképes visszahelyezését.</p>
    <h3>Viták</h3>
    <p>Minden, a főbérlőddel való vita kiemelt figyelmet érdemel. Álljon itt néhány tanács, ami az ilyen esetek jó kezeléséhez segítségedre lehet:</p>
    <ul>
      <li>Olvasd át a bérleti szerződésedet hogy tiszába jöjj bérlői jogaiddal és felelősségeiddel.</li>
      <li>Szerezz meg minden információt lakhatási jogaidról, kérj jogi tanácsot ahonnan csak lehetséges.</li>
      <li>Aprólékosan olvass el minden fizetési bizonylatot, levelezést és képi bizonyítékként szolgálható anyagot, amit főbérlődnek adtál át vagy küldtél – mindig mindenről készíts másolatot, hogy szükség esetén írott bizonyítékokkal (paper trail) tudd védeni igazad.</li>
    </ul>
    <p>A menedék(Shelter) egy szociális szolgáltatás, ami ingyenes tanácsadást nyújt lakhatási, jog és hajléktalanság tárgyakban. Felhívhatod őket, vagy az alábbi weboldalon találhatsz információkat:<br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 800 4444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://england.shelter.org.uk/get_advice'>england.shelter.org.uk/get_advice</a></span><br/>
    </p>
    <p>Az önkormányzatok gyakran foglalkoztatnak egy külön a lakhatási jogokkal foglalkozó munkatársat/irodát –ezeket néha nehéz megtalálni, és különböző nevek alatt futhatnak, például Hackneyben Housing Options-nak (Lakhatási Lehetőségeknek) hívják ezt az irodát.</p>
    <p>A Housing Rights Info (lakhatási jog info) weboldalon számos hasznos, lakhatási joggal kapcsolatos információt találhatsz, illetve egy a frissen érkezett migránsok jogait tárgyaló szekciót is:<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.housing-rights.info/index.php'>housing-rights.info/index.php</a></span><br/>
    </p>
    <p>A Citizen's Advice Bureau(Polgári Tanácsadási Hivatal) lakhatási jogi tanácsaokkal láthat el:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <h3>Hajléktalanság</h3>
    <p>A Londonban élő hajléktalanok nagy része – elsősorban Közép- és Kelet-Európából származó – nemrég érkezett migráns. Sokan nem tudatosítják, milyen drága a londoni lakhatás, milyen bonyolult a munkakeresés, és ha a dolgok rosszul jönnek össze, könnyen az utcán találják magukat. Amennyiben hajléktalanná váltál, semmilyen segélyre nem vagy jogosult, ha nem vagy az Európai Unió állampolgára, vagy ha az Európai Unió állampolgára vagy, de nem tartózkodsz három hónapnál hoszabb ideje az Egyesült Királyság területén. Ha jogosult is vagy a segélyezés valamilyen formájára, a hajléktalan-ellátórendszer alulméretezett és túlterhelt, és nehéz út vezet a Neked járó segélyek megszerzéséhez. </p>
    <p>Néhány hajléktalansággal kapcsolatos tanácsadással és segítségnyújtással foglalkozó szervezet: <br>
    Shelter (Menedék)
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 800 4444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://england.shelter.org.uk/get_advice'>england.shelter.org.uk/get_advice</a></span>    <br/>
    </p>
    <p>
      The Simon Community (Simon Társaság)
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7485 6639</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.simoncommunity.org.uk'>simoncommunity.org.uk</a></span></p><br/>
    <p>
      Crisis (Krízis)
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.crisis.org.uk'>crisis.org.uk</a></span><br/>
    </p>
    <p>A The Pavement folyóirat naprakész, gyakorlati információkkal (pl. ingyenkonyhák nyitvatartása,stb.) lát el a londoni utcai hajléktalansággal kapcsolatban.
      <br/> 
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.thepavement.org.uk'>thepavement.org.uk</a></span><br/>
    </p>
    <p>A Barka Közép- és Kelet-Európából érkezett különböző szociális és gazdasági nehézséggel szembesülő emberek számára nyújt segítséget. Az ingyen hívható segélyszám hétfőnként, keddenként, csütörtökönként és péntekenként él 9.00 - 14.00 óra között. Lengyelül, oroszul és angolul beszélnek.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 171 2926</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.barkauk.org'>barkauk.org</a></span><br/>
    </p>
    <h3>Squatting</h3>
    <p>Lakóingatlanok befoglalása bűncselekménynek számít, vádemelést és bebörtönzést vonhat maga után. Más (nem lakó) ingatlanok befoglalása nem számít bűncselekménynek, de bonyolult hoszabb ideig megmaradni egy befoglalt helyen. A Advisory Service for Squatters (Házfoglalók Tanácsadó Szolgálata) a házfoglalással kapcsolatos tanácsokkal lát el.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 3216 0099</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.squatter.org.uk'>squatter.org.uk</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-work' >Munka</h2>
    <h3>National Insurance (Nemzeti Biztosítás)</h3>
    <p>A National Insurance (Nemzeti Biztosítás) a fizetésedből levont adó, amiből az állam a betegsegélyezési és nyugdíjazási kiadásait finanszírozza. Az Egyesült Királyságban való legális munkavállaláshoz szükséged van a nevedre szóló National Insurance (NI) szám kiadására. NI szám nélkül is munkaviszonyba léphetsz, de legjobban teszed, ha az első lehetséges alkalmat megragadva elintézed kiadását.</p>
    <p>Ehhez meg kell jelenned egy beszélgetésen egy személyazonosságodat igazoló dokumentummal (útlevél,járművezetői jogosítvány, személyi). Az NI számod kiadásához szükséges interjúra való időpontegyeztetéshez hívd a Jobcentre Plust.</p>
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0345 600 0643</span><br/>
    </p>
    <h3>Fizetés, Minimálbér, Adók</h3>
    <p>A munkahelyi főnököd köteles átadni Neked a munkaszerződésed írott pédányát, ha nem is annak teljes formájában, de a Neked átadott változatnak mindenképp tartalmaznia kell a Közted és munkaadód közt köttetett munkaszerződés fő feltételeit, pl. a fizetésedet. Mindig ragaszkodj ahhoz, hogy megkapd munkaszerződésed írott változatát. Ha ezt munkaadód elutasítja, azt tekintsd intő jelnek.  Ha csak lehetséges, keríts valakit, aki segít átnézni munkaszerződésed, és megtalálni az esetlegesen abban rejlő, átverős záradékokat.</p>
    <p>A munkaadód számára illegális a Nemzeti Minimálbérnél (National Minimum Wage) kevesebbet fizetni Neked. Ez jelenleg  6.50£ per óra, ha elmúltál 21 éves és 5.13£ per óra, ha nem. A fizetés általában órabérben vagy egész éves bérben (per annum vagy pa) van hirdetve. Egy 6.50£ órabérezésű teljes állás (40 óra hetente) nagyjából 13,520£-ot tesz ki évente.</p>
    <p>Az adók és a National Insurance minimálbérből való levonásának példa jellegű szemléltetése:<br/>
    Adózás előtti fizetés (Pay before tax): £13,520 évente.<br/>
    National Insurance £668 évente.<br/>
    Bevételi Adó (Income Tax) £704 évente.<br/>
    Kézhez kapott összeg (Take-home pay): £12,148 évente, £234 hetente, kb. £1,010 havonta – az adott hónapban ledogozott munkanapok számától függ.</p>
    <p>Őrizd meg fizetési bizonylataidat (a fizetésedet leíró/igazoló iratokat), és jegyezd le/tartsd nyilván ledolgozott óráid és szabadnapjaid számát. Ez segíthet felismerni ki nem fizetett munkaóráidat, ki nem adott szabadnapjaidat.</p>
    <p>Amennyiben szerződéses munkaviszonyban állsz, munkaadód köteles fizetni az összes adódat. Ha több szerződéses munkaviszonyban állsz egyszerre, úgy minden egyes munkaviszonyod munkaadója köteles megtenni ezt. Neked semmiféle adózással kapcsolatos papírmunkát nem kell elvégezned az adózási év végén. Amennyiben NI szám nélkül kezdesz el dolgozni, egy pótlólagos, “sürgősségi adót” (emergency tax) válsz kötelessé befizetni. Ennek összegét az NI számod kézhezvételekor azonnal visszaigényelheted. Ne pánikolj be, ha kiderül, túlfizetted az adódat (többet fizettél a szükségesnél). A többletként befzetett összeget visszakaphatod, ha adóbevallást készítesz az adózási év végén. Az adózási év április 5.-én ér véget, adóbevallásodat októberig nyújthatod be.</p>
    <p>A HMRC (Her Majesty's Revenue and Customs-Őfelsége Jövedelem- és Vámhivatala) segít, ha adózási gondod akad. Több adózási tanácsadást kínáló telefonvonalat üzemeltetnek, ezeket itt találod:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://taxaid.org.uk/guides/taxpayers'>taxaid.org.uk/guides/taxpayers</a></span></p><br/>
   <p>A Tax Aid (Adózási Segély) egy szociális szolgáltatás, ami az alacsony jövedelemmel rendelkező embereknek segít megoldani azokat az adózással kapcsolatos problémáikat, melyekben a HMRC nem tud segíteni.
     <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://taxaid.org.uk/guides/information'>taxaid.org.uk/guides/information</a></span><br/>
     <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0345 120 377</span><br/>
   </p>
   <h3>Munkaerőpiaci alapjogaid</h3>
   <p>Függetlenül attól, hogy határozott vagy határozatlan időre szóló munkaszerződésed van-e, hogy ügynökség alkamazásában állsz-e vagy közvetlenül munkaadódéban, hogy részmunkaidős vagy teljes munkaviszonyban állsz-e, rendelkezel bizonyos alapjogokkal:</p>
   <ul>
     <li>Jogosult vagy legalább 5,6 hét fizetett szabadságra (leave-re vagy time off-ra). Ez 28 napot tesz ki, ha teljes munkaidős szerződésben állsz munkaadóddal, és magában foglalja az államünnepeket és munkaszüneti napokat, pl. a Karácsonyt is. A szerzédésed adhat Neked több fizetett munkaszüneti napot, de kevesebbet semmiképp. A részmunkaidősök számára: szorozd meg az egy munkahéten átlagban munkahelyeden töltött napjaid számát 5,6-al. Ez a szabály minden munkahelyre/munkaszerződésre alkalmazható belépésed napjától kezdődően úgy, hogy a belépésed napján két nap fizetett szabdságra van jogod, a munkahelyeden töltött fél év után ez 14-re emelkedik.</li>
     <li>Jogod van fizetett betegszabadsághoz. Jogod van törvényen alapuló fizetett betegszabadsághoz, ha négy napnál tovább hiányzol munkahelyedről betegség miatt. Ehhez bruttó 111£-nál többet kell keresned hetente és három hónapnál(13 hétnél) hoszabb ideje kell fennálnia valamilyen munkaviszonyodnak.</li>
     <li>Jogod van fizetett gyermekgondozási (“anyasági”/”apasági”) szabadsághoz, ha gyermeked születik. Az anyák többségének munkaszerződése 26 hét fizetett és 26 hét fizetetlen gyermekgondozási szabadságot állapít meg. Hogy jogosulttá válj a  fizetett gyermekgondozási szabadságra, £111-nál többet kell keresned hetente, és 26 hétnél hosszabb munkaviszonnyal kell rendelkezned, a baba feltételezett megszületésétől visszaszámolt 15-dik hétig. A fizetett gyermekgondozási szabadság első 6 hetében fizetésed 90%-át kapod, ezután hetente £138.18-ot 33 héten keresztül. Ha munkaadód nem tud/nem akar fizetni, a Department of Work and Pensions (Munka és Nyugdíj Osztály) teszi ezt meg helyette. Az apák/élettársak két hét fizetett gyermekgondozási szabadságot kapnak egy kisbaba születésekor.</li>
     <li>Jogod van megvédeni magad. Jogod van védelmet élvezni az annak okán való elbocsájtástól, hogy éltél munkavállalói jogoddal. Jogod van munkatársaiddal szövetségre lépni, közösségileg szerveződni és szakszervezethez csatlakozni.</li>
     <li>Jogod van az egyenlő bánásmódhoz. Jogod van ahhoz, hogy ne diszkrimináljnak a munkahelyeden korod, fogyatékkal élésed, társadalmi nem (gender) váltásod, házassági kötelékben élésed, szingliséged vagy egyéb partnerkapcsolati státuszod, terhességed, anyaságod, etnikai csoporthoz tartozásod, vallási csoporthoz, egyházhoz tartozásod vagy hited, nemed vagy szexuális irányultságod miatt. Ezek védett tulajdonságaid (protected characteristics).</li>
   </ul>
   <h3>Megfélemlítés, Zaklatás, Diszkriminácó</h3>
   <p>Ne feledd, ha megfélemlítésnek, zaklatásnak tesznek ki munkahelyeden, az nem a Te hibád, és nem kell belenyugodnod.</p>
   <p>A megfélemlítés és zaklatás fogalma minden Irányodban elővezetett sértő, megfélemlítő, fenyegető, igazságtalan, elbizonyalanító, támadó, semmibe vevő és megalázó jellegű bánásmódot magában foglal. Munkaadód köteles biztosítani a megfélemlítés- és zaklatásmentes munkakörülményeket.  Megfélemlítésnek minősül  minden olyan ismétlődő, Irányodban elővezetett magatartás, ami személyes és emberi mélóságodat ássa alá.  Zaklatásnak minősül minden olyan, akár egyénileg is előforduló cselekmény, amely a feljebb leírt védett tulajdonságaidat célozza vagy támadja.</p>
   <p>A szexuális zaklatás minősített esetei, melyek magukba foglalják az engedély nélküli megérintést és más fizikai fenyegetéseket, bűncselekménynek számítanak, mindenképp tegyél feljelentést a rendőrségen, ha ezeket elkövették ellened akár munkahelyeden, akár máshol.</p>
   <h3>A munkaidőszabályozás</h3>
   <p>Ha a munkaidő tárgyalására kerül sor, alapjogaid a következők:</p>
   <ul>
     <li>Munkaidőd nem lehett hoszabb napi 13 óránál.</li>
     <li>Legalább egy pihenőnap kell hogy legyen minden egyes munkahéten.</li>
     <li>Minden hat ledolgozott órád után legalább 20 perc hosszúságú szünet, és legalább 11 óra pihenőidő minden 24 órában. A 18 évnél fiatalabb alkalmazottak számára minden 4 és fél órában legalább 30 perc pihenőidő jár.</li>
     <li>Visszautasíthatod, hogy heti 48 óránál többet dolgozz. Ez átlagot jelent, egy-egy héten előfordulhat, hogy több, mint 48 órát kell dolgoznod. ĺrásban lemondhatsz erről a jogodról (opt out), a munkaadók néha ezt megpróbálják becsempészni a felkínált munkaszerződésbe.</li>
     <li>Éjszakai munkaidőd nem lehet hoszabb napi 8 óránál átlagban. Az éjszakai műszakokat vállaló személyek egészség csekkekre (health checks) jogosultak.</li>
   </ul>
   <h3>Egészség és Biztonság</h3>
   <p>Jogod van visszautasítani a munkavégzést, amennyiben úgy ítéled, hogy munkakörülményeid nem biztonságosak vagy veszélynek tesznek ki. Munkaadód köteles Téged megfelelő képzésben ellátni minden Tőled elvárt munkafeladat tárgyában és nincs joga olyan munkatevékenység végzését kérnie Tőled, amelyre  nem lettél aprólékosan felkészítve és kiképezve.</p>
   <p>Munkaadód köteles megfelelő munkakörülményeket biztosítani, beleértve a megfelelő mosdót, vécét, és megfelelő mennyiségű és minőségű ivóvizet.  Munkaadód köteles minden munkahelyeden végzett veszélyes vagy kockázatos tevékenységgel kapcsolatban ezeknek helyes és biztonságos megoldását leíró folyamatleírásokat biztosítani. Munkaadód köteles egészség és biztonság tervet (health and safety plan) készíteni. A munka felvétele előtt minden alkalmazottnak el kell magyarázni ezeket az egészségi és biztonsági előírásokat és egyezményeket. Egészségügyi és biztnsági kérdéskben a munkavállalók véleményét is ki kell kérni.</p>
   <p>Az egészségmegőrzés és munkabiztonság megvalósítása pénzbe kerül és időt vesz igénybe, ezért a munkaadók gyakran megpróbálják elcsalni azt. A törvény szerint a munkaadók kötelesek egészséges és biztonságos munkakörülményeket biztosítani mindenkinek, akit felvesznek.</p>
   <p>Ne feledd, jogod van megtagadni a munkavégzést, ha veszélyeztetve érzed testi vagy szellemi épségedet.</p>
   <h3>Nulla órás szerződés és Önfoglalkoztatás</h3>
   <p>Az önfoglalkoztatás olyan pénzkeresési tevékenység, amely során saját magadnak dolgozol, és nem a munkaadódtól kapott fizetésért. Ha önfoglalkoztatóvá válsz, saját magad vagy felelős NI számodért (társadalombiztosításodért), bevételedért, adóként befizenendő pénzekért és az ezekkel járó papírmunkáért. A társadalombiztosítási díjat (NI) havonta, a jövedelemadót az év végén fizeted, ez jelentős mennyiségű lehet. Előfordulhat, hogy hivatásos könyvelő segítségére lesz szükséged. Az olyan szociális jogok, mint a minimálbér, a munkaóra korlátozás, a betegsegélyezési pénz és fizetett szabadság csak az alkalmazotti jogviszonyban álló személyek esetében érvényesíthetőek, az önfoglalkoztatókra nem érvényesek.</p>
   <p>Vannak munkaadók, akik önfoglalkoztatásra próbálják kényszeríteni alkalmazotaikat, hogy így spóroljanak a befizetendő adókon, és nyirbálják meg alkalmazottaik jogait. Ezt hamis önfoglalkoztatásnak nevezik, és bizonyos területeken (pl. az építőiparban) nagyon gyakori. Ez törvényellenes, de a kormány semmit sem tesz megfékezésére. Az alábbi weboldalt használva megtudhatod, hogy alkalmazott vagy-e vagy  önfoglalkoztató:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.hmrc.gov.uk/working/intro/empstatus.htm'>hmrc.gov.uk/working/intro/empstatus.htm</a></span><br/>
   </p>
   <p>A nulla órás szerződés (Zero hours contract ) olyan munkaszerződés, ami nem garantálja a munkaórák számát, ami a valóságban azt jelenti, hogy munkaadód nem köteles biztosítani Számodra munkaóráidat, és olyan kizáró záradékot is tartalmazhat, mely megtilttja Neked, hogy más munkát is elvállalj. Mindkét dolog (sajnos és egyelőre – a fordító megjegyzése) legális.</p>
   <p>Ha nulla órás szerződésed van, ugyanúgy jogod van a fizetett szabadságra, táppénzre és fizetett anyasági szabadságra, mint a töbi munkavállalónak. A munkaadók néha megpróbálkoznak korlátozni vagy megvonni ezeket a jogaidat, ami illegális. Megpróbálkozhatnak azzal, hogy soha nem adnak Neked megfelelő számú munkaórát ahhoz, hogy fizetéseddel átlépd a szociális ellátásra való jogosultág küszöbét.</p>
   <p>A nulla órás szerződések nagyon gyakoriak a kiskereskedelemben, vendéglátóiparban, ügynökségek által közvetített munkában és más gyengén fizetett munkák esetén. Nem biztos, hogy elég munkaórát kapsz hetente, nem biztos, hogy bekerülsz a szórásba, és lehet, hogy csak az első munkanapodon állítanak munkába.</p>
   <p>Ha bármilyen nézeteltérésbe keveredtél menedzsereddel – mindegy, hogy munkaügyben vagy személyes alapon – előfordulhat, hogy nem oszt be többé műszakra. Ha meg akarnak szabadulni Tőled, nem feltétlenül bontják fel Veled a szerződést, lehet, hogy csak nem hívnak többé munkába.</p>
   <p>Az önfoglalkoztatás és a nulla órás munkaszerződés egyaránt nagyon gyenge és sérülékeny munkaerőpiaci helyzetbe hoznak. Ha ezzel a kiszolgáltatottságoddal bárki visszaélne, próbálj meg ellentámadásba lendülni személyesen vagy szervezetten, a munkaadó fizetésed és munkaóráid megvonásánál többet nem tehet. Nem tehetsz sokat, ha egy olyan munkahelyre lépsz be, ahol már a kezdetektől fogva így foglalkoztatnak Téged. Ha a munkaadód a fennáló munkaszerződésedet akarja nulla órásra vátoztatni, vagy önfoglalkoztatásra kényszeríteni, akkor a munkatársaiddal való csoportos szerveződés, és az új szerződések aláírásának közös elutasítása a legjobb (bár nehezen elérhető) megoldás.</p>
   <h3>Panasz és fegyelmi eljárások</h3>
   <p>A fegyelmi eljárás során a munkaadód számon kér rajtad valamit, amit helytelenül tettél a munkehelyeden. Panasz az, amikor Te fordulsz jogorvoslatért. Az ACAS egy munkahely konfliktusok mediálásával foglalkozó szervezet, és Gyakorlati Kódexszel (Code of Practice) rendelkezik az ilyen helyzetek megoldására. A munkaadódtól elvárt, hogy kövesse a kódex utasításait, de ez egy kalauz, nem törvény erejű rendelkezés.</p>
   <p>A fegyelmi eljárás alá vont munkavállalónak elég időt kell adni a védelemre való felkészüléshez, bizonyítékok gyűjtéséhez és tanúk beidézéséhez. Ha fegyelmi eljárást indítanak ellened, jogod van valakit támogatóként magaddal vinni. Megkérhetsz valakit, akit erre képzett ki a szakszervezet, vagy más szakszervezeti képviselőt (nem számít, hogy a szakszervezet be van-e jegyezve), esetleg egy munkatársadat, hogy segítsen Neked. Mind Te, mind a téged támogató személy védve van az ellen, hogy a fegyelmi eljárás során való támogatásodért, érdekérvényesítésért hátrányba kerüljön vagy elbocsájtsák. A fegyelmi meghallgatásokra záros határidőn belül kell sort keríteni.</p>
   <p>Ha nem tudjátok megoldani nézeteltéréseteket munkaadóddal a fegyelmi eljárás keretén belül, vagy el lettél bocsájtva, szakbírósághoz fordulhatsz, ez a The Employment Tribunal  (Munkaügyi Bíróság). 390 £-ot vagy többet fog kelleni fizetned, ügyed bonyolotságától függően. Amennyiben a bíróság nem Neked ad igazat, és úgy dönt, hogy az Általad beterjesztett ügy esélytelen bármilyen munkaügyi bíróság előtti sikerrevitelre, előfordulhat, hogy munkaadód perköltségeit is Veled  fizetteti ki a bíróság.  Ha Te nyersz, pénzbeli jóvátételt kaphatsz.</p>
   <p>A szakszervezet munkavállalói jogaiddat ismertető weboldalát itt találod meg:
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.worksmart.org.uk/'>worksmart.org.uk</a></span><br/>
   </p>
   <p>Az ACAS is hasonló információkat tartalmazó weboldalat üzemeltet:
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.acas.org.uk/'>acas.org.uk</a></span><br/>
   </p>
   <p>A Citizen's Advice Bureau is rendelkezsedre áll munkajogi tanácsadás teületén:
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
   </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-benefits' >Segélyek, Juttatások</h2>
    <p>Az Egyesült Királyság-beli segélyezési rendszer nagyon bonyolult. Különböző segélyek vannak. Szociális helyzeted sajátosságai alapján nyer megállapítást, milyen fajta, és mekkora összegű segélyt kapsz.</p>
    <p>A segélyek általában alacsonyak, rövid ideig folyósítják őket, és több különböző feltételnek kell megfelelned – nem csak ahhoz, hogy megkezdjék a segély folósítását, hanem ahhoz is, hogy azt ne szüntessék meg. Jó, ha egyszerre több fajta segélyt igényelsz meg. A helyzeten sokat fog rontani egy most beterjesztett reform és törvényi változás, ami Universal Credit  név alatt egységesíteni fogja a különböző segélyeket.</p>
    <p>Amennyiben az Európai Unió állampolgára vagy, legalább három hónapig tartó munkaviszonyban kell állnod ahhoz, hogy jogod legyen a segélyezéshez. Ha nem vagy az Európa Unió állampolgára, megigényelhetsz bizonyos fajta segélyezést, de az ide vonatkozó szabályrendszer különösen bonyolult. Ha nem vagy az Európai Unió állampolgára, és segélyezésért folyamodsz, az negatívan befolyásolhatja letelepedési kérelmed megítélését. Ezek az online számológépek segítségedre lehetnek annak kiszámolásában, mekkora segélyre vagy jogosult:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.entitledto.co.uk/benefits-calculator/startcalc.aspx'>entitledto.co.uk/benefits-calculator/startcalc.aspx</a></span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://benefits-calculator.turn2us.org.uk/AboutYou'>benefits-calculator.turn2us.org.uk/AboutYou</a></span><br/>
    </p>
    <p>A konkrét összeg körülményeidtől fog függeni, jó ha professzionáls segítséget kérsz, mielőtt megigényled a segélyezést:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <p>A segélyezéssel kapcsolatos csalás, a valóságnak nem megfelelő adatokra vagy háttérre való hivatkozás (pl. magasbb segélyezés reményében) elzárással is büntethető bűncselekménynek számít az Egyesült Királyságban.</p>
    <h3>Főbb segélyezési formák</h3>
    <p>A Job Seekers Allowance (Munkakeresők Juttatása) vagy JSA egy olyan segély, amit abban az esetben kapsz meg, ha munkaviszonyban álltál, de elveszítetted munkahelyed. 57.50 £–ot kapsz hetente, ha 24 éves vagy fiatalabb vagy, 72.40£-ot, ha elmúltál 24 vagy 18 évesnél idősebb egyedülálló szülő vagy, és  113.70£–ot, ha élettársi vagy házastársi kapcsolatban élsz. A segély juttatásának időtartama alatt folyamatsoan bizonyítanod kell, hogy aktívan keresel munkát, és az állam mindent meg fog tenni, hogy megnehezítse Neked a segély hosszabb ideig való “élvezését”.</p>
    <p>A Housing Benefit (Lakhatási Segély) egy olyan segély, ami a lakbér kifizetésében segít. A megítélt összeg nagysága attól függ, hol élsz, milyen bérleményben laksz (szoba, lakás, stb). A Lakhatási Segély összege soha nem lesz több aktuális lakbéred összegénél, általában kevesebb lesz annál. Sok főbérlő nem szívesen adja ki lakását segélyezett személyeknek.</p>
    <p>A Child Benefit (gyerekpénz vagy nevelési pótlék) egy olyan segélyfajta, amit akkor kapsz meg, ha 16 évnél fiatalabb gyermekét nevelő szülő vagy. 20.50 £- ot kaphatsz legidősebb gyermeked után, 13.55£–ot minden egyes fiatalabb gyermeked után hetente.</p>
    <p>A Working Tax Credits (Dolgozók Adó Kreditje) egy olyan segélyfajta, amit nem külön készpénz formájában, hanem adócsökkentés formájában kaphatsz, ha jövedeled alacsony. Az alábbi online számológép segítségével kiszámolhatod, mennyi adókreditre vagy jogosult:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.gov.uk/tax-credits-calculator'>gov.uk/tax-credits-calculator</a></span><br/>
    </p>
    <p>Az Employment and Support Allowance (ESA vagy Foglalkoztatási és Támogatási Juttatás) és a Personal Independence Payment (PIP vagy Személyi Függetlenségi Segély) olyan fajta segélyek, melyeket abban az esetben vehetsz igénybe, ha hosszan tartó betegségben szenvedsz vagy fogyatékkal élő személy vagy. Hoszabb ideig kell az Egyesült Királyságban élned, hogy megítéljék Neked. Állapotfelmérésen kell keresztülmenned, hogy bizonyítsd, egészségi állapotod megakadályoz a munkábállásban. Ez az állapotfelmérés gyakran megalázó, és gyakran a valóban súlyos betegségtől szenvedő embereket is munkaképesnek nyilvánítják.</p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-legal' >Jogi ügyek</h2>
    <h3>Rendőrség és Bíróságok</h3>
    <p>A rendőrség rasszista és idegengyűlölő. Ha bevándorló vagy, a rendőrség kisebb valószínűséggel vesz komolyan, ha bűncselekmény áldozataként fordulsz hozzájuk, és nagyobb valószínűséggel gyanusít meg bűncselekmények elkövetésével. A rendőrség nagyon szakszerűtlen a nők elleni erőszakot és nemi erőszakot magukban foglaló bűncselekmények felismerésében és az ezekben való nyomozásban. Gyakran már a feljelentés megtételekor is akadályokba ütközöl, mert a rendőrség gyakran nem veszi komolyan a családon belüli erőszak és a nemi erőszak áldozatait, és szörnyen viselkedik az azokat elszenvedőkkel szemben.</p>
    <p>Ha a rendőrőrsre indulsz, lehetőség szerint kérd meg egy barátodat, hogy kísérjen el, támogasson, és írja le, amit a rendprség mond Neked.  Ha elutasítják a jegyzőkönyvfelvételt, jogod van más rendőrőrshöz fordulni, és ott tenni meg a feljelentést. Ha nemi erőszakkal, családon belüli erőszakkal vagy gyűlöletbűncselekménnyel(rasszista vagy homofób támadás) kapcsolatban szeretnél feljelentést tenni, gyakran egyszerűbb, ha a "Community Safety Unit"-hoz (Közösségi Biztonsági Egység) fordulsz, és rajtuk keresztül teszel fejlelentést, ők általában kevésbé előítéletesek. A Google segítségével megtalálod a legközelebbi Community Safety Unit-ot.</p>
    <p>Ha a rendőrség megállít az utcán, őrizd meg nyugalmadat.  Joguk van megállítani és kérdéseket tenni fel Neked, Te viszont nem vagy köteles válaszolni. Elvben csak akkor kutathatnak át, ha alátámaszthatóan gyanúsítanak meg bűncselekmény elkövetésével, de a valóságban azt csinálnak, amit akarnak. Joguk van a kabátod és kesztyűd levételére utasítani Téged. Neked jogod van a letartóztatásodról készült jegyzőkönyved másolatához, amin szerepelnie kell a letartóztatásban részt vevő rendőrök azonosító számának.<br/>
    Kalauz a rendőrségi zaklatás ellen:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://londonagainstpoliceviolence.wordpress.com/guide-to-stop-search'>londonagainstpoliceviolence.wordpress.com/guide-to-stop-search</a></span><br/>
    </p>
    <p>Amennyiben letartóztatnak, meg kell mondanod a rendőrségnek nevedet, címedet és születési dátumodat. Ne válaszolj semmilyen kérdésre anélkül, hogy ügyvéddel beszéltél volna. Jogod van ingyen ügyvédre a rendőrségi kihallgatás idejére. Ne fogadd el a rendőrség által felkínált ügyvédet (a duty solicitort), próbálj más ügyvédet találni ismerőseid segítségével. Jogod van telefonhíváshoz. Jogod van ingyen tolmácshoz, ha nem beszélsz angolul, vagy ha úgy érzed,hogy nem tudod kellőképen megértetni magad angol nyelven.<br/>
    A Newham Monitoring Group (Newhami Figyelő Csoport) segíthet, ha rendőri erőszak vagy visszaélések áldozata lettél, különösen, ha ez rasszista magatartással is párosult a rendőrség részéről (de akkor is, ha nem).
    <br/>
    <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 169 3111</span><br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nmp.org.uk'>nmp.org.uk</a></span><br/>
    </p>
    <p>Előfordulhat,hogy a rendőrség bűncselekmény elkövetésével gyanúsít meg, és felajánlja, hogy figyelmeztetést (caution) ad Neked. Ez azt jelenti, hogy elismered bűnösségedet, de nem leszel bíróság elé állítva, megbírságolva vagy elítélve. A figyelmeztetés bekerül erkölcsi bizonyitványodba. Kérj tanácsod jogászodtól, mielőtt elfogadod a figyelmeztetéssel kapcsolatos ajánlatot. Ha valóban elkövetted a bűncselekményt, de nem akarod bűnösnek vallani magad, ezt ne áruld el jogászodnak, mert kötelessége azt jelenteni.</p>
    <p>Ha a rendőrök megvertek vagy bántalmaztak, orvosi látleletre lesz szükséged –szerezd be, amilyen hamar csak lehetséges. A rendőrség ellen panaszt tenni lehetséges, de bonyolult.</p>
    <p>Bevételedtől függően ingyen ügyvédre tarthatsz igényt, amennyiben bíróság elé állítanak. Ha évi 12,475 £-nál kevesebbet keresel, az ingyen jogász mindenképp rendelkezéseder áll. Ha  ennél többet keresel, éves jövedelmi kimutatásra (full means test) lesz szükséged az ingyen jogász kérvényezéséhez, amennyiben pedig évi 22,325£-nál többet keresel, a jogász kölségeit saját magadnak kell állnod. Ez csak a büntetőperes ügyekre vonatkozik, a polgári peres eljárások során (adósságügyek, családjogi, lakhatási jogi ügyek) valószínűleg magadnak kell állnod jogvédelmed költségeit. Az alábbi linken található online számológép segíthet annak megállapításában, kell-e fizetned a jogász szolgáltatásaiért:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://legal-aid-checker.justice.gov.uk'>legal-aid-checker.justice.gov.uk</a></span><br/>
    </p>
    <h3>Bevándorlás</h3>
    <p>A rendőrség bevándorlási ügyekkel foglalkozó osztályát UK Border Agency (Egyesült Királyság Határügynöksége) vagy UKBA-nak hívják. Az UKBA folyamatosan rajtaütésszerű ellenőrzéseket tart piacokon, boltokban, busz-, vonat- és metróállomásokon, valamint bevándorló közösségek által lakott negyedekben az emberek otthonaiban. Annak ellenére, hogy a Európai Unió állampolgárainak joguk van életmódszerűen az Egyesült Királyság területén tartózkodni, a múltban előfordult, hogy EU-s államolgárokat toloncoltak ki minden ok nélkül. Ennek előfordulása valószínűbb, ha tartósan mukanélküli vagy hajléktalan vagy.</p>
    <p>Ha a UK Border Agency vagy a rendőrség megállít, és bevándorlási státuszodról kezd kérdezősködni, nem vagy köteles válaszolni nekik. Nem vagy köteles megmondani nekik nevedet és címedet. Mondd meg nekik, hogy nem vagy hajlandó szóba állni velük, maradj udvarias, de határozott, és hagyd őket faképnél. A rendőrségnek nincs joga megállítani Téged bármilyen etnikumhoz való tartozásod miatt. Ha úgy érzed, azért állítottak meg, mert mert nem angol nyelven beszélsz, vagy mert láthatóan bevándorló vagy, mondd ezt: This is racist, This is illegal, I will make a complaint.(Ez rasszizmus, ez illegális, panaszt fogok tenni!)</p>
    <p>Ha letartóztatnak vagy ha ismeretségi körödből bárkit latartóztatnak, haladéktalanul lépj kapcsolatba a Bail for Immigration Detainees-el.
    <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7247 3590</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.biduk.org'>biduk.org</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-domestic' >Családon belüli erőszak és szexuális erőszak</h2>
    <h3>Segítségnyújtás nőknek</h3>
    <p>Családon belüli erőszak ellenes segélyvonal nőknek, folyamatosan (a nap 24 órájban) hívható:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 2000 247</span><br/>
    </p>
    <p>Kézikönyv családon belüli erőszakot és szexuális erőszakot megélt személyek számára, angolon kívül (egyelőre) lengyel és spanyol nyelven.
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.womensaid.org.uk/landing_page.asp?section=0001000100080004'>womensaid.org.uk/landing_page.asp?section=0001000100080004</a></span><br/>
    </p>
    <p>A Southall Black Sisters fekete és ázsiai származású nőknek nyújt családon belüli erőszakkal és bevándorlási ügyekkel kapcsolatos tanácsadást.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0208 571 0800</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.southallblacksisters.org.uk'>southallblacksisters.org.uk</a></span><br/>
    </p>
    <p>A Rape Crisis London (Londoni Nemi Erőszakot Átéltek Krízisközpontja) bizalmi segítségnyújtást, tanácsadást, tájékoztatást kínál minden nőnek, lánynak, akik bármilyen fajta szexuaális erőszakot szenvedtek el.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 80 29999</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.rapecrisislondon.org'>rapecrisislondon.org</a></span><br/>
    </p>
    <p>A Women's Rights (Nők Joga) ingyenes jogi segítségnyújtást végez több telefonvonalon. Találd meg a Neked leginkább megfelelőt az alábbi weblapon:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.rightsofwomen.org.uk/adviceline.php'>rightsofwomen.org.uk/adviceline.php</a></span><br/>
    </p>
    <p>A Kalayaan ingyenes, független és bizalmi tanácsadást kínál bevándorlási és munkajogi ügyekkel kapcsolatban bevándoró státuszú háztartási alkalmazottaknak. Lépj velük kapcsolatba, amennyiben nézeteltérésed támadt munkaadóddal, ha munkaadód magánál tartja útleveledet, vagy ha csupán többet szeretnél megtudni jogaidról.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7243 2942</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.kalayaan.org.uk'>kalayaan.org.uk</a></span><br/>
    </p>
    <h3>LGBTQI embereknek szóló segítség és támogatás</h3>
    <p>Broken Rainbow (Összetört Szivárvány) LGBTQI családon belüli erőszak segélyvonal:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 999 5428</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.brokenrainbow.org.uk'>brokenrainbow.org.uk</a></span><br/>
    </p>
    <h3>Segítség  férfiaknak</h3>
    <p>Men's Domestic Violence and Abuse helpline (Férfiak családon belüli erőszak és bántalmazás segélyvonala)
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 801 0327</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.mensadviceline.org.uk'>mensadviceline.org.uk</a></span><br/>
    </p>
    <p>Survivors UK (Túlélők Egyesült Királyság) bizalmi segélyvonal szexuális erőszakot elszenvedett férfiaknak
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0845 122 1201</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.survivorsuk.org'>survivorsuk.org</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-lgbt' >LGBT (magyarul LMBT- Leszbikus, Meleg, Biszexuális és Transznemű)</h2>
    <p>Néha nehéz csatlakozni a helyi LGBT közösségek valamelyikéhez, ha éppen csak hogy megérkeztél a városba, a melegbárok pedig egyre drágábbak. Az alábbi kacsolat talán segít valami az ismerkedésben:</p>
    <p>London Lesbian and Gay Switchboard (Londoni Leszbikus és Meleg “Kapcsolótábla”) egy információs és segítségcsatorna:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0845 122 1201</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.llgs.org.uk'>llgs.org.uk</a></span><br/>
    </p>
    <p>A London Queer Social Centre vagy "House of Brag"  (Londoni Queer Szociális Központ) a londoni queerközösség egy közösségi központja
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://houseofbrag.wordpress.com'>houseofbrag.wordpress.com</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-other' >Más Hasznos Elérhetőségek</h2>
    <p>A GOV.UK egy a kormány által üzemeltetett weboldal, mely elsősorban a polgári jogérvényesítésben nyújt felvilágosító segítséget, többek között a kezedben tartott füzet által érintett témákban is.
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gov.uk'>gov.uk</a></span><br/>
    </p>
    <p>A Citizen's Advice Bureau(Polgárok Tanácsadó Hivatala) egy szociális szolgáltatás, ami szükséget szenvedő embereknek nyújt tanácsadást. Több tanácsadó központot üzemeltetnek, ahol személyes tanácsadást kérhetsz. Találd meg a legközelebbi Tanácsadó Központot az alábbi weboldalt hasznlva:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>http://www.citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <p>
      Az Advice Guide  (Tanácsadó Kalauz) weboldalon is találhatsz a Citizen's Advice Bureau (Polgárok Tanácsadó Hivatala) által lefedett témakörökkel kapcsolatos tanácsokat:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.adviceguide.org.uk'>adviceguide.org.uk</a></span><br/>
    </p>
    <p>
      A Community Law Centre-k (Közösségi Jogi Központok) ingyenes jogi tanácsadást nyújtanak olyan személyeknek, akiknek nincs pénzük saját jogászra. A környékeden működő Community Law Centre-t itt találhatod meg:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.lawcentres.org.uk/i-am-looking-for-advice'>lawcentres.org.uk/i-am-looking-for-advice</a></span><br/>
    </p>
    <p>
      A Mary Ward Legal Centre (Mary Ward Jogi Központ) is jogi tanácsadást kínál:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.marywardlegal.org.uk/'>marywardlegal.org.uk</a></span><br/>
    </p>
    <p>
      A  National Debt Line (Nemzeti Adóságvonal) az adóságokkal és tartozásokkal kapcsolatos tanácsadást végez:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 808 4000</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='nationaldebtline.org/EW/Pages/default.aspx'>https://www.nationaldebtline.org/EW/Pages/default.aspx</a></span><br/>
    </p>
    <p>
      Az NHS Choices (Nemzeti Egészségszolgálat Lehetőségei) egy egészséggel, egészségmegőrzéssel és egészségüggyel kapcsolatos szociális szolgáltatásokkal kapcsolatban tájékoztat
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nhs.uk/Pages/HomePage.aspx'>nhs.uk/Pages/HomePage.aspx</a></span><br/>
    </p>
    <p>
      A London Coalition Against Poverty(Londoni Szegénység Ellen Küzdő Koalíció) olyan csoportok koalíciója, melyek azon meggyőződésük mentén szervezik magukat, hogy a “mindennapi embereknek” is hatalmuk lehet saját életük megváltoztatása felett. A weboldal London különböző részein dolgozó csoportokat sorol fel.
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://lcap.org.uk'>lcap.org.uk</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-who' >Kik vagyunk és miért csináljuk?</h2>
    <p>
      A Solidarity Federation egy, az emberek önszerveződését és kollektív cselekvését elősegíteni kívánó csoport. Saját munkahelyeinken és közösségeinkben való szerveződés mellett örülünk, ha bárki segítségére lehetünk, akinek problémái akadtak főnökével vagy főbérlőjével. Ha szívesen (ön)szerveződnél velünk, szeretettel várjuk emailedet.
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://solfed.org.uk'>solfed.org.uk</a></span><br/>
      <span class='email'><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href='mailto:solfed@solfed.org.uk'>solfed@solfed.org.uk</a></span><br/>
      <span class='email'><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href='mailto:info@migrantsguide.uk'>info@migrantsguide.uk</a></span><br/>
    </p>
  </div>
</div>
