    ---
extends: bare.j2
default_block: main
title: Londra - Bir Göçmenin El Kitabı
description: Basic information useful for people who are arrived and  starting to live in London
---

<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-introduction' >Giriş</h2>
    <p>Londra’da yeni bir hayata başlamak çok ürkütücü, birçok şey memleketinizde olduğundan daha farklı olabilir. Londra’da çoğu şey pahalı ve bazı şeylerle başa çıkmak ise düpedüz çok zor gelebilir. Bu broşür, buraya, Londra’ya geldiğinizde yaşayacağınız sorunlarla ve olası içine düşeceğiniz problemlerle ilgili temel tavsiyeler sunmayı amaçlamaktadır.</p>
    <p>Bazı tavsiyeler herkes için uygun, çoğu ise göçmen olsanız bile Avrupa Birliği vatandaşı olduğunuz için çalışma hakkınızın olduğu varsayımını kabul ederek yazıldı. Eğer durum sizin için bu değilse, bazı şeyler daha karmaşık olabilir ve bu broşürün sunduğundan daha detaylı bilgilere ihtiyaç duyabilirsiniz.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-transport' >Ulaşim</h2>
    <p>Londra’da seyahat etmek için mavi, elektronik Oyster Kart’a ihtiyacınız var. Kâğıt biletler yok veya otobüse binince nakit ödeme yapmanız mümkün değil. Oyster Kart 5 pound ederinde ve iade ederseniz paranızı geri alabilirsiniz. İçine para yüklemeniz yeterli, ulaşımı her kullandığınızda da içindeki para düşecektir. Kartı ise istasyonlardan veya bazı dükkânlardan temin edebilirsiniz. Kart, otobüslerde, yeraltı metrosunda –the Tube, yerüstü metro, the DLR-, yerel trenlerde ve Londra içinde seyahat için kullanabileceğiniz normal trenlerde geçerlidir.</p>
    <p>Ulaşım ağı merkezde numara 1 ve kent dışındaki numara 6 olmak üzere bölgelere ayrılmıştır. Trenlerde ve “Tube”da fiyat bölgelere bağlı olarak değişmesine rağmen yoğun kullanılan saatlerinde (6.30-9.30 sabah ve 4-7 öğleden sonra) daha pahalıdır. Mesela, bölge 2’den Bölge 1’e seyahatin maliyeti 2.30 veya 2.90 pound’dur. Otobüsle ulaşım ise 1.50 pound’dur ve eğer gün içinde 3 defadan fazla kullanırsanız o günlük harcamanız 4.40 pound’da sabitlenir, fazlasını ödemezsiniz. </p>
    <p>TravelCard denen ve günlük, haftalık ve aylık biletinizi Oyster kartınıza koyabileceğiniz bir sistem de bulunmaktadır. Biletsiz yolculuk yapmak mümkün olmasına rağmen bilet kontrolörleri de çok yaygındır. Sizi durdururlarsa göçmen durumunuzu kontrol etme hakları var. Biletsiz yolculuk yapmak suç olarak addediliyor ve mahkemeye çıkmanız için yeterli bir neden olarak görülüyor.</p>
    <p>TFL’nin (Londra için Ulaşım) sitesinden nereden nereye nasıl gideceğinizi öğrenebilirsiniz.<br/>
        <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.tfl.gov.uk/'>tfl.gov.uk</a></span><br/>
        <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0343 222 1234</span><br/>
    </p>
    <p>National Rail Enquiry tren saatlerini ve fiyatlarını bulmanızda kolaylık sağlayacaktır.<br/>
        <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nationalrail.co.uk/'>nationalrail.co.uk</a></span><br/>
        <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 08457 48 49 50</span><br/>
    </p>
    <p>Genellikle uzun yol otobüsleri, özellikle MegaBus’lar, trenlerden daha ucuzdur.<br/>
        <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://uk.megabus.com/'>uk.megabus.com</a></span><br/>
        <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0141 332 9644</span><br/>
    </p>
    <p>Londra’daki bir adresi posta kodunu GoogleMap veya Bing’e yazarak da bulabilirsiniz<br/>
        <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.google.co.uk/maps/place/London+E1+7Q'>google.co.uk/maps/place/London+E1+7Q</a></span><br/>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-internet' >İnternet Ve Telefon</h2>
    <p>İnternet kafelerin saati ortalama 1 pound ve Londra’nın merkezine gidildikçe fiyatlar artıyor. Ayrıca buralarda fotokopi çektirebilir, uluslararası ucuz telefon görüşmeleri de yapabilirsiniz.</p>
    <p> Kütüphanelerden de internete bedava erişebilirsiniz. Kütüphaneler genel olarak sizden kayıt olmanızı isterler. Evet, bedava, ama yakınlarda bir yerde yaşadığınızı ispat etmeniz de gerekli. Yine de bazen bedava kullanmaya izin verdikleri için görevliye sormakta fayda var. Kütüphanelerde dergiler, gazeteler, İngilizce öğrenme kitapları ve farklı dillerde kitaplar bulabilirsiniz. Ayrıca yerel kaynaklar, etkinlikler, organizasyonlar, eğitim ve barınma hakkında bilgi edinebileceğiniz iyi kaynaklardır.</p>
    <p>Sözleşme yapmadan alacağınız cep telefonuna “prepaid”, “pay as you go ya da “PAYG” deniliyor. “Lebara”, “Lycatel”, “Giffgaff” gibi gayet iyi fiyata SIM kart tedarik eden şebekeler bulunuyor. 250 dakika konuşma, sınırsız mesajlaşma (SMS) ve 16 GB internet paketinin bulunduğu “prepaid” bir SIM kartı 10 pound gibi bir fiyata alabilirsiniz. Yerel marketlerdeki küçük dükkânlarda uygun fiyata SIM kart ve telefon satın alabilirsiniz. Ayrıca Argos da ucuza telefon satıyor.</p>
    <h2 id='section-cheap' >Ucuz Yemek Ve Diğer Şeyler</h2>
    <p>En ucuz süpermarketler Lidl, Aldi ve Morrisons. Bazen, özellikle akşam geç gelirseniz, son kullanma tarihi yaklaşmakta olan ürünleri çok ucuza alabilirsiniz. Yemek, genelde marketlerde dükkânlara nazaran daha ucuz. Çöpten yemek almak suç ama yasal işlemin uygulanması çok yaygın değil. Yakalanırsanız muhtemelen güvenlik görevlisi ile sorun yaşarsınız. Bazen çöpe atılan yemeklerin üzerine çamaşır suyu döküldüğü için ve bazen de çöplerde fare olduğu için dikkatli olmak gerekiyor. Bedava yemek veren yerler SOAS Üniversitesi LSE- Pazartesi-Cumartesi 12.25 am-2.30 pm; Food Van: Kentish Town-12 pm, Camden Town-1pm, Kings Cross-2.15 pazartesiden cumartesiye, Day Centre: Matchless Gift-102 Caledonian Road, Islington Londra, N1 9DN.</p>
    <p>En ucuz giysi dükkânı Primark, ev eşyaları, elektrikli ve elektronik aletler için ise Argos en ucuz dükkân. Oxfam, Marie Currie, Mind gibi derneklerden ikinci el giysi, kitap ve ev eşyaları alabilirsiniz.</p>
    <p>Freecycle insanların internetten bedava eşya alıp verdikleri bir forum
      <br/>
        <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://uk.freecycle.org/'>uk.freecycle.org</a></span><br/>
    </p>
    <p>Gumtree’nin de bedava eşyalar seçeneği bulunmaktadır.<br/>
        <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gumtree.com/freebies/london/freebies'>gumtree.com/freebies/london/freebies</a></span><br/>
    </p>
    <p>İyi mallar hemen kapıldığı için bolca şansa ve sabra ihtiyacınız olacak.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-bank' >Banka Hesabi</h2>
    <p>Eğer İngiltere’de yeni yaşamaya başlamışsanız banka hesabı açtırmak çok zor. Bankalar sizden bir sürü dosya istiyorlar, bir kısmı da zaten bir banka hesabınızın olmasını gerektiriyor.Ama esasen ihtiyacınız olan iki belge var: kimliğinizi ispatlayacak bir belge, pasaport veya kimlik; bir de adresinizi ispatlayacak bir belge ki bunu elde etmek ilkine göre biraz daha zor olabilir. Üzerinizde isminiz olan tüm resmi belgeleri birkaç ay saklayın çünkü banka işi veya başka bir iş için faydalı olabilirler. Muhtemelen ikamet tarihinize, hangi süreler arasında nerede yaşadığınızı gösteren belgeye sıklıkla ihtiyaç duyacaksınız. O yüzden her adres değişikliğinizi not alın.</p>
    <p>Kiracı sözleşmesi ikametiniz için kullanılabilir ama ilk başta böyle bir belgenizin olması pek mümkün olmayabilir. Su, elektrik, telefon veya gaz faturası gibi dokümanlar işinize yarayabilir ama cep telefonu faturanız aynı işlevi yerine getirmeyecektir. Ev sahibinizden bu faturaların sizin isminize kesilmesini talep edebilir ve bir sonraki ay gelen faturayı kullanabilirsiniz. Fakat ev sahipleri genelde bunu kabul etmeyecektir. Eğer yine de üzerine aldığınız bir fatura varsa, evden ayrıldığınızda firmaya bu durumu bildirin, yoksa daha sonraki faturaları ödemek durumunda kalabilirsiniz.</p>
    <p>Birleşik Krallıkta[6] geçerli bir sürücü ehliyeti de adres ispatı için kullanılabilir. AB[7] ehliyetinizi Birleşik Krallık ehliyetine çevirmenin bedeli sadece 50 pound’dur. Ayrıca henüz araba sürmeyi öğrenen için verilen geçici ehliyete başvurabilir ve bunu kabul eden bankalarda kullanabilirsiniz. Bunu kabul eden bankalar ise<br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://ask.co-operativebank.co.uk/help/customer_services/address_proof'>ask.co-operativebank.co.uk/help/customer_services/address_proof</a></span><br/>
    </p>
    <p>Ayrıca işvereninize de adresinizi onaylayan bir belge verebilir. Şirketin isminin bulunduğu bir kâğıda, yetkili birisi tarafından imzalanmış olarak verilmelidir. Bazı bankalar da İş Bulma Kurumu’nun Ulusal Sigorta numaranızın onaylandığı belgeleri kabul edebilir:<br/>
        <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.hsbc.co.uk/content_static/en/ukpersonal/pdfs/en/passport_brochure.pdf'>hsbc.co.uk/content_static/en/ukpersonal/pdfs/en/passport_brochure.pdf</a></span><br/>
    </p>
    <p>Bazı bankalar ülkeye yeni gelen göçmenlere sadece pasaport numaraları ile alabilecekleri banka hesapları açar<br/>
        <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.lloydsbank.com/banking-with-us/joining-lloyds/new-to-the-uk.asp'>lloydsbank.com/banking-with-us/joining-lloyds/new-to-the-uk.asp</a></span><br/>
    </p>
    <p>Veya memleketinizden getireceğiniz ve adresini onaylayan bir banka hesabı da işe yarayacaktır<br/>
        <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.barclays.co.uk/Helpsupport/ComingtoworkintheUK/P1242601780771'>barclays.co.uk/Helpsupport/ComingtoworkintheUK/P1242601780771</a></span><br/>
    </p>
    <p>Kredi Birlikleri (Credit Union) küçük ölçekli çalışan ve hesap açmada esnek davranan küçük topluluk banka organizasyonlarıdır.<br/>
        <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.findyourcreditunion.co.uk/home'>findyourcreditunion.co.uk/home</a></span><br/>
    </p>
    <p>Şansınızın yaver gidebileceğini ve kurallara tamı tamına uymayı kendine şiar edinmemiş bir çalışana denk gelebileceğinizi de düşünüp toplayabildiğiniz kadar bunlarla ilgili belge toplayın, bankalara kişisel olarak başvurun, birçok banka deneyin.</p>
    <h2 id='section-learning' >İngilizce Öğrenmek</h2>
    <p>Her ilçede yetişkinler için meslek eğitimi veren kolejler bulunmaktadır. “Further College” ya da “Community College” olarak biliniyorlar. Bazen bedava da olmak üzere genelde uygun bir fiyata İngilizce’yi de içeren birçok farklı dalda eğitim veriyorlar. Yerel belediyeler, kütüphaneler, kiliseler ve topluluk merkezleri de bedava İngilizce kursları verebiliyor. Bilgi için yerel kütüphaneye başvurmak faydalı olacaktır.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-healthcare' >Sağlik</h2>
    <p>Eğer acil servisi aramanız gerekirse 999’u tuşlayın. Eğer tıbbi yardıma hemen ulaşmak istiyor fakat acil servisi aramak istemiyorsanız 111’i tuşlayın.</p>
    <p>Ayrıca genelde hastanelerin içinde olan “Accident and Emergency” ya da A&E birimlerine de gidebilirsiniz. NHS, Birleşik Krallıkta kamuya sağlık hizmeti sunar. Ayrıca bu internet sitesini kullanarak size yakın olan hastane, klinik, dişçi, cinsel sağlık klinikleri ve diğer sağlık hizmetlerinin verildiği yerlere ulaşabilirsiniz:<br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nhs.uk/Service-Search'>nhs.uk/Service-Search</a><br/>
    </span>
    </p>
    <p>Temel sağlık hizmetleri, örneğin doktor vizitesi, göçmen durumunuz ne olursa olsun ücretsizdir, fakat özel tedavi ve hastanede kalma gibi durumlar için faturalandırılabilirsiniz. Eğer Birleşik Krallıkta kalma hakkınız varsa, bunlar da ücretsizdir. Dişçi ve göz doktorlarına gitmek, ilaç yazdırmak ise her zaman ücretlendirilmektedir.</p>
    <p>Muayenede ilk görüştüğünüz doktor GP, ya da genel pratisyen olarak adlandırılmaktadır. Genelde cerrahide çalışırlar ama işleri cerrahi müdahalelerle ilgili değildir. Size yakın olanlardan bir tanesine kayıt olmanız ve her görüşmek istediğinizde randevu almanız gerekir. Eğer hastalığınız ve sakatlığınız varsa ve durum acil değilse, fakat yine de randevu almayı bekleyemeyecekseniz “walk-in clinik” denen yerlerde hemşire sizinle ilgilenecektir ama uzun saatler süren kuyrukta beklemek zorunda kalacağınızı da unutmayın.</p>
    <p>Dişçi için de kayıt ve randevu işlemlerini yapmakla yükümlü olduğunuzu unutmayın. Sağlık kontrolü yaptırmak 18.50 pound ve dolgu, diş çekme gibi işlemler de 50.50 pound tutmaktadır. Sadece en pahalı tedavi için bir kereliğine ücret ödemek zorundasınız ve eğer 2 ay içerisinde geri gelmek zorunda kalırsanız muayene ve operasyonlar ücretsiz yapılacaktır.</p>
    <p>Kürtaj, Birleşik Krallık’ta serbest ve ücretsiz olarak uygulanmaktadır. Doktorunuzdan veya British Pregnancy Advisory Service birimlerinden sevk almanız gerekmektedir.<br/>
        <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03457 30 40 30</span><br/>
        <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.bpas.org/'>bpas.org</a></span><br/>
    </p>
    <p>Kürtaj 450 ile 750 pound arasında bir ücret ödemeniz gereken özel kliniklerde de gerçekleştirilmektedir.</p>
    <p>Herkes, 16 yaşından küçük bile olsa, ücretsiz prezervatife erişme hakkına sahiptir. Prezervatifler gebelik önleme klinikleri, cinsel sağlık klinikleri, bazı genel pratisyenlerden veya gençlik servislerinden tedarik edilebilir. Ertesi gün hapları da aynı şekilde ücretsiz olarak yukarıdaki yerlere ek olarak Brook Centre, eczaneler, “walk-in clinics” ve bazı hastanelerin A&E birimlerinden alınabilir.</p>
    <p>Londra’da birçok cinsel sağlık kliniği bulunmaktadır ve büyük bir kısmı hastanelerin yanındadır. 56 Dean Street herkese açık ve mükemmel bir Ulusal Sağlık Hizmeti Cinsel Sağlık Kliniğidir. Özellikle LGBT bireyler konusunda çok iyiler. Trans bireyler, seks işçileri ve sert seks ve uyuşturucudan zevk alan erkekler için bir klinikleri bulunmaktadır.</p>
        <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 3315 6699</span><br/>
        <span class='address'><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 56 Dean Street, Soho, London, W1D 6AQ</span><br/>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-home' >Barinma</h2>
    <h3>Bir Yer Bulma</h3>
    <p>Londra’da kiralar çok pahalı ve eli yüzü düzgün bir yer bulmak zaman alacaktır. 3. Bölge ve dışarısında kiralar daha ucuz. Seçiminizi yapmadan önce olabildiğince fazla yer gezmeye, çevrede yaşayanlara ne kadara oturduklarını sormaya ve internet sitelerindeki ev ilanlarına bakmaya özen gösterin. Bazı gazete bayilerinin camlarında veya panolarında ilanlar olabiliyor, ayrıca kuru temizleyicilerde, barlar, berberler veya toplum merkezlerine de ilanlarla ilgili soru sorabilirsiniz. Gumtree ise oda ve daire kiraları ile ilgili bilgi edinmek için en popüler internet sitesidir.<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gumtree.com/london'>gumtree.com/london</a></span><br/>
    </p>
    <p>Birçok insan tek başına ev kirasını karşılayamıyor, bu yüzden de ya oda kiralıyorlar ya da yanlarına oda arkadaşı alıyorlar. Bir odayı birisi ile paylaşıp ranza yataklarda kalmak en ucuz yöntem. Oda arkadaşı (roommate) aynı odayı paylaştığınız insan, ev arkadaşı (flatmate) ise aynı evi paylaştığınız ama farklı odalarda kaldığınız kişiye deniyor. Oda paylaşırken dikkatli olun, bazı insanlar cinsel eş arıyor olabilirler. Tek (single) oda bir kişi için uygunken çift (double) odalar içine ikiz yatak koyup iki insanın uyuyabileceği büyüklüktedirler. Eğer baktığınız ilan oda diyorsa, bu sadece siz kalabileceksiniz demektir. Ev sahipleri genelde evdeki tüm odaları yatak odası gibi kiraya verirler; salonun ortak kullanıma açık olduğu ilanlar o kadar da yaygın değildir. Eğer emin değilseniz odada kaç kişi ile kalabileceğinizi, evde kaç kişinin kaldığını, salonun ve banyonun nasıl ve kaç kişi tarafından kullanacağını mutlaka sorun.</p>
    <p>Londra’da ucuz bir oda için yapılacak aylık harcama, faturalar dahil 300-500 pound arasındadır. Genelde ise oda fiyatları 500-700 pound civarındadır. Faturaların içerisinde elektrik, su, ısınma gibi temel giderler, internet, telefon, kablolu televizyon gibi ekstralar, bir de yerel yönetime ödenen belediye vergisi ki en yüksek vergi genelde budur, bulunmaktadır. Bu vergi, evin nerede olduğu, büyüklüğünün ne olduğuna göre değişmektedir. Kira verirken iki aylık kira bedeli alınacaktır, ilki oturacağınız ayın kirası, ikincisi ise depozitodur. Evden çıktığınız zaman depozitonuz geri verilecektir.</p>
    <p>Dolandırıcılık çok yaygındır. Bu yüzden asla görmediğiniz bir şey için ön ödeme yapmayınız. Eğer anlaşma olabileceğinden çok güzel gözüküyorsa muhtemelen doğru değildir. Borçlu insanlar genelde sizden ileriki ayların kira bedellerini de talep edip parayla kaçabilirler. Bu, sizin evden tahliye edilmeniz riskini doğurabilir. Ne yazık ki böyle durumlarda yapabileceğiniz hiçbir şey yok. İmzaladığınız veya anlaşma yaptığınız metinlerin tamamının kopyalarını elinizde bulundurmaya bakın.</p>
    <h3>Kiracı Hakları</h3>
    <p>Birkaç çeşit kiracı sözleşmesi çeşidi var. Haklarınız, bu sözleşmelerden hangisine sahip olduğunuza bağlı. Genelde yaygın olan güvenceli kısa dönem kiracılık (assured shorthold tenant)size bir takım haklar ve güvenceler sağlar. Oda kiracısı sözleşmesi ise (lodger) çok az hakka sahiptir. Ev sahibine kira ödediğinizi ispatlayabildiğiniz sürece elinizde sözleşme olmasa bile haklarınız var demektir. Ödemelerden sonra makbuz isteyin ve tercihen banka aracılığı ile ödeme yapın ki elinizde kanıt olsun. Temel haklar yasalarca belirtilmiştir. Sözleşmenizde yazmıyorsa bile onlara sahipsiniz. Eğer sözleşme ve yasa çelişiyorsa, yasanın dediği uygulanır.</p>
    <p>Bir takım önemli haklar şunlardır:</p>
    <ul>
        <li>Temel tamiratları ev sahibiniz karşılamalıdır.</li>
        <li>Ev sahibiniz su, gaz, ısınma, gider suyu tesisatı ve şofben gibi tesisatların bakımından sorumludur.</li>
        <li>Ev sahibi tarafından rahatsız edilmeden evinizde yaşama hakkınız var. (Ev sahibi gelecekse eğer, en azından 24 saat önceden sizi bilgilendirmek zorunda)</li>
    </ul>
    <p>Ev sahibi ile farklı yerlerde yaşadığınız durumlarda ev sahibi size ayrımcılık yapamaz, fakat aynı evde olunca bu tarz şeyler gerçekleşebilir. Ev sahibinin ayrımcılık yapmamakla yükümlüdür.</p>
    <p>Kira yalnızca resmi başvuru ile yükseltilebilir. Eğer sözleşmenizde kira artışı ile ilgili bir prosedür varsa, ev sahibiniz buna uymak zorundadır. Öteki türlü yalnızca senede bir kez olmak üzere ve bir ay önceden haber vermek sureti ve yalnızca sizin onayınız ile sabit bir oranda artış yapılabilir.</p>
    <h3>Ev Sahibi Tacizi</h3>
    <p>Ev sahibi tacizi yasal bir suçtur ve eğer ev sahibiniz sizi rahatsız ediyorsa polis çağırabilir veya bağımsız bir organizasyon olan Citizen’s Advice Bureau’yu (Yurttaş Yardım Bürosu) arayabilirsiniz. Taciz, birçok şekilde başınıza gelebilir, örneğin;</p>
    <ul>
        <li>Su, elektrik, ısınma gibi hizmetlere erişimi kesme, yerini değiştirme ya da faturayı ödemenize engel olma gibi nedenler sonucunda bu hizmetlerden yararlanamaz hala getirilmeniz</li>
        <li>Haber vermeden, özellikle de gece vakti, sürekli evinize gelme</li>
        <li>Postalarınızı kurcalama</li>
        <li>Tehdit etme</li>
        <li>İnşaatçıları veya tadilatçıları sizden habersiz evin civarına gönderme</li>
        <li>Siz yokken ve izin vermemişken evinize girme</li>
        <li>Evin, size tehdit oluşturabilecek kadar kötü bir duruma gelmesine izin verme</li>
        <li>Size rahatsızlık verecek tadilatlara başlayıp bitirmeme</li>
        <li>Toplumsal cinsiyetiniz, ten renginiz veya cinsiyetiniz yüzünden sizi taciz etme</li>
    </ul>
    <h3>Depozito Tarifesi</h3>
    <p>Bir eve taşındığınızda, eşyalara veya eve zarar vereceğiniz ihtimaline karşılık depozito ödersiniz. Ev kiralayanlar için bu depozitoyu geri almak ciddi bir sorundur. Depozito ödediğiniz zaman fatura aldığınızdan emin olun. Eve taşındığınız zaman evin fotoğraflarını çekin ve birisine e-mail olarak gönderin. Bu, eve girdiğiniz tarihte, evin ne durumda olduğunu gösteren bir belge olarak kullanılabilir.</p>
    <p>Ev sahibiniz depozitonun bir kısmına veya tamamına el koyduğu zaman, size bunun nedenini söylemek ne masrafların faturalarını göstermek zorundadır. Aynı zamanda ev sahibiniz, siz eve yerleştiğiniz zaman verdiğiniz depozitoyu hükümet onaylı depozito tarifesine koymak zorundadır. Onaylı depozito tarifeleri ve diğer bilgiler hükümetin bu sitesinden kontrol edilebilir<br/>
          <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.gov.uk/tenancy-deposit-protection'>gov.uk/tenancy-deposit-protection</a></span><br/><br/>
    </p>
    <h3>Tahliye</h3>
    <p>Ev sahibinizin sizi evden çıkarabilmesi için bir neden gereklidir. Bu, kontratta verilen teyitleri yerine getiremediğiniz veya kirayı ödeyemediğiniz durumlarda ortaya çıkar.</p>
    <p>Ev sahibinizin size yasal zemini olan bir ihtar vermesi gerekmektedir. Bu noktada evden ayrılmanıza henüz gerek yoktur. Bir sonraki aşamada ev sahibiniz mahkeme kararı ile sizi çıkartma yoluna gider. Durumunuzu mahkemeye yazılı veya sözlü olarak açıklayabilirsiniz.</p>
    <p>Mahkeme görevlileri evinize gelene kadar evde oturabilirsiniz. Eğer para cezası veya vergi ile ilgili bir durum yoksa mahkeme görevlilerini eve almama hakkınız var. Eve zorla girmeleri yasa ile engellenmiştir. Eğer eve girmelerine izin verirseniz eşyalarınızı alabilirler. Polis de, eğer ellerinde bir suçluyu aradıklarına dair dosya yoksa, aynı şekilde, eve zorla giremez veya görevlilerin eve girmesini sağlayamaz. Unutmayın, gönderilmiş bir ihtar evden çıkmanız için yeterli değildir, mahkeme kararı gerekmektedir.</p>
    <p>Eğer birisi sizi bu prosedürleri izlemeden evden tahliye etmeye çalışıyorsa suç işliyor demektir. Polis, bu tarz yaptırımların normal olduğunu düşünebilir ama aslında işlenen bir suçtur. Ev sahibinin tacizinden korunmak için, evden çıktığınızda eski kilidi yerine takmak şartı ile evin kilitlerini değiştirme hakkına sahipsiniz.</p>
    <h3>Problemler</h3>
    <p>Ev sahibi ile yaşanan her çatışma ciddiye alınmalıdır. Burada size yardımcı olabilecek bazı şeyler anlatılacak:</p>
    <ul>
      <li>Kira sözleşmesini okuyarak haklarınızı ve sorumluluklarınızı öğrenin.</li>
      <li>Eve dair haklarınızı araştırın ve nasıl olursa olsun bir şekilde yasal tavsiye alın.</li>
      <li>Eve dair her türlü belge kopyasını, fotoğrafı, faturayı, makbuzu, ne olursa olsun mutlaka saklayın.</li>
    </ul>
    <p>Shelter (Barınak) evsizlik ve barınma ile ilgili tavsiyeler veren bir vakıftır. Onları arayabilir veya internet sitelerine bakabilirsiniz.<br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 800 4444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://england.shelter.org.uk/get_advice'>england.shelter.org.uk/get_advice</a></span><br/>
    </p>
    <p>Belediyelerin, özellikle barınma ile ilgilenmesi için ayrılmış çalışanları bulunabilir. Fakat bu kişilere, isimlerine ulaşmak güç olabilir.</p>
    <p>Housing Rights Info (Barınma Hakkı Danışması) internet sitesi barınma hakkı ve yeni gelen göçmenlerle ilgili birçok bilgi sağlar.<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.housing-rights.info/index.php'>housing-rights.info/index.php</a></span><br/>
    </p>
    <p>Yurttaş Tavsiye Bürosu (Citizen’s Advice Bureau) da size bilgi verecektir.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <h3>Evsizlik</h3>
    <p>Londra’daki evsizlerin büyük bir kısmını Orta ve Doğu Avrupa’dan gelen göçmenler oluşturmaktadır. İnsanlar, Londra’nın ne kadar pahalı olduğunu, yaşamı idame ettirmenin ve iş bulmanın ne kadar zor olduğunu fark edemeyebilir ve daha ne olduğunu anlayamadan kendilerini işsiz ve evsiz bulabilirler. Eğer AB ülkelerinden birisinin vatandaşı değilseniz veya AB vatandaşı olup üç aydan az bir süredir buradaysanız hiçbir yardıma uygun değilsiniz demektir. Uygun olsanız bile çok fazla evsizin olması yardıma ulaşmanızı zorlaştırabilir. </p>
    <p>Evsizlere tavsiye ve yardım yapan bazı organizasyonlar:<br/>
    Shelter
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 800 4444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://england.shelter.org.uk/get_advice'>england.shelter.org.uk/get_advice</a></span>    <br/>
    </p>
    <p>
      The Simon Community
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7485 6639</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.simoncommunity.org.uk'>simoncommunity.org.uk</a></span><br/>
    </p>
    <p>
      Crisis
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.crisis.org.uk'>crisis.org.uk</a></span><br/>
    </p>
    <p>The Pavement (Kaldırım) dergisi, evsizlere nerede çorba dağıtıldığı gibi pratik bilgileri de içeren yeni haberleri vermektedir.
      <br/> 
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.thepavement.org.uk'>thepavement.org.uk</a></span><br/>
    </p>
    <p>Barka, Orta ve Doğu Avrupa’dan gelen ve sosyal ve ekonomik zorluklar çeken insanlara yardım tedarik etmektedir. Ücretsiz yardım hattı, hafta içleri sabah 9 ve öğlen 2 arasındadır. Hizmet, Lehçe, Rusça ve İngilizce olarak verilmektedir.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 171 2926</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.barkauk.org'>barkauk.org</a></span><br/>
    </p>
    <h3>İzinsiz Yerleşme ve İşgal</h3>
    <p>Özel evlere izinsiz olarak yerleşmek yasal suçtur. İnsanlar bu yüzden dava edildi ve cezaevlerine koyuldu. Diğer yerlere yerleşmek yasal suç değil ama aynı yerde uzun süre kalmak çok zor. İzinsiz Yerleşenler için Tavsiye Hizmeti (Advisory Services for Squatters) konu ile ilgili bilgi verebilir.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 3216 0099</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.squatter.org.uk'>squatter.org.uk</a></span><br/>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-work' >Çalişma</h2>
    <h3>Ulusal Sigorta</h3>
    <p>Ulusal sigorta, gelirinizden düşülen ve işsizlik, hastalık ve emeklilik gibi haklarınızın bir arada toplanmasıdır. Birleşik Krallıkta çalışabilmek için Ulusal Sigorta (NI) numarasına ihtiyaç duyacaksınız. Bu olmadan da başlayabilirsiniz ama bir an önce almanız gerekir. Mülakata gitmeli ve kimliğinizi doğrulayacak bir belgeyi yanınızda götürmelisiniz. JobCentre Plus’ı arayarak randevu alabilirsiniz.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0345 600 0643</span><br/>
    </p>
    <h3>Ödemeler, Asgari Ücret, Vergiler</h3>
    <p>Patronunuz size yazılı bir işe alınma belgesi temin etmek zorundadır. Tüm bir formu vermek zorunda değiller ama en azından ücret gibi temel şeyleri belirtmekle yükümlülerdir. Her zaman için sözleşme belgesini isteyin. Eğer vermiyorlarsa, ileride işle ilgili sorun yaşayabileceğinizin bir göstergesi olabilir. Sözleşmenizin gerçek olup olmadığını kontrol etmek için birisinden yardım istemeyi unutmayın.</p>
    <p>Patronunuzun sizi asgari ücretten daha aşağı bir ücrete çalıştırması suçtur. Bu da, aşağı yukarı, 21 yaş üstü iseniz saati 6.50 pound, altında iseniz 5.13 pound’da denk geliyor. Ücret her zaman ya saatlik ya da yıllık olarak belirtilmelidir. Asgari ücretle tam zamanlı çalışma, haftada 40 saat, yıllık kabaca 13,520 pound’da tekabül ediyor. </p>
    <p>Vergi ve sigorta kesintileri ile bu maaş yaklaşık:<br/>
   Vergi öncesi ücret:   13,520 pound<br/>
    Ulusal Sigorta: 668 pound<br/>
   Gelir Vergisi: 704 pound<br/>
    Elinize Geçen Ücret: 12,148 pound yıllık, 234 pound haftalık ve yaklaşık 1,010 pound aylık olacaktır.</p>
    <p>Ücret makbuzlarını ve çalışma saatlerinizin kaydını her zaman tutun. Bu, ücretinizin az verilip verilmediğini, yeterince tatil kullanıp kullanmadığınızı fark etmenize yardımcı olur. İş yerinde yaşadığınız tüm sorunları, kimle olduğu ve kimin tanık olduğunu da yanına yazarak not edin. Patronunuzun daha sonra sizi atma, iş yerinde sömürme, cezalandırma gibi durumlar ortaya çıkarsa işinize yarayacaktır.
    </p>
    <p>Eğer iş sözleşmesinde adınız varsa, ne kadar farklı işte çalışıyor olursanız olun, vergi ile alakalı işler ve vergi ödemelerini sizin adınıza patronunuz yapmakla yükümlüdür, siz değil. Eğer Ulusal Sigorta numarası olmadan işe başladıysanız “Emergency Tax” (vergi) denilen ekstra bir vergiyi siz ödemek zorundasınız. Daha sonra numaranızı alır almaz ödediğiniz parayı geri alma talebinde bulunacaksınız. Fazla vergi öderseniz paniğe kapılmayın. Vergi yılı sonunda, vergi değerlendirmesi yaparak paranızı geri alabilirsiniz. Vergi yılı 5 Nisan’da biter ve bu değerlendirmeyi yapmak için Ekim’e kadar zamanınız olacaktır.</p>
    <p>Tüm vergileri toplayan HMRC (Majestelerinin Gelirleri ve Vergileri) yaşayacağınız sorunlar konusunda size yardımcı olacaktır. Farklı vergi çeşitleri için farklı hatlar kullandıkları bir telefon numaraları bulunmaktadır. Bu numaraları şu adresten bulabilirsiniz.
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://taxaid.org.uk/guides/taxpayers'>taxaid.org.uk/guides/taxpayers</a></span></p><br/>
   <p>Tax Aid (Vergi Yardımı) HMRC’nin çözemediği ve düşük gelirli insanların yaşayacağı sorunlara yardımcı olmak isteyen bir vakıftır.
     <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://taxaid.org.uk/guides/information'>taxaid.org.uk/guides/information</a></span><br/>
     <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0345 120 377</span><br/>
   </p>
   <h3>İşyerinde Temel Haklar</h3>
   <p>Geçici mi yoksa uzun süreli mi ya da yarı zamanlı mı tam zamanlı mı çalıştığınız ayrımı yapılmadan bazı temel haklara sahipsiniz.</p>
   <ul>
     <li>En azından 5.6 hafta ücretli izin hakkınız var. Tam zamanlı çalışıyorsanız bu 28 güne tekabül ediyor. Bu bayramları, tatilleri ve yılbaşı tatilini de içeriyor. Sözleşmeniz size daha fazla tatil verebilir ama daha azını veremez. Yarı zamanlı çalışanlar ise iş günlerini 5.6’ya bölerek tatil günlerini hesaplayabilirler. Bu kural tüm işlere uygulanabilir, işe başladığınız ilk gün 2 gün izin hakkınız olur, altıncı aydan sonra ise bu sayı 14’e çıkar.</li>
     <li>Haftada en az 111 pound kazanıyor ve en az 3 aydır çalışıyorsanız, hastalandığız zaman 4 gün arka arkaya işe gitmediğinizde ücretli hasta izni hakkına sahip olursunuz.</li>
     <li>Birçok anne 26 ay ücretli 26 ay da ücretsiz annelik izni hakkına sahiptir. Bu hakka sahip olmak için bebeğin doğumundan 15 hafta öncesinde en azından 26 haftalık çalışan olmanız ve haftalık gelirinizin en az 111 pound olması gerekmektedir. İlk 6 hafta, maaşınızın %90’ını daha sonraki 33 hafta ise 138,18 poundluk sabit bir maaş alacaksınız. Eğer patronunuz ödeyemiyorsa İş ve Emeklilik Departmanı ödemek zorundadır. Babalar da 2 haftalık ücretli izin hakkına sahiptir.</li>
     <li>İşten kovulmaya karşı kendinizi savunma hakkınız vardır. Diğer işçilerle örgüt kurma ya da sendikaya üye olma yasal hakkınız bulunmaktadır.</li>
     <li>Yaş, sağlık durumu, toplumsal cinsiyet, medeni durum, hamilelik, annelik, etnik köken, ten rengi, dini inanç, cinsiyet ve cinsel tercih ayrımcılığına maruz kalmadan yaşama ve çalışma hakkınız bulunmaktadır. Bunlar güvenceli özellikler (protected characteristics) olarak adlandırılır.</li>
   </ul>
   <h3>Aşağılama, Taciz ve Ayrımcılık</h3>
   <p>Unutmayın, aşağılanma ve taciz sizin hatanız değil. Asla bu şekilde düşünmeyin.</p>
   <p>Aşağılama ve taciz; zarar vermeyi, korkutmayı, kurbanlaştırmayı, önünüze engel çıkarmayı, saldırmayı, yermeyi ve değersizleştirmeyi içeren hareketlere denir. İşvereniniz, çalışma ortamının bunlardan azade olduğunu garantisini size vermekle yükümlüdür. Aşağılama ve ezme, sürekli tekrar eden ve sizin gururunuzu kıran hareketlerdir. Taciz ise yukarıda bahsedilen güvenceli özellikleri hedef alan ve bir kereye mahsus bile olsa görülen hareketlerdir.</p>
   <p>Cinsel taciz vakaları ise, dokunma ve fiziksel temas gibi saldırıları içeren ve derhal polise bildirilmesi gereken davranışlardır.</p>
   <h3>Çalışma Zamanı Düzenlemesi</h3>
   <p>İş, çalışma saatlerine gelince, temel haklarınız şunlardır:</p>
   <ul>
     <li>Günde 13 saatten fazla çalışmama</li>
     <li>Her hafta 1 günlük izin</li>
     <li>Her 6 saatlik çalışmaya en azından 20 dakika, her gün ise en az 11 saat dinlenme ve haftada 1 gün tatil. 18 yaş altında olanlar için ise her 4,5 saatte 30 dakikalık dinlenme olarak belirlenmiştir.</li>
     <li>Haftada 48 saatten fazla çalışmayı reddetme hakkınız vardır. Kontratınızda bu hakkınızdan vazgeçebilirsiniz ve bazen işverenler maddelerin arasına bunu da koymayı deniyorlar.</li>
     <li>Geceleri, ortalama 8 saatten fazla çalıştırılamazsınız. Gece vardiyasında çalışan işçilerin ücretsiz sağlık taraması hakları bulunmaktadır.</li>
   </ul>
   <h3>Sağlık ve Güvenlik</h3>
   <p>Eğer iş güvenliği sağlanmamış ve sizi risk altında bırakacak koşullar varsa çalışmayı reddetme hakkınız var.</p>
   <p>İşvereniniz size yeterli eğitimi vermekle yükümlü ve kalifiye olmadığınız alanlarda çalışmayı reddetme hakkınız bulunmaktadır.</p>
   <p>İşvereniniz, yeterli tuvalet, temizlenme alanları ve içme suyu gibi ihtiyaçlarını karşılayarak saygın bir çalışma ortamı oluşturmakla mükelleftir.</p>
   <p>Tehlikeli işleri yapma ile ilgili bir prosedür, sağlık ve güvenlik planları oluşturulmak zorundadır. Bunların tamamı işçilere, işe başlamadan önce açıklanmak zorundadır. Bunlar oluşturulurken işçilere danışılmalıdır. Bu tip işler maliyetli ve zaman alıcı olduğu için işverenler genelde bunları göz ardı etmektedir. Yasaya göre, işe aldıkları herkese sağlıklı ve güvenli bir iş ortamı sağlamak yükümlülüğündedirler.</p>
   <p>Unutmayın, eğer riskli olduğunu düşündüğünüz bir işle karşılaşıyorsanız, yasal hakkınız olan işi yapmamayı kullanabilirsiniz.</p>
   <h3>Sıfır Saat Sözleşmeleri ve Serbest Meslek</h3>
   <p>Serbest meslek, birisinin yanında ücretli çalışmaktansa kendi işini yapıyor olmaktır. Bu durumdaysanız, Ulusal Sigorta numaranızda, vergilerinizden ve evrak işlerinizden siz sorumlusunuz demektir. Ulusal sigorta aylık, gelir vergisi ise sene sonunda ödenir ve cüzi bir miktar olabilir. Büyük ihtimalle profesyonel bir muhasebeciye ihtiyaç duyacaksınız. Asgari ücret, çalışma saatleri, hastalık veya tatil izinleri sadece ücretli çalışanlara mahsustur, serbest meslek sahiplerine değil.</p>
   <p>Bazı patronlar, çalışanlarını, sırf vergiden ve sigorta ödemelerinden kurtulmak için serbest meslek sahibiymiş gibi gösterebilir. Buna sahte serbest meslek denir. İnşaat gibi bir takım işlerde bu çok yaygındır. Yasadışı olmasına rağmen hükümet bu konuda hiçbir şey yapmıyor. Bu internet sitesini kullanarak serbest meslek sahibi mi ücretli çalışan mı olduğunuzu kontrol edebilirsiniz.
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.hmrc.gov.uk/working/intro/empstatus.htm'>hmrc.gov.uk/working/intro/empstatus.htm</a></span><br/>
   </p>
   <p>Sıfır saat sözleşme ise işvereninizin size belirli bir çalışma saati garantisi vermediği bir sözleşme çeşididir. Üzerinde sıfır saat yazması gerekmez ama işveren iş vermekle yükümlü değildir ibaresini görebilirsiniz. Ayrıca sizi diğer işlerde çalışmaktan alıkoyan bir şerh de içerebilir. Her iki durum da yasaldır.</p>
   <p>Sıfır saat sözleşmesinde, diğer sözleşmelerde olduğu gibi tatil, hastalık ve annelik gibi hakların hepsine sahipsiniz. Bazen patronlar bu hakları yasadışı bir şekilde yok sayabilir.</p>
   <p>Bu sözleşme, perakende satış yapan yerler, yiyecek-içecek tedarik eden firmalar, aracı kurumlar yoluyla iş aldığınız yerler gibi düşük ücretli işlerde sıkça görülmektedir. Haftada kaç saat çalışacağınızın garantisi, çalışma programınız gibi şeyleri öğrenemeyebilir ve sadece işe aynı günlerde gelmeniz söylenebilir.</p>
   <p>Üstünüzle sorun yaşadığınızda, statüsü ne olursa olsun size iş vermeyi bırakabilir. Sizden kurtulmak isterlerse, iptal etmeleri gereken bir kontrat bile yoktur, sadece size iş vermeyi keserler.</p>
   <p>Hem serbest meslek, hem de sıfır saatli sözleşme, çalışanları işyerlerinde zayıf bir konumda olmalarına neden olur. Haksızlığa uğradığınızda ve karşılık verdiğinizde patron kolayca çalışma saatlerinizi ve ücretinizi kesebilir. Bu uygulamaların olduğu yerlerde yapabileceğiniz çok bir şey yoktur. Patronunuz kontratınızı serbest meslek sahibi veya sıfır saatli sözleşmeye çevirmeyi denerse, sadece diğer işverenlerle birlikte olup mevcut sözleşmenizin iptalini reddedebilirsiniz ve ne yazık ki elinizdeki tek seçenek budur.</p>
   <h3>“Grievance” (İşyerinde Haksızlığa Uğradığınızda Kullanacağınız Prosedür) ve Disiplin Prosedürleri</h3>
   <p>Disiplin prosedürü, işyerinde bir hata yaptığınızda patronun kullanacağı bir araçtır. İşyerinde haksızlığa uğradığınızda ise “Grievance” prosedürünü siz kullanırsınız. “ACAS”, bu tarz sorunları çözmeye odaklanmış olan bir organizasyon, bu kuralların nasıl olması gerektiğini de belirler. İşveren bu kuralları uygulayabilir fakat bunlar yasa yerine geçmedikleri için bir zorunluluk yoktur.</p>
   <p>Haklarında disiplin kovuşturması uygulanan çalışanlara kendilerini savunmak için yeterli süre verilmek zorundadır. Kanıt sunmak ve tanık çağırmak gibi haklarınız olmalıdır. Eğer disipline çağırıldıysanız yanınızda birisi ile gitme hakkınız vardır. İsterseniz sendikaların bu işle ilgilenen bir çalışanını, isterseniz de sendikada çalışan başka birisini ya da başka bir iş arkadaşınızı çağırabilirsiniz. Siz ve yanında gelen kişi, bu hakkınızı kullandığınız için cezalandırılmaya karşı güvence altındadırlar. Çağırılma, makul bir zamanda yapılmak zorundadır.</p>
   <p>Eğer sorun çözülmediyse ya da kovulduysanız, bu işle uzmanlaşmış mahkemeye, the Employment Tribunal (İş Mahkemeleri) başvurma hakkınız vardır. Davaya göre 390 pound veya daha fazlasını ödemek zorundasınız. Eğer davayı kaybeder ve kazanma şansınız olmadığınız söylenirse, işverenin yasal ücretlerini de karşılamak zorunda kalırsınız. Kendinizi, siz veya bir sendika yetkilisinin temsil etmesini isteyebilirsiniz ama eğer profesyonel birisini istiyorsanız, ücret ödemek zorunda kalırsınız. Eğer kazanırsanız, maddi tazminat alırsınız.</p>
   <p>
    Sendikalar, işyerindeki haklarınız ile ilgili bilgiler veren bir site yönetmektedir.
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.worksmart.org.uk/'>worksmart.org.uk</a></span><br/>
   </p>
   <p>ACAS’ın, benzer bilgilerin bulunduğu bir sitesi vardır.    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.acas.org.uk/'>acas.org.uk</a></span><br/>
   </p>
   <p>
    Citizen’s Advice Bureau, iş yerinde sorunlarla ilgili tavsiyeler verecektir.
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
   </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-benefits' >Sosyal Haklar</h2>
    <p>Birleşik Krallıkta sosyal haklar epey karışıktır ve birçok farklı hak bulunmaktadır. Sizin kişisel durumunuz hangisinde hak iddia edebileceğiniz ve alabileceğinizi belirlemektedir. Ödemeler genelde kısa sürelidir, kısıtlı bir süre devam eder ve ödenekleri başlatmak ve almak için birçok koşulu yerine getirmeniz gerekmektedir. Her sosyal hak talebinizi ayrı ayrı yapmanız gerekiyor. Şuanda devam eden ve Universal Credit denen reform ise işleri daha da kötü hale getirecek.</p>
    <p>Eğer AB vatandaşıysanız, sosyal haklarınızı kazanmak için en az 3 ay boyunca Birleşik Krallıkta çalışmanız gerekiyor. Eğer değilseniz, bu haklarınızı yine kazanabilirsiniz ama kurallar çok çok daha karmaşık olacaktır. AB vatandaşı olmadığınız halde sosyal haklara başvurmak, Birleşik Krallık’a yerleşme talebinizi olumsuz etkileyecektir.</p>
    <p>Bu sistemleri kullanarak tam olarak ne kadar sosyal yardım alacağınızı hesaplayabilirsiniz.
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.entitledto.co.uk/benefits-calculator/startcalc.aspx'>entitledto.co.uk/benefits-calculator/startcalc.aspx</a></span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://benefits-calculator.turn2us.org.uk/AboutYou'>benefits-calculator.turn2us.org.uk/AboutYou</a></span><br/>
    </p>
    <p>Ama tam rakam sizin durumunuza göre değişecektir. Bu nedenle the Citizen’s Advice Bureau’ya başvurabilirsiniz.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <p>Sosyal yardım dolandırıcılığı, isteyerek ve haksız yere daha fazla gelir elde etmeye çalışmak, hapis cezasına kadar götürebilecek bir suçtur.</p>
    <h3>Ana Sosyal Haklar</h3>
    <p>Eğer Birleşik Krallıkta bir işte çalışmış ve sonra işinizden olmuşsanız Jop Seekers Allowance (JSA- İş arayanlara Harçlık) alacağınız ücretlerden birisidir. 24 yaşında veya daha gençseniz haftada 57.50 pound, 24 üzerinde veya tek ebeveynseniz 113.70 pound alırsınız. İş aradığınızı sürekli ispatlamak zorundasınız ve birkaç ayı geçmişse bu ödeneği almanız güçleşecektir.</p>
    <p>Housing Benefit (Ev Yardımı) ise, düşük gelirli veya diğer sosyal haklardan yararlananlar için ev kiralarını ödemeye yardımcı olmak amacı ile verilen ödenektir. Miktar, nerede yaşadığınıza, evin oda mı yoksa dair mi olduğuna göre değişmektedir. Asla ödediğiniz kiradan daha fazla olmayacak ve muhtemelen de kiranın tamamını da karşılamayacaktır. Birçok ev sahibi sosyal yardımla geçinen insanları kiracı olarak kabul etmemektedir.</p>
    <p>Child Benefit (Çocuk Yardımı), eğer 16 yaşından küçük bir çocuğa bakmakla yükümlü bir ebeveynseniz alacağınız ödenektir. En yaşlı çocuk için haftada 20.50 pound, ötekiler için ise 13.55 pound alırsınız.</p>
    <p>Working Tax Benefit (Çalışma Vergi Kredisi), düşük gelirli işlerde çalışanların vergilerinin düşürülmesi için hazırlanmış bir yardım türüdür. Aşağıdaki siteyi kullanarak ne kadar kredi alacağınızı hesaplayabilirsiniz.
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.gov.uk/tax-credits-calculator'>gov.uk/tax-credits-calculator</a></span><br/>
    </p>
    <p>Emloyment and Support Allowance (İş ve Destek Harçlığı) ve Personal Independence Payment (Kişisel Bağımsız Ödenek) uzun süre hastalık veya engellilik çektiğiniz zamanlarda alacağınız yardımlardır. Birleşik Krallıkta uzun süredir yaşıyor olmanız gerekmektedir. Durumuzun çalışamayacak kadar kötü olduğunu ispatlamak zorundasınız. Bu değerlendirme süreci çok sıkıntılıdır ve çoğunlukla çalışamayacak kadar kötü durumda olanlara bile çalışabilir raporu verilmektedir.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-legal' >Yasal Sorunlar</h2>
    <h3>Polis ve Mahkemeler</h3>
    <p>Polisler ırkçı ve yabancı düşmanlarıdır. Eğer bir suç işlendiğinde mağdur olan göçmense, olayı derinlemesine incelemezler, tersi durumda ise suçlu çıkmanız için daha fazla uğraşırlar. Ev içi şiddet, cinsel saldırı gibi kadına yönelik suçlarda daha bile berbatlardır. Bu tip olayları rapor etmek çok zordur çünkü polis ciddiye bu tarz vakaları ciddiye almaz ve mağdura karşı tavırları berbattır. Eğer karakola gidecekseniz yanında sizin gelen birisi olsun ve söylediğiniz her şeyin yazıldığından emin olun. Eğer reddederlerse başka bir karakola gidip orada deneyin.</p>
    <p>Eğer cinsel saldırı, ev içi şiddet veya ırkçılık, homofobik saldırı gibi nefret suçları ile karşı karşıya kalmış ve rapor ettirmek istiyorsanız öncelikle “Community Safety Unit” (Toplum Güvenlik Birimi) gibi daha az önyargılı yerlere başvurmanız daha iyi olacaktır. Size hangisinin yakın olduğunu bulmak için google’dan arama yapmanız yeterli.
    <p>Eğer sokakta polis tarafından durdurulduysanız sakin kalmaya çalışın. Sizi durdurup soru sorabilirler ama cevap vermek zorunda değilsiniz. Yasal olarak sadece sizin bir suç işlediğiniz şüphesinde olurlarsa üzerinizi arayabilirler ama pratikte canlarının istediklerini, istediği şekilde yapıyorlar. Ceketinizi ve eldiveninizi çıkartmanızı söyleme hakları, sizin de tutuklama durumunda polisin kimlik numarasının da olduğu bir kaydı tutma hakkınız vardır.</p><br/>
    Polis durdurma ve arama kılavuzu:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://londonagainstpoliceviolence.wordpress.com/guide-to-stop-search'>londonagainstpoliceviolence.wordpress.com/guide-to-stop-search</a></span><br/>
    </p>
    <p>Eğer tutuklanırsanız polise adınızı, adresinizi ve doğum tarihinizi vermek zorundasınız. Diğer sorulara, herhangi bir avukatla konuşmadan yanıt vermeyin. Polis soruşturması için ücretsiz avukat hakkınız bulunmaktadır. Polis tarafından önerilen avukatları tutmayın, eğer varsa tanıdığınız insanların önerdiği avukatları tutmaya çalışın. Telefon kullanma hakkınız vardır. Eğer İngilizce konuşamıyorsanız tercüman tutma hakkınız da var. <br/>
    Newham Monitoring Group (Newham Gözlem Grubu) özellikle ırkçılığı içeren ve polisin yanlış tutumlarının olduğu durumlarda yardımcı olabilir.
    <br/>
    <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 169 3111</span><br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nmp.org.uk'>nmp.org.uk</a></span><br/>
    </p>
    <p>Polis sizin suçlu olduğunuzu düşündüğünde size “caution” (uyarı) verebilir. Bu, suçunuzu kabul ettiğiniz ama mahkemeye çıkmak zorunda olmadığınız anlamına gelir. “Caution” sabıka kaydınızda kalır. Bunu kabul etmeden önce bir avukata danışın. Eğer suçu işlemiş ama itiraf etmek istemiyorsanız bunu avukata söylemeyin, daha sonra avukatlar polise rapor verebilir.
    </p>
    <p>Eğer polisten dayak yediyseniz olabildiğince acele bir şekilde sağlık raporuna ihtiyacınız var. Polise karşı suç duyuruşunsa bulunmak mümkün ama çok zordur.
    </p>
    <p>Gelirinize bağlı olarak, eğer mahkemeye çıkartılırsanız ücretsiz avukat tutabilirsiniz. Eğer yıllık 12,475 pounddan az kazanıyorsanız ücretsiz avukat tutma hakkınız var demektir. Daha fazla kazanıyorsanız gelir testine tabii tutulduktan sonra karar verilir, eğer yıllık geliriniz 22,325 poundun üzerindeyse avukat parasının tamamını sizin ödemeniz gerekir. Bu durum sadece suçla ilişkili davalar içindir. Aile, borç, ev sorunları gibi medeni hukukun ilgilendiği davalarda ise büyük ihtimalle bu parayı siz ödeyeceksiniz. Tutarı bu siteden hesaplayabilirsiniz.
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://legal-aid-checker.justice.gov.uk'>legal-aid-checker.justice.gov.uk</a></span><br/>
    </p>
    <h3>Göçmenlik</h3>
    <p>Göçmen polislerine UK Border Agency ya da UKBA (Birleşik Krallık Sınır Görevlileri) deniyor. Göçmen grupların yaşadığı mahallelerdeki marketlere, dükkânlara, toplu taşıma istasyonlarına ve evlere sürekli baskınlar düzenliyorlar. AB vatandaşlarının Birleşik Krallıkta yaşama hakkı olsa bile geçmişte polis bu insanları da sınır dışı etmişti. Bu, eğer uzun dönem işsiz ve evsizseniz başınıza gelebilecek bir şey.</p>
    <p>Eğer UKBA veya polis sizi sokakta durdurup göçmenlik durumunuzu sorarsa cevap vermek zorunda değilsiniz. İsminizi veya adresinizi de vermeniz gerekmiyor. Korkmadan ama nazik bir şekilde onlarla konuşmak zorunda olmadığınızı söyleyin ve yürüyüp uzaklaşın. Sırf ten renginiz yüzünden sizi durdurma hakları yoktur.</p>
    <p>Eğer sırf görünüşünüz veya farklı bir dilde konuştuğunuz için sizi durdururlarsa onlara “This is racist, this is illegal, I will make a complaint” deyin.</p>
    <p>Eğer siz veya tanıdığınız biri gözaltına alınırsa Bail for Immigration Detainees’i (Göçmen Gözaltındakileri Tahliye) arayın
    <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7247 3590</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.biduk.org'>biduk.org</a></span><br/>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-domestic' >Ev İçi Şiddet Ve Cinsel Saldiri</h2>
    <h3>Kadınlar için destek</h3>
    <p>
      Women’s Aid (Kadınlara Destek) ev içi şiddet hattı 24 saat açıktır.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 2000 247</span><br/>
    </p>
    <p>
     Birçok sorunla karşılaşanlar için Lehçe ve İspanyolcası da bulunan bir el kitabı bulunmaktadır.
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.womensaid.org.uk/landing_page.asp?section=0001000100080004'>womensaid.org.uk/landing_page.asp?section=0001000100080004</a></span><br/>
    </p>
    <p>
      Southhall Black Sisters (Southhall Siyah Kızkardeşler) ev içi şiddete veya benzer sorunlara maruz kalan Asyalı ve siyah kadınlar için göçmenliği de içeren bilgiler sunuyor.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0208 571 0800</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.southallblacksisters.org.uk'>southallblacksisters.org.uk</a></span><br/>
    </p>
    <p>
     Rape Crisis London (Londra Tecavüz Krizi) her türlü cinsel saldırı veya tecavüze uğramış kadın ve kızlara gizlilik esas alınarak yardım, destek ve bilgi sunuyor.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 80 29999</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.rapecrisislondon.org'>rapecrisislondon.org</a></span><br/>
    </p>
    <p>
    Women’s Right (Kadın Hakları) telefon üzerinden ücretsiz yasal danışmanlık veriyor, belli hukuki alanlarla ilgilenen numarayı bulmak için internet sitesine bakınız.
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.rightsofwomen.org.uk/adviceline.php'>rightsofwomen.org.uk/adviceline.php</a></span><br/>
    </p>
    <p>
     Kalayaan isimli organizasyon ücretsiz, bağımsız ve gizlilik esasına uygun olarak göçmenlik ve iş bulma ile ilgili olarak göçmen ev içi işçilere danışmanlıkta bulunuyor.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7243 2942</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.kalayaan.org.uk'>kalayaan.org.uk</a></span><br/>
    </p>
    <h3>LGBT (Lezbiyen, Gey, Biseksüel, Trans) Bireylere Destek</h3>
    <p>
     Broken Rainbow LGBT Domestic Violence (Broken Rainbow LGBT Ev İçi Şiddet) yardım hattı
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 999 5428</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.brokenrainbow.org.uk'>brokenrainbow.org.uk</a></span><br/>
    </p>
    <h3>Erkeklere Destek</h3>
    <p>
      Men’s Domestic Violence and Abuse (Erkeklere Ev İçi Şiddet ve İstismar) yardım hattı
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 801 0327</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.mensadviceline.org.uk'>mensadviceline.org.uk</a></span><br/>
    </p>
    <p>
    Cinsel saldırıya uğramış erkeklere gizlilik esasına uygun olarak yardım sağlayan Survivors UK’ninde telefon hattı ve internet sitesi bulunmaktadır.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0845 122 1201</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.survivorsuk.org'>survivorsuk.org</a></span><br/>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-lgbt' >LGBT (Lezbiyen, Gay, Biseksüel, Trans*)</h2>
    <p>Yeni bir şehre geldiğinizde diğer LGBT bireyleri bulmak zor olabilir. Gey barlar ise çok pahalı yerlerdir. Başkaları ile tanışmanızı kolaylaştıracak bir takım bağlantılara buradan ulaşabilirsiniz.</p>
    <p>
      London Lesbian and Gay Switchboard (Londra Lezbiyen ve Gay Operatörü) bilgilendirme telefon hattıdır.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0845 122 1201</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.llgs.org.uk'>llgs.org.uk</a></span><br/>
    </p>
    <p>
     The London Queer Social Centre (Londra Quir Toplum Merkezi) ya da "House of Brag" quir bireylerin taban örgütlenmesidir.
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://houseofbrag.wordpress.com'>houseofbrag.wordpress.com</a></span><br/>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-other' >Faydali Numaralar</h2>
    <p>
      GOV.UK hükümet tarafından yürütülen ve yasaların ne olduğunu anlaşılır bir biçimde açıklayan bir sitedir. Bu kılavuzun da içerdiği bir sürü farklı alanı kapsayan bilgiler içermektedir.
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gov.uk'>gov.uk</a></span><br/>
    </p>
    <p>
      Citizen’s Advice Bureau ihtiyacı olan insanlara tavsiyeler veren bir vakıftır. Tavsiye alabileceğiniz yerel merkezleri bulunmaktadır. Bu siteyi kullanarak size yakın olan merkezi bulabilirsiniz.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>http://www.citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <p>
      Advice Guide, Citizen’s Advice Bureau’nun verdiği tüm tavsiye tiplerini içerir.
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.adviceguide.org.uk'>adviceguide.org.uk</a></span><br/>
    </p>
    <p>
    Community Law Centres avukat tutamayanlara yasal danışmanlık verir. Size yakın olanını bu siteden bulabilirsiniz.
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.lawcentres.org.uk/i-am-looking-for-advice'>lawcentres.org.uk/i-am-looking-for-advice</a></span><br/>
    </p>
    <p>
     Mary Ward Legal Centre yasal danışmanlık alabileceğiniz bir diğer yerdir.
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.marywardlegal.org.uk/'>marywardlegal.org.uk</a></span><br/>
    </p>
    <p>
     National Debt Line, borçlar hakkında bilgi verir.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 808 4000</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='nationaldebtline.org/EW/Pages/default.aspx'>https://www.nationaldebtline.org/EW/Pages/default.aspx</a></span><br/>
    </p>
    <p>
     NHS Choices, sağlık ve sağlık hizmetleri hakkında bilgi veren bir internet sitesidir.
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nhs.uk/Pages/HomePage.aspx'>nhs.uk/Pages/HomePage.aspx</a></span><br/>
    </p>
    <p>London Coalition Against Poverty, bir grup insanın doğrudan eylem ve dayanışma idealleri ile yaşantılarını değiştirmeyi amaçlayan sıradan insanların oluşturduğu bir koalisyondur. Siteleri, Londra’nın farklı bölgelerinde çalışan yerel grupların listesini verir.
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://lcap.org.uk'>lcap.org.uk</a></span><br/>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-who' >Biz Kimiz Ve Neden Umursuyoruz</h2>
    <p>The Solidarity Federation (Dayanışma Federasyonu) insanları öz örgütlülüğe ve kolektif eyleme yönlendiren bir organizasyondur. Bizim kendi iş yerlerimizde ve gruplarımızda yaşanan sorunları çözmenin ötesinde, patronları ve ev sahipleri ile sorun yaşayan diğer insanlara da destek vermekten mutluluk duyarız. Eğer örgütlenme arayışı içerisindeyseniz bizimle temasa geçebilirsiniz.
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://solfed.org.uk'>solfed.org.uk</a></span><br/>
      <span class='email'><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href='mailto:solfed@solfed.org.uk'>solfed@solfed.org.uk</a></span><br/>
    </p>
  </div>
</div>
