---
extends: bare.j2
default_block: main
title: London - A Migrant's Guide
description: Basic information useful for people who are arrived and  starting to live in London
---

<div class="row">
  <div class="col-md-12 text-container">
  	<h2 id='section-introduction' >Introduction</h2>
  	<p>Starting a new life in London can be intimidating. Many things are different to how they were at home. Most things are expensive, and some things are just plain difficult. This pamphlet provides basic advice on some of the things that you will have to sort out when you arrive here and on troubles you're likely to get into.</p>
  	<p>Some of this advice will apply to everyone. Most will assume that although you are a migrant, you have a legal right to live and work in the UK, most likely because you are an EU citizen. If that's not the case for you then things may be more complex and you may need more in depth information than this small pamphlet can provide.</p>
  </div>
  <div class="col-md-12 text-container">
  	<h2 id='section-transport' >Transport</h2>
  	<p>To travel on London transport you need a blue electronic Oyster card. There are no paper tickets and you can't pay with cash on a bus or a train. An Oyster card costs £5 which you can get back if you return it. You put money on it (top up) and each journey price is taken off that. Stations and some shops sell Oyster cards and top ups. The Oyster card works on buses, the Underground - the Tube, the Overground and the DLR - local trains, and regular trains while travelling within London.</p>
  	<p>The transport network is divided into zones starting from 1 in the centre, all the way to zone 6 on the outskirts. On trains and the tube, the price depends on the zones and is more expensive during peak time  (6.30-9.30am and 4-7pm). A journey from Zone 2 to Zone 1 will cost you £2.30 or £2.90. A bus journey costs £1.50 and if you travel more than 3 times a day, the fare is capped at £4.40. You can put day, week and monthly tickets called travelcards on the Oyster.</p>
	<p>It is possible to buy weekly travelcards only for buses, for which the zone doesn't matter (£20.20) or the more comprehensive ones that you can use in any transport, but which depend on the zones you travel (various prices). Traveling without ticket is possible, but ticket inspectors are common. They may try to check your immigration status if they stop you. Travelling without a ticket is a criminal offence and they do take people to court.</p>
  	<p>Use the TFL website to find how to get from one place to another within London using public transport:<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.tfl.gov.uk/'>tfl.gov.uk</a></span><br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0343 222 1234</span><br/>
  	</p>
  	<p>National Rail Enquiries will help you find train times and ticket prices<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nationalrail.co.uk/'>nationalrail.co.uk</a></span><br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 08457 48 49 50</span><br/>
  	</p>
  	<p>Coaches are often cheaper than trains, especially the budget ones like Megabus<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://uk.megabus.com/'>uk.megabus.com</a></span><br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0141 332 9644</span><br/>
  	</p>
  	<p>You can find the exact location of any UK address by typing the post code in Google Maps or Bing Maps search<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.google.co.uk/maps/place/London+E1+7Q'>google.co.uk/maps/place/London+E1+7Q</a></span><br/>
  	</p>
  </div>
  <div class="col-md-12 text-container">
  	<h2 id='section-internet' >Internet & phone</h2>
  	<p>Internet access in an internet cafe is around £1/hour, more in central London. They will also do photocopying and cheap international phone calls.
  	</p>
  	<p>You can access the internet for free in libraries. Libraries will usually require you to register. It's free but you will need a proof that you live in the area. They may allow access without registering, so it's worth asking at the counter. Libraries will have newspapers, magazines, English learning resources, and many will have books in different languages. They are good places for getting information on local community resources, events, education, housing, etc.</p>
  	<p>A mobile phone without a contract is called prepaid, pay as you go or PAYG. There are networks such as Lebara, Lycatel or Giffgaff which offer very good SIM card only deals. You can get a pre-paid SIM with 250 minutes, unlimited SMS messages (texts) and 1GB of internet data for £10 a month. Small mobile phone shops in local markets are the best place to get a cheap SIM and a cheap handset. Argos sells cheap handsets too.</p>
  	<h2 id='section-cheap' >Cheap Food & Other Stuff</h2>
  	<p>The cheapest supermarkets are Lidl, Aldi or Morrisons. Sometimes you can get food that expires on the day very cheap if you come late in the evening. Food is often cheaper in markets than in shops. Skipping (taking food from bins) is a crime but prosecutions are not common. You are likely to get trouble from security guards if you get caught. Be careful as sometimes bleach is poured over food and there may be rats in the bin. Places that give out free food: SOAS University and LSE (London School of Economics) – Monday – Saturday 12:15pm – 2:30pm; Food Van: Kentish Town – 12pm, Camden Town – 1pm, Kings Cross – 2.15pm – Monday to Saturday; Day Centre: Matchless Gifts – 102 Caledonian Road, Islington London, N1 9DN.</p>
  	<p>Primark is the cheapest clothes store. Argos is a cheap for household goods, electrical items and electronics. Charities such as Oxfam, Marie Curie, Mind, run charity shops where you can buy second hand clothes, books, and household goods cheap.</p>
  	<p>Freecycle is an internet forum where people give away stuff for free
      <br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://uk.freecycle.org/'>uk.freecycle.org</a></span><br/>
  	</p>
  	<p>Gumtree has a section for free stuff<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gumtree.com/freebies/london/freebies'>gumtree.com/freebies/london/freebies</a></span><br/>
  	</p>
  	<p>You will need a lot of patience and luck with those as good quality things are snapped up fast.</p>
  </div>
  <div class="col-md-12 text-container">
  	<h2 id='section-bank' >Bank account</h2>
  	<p>Opening a bank account is difficult if you have just started living in the UK. Banks will often ask you for documents to open an account and in order to get those documents you may need a bank account already. You need two documents: a proof of identity such as passport or national identity card, and a proof of address, which may be more difficult to get. Keep all official letters with your name on them for a few months, because they may be useful for that or similar purpose. You will often need a history of your addresses with dates when you lived there. Write that down each time you move.</p>
  	<p>A tenancy agreement is a proof of address, but it's unlikely you will have one at the beginning. A utility such as gas, electricity or landline phone, but not a mobile phone bill, will work. You need to ask landlord and the utility company to change the bill in your name, and wait until the end of the month when the next bill comes. They don't often agree to do that. If you are on any bills, remember to inform the utility company when you move out, otherwise you may be liable for unpaid bills of other tenants.</p>
  	<p>A valid UK driving license is a proof of address. You can exchange an EU driving license for a UK one at a £50 fee. You can apply for a provisional driving license, meant for people who are learning to drive, and some banks accept that<br/>
  	<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://ask.co-operativebank.co.uk/help/customer_services/address_proof'>ask.co-operativebank.co.uk/help/customer_services/address_proof</a></span><br/>
  	</p>
  	<p>Your employer may write a letter confirming your address. It has to be on the company headed paper and signed by someone in position of authority. Some banks accept that or the letter from the Job Centre confirming your National Insurance number<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.hsbc.co.uk/content_static/en/ukpersonal/pdfs/en/passport_brochure.pdf'>hsbc.co.uk/content_static/en/ukpersonal/pdfs/en/passport_brochure.pdf</a></span><br/>
  	</p>
  	<p>Some banks offer accounts for people newly arrived to the UK, where only a passport and no proof of address is required<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.lloydsbank.com/banking-with-us/joining-lloyds/new-to-the-uk.asp'>lloydsbank.com/banking-with-us/joining-lloyds/new-to-the-uk.asp</a></span><br/>
  	</p>
  	<p>or a recent statement from an account in your home country will be accepted as proof of address<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.barclays.co.uk/Helpsupport/ComingtoworkintheUK/P1242601780771'>barclays.co.uk/Helpsupport/ComingtoworkintheUK/P1242601780771</a></span><br/>
  	</p>
  	<p>Credit Unions are small community banking organisations and can be more flexible when opening a new account. You can find your local credit union here<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.findyourcreditunion.co.uk/home'>findyourcreditunion.co.uk/home</a></span><br/>
  	</p>
  	<p>Collect as many relevant documents as you can, go to a bank in person, and try in several different banks, as you may be lucky and be served by a person who won't be as diligent with their checks as the rules require.</p>
  	<h2 id='section-learning' >Learning English</h2>
  	<p>In every borough there is a college for adults for vocational subjects. This is called a Further Education (FE) or Community College. They provide courses in a range of subjects including English language classes, which are affordable and sometimes free, especially if you are receive state benefits. Some local councils, libraries, churches and community centres provide free English classes too. Ask in the local library for advice.</p>
  </div>
  <div class="col-md-12 text-container">
  	<h2 id='section-healthcare' >Healthcare</h2>
  	<p>If you need emergency medical help call 999. If you need medical help fast but it's not an emergency call 111. You can also go to the accident and emergency unit, or 'the A&E', which is usually in a hospital.</p>
  	<p>NHS, the national health service, provides public health care in the UK. You can find hospitals, clinics, dentists, sexual health clinics, and other health services that are local to you by using this website<br/>
  	<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nhs.uk/Service-Search'>nhs.uk/Service-Search</a><br/>
  	</span>
  	</p>
  	<p>Basic health service, such as a visit to a doctor or an emergency treatment, is free no matter what your immigration status. You may be charged for specialist appointments and hospital stays. If you have a right to stay in the UK, those are free too. Dentist or optician appointments and prescription medicines, always cost money.</p>
  	<p>Your first point of contact is a doctor called a GP or a general practitioner. They usually work in a surgery, it has nothing to do with surgical procedures. You need to register with one near you and book an appointment each time you want to see a doctor. If you have an illness or injury which is not an emergency, but you can't wait for the appointment you can go to a walk-in clinic where a nurse will see you. Be prepared to queue for several hours.</p>
  	<p>You need to register and book appointment to see a dentist. A check up costs £18.50 and a procedure such as a filling or removing a tooth costs £50.50. You will only pay a single fee for the most expensive treatment and if you need to come back again within two months it will be free.</p>
  	<p>Abortion is legal up to 24 weeks and is available free in the UK. You will need a referral from your doctor, or from British Pregnancy Advisory Service<br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03457 30 40 30</span><br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.bpas.org/'>bpas.org</a></span><br/>
  	</p>
	<p>Abortion is also available through private clinics where you will have to pay £450-£750.</p>
	<p>Everyone can get condoms for free, even if they are under 16. They are available from contraception clinics, sexual health clinics, some GP surgeries and some young people's services.</p>
	<p>You can get the Morning After Pill free of charge from contraception clinics, Brook centres, some pharmacies, most sexual health clinics, most NHS walk-in centres and GP surgeries and some hospital accident and emergency departments. You can also buy it over the counter for about £26 in a pharmacy, including the pharmacies inside drugstores such as Boots and Superdrug.</p>
	<p>There are many sexual health clinics in London, often next to hospitals. 56 Dean Street is an excellent NHS sexual health clinic open to all people. They are particularly good for LGBT people. They have a clinic for trans people, sex workers, and for men who enjoy hard sex and drugs.<br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 3315 6699</span><br/>
  		<span class='address'><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 56 Dean Street, Soho, London, W1D 6AQ</span><br/>
  	</p>
  </div>
  <div class="col-md-12 text-container">
  	<h2 id='section-home' >Home</h2>
  	<h3>Finding a place</h3>
  	<p>Rents in London are extremely high and finding a decent place is difficult and takes time. It's cheaper in Zone 3 and further out. Before choosing look at several places, ask people living in the area how much they're paying, search on different websites and ask in estate agents. Some newsagents have boards with adverts or have adverts in their windows and you can also ask in places like launderettes, pubs, barbershops, cafés and social centres. Gumtree is the most popular website for rooms and flats<br/>
  	  <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gumtree.com/london'>gumtree.com/london</a></span><br/>
  	</p>
  	<p>Most people cannot afford a flat so they rent a room or even share a room with another person. Sharing with people sleeping on bunk beds is the cheapest. A Roommate is someone who lives in the same room with you,  a flatmate lives in the same flat but in a different room. Be careful about sharing a room; some people seem to be seeking sexual partners. A single room can fit one person; a double room is larger, with a bed that can sleep two people. If it is advertised as a room you should have it to yourself only. Landlords often rent out every room in a flat as a bedroom – having a living room for communal use is an extra. If in doubt, ask if you would be sharing a room, how many people live in the flat, if it has a living room, how many people are sharing the bathroom etc?</p>
  	<p>A cheap room in London is around £300-£500 a month including bills. Most rooms are around £500-£700 a month. Bills consist of: utilities such as gas, electricity and water; extras such as phone, internet and satellite or cable tv; the tax paid to the local government called council tax which is usually the highest bill. Council tax varies depending on which part of London the property is in and how big it is. Check which bills are included in the price. You will need two months' worth of rent upfront, one month for the rent and one month for the deposit, which you will get back when you move out.</p>
  	<p>Scams are very common. Do not pay money in advance for anything you haven't seen. If the deal looks to good to be true than it probably is not true. People in debt often get you to pay a large deposit and rent in advance, then run off with the money. Then you are at risk of summary eviction. Unfortunately this is very difficult to fight or guard against. Try to have copies of anything you agree in writing - ideally in a formal contract.</p>
  	<h3>Tenants' Rights</h3>
  	<p>There are different types of tenancy contracts. Your rights depend on which one you have. Assured shorthold tenants, which is most common, gives you some rights and protection. As an excluded occupier, for example a lodger, you have very few rights. Even if you have no written contract you still have rights as long as you can prove you've paid the landlord. Ask for receipts when you pay rent and ideally pay by bank transfer to have a proof.</p>
  	<p>Basic rights are implied by law. You have them even if they aren't written in your contract. If the contract contains clauses contrary to the law, the law comes first. Some of the most important rights are:</p>
  	<ul>
  		<li>Your landlord must carry out basic repairs (damage is called disrepair).</li>
  		<li>Your landlord must keep the installations for the supply of water, gas, electricity, sanitation, space heating and heating water in good working order.</li>
  		<li>You have the right to live peacefully in the accommodation without nuisance from your landlord (Your landlord is required to give you 24 hrs' notice in advance of any visit, with the possible exception of emergencies.)</li>
  	</ul>
  	<p>In most cases, your landlord must not discriminate against you. There may be some exceptions, for example, if you live in the same accommodation as your landlord.</p>
  	<p>Rent can only be increased by formal application. If your contract has the procedure for increasing rent, your landlord must follow it. Otherwise it's no more than once a year with a month's notice for periodic (month-by-month or week-by-week) tenancies, and only with your consent on fixed-term ones until the fixed term runs out.</p>
  	<h3>Landlord Harassment</h3>
  	<p>Harassment by a landlord is a criminal offence and if your landlord is harassing you, you can call the police or speak to an independent organisation such as the Citizen's Advice Bureau. Harrassment and can take a number of different forms, for example:</p>
  	<ul>
  		<li>Removing or restricting access to services such as gas, electricity or water, or failing to pay the bills so that these services are cut off</li>
  		<li>Visiting your home regularly without warning, especially late at night</li>
  		<li>Interfering with your post</li>
  		<li>Threatening you</li>
  		<li>Sending builders around without notice</li>
  		<li>Entering your home when you are not there, without your permission</li>
  		<li>Allowing your home to get into such a bad state of repair that it’s dangerous for you to stay</li>
  		<li>Beginning disruptive repair works and not finishing them</li>
  		<li>Harassing you because of your gender, race or sexuality.</li>
  	</ul>
  	<h3>Deposit and Tenancy Deposit Scheme</h3>
  	<p>When you move in to accommodation, you pay a deposit in case you cause damage to the house or fall behind on paying the rent. Getting the deposit back is a common problem people have when renting. Remember to get a receipt when you pay the deposit. Take photos of the house when you move in and email them to someone. This will be a dated proof of the state of the house you can use in case the landlord accuses you of causing damage. If your landlord withholds all or part of the deposit, they have to provide an itemised invoice of the costs deducted from it, including receipts for any repairs or cleaning work.</p>
    <p>Your landlord is required to put your deposit into a government-approved tenancy deposit scheme when you move in. They can be fined for not returning the deposit back when you move out. If they refuse, you can appeal to the scheme. The list of of approved schemes and other information is on a government website<br/>
          <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.gov.uk/tenancy-deposit-protection'>gov.uk/tenancy-deposit-protection</a></span><br/><br/>
    </p>
    <h3>Eviction</h3>
    <p>Your landlord needs grounds (a reason) to evict you before the end of the contract. This could be due to breaking a term of your tenancy agreement or falling behind in paying rent.</p>
    <p>Your landlord has to give you a written notice that complies with particular legal requirements first. You don’t have to leave at this point. Your landlord then needs to get a court order saying when you should leave the property. You can explain your situation to the court in writing and by going to the court hearing in person.</p>
    <p>You can stay in your home until court officials (bailiffs) come to your house. You don't have to let bailiffs in unless it's to do with criminal fines or tax. They are banned from breaking in. If you let them in, they will be able to take your things. Police officers are not allowed to break in for them either, unless they have a warrant showing that they suspect you of a criminal offence.</p>
    <p>Remember, a notice given by the landlord is not enough to evict you, they need a court order. If anyone tries to evict you without following the correct procedure, they're committing the criminal offence of illegal eviction. Police often wrongly think unlawful eviction is a civil matter, in fact it is a criminal matter and they have a duty to proetect you. You are legally allowed to change the locks to protect yourself from harrassment, as long as you keep the original lock and put it back on when you leave.</p>
    <h3>Disputes</h3>
    <p>Any dispute with your landlord needs to be carefully considered. Here are some things you can do to help you through</p>
    <ul>
      <li>Read your tenancy agreement to find out your contract rights and responsibilities</li>
      <li>Research your housing rights and get legal advice wherever possible</li>
      <li>Record and copy any and all proofs of payment, correspondence, and photographic evidence sent to your landlord to create a paper trail.</li>
    </ul>
    <p>Shelter is a charity providing advice about housing and homelessness. You can call them or use the website to find information<br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 800 4444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://england.shelter.org.uk/get_advice'>england.shelter.org.uk/get_advice</a></span><br/>
    </p>
    <p>Councils often have someone dedicated to housing advice, but they can sometimes be difficult to find and have different names, for example Hackney's version is Housing Options.</p>
    <p>Housing Rights Info website contains a lot of information about housing right and contains section dedicated to right of newly arrived migrants<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.housing-rights.info/index.php'>housing-rights.info/index.php</a></span><br/>
    </p>
    <p>Citizen's Advice Bureau will give you advice on housing 
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <h3>Homelessness</h3>
    <p>A significant number of homeless people in London are recent migrants, especially from Central and Eastern Europe. People don't realise how expensive living here is and how difficult it is to find work, then something bad happens and they end up on the streets. If you become homeless you will not be eligible for any help if you're not from an EU country, or are from the EU but have been in UK for less than three months. Even if you are eligible, services for the homeless are massively overstretched and it will be difficult to get help.</p>
    <p>Some organisations that provide advice and support for homeless<br>
    Shelter
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 800 4444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://england.shelter.org.uk/get_advice'>england.shelter.org.uk/get_advice</a></span>    <br/>
    </p>
    <p>
      The Simon Community
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7485 6639</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.simoncommunity.org.uk'>simoncommunity.org.uk</a></span></p><br/>
    <p>
      Crisis
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.crisis.org.uk'>crisis.org.uk</a></span><br/>
    </p>
    <p>
      The Pavement magazine gives up-to-date information on street homelessness in London, including practical information such as soup runs etc.
      <br/> 
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.thepavement.org.uk'>thepavement.org.uk</a></span><br/>
    </p>
    <p>
      Barka provides support for people from  Central and Eastern Europe facing severe social and economic difficulties. Free help line open 9.00 - 14.00 on Monday, Tuesday, Thursday, Friday. The service is provided in Polish, Russian, and English. 
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 171 2926</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.barkauk.org'>barkauk.org</a></span><br/>
    </p>
    <h3>Squatting</h3>
    <p>Squatting in residential properties is a criminal offence. People have been prosecuted and sentenced to prison. Squatting in other properties is not illegal but it's difficult to stay in one place for longer. Advisory Service for Squatters provide advice on squatting
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 3216 0099</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.squatter.org.uk'>squatter.org.uk</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-work' >Work</h2>
    <h3>National Insurance</h3>
    <p>National Insurance is a tax deducted form your salary towards unemployment, sickness and retirement benefits. You need to get a National Insurance (NI) number to work in the UK. You can start without it but you should get one as soon as possible. You need to attend an interview and bring a proof of identity (for example a passport or driving licence). Call Jobcentre Plus to book an interview
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0345 600 0643</span><br/>
    </p>
    <h3>Pay, Minimum Wage, Taxes</h3>
    <p>Your boss should give you a written contract of employment. They don't have to give you a full one, but they have to specify in writing basic conditions, such as pay. Always ask for a contract anyway. If you don't get it, it may a warning sign that you will have trouble in the future. Try to get someone to check your contract for dodgy terms.</p>
    <p>It's illegal for the boss to pay you below National Minimum Wage. This is currently £6.50 per hour if you are 21 or older, or £5.13 if you are younger. Pay is usually advertised per hour or for the whole year (per annum or pa). Full time work (40 hours a weeIt's illegal for the boss to pay you below National Minimum Wage. This is currently £6.50 per hour if you are 21 or older, or £5.13 if you are younger. Pay is usually advertised per hour or for the whole year (per annum or pa). Full time work (40 hours a week) on hourly wage of £6.50 amounts to roughly £13,520 a year. k) on hourly wage of £6.50 amounts to roughly £13,520 a year.</p>
    <p>Example break down of taxes and National Insurance on a full-time job at minimum wage:<br/>
    Pay before tax: £13,520 a year<br/>
    National Insurance £668 a year<br/>
    Income Tax: £704 a year<br/>
    Take-home pay: £12,148 a year, £234 per week, around £1,010 a month - this will vary depending on the length of the month.</p>
    <p>Keep pay slips and records of working hours and holidays. This will help you identify if you're underpaid, not given enough holiday etc. Keep notes on any incidents, arguments etc, that occur at work, along with names of who witnessed them. Notes from the time of the incident will help you if a manager tries to bully, fine or sack you later.
    </p>
    <p>If you're in an employment contract, even in several different jobs, the employer should pay all taxes you owe and you shouldn't need to do any tax-related paperwork at the end of the tax year. If you start working without an NI number you will be paying additional emergency tax which you can claim back as soon as you get your NI number. Don't panic if you overpay tax. You can always get it back by doing tax self assessment at the end of the tax year. Tax year ends on 5 April and you have until October to do the self-assessment.</p>
    <p>HMRC (Her Majesty's Revenue and Customs), who collect all taxes, will often help if you have problems. They run a number of phone lines providing advice related to specific taxes. You can find the numbers here:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://taxaid.org.uk/guides/taxpayers'>taxaid.org.uk/guides/taxpayers</a></span></p><br/>
   <p>Tax Aid is a charity that helps people on low income with tax problems that HMRC can't resolve:
     <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://taxaid.org.uk/guides/information'>taxaid.org.uk/guides/information</a></span><br/>
     <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0345 120 377</span><br/>
   </p>
   <h3>Key rights at work</h3>
   <p>No matter if you're working temporarily or permanently, with an agency, full or part-time, you have certain basic rights:</p>
   <ul>
     <li>At least 5.6 weeks of paid holiday  (leave or time off) per year. This amounts to 28 days for a normal working week if you work full time. That includes public holidays such as Christmas and bank holidays. Your contract can give you more but not less. For part-timers, multiply the number of days you work in a week on average by 5.6. The rule applies to all jobs from the day you start – on day one you get two days' leave, then after six months that rises to 14 days.</li>
     <li>The right to sick pay. You get statutory sick pay when you have  been off work due to sickness for four days in a row. You need to earn more than £111 a week before tax and have been working for over three months (or are thought to have been in continuous employment for 13 weeks).</li>
     <li>The right to maternity/paternity leave when we have children. Most mothers are allowed 26 weeks’ paid maternity leave plus 26 weeks’ unpaid leave. To get maternity pay you must earn over £111 per week and have been working continuously for more than 26 weeks by 15 weeks before the baby’s due date. For the first six weeks you should be paid 90% of average earnings, then a constant rate of £138.18 for 33 weeks. If the boss wont/can’t pay, the Department of Work and Pensions has to. Fathers/male partners get two weeks’ paid paternity leave.</li>
     <li>The right to defend yourself. You have the right to protection from being sacked (fired, “let go”) for using our legal employment rights. You have the right to join with our fellow workers and organise ourselves collectively, and to join a trade union.</li>
     <li>The right to equal treatment. You have the right not to be discriminated against at work because of your age, disability, gender reassignment, marriage or civil partnership status, pregnancy or maternity, race, religion or belief, sex and sexual orientation. These are called protected characteristics.</li>
   </ul>
   <h3>Bullying, Harassment, Discrimination</h3>
   <p>Remember, bullying or harassment is not your fault. You do not have to put up with it.</p>
   <p>Bullying and harassment involve behaviour which harms, intimidates, threatens, victimises, undermines, offends, degrades or humiliates.  Your employer has to ensure the workplace is free of bullying and harrassment. Bullying is repeated behaviour that undermines your personal dignity. Harassment is a single incident or a series of incidents related to protected characteristics mentioned above.</p>
   <p>Serious incidents of sexual harassment, such as those involving touching and other physical threats, are criminal offences and should be reported to the police.</p>
   <h3>The working time regulations</h3>
   <p>When it comes to working time your basic right are:</p>
   <ul>
     <li>Work no more than 13 hours a day.</li>
     <li>One day off in any given week.</li>
     <li>Breaks of at least 20 minutes after each six hours of work, at least 11 hours' rest in every 24 hours. Rest breaks for under-18s are a minimum of 30 minutes every 4 1/2 hours.</li>
     <li>You can refuse to work more than 48 hours a week. This is worked out by averaging a 17-week period, so you can be forced to do more in a single week. You can agree in writing to give up this right (opt out) and employers sometimes try to sneak this in as a clause in your contract.</li>
     <li>At night, work can't take up more than an average of eight hours per day. Night workers have the right to free health checks.</li>
   </ul>
   <h3>Health & safety</h3>
   <p>You have the right to refuse to work if the working conditions are unsafe or put you in danger. The employer has to give you proper training, and is not allowed to ask you to jobs for which you are not qualified for.</p>
   <p>The employer has to provide decent working conditions including enough toilets, washing facilities and drinking water. There must be procedures (instructions what to do) for dealing with risks at work. They have to make a health and safety plan. Health and safety agreements, policies and practices have to be explained to all workers before they start work. Workers have to be consulted on health and safety matters.</p>
   <p>Health and safety at work costs money and time, so bosses often try to dodge doing it. By law they must give healthy, safe conditions to everyone they hire. Remember, you can legally walk out if you feel in instant danger.</p>
   <h3>Zero Hours Contracts and Self-Employment</h3>
   <p>Self-employment is earning money from working for yourself rather than as a wage from an employer. When sel-femployed, you are responsible for your NI and income tax payments and paperwork. National Insurance is paid monthly, income tax at the end of the year and it can be a substantial amount. You will probably need help from a professional accountant. Right such as minimum wage, working hours, sick and holiday pay are only applicable to employees, not to self-employed people.</p>
   <p>
    Some bosses try to force workers to become selfemployed to save on taxes and take their rights away. This is called false self-employment. It is very common in certain sectors such as construction.  It is illegal but the government is not doing anything about it. You can use this website to check if you are an employee or self-employed:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.hmrc.gov.uk/working/intro/empstatus.htm'>hmrc.gov.uk/working/intro/empstatus.htm</a></span><br/>
   </p>
   <p>Zero hours contract is an employment contract which doesn't give you guaranteed working hours. It may not say zero hours, but say the employer has no obligation to provide work. It may also contain an exclusivity clause, which prevents you from taking on other work. Both these things are legal.</p>
   <p>On a zero hours contract you have the same rights to holiday, sick pay and maternity leave as other workers. The bosses sometimes refuse these rights illegally. They may never give you enough work to qualify for the rights where there is an income threshold.</p>
   <p>Zero hours contracts are very common in retail, hospitality, agency work and other low paid jobs. You will not have guaranteed hours each week, you may not get a rota, and only be asked to come to work on the same day.</p>
   <p>If you have any issues with your managers, no matter if they are work related or personal, they can just stop giving you shifts. If they want to get rid of you, they don't need to terminate the contract, they can stop giving you shifts permanently.</p>
   <p>Both self-employment and zero hours contract put you in a very weak position at work. If you are mistreated in any way and try to fight back, either individually or collectively, the boss can just cut your hours and income. There is not much you can do when starting a job where they are already in use. If the boss is trying to change your existing contracts to zero hours or force you to become self employed, organising your workmates to collectively refuse signing the new contracts is difficult but is the only option available.</p>
   <h3>Grievance and disciplinary procedures</h3>
   <p>A disciplinary is a procedure for the boss when you've done something wrong at work. A grievance is when you have a complaint. ACAS, an organisation which mediates workplace disputes, has a Code of Practice specifying what disciplinary and grievance procedures should look like. The employer should follow this code, but it is guidance, not law.</p>
   <p>Employees facing disciplinary action should be given adequate time to prepare a defence. You should be able to give evidence and to call witnesses. If you are called to a disciplinary hearing, you have the right to be accompanied  by someone. You can choose either someone trained by the union for that purpose or another union official (it doesn't matter if the union is recognised) or a work colleague. You, and whoever accompanies you, are protected against any disciplinary or dismissal in connection with using this right of accompaniment. Hearings must be heard within a reasonable time period.</p>
   <p>If you cannot resolve the case within the workplace or you have been dismissed, you can take it to a specialist employment court, The Employment Tribunal. You will have to pay a fee of £390 or more, depending on the type of your case. If you lose and the tribunal decides your case had no chance of success, they may ask you to pay the employer's legal costs. You may represent yourself, or a union official may represent you, but if you need a legal professional to represent you, you will have to pay their fees. If you win, you will get monetary compensation.</p>
   <p>
     Trade unions run a website with information about your right at work
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.worksmart.org.uk/'>worksmart.org.uk</a></span><br/>
   </p>
   <p>
     ACAS run another website with such information
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.acas.org.uk/'>acas.org.uk</a></span><br/>
   </p>
   <p>
     Citizen's Advice Bureau will give you advice on work issues
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
   </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-benefits' >Benefits</h2>
    <p>The benefit system in the UK is very complicated. There are different benefits. Your individual circumstance dictates which ones you can claim and how much you will get. Payments are usually low, last for a limited period of time, and you have to meet various conditions not only to start claiming, but to keep on getting the money. You have to claim different benefits separately. An ongoing reform to introduce to one super-benefit called Universal Credit will make things even worse.</p>
    <p>If you are an EU citizen, you have to work for three months in the UK to be entitled to benefits. If you are from outside the EU, you may be able to claim some benefits but the rules are extremely complicated. Claiming benefits as a non-EU citizen may negatively impact your right to remain in the UK.</p>
    <p>You can use one of these calculators to get an estimate of what benefits you could get
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.entitledto.co.uk/benefits-calculator/startcalc.aspx'>entitledto.co.uk/benefits-calculator/startcalc.aspx</a></span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://benefits-calculator.turn2us.org.uk/AboutYou'>benefits-calculator.turn2us.org.uk/AboutYou</a></span><br/>
    </p>
    <p>
      The actual amount will depend on your circumstances and you should seek qualified advice before claiming. The Citizens Advice Bureau is a good place to seek help:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <p>Benefit fraud, deliberately or dishonestly claiming more than you're entitled to, is an imprisonable offence in the UK.</p>
    <h3>Main benefits</h3>
    <p>Job Seekers Allowance or JSA is a payment you can get if you workedSquatting in the UK and lost your job. You will get £57.50 a week if you're 24 or younger, £72.40 if you're over 24 or a lone parent over 18, £113.70 if you're a couple. You will have to continuously supply a lot of proof that you are looking for work and they will make it extremely difficult for you to claim it for more than a few months.</p>
    <p>Housing Benefit is money to help you pay the rent if you are on low income or other benefits. The amount depends on where you live, and on the type of accommodation, such as room, a flat etc. It will never be more than the actual rent you're paying and usually will not be enough to cover it. Many landlords don't want to take tenants on benefits.</p>
    <p>Child Benefit is a payment you can get if you're a parent or responsible for a child under 16. You can get £20.50 a week for the oldest child, and £13.55 for other children.</p>
    <p>Working Tax Credits is a benefit in the form of reduction of your income tax for those who are in low income work. You can check the amount of tax credit you could get using this calculator:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.gov.uk/tax-credits-calculator'>gov.uk/tax-credits-calculator</a></span><br/>
    </p>
    <p>Employment and Support Allowance (ESA) and Personal Independence Payment (PIP) are two benefits you can receive if you suffer from long term illness or disability. You need to live in the UK for long time to be eligible. You have to undergo an assessment to prove your condition is so bad you cannot work. This assessment is known to be very distressing and even people suffering from serious conditions are often classed as able to work.</p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-legal' >Legal issues</h2>
    <h3>Police and Courts</h3>
    <p>Police are racist and xenophobic. As a migrant, police are less likely to investigate if you are the victim of a crime, and you're more likely to be presume your guilt. They deal really badly with crimes affecting women, such as domestic violence and sexual assault. It is often difficult to report such incidents, because the police are unwilling to take them seriously and are horrible to the victims. If you're going to police station take a friend to support you and write down what they say to you. If they refuse to record your complaint, you can go to another police station and try again. If you are reporting sexual assault, domestic violence or a hate crime (e.g. a racist or homophobic attack) it is often easier to find the "Community Safety Unit" and go through them first as they are less likely to be prejudiced. Use google to find your nearest unit.</p>
    <p>If you are stopped by the police in the street, try to stay calm. They can stop you and question you but you don't have to answer. They should only search you if they have reasonable grounds to suspect you of commiting a crime but in practice they do what they want. They have the right to make you remove your jacket and gloves. You have the right to a record of the arrest, which should have the ID number of the police officer on it.<br/>
    Stop and search guide:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://londonagainstpoliceviolence.wordpress.com/guide-to-stop-search'>londonagainstpoliceviolence.wordpress.com/guide-to-stop-search</a></span><br/>
    </p>
    <p>If you are arrested you have to give the police your name, address and date of birth. Don't answer any questions without speaking to a solicitor. You have a right to free solicitor for the police interview. Don't get a solicitor recommended by the police (a duty solicitor), try to find someone recommended by people you know. You have a right to a phone call. You have a right to a translator for you if you don't speak English.<br/>
    Newham Monitoring Group can help in cases of police misconduct especially those involving racism:
    <br/>
    <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 169 3111</span><br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nmp.org.uk'>nmp.org.uk</a></span><br/>
    </p>
    <p>If the police think you are guilty, they may offer you a caution. It means you accept guilt but you will not be taken to court and will not get a fine or a sentence. Caution stays on your criminal record. Get advice from the solicitor before accepting a caution. If you committed a crime but you don't want to plead guilty, don't tell the lawyer as they would have to report you.
    </p>
    <p>If you are beaten up by the police you need a medical report as soon as possible. Making complaints against the police is possible but difficult.
    </p>
    <p>Depending on your income, you may get a free solicitor if you are taken to court. If you earn less than £12,475 the solicitor will be free, if you earn more you will have to go through full means test, and if you earn above £22,325 you will have to pay yourself. This is for criminal cases only. In civil cases, such as debt, family or housing problems, you will most likely have to pay yourself. You can use this calculator to check
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://legal-aid-checker.justice.gov.uk'>legal-aid-checker.justice.gov.uk</a></span><br/>
    </p>
    <h3>Immigration</h3>
    <p>The immigration police are called UK Border Agency or UKBA. They regularly raid markets, shops, public transport stations, and homes in the neighbourhoods where migrant communities live. Even though EU citizens have a right to live in the UK, the police and UKBA have deported people in the past. This is more likely to happen if you're long term unemployed or homeless.</p>
    <p>If the UK Border Agency or police stop you in the street and ask about your immigration status you don't have to answer any questions. You don't have to tell them your name and address. Tell them that you do not want to talk to them, stay polite but confident and walk away. They are not allowed to stop you just because of your race. If they stop you just because of how you look, or the language you speak, tell them: This is racist, This is illegal, I will make a complaint.</p>
    <p>If you or anyone you know is detained contact Bail for Immigration Detainees:
    <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7247 3590</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.biduk.org'>biduk.org</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-domestic' >Domestic Violence and Sexual Assault</h2>
    <h3>Support for Women</h3>
    <p>
      Women's Aid domestic violence hotline open 24 hours a day
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 2000 247</span><br/>
    </p>
    <p>
      Handbook for survivors in many languages including Polish and Spanish
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.womensaid.org.uk/landing_page.asp?section=0001000100080004'>womensaid.org.uk/landing_page.asp?section=0001000100080004</a></span><br/>
    </p>
    <p>
      Southall Black Sisters provide advice for black and Asian women on domestic violence and related issues, including immigration
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0208 571 0800</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.southallblacksisters.org.uk'>southallblacksisters.org.uk</a></span><br/>
    </p>
    <p>
      Rape Crisis London offer confidential help, information and support to women and girls who have experienced sexual violence of any kind
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 80 29999</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.rapecrisislondon.org'>rapecrisislondon.org</a></span><br/>
    </p>
    <p>
      Women's Rights provide free legal advice on several phone advice lines, find the numbers for specific areas of law on the website
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.rightsofwomen.org.uk/adviceline.php'>rightsofwomen.org.uk/adviceline.php</a></span><br/>
    </p>
    <p>
      Kalayaan provides free, independent and confidential advice on immigration and employment to migrant domestic workers. Contact them if you have a problem with your employer, you have left an employer who is keeping your passport, or you simply wish to understand more about your rights
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7243 2942</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.kalayaan.org.uk'>kalayaan.org.uk</a></span><br/>
    </p>
    <h3>Support for LGBT people</h3>
    <p>
      Broken Rainbow LGBT Domestic Violence helpline
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 999 5428</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.brokenrainbow.org.uk'>brokenrainbow.org.uk</a></span><br/>
    </p>
    <h3>Support for Men</h3>
    <p>
      Men's Domestic Violence and Abuse helpline
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 801 0327</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.mensadviceline.org.uk'>mensadviceline.org.uk</a></span><br/>
    </p>
    <p>
      Survivors UK confidential helpline for men who have experienced sexual violence
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0845 122 1201</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.survivorsuk.org'>survivorsuk.org</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-lgbt' >LGBT* (Lesbian, Gay, Bisexual and Trans*)</h2>
    <p>It can be hard to find other LGBT people when you're new to the city, and gay bars are increasingly expensive. Here are some contac that will make it easier:</p>
    <p>
      London Lesbian and Gay Switchboard is an information helpline: 
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0845 122 1201</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.llgs.org.uk'>llgs.org.uk</a></span><br/>
    </p>
    <p>
      Survivors UK confidential helpline for men who have experienced sexual violence
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0300 330 0630 (DAILY 10AM - 11PM)</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.survivorsuk.org'>survivorsuk.org</a></span><br/>
    </p>
    <p>
      Survivors UK confidential helpline for men who have experienced sexual violence
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://houseofbrag.wordpress.com'>houseofbrag.wordpress.com</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-other' >Other Useful Contacts</h2>
    <p>
      GOV.UK is a government run website explaining what the law in accessible way. It covers various areas including things covered by this guide
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gov.uk'>gov.uk</a></span><br/>
    </p>
    <p>
      Citizen's Advice Bureau is a charity that provides advice to people in need. They run local centres where you can get advice in person. Find your local centre using the website
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>http://www.citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <p>
      Advice Guide is a website with advice on all types of problems form the CAB:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.adviceguide.org.uk'>adviceguide.org.uk</a></span><br/>
    </p>
    <p>
      Community Law Centres give qualified legal advice to people who cannot afford a lawyer. You can find one in your area here
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.lawcentres.org.uk/i-am-looking-for-advice'>lawcentres.org.uk/i-am-looking-for-advice</a></span><br/>
    </p>
    <p>
      Mary Ward Legal Centre is another place where you can get legal advice
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.marywardlegal.org.uk/'>marywardlegal.org.uk</a></span><br/>
    </p>
    <p>
      National Debt Line give advice about debt
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 808 4000</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='nationaldebtline.org/EW/Pages/default.aspx'>https://www.nationaldebtline.org/EW/Pages/default.aspx</a></span><br/>
    </p>
    <p>
      NHS Choices is a website with information about health and health service
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nhs.uk/Pages/HomePage.aspx'>nhs.uk/Pages/HomePage.aspx</a></span><br/>
    </p>
    <p>
      London Coalition Against Poverty is a coalition of groups which are based on the idea that through solidarity and direct action, ordinary people have the power to change our own lives. Their website lists local groups working in different parts of London
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://lcap.org.uk'>lcap.org.uk</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-who' >Who Are We and Why Do We Care?</h2>
    <p>
      The Solidarity Federation is an organisation that encourages peoples' self-organisation and collective action. Besides organising in our own workplaces and communities, we are happy to support anyone facing problems with their boss or their landlord. So if you're looking to get organised, get in touch!
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://solfed.org.uk'>solfed.org.uk</a></span><br/>
      <span class='email'><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href='mailto:solfed@solfed.org.uk'>solfed@solfed.org.uk</a></span><br/>
      <span class='email'><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href='mailto:info@migrantsguide.uk'>info@migrantsguide.uk</a></span><br/>
    </p>
  </div>
</div>
