---
extends: bare.j2
default_block: main
title: Londonas - emigranto gidas
description: Basic information useful for people who are arrived and  starting to live in London
---

<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-introduction' >Įžanga</h2>
    <p>Pradėti naują gyvenimą Londone yra, be abejonių, bauginanti mintis. Tiek daug dalykų čia veikia visai kitaip nei namie: beveik viskas JK kainuoja brangiau, o kai kurios situacijos, kuriose atsidursite, pasirodys paprasčiausiai erzinančiai keblios. Ši brošiūra jums pagelbės pasirūpinant dalykais, kurie iškils tik čia atvykus ir apibūdins keblias padėtis į kurias turbūt teks patekti.</p>
    <p>Kai kurie iš šių patarimų bus pritaikomi beveik visų. Dauguma iš jų yra naudingi tik tiem, kurie yra Europos Sąjungos piliečiai t.y. turi legalią teisę gyventi ir dirbti Jungtinėje Karalystėje. Aplinkybės bus labiau komplikuotos jei jūsų migracinis statusas yra kitoks. Tokiu atevju jums gali prireikti daugiau informacijos nei ši maža brošiūra sugebės pateikti.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-transport' >Transportas</h2>
    <p>Tam, kad keliauti Londono visuomeniniu transportu jums prireiks mėlynos, elektroninės „Oyster“ kortelės. Ši kortelė kainuoja 5 svarus, bet šiuos pinigus galima atgauti grąžinus „Oyster“ bet kurioje stotyje. Turėkite omenyje, kad autobusuose jau kurį laiką nebegalima atsiskaitinėti grynais, o tik su „Oyster“ arba bekontakte ('contactless') banko kortele. Visos stotys ir dauguma 'off-license' parduotuvėlių papildys jūsų sąskaitą „Oyster“ kortelėje. Ji veikia visuose autobusuose, metro ('the Underground', 'the Tube'), Overground ir DLR traukiniuose ir tarpmiestiniuose (National Rail) traukiniuose Londono ribose.</p>
    <p>Londono transporto tinklas padalintas į zonas, pradedant nuo pirmosios zonos Centre iki devintos zonos miesto pakrašty. Traukiniuose ir metro kelionės kaina priklauso nuo zonos tarp kurių keliaujate ir ar kelionė vyksta piko metu (6.30 – 9.30 ir 16.00 – 19.00). Kelionė iš Zonos 2 į Zoną 1 tau kainuos £2.30 arba £2.90. Kelionė autobusu paprastai kainuoja £1.50, bet naudojant autobusus daugiau nei tris kartus tą dieną mokestis limituotas iki £4.40. Su „Oyster“ kortele yra taipogi įmanoma įsigyti dienos, savaitės ar mėnesinius bilietus ('travelcard').</p>
      <p>Perkant savaitinį 'travelcard' bilietą autobusams zonų skaičius yra nesvarbus, toks bilietas šiuo metu kainuoja £20.20. Traukinių ir metro 'travelcards' bilietų kainos priklauso nuo zonų ir laikų, kuriuose yra keliaujama. Keliauti be bilieto yra įmanoma iš stotelių/į stoteles, kuriuose nėra apsauginių barjerų, bet kontrolieriai taip pat pasitaiko! Neretai, jie gali bandyti tikrinti jūsų migracinį statusą. Keliavimas be bilieto Britanijoje yra kriminalinis nusikaltimas ir nesumokėję baudos, žmonės yra neretai perduoti baudžiamąjai atsakomybei.</p>
    <p>Naudokitės TFL svetaine aiškiausiems rezultatams kaip keliauti iš vienos vietos į kitą naudojantis Londono viešuoju transportu:<br/>
        <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.tfl.gov.uk/'>tfl.gov.uk</a></span><br/>
        <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0343 222 1234</span><br/>
    </p>
    <p>Kelionėms tarmiestiniais traukiniais planavimui ir kainų apskaičiavimui<br/>
        <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nationalrail.co.uk/'>nationalrail.co.uk</a></span><br/>
        <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 08457 48 49 50</span><br/>
    </p>
    <p>Tarpmiestiniai autobusai, nors užtrunka daug ilgiau, yra žymiai pigesni, nei traukiniai. Ypatingai ekonomiškos kompanijos kaip pvz. Megabus.<br/>
        <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://uk.megabus.com/'>uk.megabus.com</a></span><br/>
        <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0141 332 9644</span><br/>
    </p>
    <p>You can find the exact location of any UK address by typing the post code in Google Maps or Bing Maps search<br/>
        <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.google.co.uk/maps/place/London+E1+7Q'>google.co.uk/maps/place/London+E1+7Q</a></span><br/>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-internet' >Internetas ir telefonas</h2>
    <p>Interneto kavinėse galimybė naudotis kompiuteriu ir internetu kainuoja apytiksliai £1 per valandą, bet turbūt kainuos daugiau Centriniame Londone. Šios kavinės taip pat siūlo spausdinimo, fotokopijavimo paslaugas, pigius skambučius į užsienį ir t.t.</p>
    <p>Naudojimasis interneto bibliotekose yra nemokamas, bet reikia prisiregistruoti. Tam prireiks įrodymo, kad esate vietinė(-is) gyventoja (-s). Naudinga žinoti, kad gražiai paprašius, kartais bilbiotekos darbuotojai ir 'svečiams' leidžia naudotis kompiuteriu nemokamai. Bilbiotekos be knygų taip pat tiekia laikraščius, žurnalus, resursus besimokantiems Anglų kalbos, kai kurios taip pat turės knygų įvairiomis kalbomis. Bibliotekos yra gera vieta sužinoti apie vietinus bendruomenės renginius, kur rasti pagalbos ir patarimų apie mokslą ir būstą.</p>
    <p>SIM kortelės be sutarties / pildomos kortelės vadinamos Pay As You Go or PAYG. Tinklai kaip Lebara, Lycatel ar Giffgaff siūlo pigiausius PAYG tarifus.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-cheap' >Kaip pigiai gauti maistą, rūbus ir t.t.</h2>
    <p>Pigiausi supermarketai yra Lidl, Aldi ir Morrisons. Kartais įmanoma rasti atpigintą maistą dienos pabaigoje. Neretai maisto produktai pigesni būna turguose nei supermarketuose. JK supermarketai be gailesčio išmeta tonas vaisių, daržovių, mėsą ir kitus produktus į konteinerius jei jie arti galiojimo datos pabaigos ar jų įpakavimas yra kažkokiu būdu brokuotas. Skirtingai nei kitose šalyse, landžiojimas po konteinerius čia visai priimtinas aplinkinių, tačiau ne teisėsaugos. 'Theft by finding' (vasgystė radimu) yra realus kriminalinis kaltinimas JK teisėtvarkoje, nors nuteisimo galimybė ir labai ribota. Būkite atsargūs – kartais darbuotojai apipila konteinerių turinį balikliu; žiurkių taip pat gali pasitaikyti.
       Vietos, kurios nemokamai teikia maistą: School of Oriental and African Studies ir London School of Economics nuo Pirmadienio iki Šeštadienio 12:15 – 14:30. Kentish Town – 12:00, Camden Town – 13:00, Kings Cross – 14:15 nuo Pirmadienio iki Šeštadienio, 'Matchless Gifts' Dienos Centras - 102 Caledonian Road, Islington London, N1 9DN.</p>
    <p>Primark yra pigiausia rūbų parduotuvė. Argos apsipirkinėti yra pigu namų apyvokos produktams ir elektroniams prietaisams. Labdarų parduotuvės, kaip kad Oxfam, Marie Curie, Mind ir t.t. parduoda pigius antrų rankų rūbus, knygas, namų apyvokos ir panašius pruduktus.</p>
    <p>Prisiregistravus prie Freecyle svetainės prisijungsite prie vietinių žmonių tinklo, kurie atiduoda jiems nereikalingus namų apyvokos daiktus, baldus ir kita.
      <br/>
        <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://uk.freecycle.org/'>uk.freecycle.org</a></span><br/>
    </p>
    <p>Gumtree sveitainė turi nemokamai siūlomų daiktų afišą.<br/>
        <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gumtree.com/freebies/london/freebies'>gumtree.com/freebies/london/freebies</a></span><br/>
    </p>
    <p>Geriausi daiktai yra pačiumpami labai greitai taip kad pamatę skelbimą, nedelskite!</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-learning' >Mokymasis Anglų kalbos</h2>
    <p>Beveik kiekviename rajone turėtų būti nesudėtinga rasti profesinio mokymo kolegijas suaugusiems. Jie vadinami Further Education (FE) arba Community College. Šios kolegijos teikia įvairias mokymo programas, taipogi ir Anglų kalbos, kurios yra pakankamai pigios ir kartais nemokamos; ypatingai jei gaunate valstybines pašalpas. Kai kurios savivaldybės, bibliotekos, bažnyčios ir bendruomenės namai siūlo nemokamas Anglų kalbos pamokas. Geriausia yra pasiklausti patarimo vietinėje viešojoje bibliotekoje.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-bank' >Banko sąskaita</h2>
    <p>Banko sąskaitos atidarymas yra pakankai sudėtingas procesas tik ką atvykus. Bankai dažnai prašo tokių dokumentų, kuriuos iš principo galima gauti tik jau turint banko sąskaitą! Jums prireiks dviejų pagrindinių dokumentų – asmens tapatybės dokumento pvz. pasas ar ID kortelė ir gyvenamąją vietą patvirtinančio dokumento. Būtent šis 'proof of address' dokumentas dažnai tampa tikru galvos skausmu. Taigi patartina laikyti ir saugoti visus oficialius laiškus, kuriuos gaunate į tam tikrą gyvenamąją vietą. Atidarant banko sąskaitą būsite taipogi prašomi datų ir pilnų adresų vietų, kuriose buvote apsistoję paskutiniu trejus metus. Užsirašykite šiuos kas kartą, kai kraustotės.</p>
    <p>Galiojančios JK vairavimo teisės tiks kaip adreso įrodymas. Iškeisti ES teises į JK ekvivalentą galima sumokėjus vienkartinį £50 mokestį. Kai kurie bankai priims ir laikinąsias teises, skirtas besimokantiems vairuoti. Daugiau informacijos rasite čia:<br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://ask.co-operativebank.co.uk/help/customer_services/address_proof'>ask.co-operativebank.co.uk/help/customer_services/address_proof</a></span><br/>
    </p>
    <p>Taip pat įmanoma jūsų darbdavių paprašyti parašyti laišką patvirtinantį jūsų gyvenanąją vietą. Toks laiškas turi būti ant firminio blanko ir pasirašytas darbdavių. Verta pabandyti nunešti ir laišką iš Job Centre patvirtinantį jūsų National Insurance Number.<br/>
        <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.hsbc.co.uk/content_static/en/ukpersonal/pdfs/en/passport_brochure.pdf'>hsbc.co.uk/content_static/en/ukpersonal/pdfs/en/passport_brochure.pdf</a></span><br/>
    </p>
    <p>Yra bankų, kurie siūlo sąskaitas kątik atvykusiems į JK, atidaryti kurioms prireiks tik asmens tapatybę įrodančio dokumento.<br/>
        <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.lloydsbank.com/banking-with-us/joining-lloyds/new-to-the-uk.asp'>lloydsbank.com/banking-with-us/joining-lloyds/new-to-the-uk.asp</a></span><br/>
    </p>
    <p>arba oficialus patvirtinimas iš jūsų banko namų šalyje bus priimta kaip gyvenamosios vietos įrodymas.<br/>
        <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.barclays.co.uk/Helpsupport/ComingtoworkintheUK/P1242601780771'>barclays.co.uk/Helpsupport/ComingtoworkintheUK/P1242601780771</a></span><br/>
    </p>
    <p>Kredito Unijos yra maža bendruomenė bankininkystės organizacijų, kurios yra lankstesnės atidarant naują sąskaitą. Galite rasti savo vietinę kredito uniją čia:<br/>
        <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.findyourcreditunion.co.uk/home'>findyourcreditunion.co.uk/home</a></span><br/>
    </p>
    <p>Surinkite visus tinkamus dokumentus, pabandykite keletą bankų, nes gali pasisekti, kad jumis užsiims konsulantas (-ė), kurie galbūt yra nauji ar ne tokie nuoseklūs ir visvien atidarys sąskaitą. </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-healthcare' >Sveikatos priežiūra</h2>
    <p>Jei jums reikalinga greitoji medicinos pagalba - skambinkite numeriu 999. Jei pagalbos reikia sparčiai, bet padėtis nėra kritinė, rekomenduotina skambinti numeriu 111. Jūs taip pat galite užeiti į nelaimingų atsitikimų ir kritinės būsenos skyrių (accident and emergency unit arba 'the A&E'), kurie yra visose pagrindinėse ligoninėse. Šiuose skyriuose laukimas gali užtrukti kelias valandas.</p>
    <p>Nacionalinė sveikatos priežiūros tarnyba (National Health Service arba NHS) teikia praktiškai nemokamą sveikatos priežiūrą Jungtinėje Karalystėje.</p>
    <p>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nhs.uk/Service-Search'>nhs.uk/Service-Search</a><br/>
    </span>
    svetainėje rasite informaciją apie artimiausias ligonines, dantų priežiūros, seksualinės sveikatos ir kitas klinikas.
    </p>
    <p>Bazinė sveikatos priežiūra, tokia, kaip apsilankymas pas daktarą(-ę) ar greitoji medicininė pagalba yra nemokami, nesvarbu koks jūsų migracijos statusas. Apsilankymai pas specialistę(-ą) ar ilgesnis apsistojimas ligoninėje gali kartais būti apmokestinti. Dantų ir akių gydytojų paslaugos praktiškai visada kainuoja.</p>
    <p>Kilus problemai su jūsų sveikata, pirma susisiekite su savo savo paskirtu daktaru (-e) (general practitioner arba GP). Jie dirba taip vadinamuose 'surgery' (tiesiogiai išvertus - 'operacinė), bet tai tiesiog pavadinimas vietinėms poliklinikoms. Jums reikės prisiregistruoti prie sau artimiausios ir paskambinti tam, kad užsakyti tam tikrą datą ir laiką norint pamatyti jūsų GP. Jei prireiks, GP nukreips jus pas specialistus ir jūs paštu gausite paskyrimą.</p>
    <p>Dantų apžiūrai taipogi reikia prisiregistruoti, paprastai bazinė apžiūra kainuos apie £18.50. Plomba ar danties ištraukimas šiuo metu kainuoja apie £50.50. Už tam tikrą procedūrą jūs sumokate tik vieną kartą ir prireikus bet kokios priežiūros per ateinančius du mėnesius, jos bus atliktos nemokamai.</p>
    <p>Abortai JK yra legalūs ir iki 24 savaičių bus atlikti nemokamai. Jums prireiks paskyrimo iš GP arba iš 'British Pregnancy Advisory Service'.<br/>
        <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03457 30 40 30</span><br/>
        <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.bpas.org/'>bpas.org</a></span><br/>
    </p>
    <p>Abortai taip pat atliekami privačiai, bet mokestis gali svirti tarp £450 ir £750.</p>
    <p>Kontracepcinės priemonės kaip kad prezervatyvai yra dalinami nemokami, net tiems, kuriems dar nėra 16 metų. Nemokamus prezervatyvus galima rasti kontracepcinėse klinikose, seksualinės svekatos klinikose, kai kuriose poliklinikose ir jaunų žmonių centruose.</p>
    <p>Skubios pagalbos kontraceptinės piliulės ('Morning After Pill') yra taip pat prieinamos nemokamai kontracepcijos klinikose, Brook centruose, kai kuriose vaistinėse, daugumoje seksualinės sveikatos klinikų ir kartais greitosios pagalbos skyriuose. Paprastose vaistinėse, parduotuvėse Boots ir Superdrug šios piliulės kaina bus apie £26.</p>
    <p>Seksualinės sveikatos klinikos Londone dažniausiai yra šalia didelių ligoninių. 56 Dean Street yra puiki NHS seksualinės sveikatos klinika atvira visiems. Ši klinika teikia ypatingai gerą pagalbą LGBT žmonėms, sekso industrijos darbuotojams ir t.t.:<br/>
        <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 3315 6699</span><br/>
        <span class='address'><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 56 Dean Street, Soho, London, W1D 6AQ</span><br/>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-home' >Namai</h2>
    <h3>Būsto paieška</h3>
    <p>Nuomos kainos Londone yra nepaprastai aukštos ir rasti padorią gyvenamąją vietą yra varginantis ir neretai ilgai užtrunkantis procesas. Nekilnojamojo turto kainos yra kus kas žemesnės keliaujant toliau nuo centro. Prieš apsisprendžiant, apžiūrėkite keletą vietų, klauskite vietinių žmonių kiek jie moka už savo būstus, apieškokite skirtingas interneto svetaines ir aplankykite nekilnojamojo turto agentus. Kai kurios mažesnės parduotuvėlės turi afišas ant savo langų su įvairiais skelbimais. Verta pasiklausinėti tokiose vietose kaip savitarnos skalbyklos parduotuvėlese, pub'uose, kavinėse, kirpyklose, socialiniuose centruose. Gumtree yra populiariausia svetainė su nekilnojamojo turto nuomos skelbimais.<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gumtree.com/london'>gumtree.com/london</a></span><br/>
    </p>
    <p>Pigus kambarys Londone kainuos apie £300-£500 per mėnesį įskaičiavus mokesčius. Dauguma kambarių dabar kainuoja £500-£700. Į komunalinius mokesčius įtrauktos dujos, elektra, vanduo, papildomi dalykai kaip kad laidinis telefonas, internetas, televizija. Savivaldybės mokestis ('council tax') dažniausiai yra pats aukščiausas komunalinis mokestis. Šis mokestis priklausys nuo to, kokio dydžio yra jūsų butas/namas ir kurioje Londono ar JK dalyje jis yra. Būtinai paklauskite savininko ar agento, kuriuos mokesčius jums teks mokėti. Pasirašius sutartį jums reikės iš karto sumokėti už dviejų mėnesių nuomą ir dar vieno mėnesios nuoma bus paimta kaip rankpinigiai. Rankipinigiai turėtų būti jums grąžinti atgal iš karto sutarčiai pasibaigus.</p>
    <p>Sukčių Londone yra apstu, tad neatiduokite savo pinigų nepamačius legaliai pagrįstos sutarties, popierių įrodančių nuosavybę, pilno agentūros ir/ar savininkų adreso ir telefono numerio, netgi paso duomenų. Jei sandėris atrodo per daug geras, kad būtu tiesa, jis turbūt pagrįstas melu. Pasitaiko, kad žmonės bando išnuomoti būstus, kurie jiems net nepriklauso, pasiima nuomos ir depozito pinigus ir pabėga. Apsiginti nuo to ganėtinai sunku, tad reikalalukite visų įmanomų nuosavybės įrodimų. Padarykite visų šių dokumentų fotokopijas.</p>
    <h3>Nuomininkų teisės</h3>
    <p>Teisės, kuriose būsite apsaugoti kaip nuomininkai priklausys nuo to, kokio tipo nuomos sutartį pasirašysite su buto/namo savininkais/agentais.  'Assured short-hold tenants' arba kitaip tariant trumpalaikė nuomos sutartis suteiks jums tam tikrų teisių ir apsaugos. Šios apsaugos yra mažiau gyvenant su savininkais('lodger') ir nuomojantis iš jų vieną kambarį. Net jeigu neturite pasirąšę kontrakto, bet galite įrodyti, kad mokėjote pinigus už nuomą, tam tikros teisės visvien yra jūsų pusėje. Būtinai prašykite kvitų sumokėjus grynais, o dar geriau, mokėkite pervedimais per banką – tokiu būdu jūs turėsite aiškius piniginių įnašų įrodymus.</p>
    <p>Nuomininkai yra apdrausti keliais įstatymais, net jei nebuvo pasirašyta sutartis. Jei pasirašėte sutartį, kuriose yra punktai priešingi įstatymui, įstatymas visada bus pripažintas prioritetu. Keli svarbiausi dalykai:</p>
    <ul>
        <li>Savininkai turi atlikti pagrindinius remontus, taisyti techniką, kuri išnuomojama kartu su nekilnojamoju turtu</li>
        <li>Savininkai yra atsakingi, kad visi įrenginiai susiję su vandens, dujų, elektros, kanalizacijos, šildymo ir vandens šildymo įrengimu būtų funkcionalioje, nepavojingoje būklėje</li>
        <li>Jūs turite teisę gyventi savininkų būste be jų pastovaus trukdymo (nebent yra skubus nenumatytas atvejis, savininkai turi pateikti bent jau 24 valandų įspėjimą jei jie planuoja aplankyti)</li>
    </ul>
    <p>Nuomotojai taip pat neleidžiami užsiimti diskriminacija, nebent jie gyvena kartu su jumis.</p>
    <p>Nuomos kaina gali kilti tiktai pateikus formalų pareiškimą. Kitu atveju, nuoma negali būti keliama daugiau nei kartą per metus, pranešus bent jau mėnesį prieš planuojamus nuomos pokyčius, ir tiktai jums su tuo raštiškai sutikus.</p>
    <h3>Rūpesčius keliantys nuomotojai</h3>
    <p>Nuomotojų priekabiavimas prie nuomininkų yra kriminalinis nusikaltimas. Iškilus tokiai problemai, galite pabandyti susisiekti su policija arba papasakoti apie savo situaciją nepriklausomai organizacijai tokiai kaip Citizen's Advice Bureau. Priekabiavimas gali pasireikšti įvairiomis formomis, pvz.:</p>
    <ul>
        <li>Apribotas dujų, elektros ar vandens naudojimas; komunalinės paslaugos atjungtos, nes nuomotojas neapmokėjo mokesčių</li>
        <li>Dažnas jūsų namų lankymas be įspėjimo, ypatingai vakaro ir nakties metu</li>
        <li>Landžiojimas po jums gaunamą paštą</li>
        <li>Grąsinimas jums</li>
        <li>Sending builders around without noticeGrąsinimas jums</li>
        <li>Savavalis įsileidimas į jūsų namus kol jūsų ten nėra, be išankstinio leidimo</li>
        <li>Jei namas/butas paliktas tokioj prastoj būklėj, kad jums nesaugu ten gyventi</li>
        <li>Pradėjimas remonto, kuris kęlia rūpesčių jūsų kasdieniui gyvenimui ir jų nebaigimas</li>
        <li>Priekabiavimas dėl jūsų lyties, tautybės ar seksualinės pakraipos.</li>
    </ul>
    <h3>Rankpinigiai ir Nuomininkų Rankpinigių Programa</h3>
    <p>Kai pasirašote sutartį įsikraustyti į naują būstą, jūs būsite paprašyti sumokėti rankpinigius. Jie reikalingi atsitikus tokiam atvejui, jog jūs sukelsite nuostolius būstui arba negalėsite susimokėti nuomos. Pasitaiko, kad susigrąžinti rankpinigius nėra taip lengva, kaip norėtųsi. Nepamirškite paprašyti kvito kai sumokate rankpinigius. Nufotografuokite būsto būseną kai į jį įsikraustote ir išsiųskite šias nuotraukas kam nors elektroniniu paštu – tai bus puikus įrodymas su data! Jei nuomotojai bando išsisukti atgal sumokėti jums pilną rankpinigių sumą, jie privalo pateikti sąskaitą su pilnu visų remonto ar valymo išlaidų sąrašu bei jų kvitais.</p>
    <p>Jūsų nuomotojas pagal įstatymą privalo įrašyti jūsų rankpinigius į valstybinę nuomininkų apsaugos programą. Neteisėtai pasisavinus ir negrąžius rankpinigių jiems gali būti skiriama bauda. Daugiau informacijos apie šią programą ir kaip ja naudotis, šioje svetainėje:<br/>
          <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.gov.uk/tenancy-deposit-protection'>gov.uk/tenancy-deposit-protection</a></span><br/><br/>
    </p>
    <h3>Iškeldinimas</h3>
    <p>Jūsų nuomotojai privalo turėti labai konkrečias priežastis norėti jus iškeldinti prieš sutarties galiojimo pabaigą. Priežastys gali būti: jūsų kaip nuomininko nusižengimas kuriam nors sutarties punktui arba nuomos mokėjimo sustabdymas.</p>
    <p>Iškeldinimo pranešimas turi būti pateiktas raštiškai ir patenkinti visus teisės reikalavimus. Jūs neprivalote išsikraustyti iš karto. Būsto savininkai privalo gauti reikiamus dokumentus iš teismo ir duoti jums iškeldinimo datą. Jūs taip pat turite teisę patys pareikšti savo situaciją ar savo argumentų pusę teismui. Tai galite padaryti raštiškai ar einant į teismo posėdį asmeniškai.</p>
    <p>Pasilikti galite iki tada kai teismo paskirti pareigūnai – antstoliai – ateis į jūsų namus. Jų taip paprastai įsileisti jūs taipogi neprivalote, nebent jų vizitas yra surinkti baudą ar kitus neapmokestintus mokesčius. Antstoliams yra neleidžiama tiesiog įsilaužti, bet jei jūs patys atidarysite jiems duris, jie turi teisę konfiskuoti jūsų daiktus. Policijos pareigūnai taip pat negali savavąliškai įsibrauti, nebent jie turi kratos orderį ar įtarimą apie kriminalinę veiklą.</p>
    <p>Atminkite, kad nuomotojams yra nepakankama pateikti paprastą raštišką įspėjimą apie iškraustymą - jie privalo gauti popierius iš teismo. Bandymas iškraustyti be legalių dokumentų yra kriminalinis nusikaltimas. Policijos tarnybos neretai klįsta ir mąno, kad nelegalus iškeldinimas yra neteisėtas civilinis pažeidimas, nors iš ties pagal įstatymą jų pareiga yra padėti būti nuomininkams. Kaip nuomininkams, jums yra taipogi leistina pasikeisti spynas tam, kad apsaugoti save nuo priekabiavimo, tačiau yra patartina pasilikti senąsias spynas ir jas įdėti atgal išsikraustant.</p>
    <h3>Nuominikų-nuomotojų nesutarimai</h3>
    <p>Sprendžiant ginčus su jūsų nuomotojais būtina apsvarstyti keletą dalykų. Štai keli patarimai, kurie gal būt padės:</p>
    <ul>
      <li>Atidžiai perskaitykite savo nuomos sutartį ir raskite kokias teises bei pareigas jūs turite kaip nuomininkė (-as)</li>
      <li>Išnagrinėkite, kurie būsto teisės įstatymai jus apsaugo; jei reikia, kreipkitės į advokatus</li>
      <li>Turėkite visų mokesčių, įvairių susisiekimų kopijas ir fotografinius įrodymus. Surinkite segtuvą su visais šiais popieriais.</li>
    </ul>
    <p>'Shelter' yra labdara teikianti patarimus apie būsto problemas ar benamystę. Galite jiems paskambinti ar rasti atitinkamą informaciją internete:<br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 800 4444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://england.shelter.org.uk/get_advice'>england.shelter.org.uk/get_advice</a></span><br/>
    </p>
    <p>Vietinės savivaldybės dažniausiai turės kabinetą skirtą patarimams dėl būsto. Problema ta, kad jie dažnai sunkūs surasti dėl jų keistų, skirtingų pavadinimų. Pavyzdžiui, Hackney versija vadinasi Housing Options.</p>
    <p>Housing Rights sveitainė turi nemažai naudingos informacijos apie nekilnojamojo turto teisę; joje taip pat yra specifinė skiltis skirta kątik atvykusiems imigrantams.<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.housing-rights.info/index.php'>housing-rights.info/index.php</a></span><br/>
    </p>
    <p>Citizens Advice Bureau (pažodžiui išvertus – Piliečių Patarimų Biuras) dažnai susiduria su klausimais apie būstą taip, kad turės reikalingų patarimų.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <h3>Benamystė</h3>
    <p>Deja, daugėjanti dalis benamių Londone yra būtent imigrantai iš Centrinės ir Rytų Europos. Naujai atvykę dažnai nesuvokia koks brangus yra pragyvenimas JK ir kaip sunku yra susirasti darbą, tuomet įvyksta kas nors nenumatyto ir negero ir žmonės atsiduria gatvėse. Jei tai atsitiko jums ir nesate ES pilietis (-ė) ar JK pragyvenote mažiau nei tris mėnesius jums, deja, nepriklauso jokia valstybinė pagalba. Net jei atitinkate kriterijus, tarnybos, padedančios benamiams dažnai nebeturi pakankamai išteklių, nes tai Londone vis didėjanti problema.</p>
    <p>'Shelter' yra labdara teikianti patarimus apie būsto problemas ar benamystę. Galite jiems paskambinti ar rasti atitinkamą informaciją internete:<br>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 800 4444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://england.shelter.org.uk/get_advice'>england.shelter.org.uk/get_advice</a></span>    <br/>
    </p>
    <p>
      The Simon Community
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7485 6639</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.simoncommunity.org.uk'>simoncommunity.org.uk</a></span></p><br/>
    <p>
      Crisis
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.crisis.org.uk'>crisis.org.uk</a></span><br/>
    </p>
    <p>
      The Pavement žurnalas periodiškai išleidžia naujausią informaciją apie išteklius Londono benamiams, tokius, kaip kur rasti nemokamą maistą ir t.t.
      <br/> 
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.thepavement.org.uk'>thepavement.org.uk</a></span><br/>
    </p>
    <p>
      'Barka' teikia pagalbą žmonėms iš Cetrinės ir Rytų Europos turintiems rimtų socialinių ir ekonominių sunkumų. Nemokama telefono linija atidaryta 9:00 – 14:00 Pirmadieniais, Antradieniais, Ketvirtadieniais ir Penktadieniais. Paslaugos teikiamos lenkų, rusų ir anglų kalbomis. 
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 171 2926</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.barkauk.org'>barkauk.org</a></span><br/>
    </p>
    <h3>Gyvenimas skvote</h3>
    <p>Skvotai tai apleisti namai į kuriuos be savininkų žinios įsikrausto benamiai žmonės. JK turi ilgą skvotų tradiciją, tačiau per paskutinius kelis metus valdžia įtvirtino įstatymą, kuris nebeleidžia į skvotus pavirsti gyvenamųjų namų (ne ofisų ar gamyklų). Keli, kurie bandę buvo nuteisti ir gavo baudas ar buvo netgi nusiųsti į kalėjimą. Komercinių pastatų okupavimas vis dar legalus, tačiau išbuvimas vienoje vietoje ilgiau tampa vis retesnis. Advisory Service for Squatting teikia patarimus klausimams apie skvotus.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 3216 0099</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.squatter.org.uk'>squatter.org.uk</a></span><br/>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-work' >Darbas</h2>
    <h3>Valstybinis Socialinis Draudimas (National Insurance)</h3>
    <p>Valstybinio Socialinio Draudimo mokestis atskaičiuojamas iš jūsų algos ir atidedamas bedarbystės ar ligos atveju, pencijai ir pan. Tam, kad pradėti legaliai dirbti JK jums reikės gauti valstybinio socialinio draudimo (National Insurance) numerį. Išimties atvejais jūs būsite įdarbinti ir be šio numerio, tačiau yra patartina jį įgyti kaip galima greičiau. Tam prireiks užsiregistruoti tam, kad gauti interviu atnešti asmens tapatybės dokumentą (pasą ar vairavimo teises). Skambinkite Jobcentre Plus užsakyti interviu:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0345 600 0643</span><br/>
    </p>
    <h3>Atlyginimas, minimalus darbo užmokestis, mokesčiai</h3>
    <p>Jūsų viršininkė (-as) turėtų jums raštu pateikti darbo sutartį. Tai nebūtinai iš karto turi būti pilnas dokumentas, bet privalo tiksliai apibrėžti pagrindinius dalykus tokius, kaip darbo užmokestis ir dirbamų valandų skaičius. Visada patartina prašyti sutarties, netgi jei ji labai bazinė. Jei darbdaviai atsisako ją pateikti, tai gali būti ženklas, kad ateityje šioje darbovietėje bus rūpesčių. Jei yra galimybė, paprašykite kam nors peržiūrėti jūsų sutartį ar joje nėra įtartinų sąlygų.</p>
    <p>IMokėti mažiau nei nustatytas minimalus darbo mokestis yra nelegalu. Šiuo metu tai £6.50 per valandą jei esate 21 metų ar vyresni, £5.13 jei jaunesni. Atlyginimai dažniausiai nurodomi per valandą ar per metus (per annum arba pa). Dirbant pilnu etatu (40 valandų per savaitę) ir gaunant minimalų atlyginimą, jūsų metinė alga būtų apie £13,520 per metus.</p>
    <p>Štai pavyzdys kiek pinigų nuo jūsų atlyginimo būtų atskaičiuota mokesčiams dirbant pilnu etatu ir gaunant minimalų atlyginimą:<br/>
    Alga prieš mokesčius: £13,520 per metus<br/>
    National Insurance: £668 per metus<br/>
    Income Tax: £704 per metus<br/>
    Reali alga: £12,148 per metus, £234 per savaitę, apie £1,010 per mėnesį – tai priklausys nuo mėnesio ilgio.</p>
    <p>Patartina laikyti visus lapelius, kuriuose nurodomas atlyginimo dydis ir atskaitymai. Taipogi užsirašykite kiek valandų dirbote kurią savaitę, kada buvote atostogų ir t.t. Tai bus rodikliai skaičiuojant ar jums buvo teisingai apmokėta už darbą, ar gaunate pakankamai atostogų ir/ar atostoginių pinigų. Laikykite užrašus apie bet kokius incidentus ar ginčus kilusius darbe, taip pat kas galėtų tai paliudyti. Tai gali padėti jei viršininkai bandytų jums nesumokėti ar jus neteisėtai atleisti.
    </p>
    <p>Jei turite darbo sutartį, net jei dirbate keliuose darbuose, tai yra jūsų darbdavių atsakomybė sutvarkyti visus mokesčių mokėjimo popierius ir jums nereikėtų nieko daryti mokesčių metų pabaigoje. Jei pradėjote dirbti be NI numerio jūs taip pat mokėsite 'nenumatytų aplinkybių' mokestį (emergency tax), tačiau tuos pinigus galite atgauti iš karto gavus NI numerį. Nepanikuokite, jei atradote, kad permokėjote mokesčių. Šią sumą jūs galite atgauti mokesčių metų pabaigoje užpildžius tam tikrą anketą. Mokesčių metai baigiasi Balandžo 5 dieną ir jūs turite iki Spalio mėnesio užpildyti šią mokesčių vertinimo anketą (tax self-assessment).</p>
    <p>HMRC (Her Majesty's Revenue and Customs), valstybinė tarnyba, kuri atsakinga rinkti mokesčius, atsakys į visus iškilusius klausimus mokesčių tema. Ši tarnyba turi keletą telefono linijų teikiančių patarimus apie tam tikrus mokesčius. Čia galite rasti daugiau informacijos ir jų telefono numerius:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://taxaid.org.uk/guides/taxpayers'>taxaid.org.uk/guides/taxpayers</a></span></p><br/>
   <p>Tax Aid yra labdara teikianti pagalbą mažai uždirbantiems su mokesčių problemomis, kurias HMRC negali ar atsisako sutvarkyti:
     <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://taxaid.org.uk/guides/information'>taxaid.org.uk/guides/information</a></span><br/>
     <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0345 120 377</span><br/>
   </p>
   <h3>Jūsų teisės darbo vietoje</h3>
   <p>Nesvarbu ar dirbate laikinai ar ilgam laikotarpiui, per agentūrą ar tiesiogiai, pilnu ar puse etato, jus saugo tam tikros teisės:</p>
   <ul>
     <li>Bent jau 5.6 savaitės apmokamų atostogų per metus. Tai maždaug 28 dienos dirbant pilnu etatu. Į tai įtrauktos valstybinės šventės kaip Kalėdos ir 'Bank' išeiginės. Jūsų specifinė sutartis jums gali suteikti daugiau, bet ne mažiau. Dirbant nepilnu etatu, padauginkite 5.6 į tai, kiek dienų dirbatę per savaitę.</li>
     <li>Nedarbingumo išmoka. Jei dėl ligos praleidote daugiau nei 4 dienas darbo vieną po kitos, įstatymo nustatyta tvarka jums visvien priklauso atlyginimas. Tam turite uždirbti daugiau nei £111 per savaitę neatskaičiavus mokesčių ir būti įdarbintiems daugiau nei tris mėnesius.</li>
     <li>Motinystės/tėvystės atostogos susilaukus vaikų. Dauguma mamų gauna 26 savaites apmokamų ir 26 neapmokamų atostogų. Tam turite uždirbti daugiau nei £111 per savaitę ir būti įdarbintiems daugiau nei tris mėnesius prieš vaiko gimimą. Pirmas šešias savaites jums turi būti mokama 90% jūsų normalaus atlyginimo, po šios datos - £138.18 33 savaitėm. Jei jūsų darbovietė neišgali ar atsisako mokėti,  Department of Work and Pensions (Darbo ir Pensijų Departamentas) privalo padengti šį mokestį. Tėčiai gauna dvi savaites apmokamų tėvystės atostogų.</li>
     <li>Teisė save apginti. Jums priklauso apsauga ir draudimas nuo neteisėto atleidimo. Jūs galite organizuotis kartu so savo bendradarbiais ir/ar prisijungti prie profesinės sąjungos.</li>
     <li>Lygių galimybių teisė t.y. nebūti diskriminuojami dėl jūsų amžiaus, įgalumo, lyties, šeimyninės padėties, tautybės, religijos, seksualinės orientacijos ir t.t.</li>
   </ul>
   <h3>Priekabiavimas, Grąsinimas, Diskriminacija</h3>
   <p>Atminkite, jei darbo vietoje prie jūsų kas nors priekabiauja, jums grąsina ar jaučiatės diskriminuojami, tai nėra jūsų kaltė ir jūs neprivalote to toleruoti.</p>
   <p>Grąsinimai ir patyčios gali pasireikšti keliais būdais – bet kokia skriauda, bauginimas, grąsinimas, persekiojimas, represija, įžeidimais, pažeminimais ar sumenkinimais.Jūsų viršininkai privalo pasirūpinti, kad darbovietėje tai nepasitaikytų.</p>
   <p>Seksualinis priekabiavimas ir panašūs rimti incidentai yra kriminaliniai nusikaltimai ir apie juos turėtų būti pranešama policijai.</p>
   <h3>Darbo valandų nuostatai</h3>
   <p>Darbo laiko reguliacija; jūsų teisės</p>
   <ul>
     <li>Dirbti ne daugiau kaip 13 valandų per dieną.</li>
     <li>Viena išeiginė per savaitę.</li>
     <li>Bent jau 20 minučių pertrauka po 6ių valandų darbo, bent jau 11 valandų poilsis kiekvieną parą. Nepilnamečių pertrauka turi trukti 30 minučių po 4 1/2 valandų.</li>
     <li>Jums leistina atsisakyti dirbti daugiau nei 48 valandas per savaitę. Ši suma sudaryta imant 17 savaičių laikotarpio vidurkį, todėl galite būti priversti dirbti daugiau per vieną savaitę . Galite su tuo raštiškai nesutikti; darbdaviai kartais bando tyliai įrašyti tai kaip sąlygą jūsų sutartyje.</li>
     <li>Naktįies metu darbas negali trukti daugiau aštuonių valandų. Darbuotojai nakties metu taipogi turi teisę į nemokamus sveikatos patikrinimus.</li>
   </ul>
   <h3>Sveikata ir saugumas (Health & safety)</h3>
   <p>Jūs turite teisę atsisakyti dirbti, jei darbo sąlygos yra nesaugios arba jaučiate, jog jums gresia pavojus. Darbdaviai turi suteikti jums tinkamą mokymą ir negali paprašyti jūsų darbo, kuriam neturite kvalifikacijos.</p>
   <p>Darbdaviai privalo pateikti tinkamas darbo sąlygas, pvz. pakankamai tualetų, prausyklų ir geriamąjo vandens. Dėl rizikų darbe turi būti numatytos procedūros(instrukcijos ką daryti). Darbovietė privalo turėti sveikatos ir saugumo planą. Šie susitarimai, strategija ir praktika turi būti paaiškinta visiems darbuotojams prieš jiems pradedant ten dirbti. So darbuotojais turėtų būti konsultuojamasi kaip pagerinti darbovietės saugumą.</p>
   <p>Sveikata ir saugumas darbe kainuoja pinigus ir laiką, todėl viršininkai dažnai bando išsisukti nuo rūpinimusi tuo. Pagal įstatymą jie privalo garantuoti sveikas, saugias darbo sąlygas visiems jų samdyniams.</p>
   <p>Atminkite, kad įstatymas yra jūsų pusėje jei atsisakote daryti tam tikrą darbą, kuriame jaučiate, jog būsite pavojuje.</p>
   <h3>Nulio Valandų Sutartys ir Savarankiškas darbas</h3>
   <p>Savarankiškas darbas(self-employed) yra darbo tipas kai uždirbate pinigus sau, o ne kaip darbo užmokestį iš darbdavių. Kaip dirbanti (-is) savarankiškai, jūs esate atsakingas už savo NI, pajamų mokesčių mokėjimą ir susijusių dokumentų pildymą. Valstybinio socialinio draudimas mokamas kiekvieną mėnesį, pajamų mokestis - tų metų pabaigoje, ir tai gali būti nemaža suma. Jums gali praversti profesionalaus buhalterio pagalba. Įvairios teisės, kaip pavyzdžiui, minimalus darbo užmokestis, tam tikros darbo valandos, nedarbingumo išmoka ir atostoginiai yra taikomi tik darbuotojams, o ne savarankiškai dirbantiems asmenims.</p>
   <p>
    Kai kurie viršininkai bando priversti darbuotojus tapti teoriškai 'savarankiškai dirbantiems' tam, kad galėtų sutaupyti ant mokesčių ir atimti jūsų darbuotojų teises. Tai vadinama 'fiktyviu savarankišku darbu' (false self-employment.). Tai dažniau pasitaiko tam tikruose sektoriuose pvz. statybose. Ši praktika yra neteisėta, tiesa valdžia daro nedaug, kad tai sustabdyti. Pasinaudokite šia svetaine patikrinti ar esate darbuotoja (-as) ar savarankiškai dirbantis asmuo.
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.hmrc.gov.uk/working/intro/empstatus.htm'>hmrc.gov.uk/working/intro/empstatus.htm</a></span><br/>
   </p>
   <p>Nulio valandų sutartis (zero hours contract) yra tokio pobūdžio darbo sutartis, kuri negarantuoja tam tikro skaičiaus darbo valandų. Ši sutartis gal būt tiksliai nerašys 'nulis valandų,  bet tvirtins, jog darbdaviai neturi pareigos jums reguliariai duoti darbo. Joje taip pat gali būti įrašyta sąlyga, jog jūs negalite susirasti dar vieno darbo. Abu šie dalykai yra, deja,  teisėti.</p>
   <p>Nulio valandų sutartis jums visvien suteikia tas pačias teises į atostogas, nedarbingumo išmoką ir motinystės/tėvystės atostogas. Viršininkai kartais atsisako šias teises jums suteikti nelegaliai. Jie gali niekada neduoti jums pakankamai darbo valandų, kad suteikti teises, kurios veikia tik po tam tikros pajamų ribos.</p>
   <p>Nulio valandų sutartys yra labai dažnos prekybos, aptarnavimo sektoriuose, darbuose per agentūrą ir kituose mažai apmokamuose darbuose. Jums nebus suteiktas garantuotas valandų skaičius per savaitę - darbo dienų ir valandų skaičius kiekvieną savaitę keisis, arba jums išvis nebus duota darbo.</p>
   <p>Jei turite kokių nors nesutarimų su savo viršininkais, nesvarbu, ar jie susiję su darbu ar yra asmeninio pobūdžio, jie iš principo gali paprasčiausiai nustoti duoti jums darbo valandas ateityje. Jei jie nori atsikratyti jumis, jiems nereikia nutraukti sutarties, jie gali tiesiog nebeduoti jums pamainų.</p>
   <p>Savarankiško darbo ir nulio valandų sutartys pastato jus į labai nesaugią darbo padėtį. Jei su jumis yra blogai elgiamasi ir jūs bandote į tai kažkaip atsakyti, individualiai arba kolektyviai, darbdaviai gali tiesiog sumažinti jūsų valandas ir pajamas. Nėra daug galite padaryti pradedant dirbti kažkur, kur tokios sutartys jau yra naudojamos. Jei viršininkai bando pakeisti jūsų esamas sutartis į nulio valandų arba bando priversti jus tapti 'savarankiškai dirbančiu asmenimi', patartina pradėti organizuotis su savo bendradarbiais ir kolektyviai atsisakyti pasirašyti naujas sutartis. Ši kova yra sunki, bet tai – vienintelė jūsų galimybė.</p>
   <h3>Nusiskundimai ir drausiminės procedūros</h3>
   <p>Drausminė procedūra(disciplinary procedure) gali būti inicijuota prieš jus jei darbe įvykdėte kažką blogo. Nusiskundimai(grievance) pradedami kai jums patiems kažkas nepatinka toje darbovietėje. ACAS(Advisory, Conciliation and Arbitration Service - organizacija, kuri tarpininkauja vykstant ginčui darbo vietoje, turi praktikos kodeksą, nurodantį, kaip drausminės ir apskundimo procedūros turėtų veikti. Darbovietė turi laikytis šio kodekso, bet tai yra tik patarimas, o ne įstatymas.</p>
   <p>Darbuotojams, prieš kuriuos inicijuota drausminė procedūra, turi būti suteikta pakankamai laiko parengti gynybą. Jei esate iškviesti į disciplinarinį svarstymą, turite teisę būti lydimi liudininko (-ės). Galite pasirinkti ką nors iš jūsų profesinės sąjungos (nesvarbu, ar ta profsąjunga yra jūsų darbovietės pripažinta ar ne) ar bendradarbiai. Jūs, ar bet kas, kas lydi jus, negali būti drausminti ar atleisti - jus apsaugo lydėjimo teisės. Svarstymo posėdžiai turi vykti pakankamai greitai venas po kito.</p>
   <p>Jei jums nesiseka išspręsti šio ginčo, esate nepatenkinti sprendimu ar buvote atleisti, jūs galite apeliuoti į 'darbo vietos teismą' - Employment Tribunal. Priklausant nuo jūsų bylos tipo, jums teks susimokėti £390 ar daugiau. Jei jūs pralaimite ir teismas nusprendžia, kad jūsų atvejis neturėjo tikimybės laimėti, jie gali liepti sumokėti darbdavio teisines išlaidas. Jūs galite atstovauti save, arba galite būti atstovaujami profsąjungos darbuotojų. Jei jūs manote jums prireiks profesionalių advokatų, už tai turėsite susimokėti patys. Laimint, jums garantuota piniginė kompensacija.</p>
   <p>
     Profsąjungos turi šia internetinę svetainę su visa informacija apie jūsų teises darbovietėje:
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.worksmart.org.uk/'>worksmart.org.uk</a></span><br/>
   </p>
   <p>
     ACAS taipogi turi informacijos šia tema:
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.acas.org.uk/'>acas.org.uk</a></span><br/>
   </p>
   <p>
     Citizen's Advice Bureau duos patarimų apie problemas darbovietėje:
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
   </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-benefits' >Pašalpos</h2>
    <p>Pašalpų sistema Jungtinėje Karalystėje yra labai sudėtinga. Visos pašalpos yra labai skirtingos. Jūsų individualios aplinkybės parodys kurias pašalpas jūs galite gauti ir kiek pinigų tai reikš. Mokėjimai paprastai yra nedideli, trunka ribotą laiką, ir jūsų sąlygos turi būti labai tam tikros ne tik pradedant procesą gauti pašalpas, bet ir tęsti jų gavimą. Skirtingų pašalpų gavimo procesus turėsite pradėti atskirai. Šiuo metu yra planuojama reforma pristatyti vieną super-pašalpą, vadinamą 'Universalus Kreditas', kuri turbūt viską dar labiau sukomplikuos.</p>
    <p>Jei esate ES pilietis (-ė), turite būti JK pradirbę tris mėnesius tam, kad gauti pašalpas..Jei esate ne iš ES, jums gali būti suteikta galimybė bandyti gauti kai kurias pašalpas, bet taisyklės be galo sudėtingos. Pašalpų gavimas nesant ES piliete (-iu) gali turėti neigiamos įtakos bandant gauti teisę pasilikti JK visam laikui.</p>
    <p>Bandykite šią elektroninę skaičiuoklę, kad žinoti, kurias pašalpas ir kiek pinigų galėtumėte gauti:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.entitledto.co.uk/benefits-calculator/startcalc.aspx'>entitledto.co.uk/benefits-calculator/startcalc.aspx</a></span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://benefits-calculator.turn2us.org.uk/AboutYou'>benefits-calculator.turn2us.org.uk/AboutYou</a></span><br/>
    </p>
    <p>
      Tikras kiekis priklausys nuo labai tam tikrų asmeninių aplinkybių, patartina gauti kvalifikuotų patarimų prieš pradedant pašalpų procesą. Citizens Advice Bureau yra geras tokios informacijos išteklius:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <p>Sukčiavimas pašalpomis arba tyčinis gavimas didesnių išmokų nei jums priklauso yra kriminalinis nusikaltimas už kurį sodinama į kalėjimą.</p>
    <h3>Pagrindinės pašalpos</h3>
    <p>Bedarbystės pašalpa (Job Seekers Allowance arba JSA) gaunama jei dirbote JK ir praradote savo darbą. Jūs gausite £57.50 per savaitę jei esate 24 metų ar jaunesni, £72.40 – asmenims virš 24 metų ar vienišam tėčiui/mamai, kuriems yra virš 18 metų, porai - £113.70. Jums teks be perstojo pateikinėti įrodymus, kad ieškote darbo; kuo toliau, tuo sudėtingiau gauti šią pašalpą ilgiau nei kelis mėnesius.</p>
    <p>Būsto pašalpa(Housing Benefit) yra pinigai padėti jums mokėti nuomą, jei gaunate žemas pajamas ir/ar kitas pašalpas. Šios pašalpos dydis priklauso nuo to, kur jūs gyvenate, ir nuo būsto tipo, pvz. ar tai yra kambarys, butas ir t.t. Ši suma niekada nebus didesnė nei jūsų nuomos mokestis ir paprastai nebus pakankama jį padengti. Dauguma savininkų taipogi nenori užsiimti nuomininkais su pašalpomis.</p>
    <p>Vaiko pašalpa(Child Benefit) yra mokestis, kurį galite gauti, jei esate vieniša mama/tėtis ar esate atsakingi už vaiką iki 16 metų; gaunama suma yra £20,50 per savaitę už vyriausią vaiką, ir £13,55 už kitus vaikus.</p>
    <p>Working Tax Credits yra sumažinti pajamų mokesčiai tiems, kurie ir taip uždirba mažai. Patikrinkite mokesčių kredito sumą, kurią galite gauti, naudojant šią skaičiuoklę:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.gov.uk/tax-credits-calculator'>gov.uk/tax-credits-calculator</a></span><br/>
    </p>
    <p>Užimtumo ir Paramos Pašalpa (Employment and Support Allowance arba ESA) ir Asmeninio Savarankiškumo  Išmoka (Personal Independence Payment arba PIP) yra du tipai pašalpų, kurias galėtumėte gauti, jei kenčiate nuo ilgalaikės ligos ar negalios. Jūs turite būti gyvenę JK pakankamai ilgai, kad tiktumėte šių pašalpų gavimui. Jūs turėsite atlikti įvertinimą įrodyti, jog Jūsų būklė yra tokia bloga, kad negalite dirbti . Šis 'įvertinimas' yra ganėtinai žiaurus ir net žmonės, kenčiantys nuo rimtų ligų, dažnai būna priskirti kaip galintys dirbti.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-legal' >Teisės Klausimai</h2>
    <h3>Policija ir Teismai</h3>
    <p>Policija yra rasistiška ir ksenofobiška tarnyba. Policija jus teis kaip imigrantę (-ą) ir yra mažiau tikėtina, jog bandys ištirti ar esate nukentėję nuo nusikaltimo, ir labiau tikėtina, kad itars jus kaltais. Jie yra labai retai naudingi sprendžiant rimtus nusikaltimus prieš moteris, kaip kad smurtas namuose ir seksualinė prievarta. Yra sunku net pradėti tyrimą apie tokius nusikaltimus, nes policininkai nenori jais užsiimti ir dažnai yra iš ties šlykštūs nukentėjusiems. Jei jūs visgi pasiryžtate eiti į policijos nuovadą, patartina su savimi turėti draugus, kurie jus palaikytų. Užsirašykite viską, ką policija jums sako. Jeigu jie atsisako priimti jūsų skundą - bandykite kitą policijos nuovadą. Jei jūsų protokolas apie seksualinę prievartą, smurtą šeimoje ar neapykantos nusikaltimus (pvz. rasistinis ar homofobinis išpuolis), dažnai yra lengviau rasti  'Community Safety Unit' ir jie mažiau linkę būti nusistatę. Naudokite 'Google' rasti artimiausią padalinį.</p>
    <p>Jei esate sustabdyti policijos gatvėje, bandykite likti ramus(-i). Jie gali jus sustabdyti ir bandyti apklausti, bet jūs neprivalote atsakyti. Apieškoti jus jie gali tik turint pagrįstų priežasčių įtarti, jog jūs atlikote nusikaltimą, tačiau praktiškai, policija daro tai, ką nori. Pareigūnai turi teisę nuimti jūsų švarką/striukę/paltą ir pirštines. Jūs turite teisę į ataskaitas dokumentuojančius jūsų areštą, ant jų turėtų būti parašyti policijos parėigūnų identifikacijos numeriai, datos ir t.t.<br/>
    Daugiau informacijos apie 'stop and search':
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://londonagainstpoliceviolence.wordpress.com/guide-to-stop-search'>londonagainstpoliceviolence.wordpress.com/guide-to-stop-search</a></span><br/>
    </p>
    <p>Tokiu atveju jei esate suimti jūs turite suteikti policijai savo vardą, pavardę, adresą ir gimimo datą. Neatsakinėkite į jokius kitus klausimus, nepasitarę su advokatais. Jūs turite teisę į nemokamą advokatą – policija bandys rekomenduoti taip vadinamą 'duty solicitor', bet patartina jais nesinaudoti, nes jie labiau prižiūri policijos interesus ir gali bandyti jus priversti pripažinti ką nors, ko nepadarėte. Yra visada geriau turėti teisininkę (-ą), kuriuos pažįstate.  Jūs turite teisę į telefono skambutį, taipogi į vertėją, jei Anglų kalba nėra jūsų pirmoji.<br/>
    Newham Monitoring Group padės tiriant policijos nusižengimus, ypatingai jei jų pobūdis buvo rasistiškas:
    <br/>
    <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 169 3111</span><br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nmp.org.uk'>nmp.org.uk</a></span><br/>
    </p>
    <p>Jei policija mano, jog esate kalti dėl tam tikro nusikaltimo, jie gali pasiūlyti jums įspėjimą('caution'). Tai reiškia, kad jūs prisiimate kaltę, bet jūs nebūsite patraukti baudžiamojai atsakomybei rimčiau ir negausite baudos. Tačiau įspėjimas visvien yra saugomas įrašuose apie jus. Būtinai pasitarkite su advokatais prieš priimdami įspėjimą. Jei atlikote nusikaltimą, bet nenorite pripažinti savo kaltės, nesakykite apie tai advokatams, nes jų pareiga yra tada apie tai pranešti. Jei esate sumušti policijos, privalote kuo greičiau gauti medicininę ataskaitą.  </p>
    <p>Policijos padavimas į teismą yra sudėtingas ir ilgas procesas, bet turint rimtą bylą, galima laimėti kompensaciją.
    </p>
    <p>Priklausomai nuo gaunamų pajamų, jums yra galimybė gauti nemokamą teisinę pagalbą. Jei uždirbate mažiau nei £12,475 advokatas jums bus suteiktas nemokamai. Jei uždirbate daugiau, turėsite pereiti pilnus pajamų naudojimo testus('full means test'), o jei uždirbate virš £22,325 turėsite už advokatus susimokėti patys. Šis nustatymai tinka tik baudžiamosiose bylose. Civilinėse bylose  pvz. skolos, šeimos ar būsto problemos, jums, greičiausiai, teks mokėti patiems. Bandykite pasinaudoti šiuo skaičiuotuvu patikrinti savo galimybes:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://legal-aid-checker.justice.gov.uk'>legal-aid-checker.justice.gov.uk</a></span><br/>
    </p>
    <h3>Imigracija</h3>
    <p>Imigracijos policija yra vadinama UK Border Agency arba UKBA. Jie reguliariai reiduoja turgus, parduotuvės, viešojo transporto stotis, namus ir rajonus, kuriuose gyvena migrantų bendruomenės. Nors ES piliečiai ir turi teisę gyventi Jungtinėje Karalystėje, yra buvo atvejų, jog policija ir UKBA iš šalies ištrėmė net ES piliečius. Tai labiau tikėtina, jei esate ilgalaikiai bedarbiai ar benamiai.</p>
    <p>Jei JK pasienio agentūra ar policija sustabdo jus gatvėje ir klausinėja apie jūsų imigracijos statusą, jūs neprivalote atsakyti į jokius klausimus. Jūs neturite duoti jiems savo vardo, pavardės, adreso. Pasakykite jiems, jog jūs nenorite su jais kalbėtis, būkite mandagūs ir nueikite. Jie negali jūsų sustabdyti tik dėl jūsų tautybės ar rasės. Jei jie bando jus sustabdyti tik dėl to, kaip jūs atrodote ar kalbate, sakykite jiems: 'Jūs užsiiminėjate rasizmu ir diskriminacija, tai yra neteisėta, aš pateiksiu skundą.'</p>
    <p>Jei jūs ar kas nors, ką pažįstate yra sulaikyti, susisiekite su Bail for Immigration Detainees:
    <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7247 3590</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.biduk.org'>biduk.org</a></span><br/>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-domestic' >Smurtas namuose ir seksualinė prievarta</h2>
    <h3>Parama moterims</h3>
    <p>
      Women's Aid, karštoji linija kenčiantiems nuo smurto namuose, visą parą:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 2000 247</span><br/>
    </p>
    <p>
      Keliomis kalbomis parašytas gidas kenčiantiems nuo smurto namuose
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.womensaid.org.uk/landing_page.asp?section=0001000100080004'>womensaid.org.uk/landing_page.asp?section=0001000100080004</a></span><br/>
    </p>
    <p>
      Southall Black Sisters pataria juodaodėm ir azijietėm moterim kenčiančiom nuo smurto namuose, taip pat apie imigracijos klausimais
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0208 571 0800</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.southallblacksisters.org.uk'>southallblacksisters.org.uk</a></span><br/>
    </p>
    <p>
      Rape Crisis London siūlo konfidencialią pagalbą, informaciją ir paramą įvairaus amžiaus moterims ir vaikams, kurie patiria seksualinę prievartą.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 80 29999</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.rapecrisislondon.org'>rapecrisislondon.org</a></span><br/>
    </p>
    <p>
      Women's Rights teikia nemokamą teisinę konsultaciją keliomis telefono linijomis, naudokite šią svetainę rasti jums tinkantį numerį
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.rightsofwomen.org.uk/adviceline.php'>rightsofwomen.org.uk/adviceline.php</a></span><br/>
    </p>
    <p>
      Kalayaan suteikia nemokamas, nepriklausomas ir konfidencialias konsultacijas apie imigraciją ir darbą. Susisiekite su jais, jei turite problemų su savo darbdaviais, jūsų viršininkai turi jūsų pasą, arba jūs tiesiog norite daugiau sužinoti apie savo teises
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7243 2942</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.kalayaan.org.uk'>kalayaan.org.uk</a></span><br/>
    </p>
    <h3>Parama LGBT žmonėms</h3>
    <p>
      Broken Rainbow LGBT smurto namuose pagalbos linija:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 999 5428</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.brokenrainbow.org.uk'>brokenrainbow.org.uk</a></span><br/>
    </p>
    <h3>Parama vyrams</h3>
    <p>
      Pagalbos linija vyrams kenčiantiems nuo smurto namuose
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 801 0327</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.mensadviceline.org.uk'>mensadviceline.org.uk</a></span><br/>
    </p>
    <p>
      Survivors UK - konfidenciali pagalbos linija vyrams, kurie patyrė seksualinę prievartą
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0845 122 1201</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.survivorsuk.org'>survivorsuk.org</a></span><br/>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-lgbt' >LGBT* (Lesbietės, Gėjai, Biseksualai ir Transseksualai*)</h2>
    <p>Gali būti nelengva rasti kitų LGBT žmonių jei esate nauji šioje šalyje ir gėjų barai vis brangesni. Štai keletas kontaktų, kad būtų lengviau:</p>
    <p>
      London Lesbian ir Gay Switchboard (Londono Lesbiečių ir Gėjų 'skirtstomasis skydas') informacinė pagalbos linija: 
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0845 122 1201</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.llgs.org.uk'>llgs.org.uk</a></span><br/>
    </p>
    <p>Londono Queer Socialinis Centras 'House of Brag' yra radikalus queer kolektyvas
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://houseofbrag.wordpress.com'>houseofbrag.wordpress.com</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-other' >Kiti naudingi kontaktai</h2>
    <p>
      GOV.UK yra vyriausybinis internetinis puslapis, paaiškinantis skirtingus įstatymus ir teises prieinamu būdu. Ten yra informacijos įvairiomis sritimis, kai kuri iš jų buvo paminėta šiame gide
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gov.uk'>gov.uk</a></span><br/>
    </p>
    <p>
      Citizen's Advice Bureau yra labdaros organizacija teikianti konsultacijas žmonėms, kuriems jos reikia. Jie turi vietinius centrus, kuriuose galite gauti patarimų asmeniškai. Rasti jums vietinį centrą naudokitės šia svetaine
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>http://www.citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <p>
      Advice Guide turi informaciją visokiais klausimais su kuriais Citizen's Advice Bureau teko susidurti:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.adviceguide.org.uk'>adviceguide.org.uk</a></span><br/>
    </p>
    <p>
      Community Law Centres (Bendruomenės Teisės Centrai) suteikia kvalifikuotą teisinę pagalbą žmonėms, kurie negali sau leisti advokato. Jūs galite rasti savo vietinį čia
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.lawcentres.org.uk/i-am-looking-for-advice'>lawcentres.org.uk/i-am-looking-for-advice</a></span><br/>
    </p>
    <p>
      Mary Ward Legal Centre yra dar viena vieta kur galite gauti su teise susijusių patarimų:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.marywardlegal.org.uk/'>marywardlegal.org.uk</a></span><br/>
    </p>
    <p>
      National Debt Line duoda patarimų apie skolas:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 808 4000</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='nationaldebtline.org/EW/Pages/default.aspx'>https://www.nationaldebtline.org/EW/Pages/default.aspx</a></span><br/>
    </p>
    <p>
      NHS Choices yra svetainė su informacija apie sveikatą ir sveikatos tarnybas:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nhs.uk/Pages/HomePage.aspx'>nhs.uk/Pages/HomePage.aspx</a></span><br/>
    </p>
    <p>
      London Coalition Against Poverty (Londono Koalicija Prieš Skurdą) yra koalicija grupių, kurias vienija idėja, kad užsiimant solidarumu ir tiesioginiais veiksmais, paprasti žmonės turi galią keisti savo pačių gyvenimą. Jų svetainėje yra sąrašas įvairių grupių dirbančių skirtingose Londono vietose:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://lcap.org.uk'>lcap.org.uk</a></span><br/>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-who' >Kas Mes Tokie ir Kodėl Mums Rūpi?</h2>
    <p>
      The Solidarity Federation arba SolFed (Solidarumo Federacija) yra organizacija, kuri skatina žmonių savarankišką organizaciją ir imtis kolektyvinių veiksmų . Mes organizuojamės tarp savo pačių bendruomeniš ir darbo vietų, bet mielai bandysime padėti bet kam, kas turi problemų su savo viršininkais ir/ar nuomotojais. Taigi, jei jūs ieškote kur it kaip pradėti kolektyvius politinius veiksmus, susisiekite su mumis!
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://solfed.org.uk'>solfed.org.uk</a></span><br/>
      <span class='email'><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href='mailto:solfed@solfed.org.uk'>solfed@solfed.org.uk</a></span><br/>
      <span class='email'><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href='mailto:info@migrantsguide.uk'>info@migrantsguide.uk</a></span><br/>
    </p>
  </div>
</div>
