---
extends: bare.j2
default_block: main
title: London - A Migrant's Guide
description: Basic information useful for people who are arrived and  starting to live in London
---

<div class="row">
  <div class="col-md-12 text-container">
  	<h2 id='section-introduction' >Introduzione</h2>
  	<p>Cominciare una nuova vita a Londra può far paura. Molte cose sono diverse da com'erano a casa. Molte cose sono costose, altre sono semplicemente difficili. Questo opuscolo ti fornirà consigli su alcune delle cose che dovrai sistemare una volta arrivat@ qui e sui problemi nei quali probabilmente incapperai.</p>
  	<p>Alcuni di questi consigli sono validi per tutt*. La maggior parte delle persone presumeranno che, anche se sei un@ migrante, hai il diritto legale di vivere e lavorare nel Regno Unito, probabilmente perché sei cittadin@ dell'Unione Europea. Se non lo sei, le cose per te potrebbero essere più complicate e potresti avere bisogno di più informazioni di quelle fornite in questo piccolo opuscolo.</p>
  </div>
  <div class="col-md-12 text-container">
  	<h2 id='section-transport' >Trasporto</h2>
  	<p>Per utilizzare il trasporto pubblico qui a Londra avrai bisogno di una tessera elettronica blu, la Oyster Card. Non ci sono biglietti di carta e non si può pagare in contanti né sugli autobus né sui treni. Una Oyster costa £5, che puoi riavere indietro quando la restituisci. Puoi mettere dei soldi sulla carta (top up) e, ogni volta che la utilizzi, il prezzo del tuo viaggio verrà sottratto da quella somma. Le stazioni della metropolitana ed alcuni negozi vendono Oyster e top up. La Oyster funziona sugli autobus, la metropolitana (la Tube, l'Overground e la DLR), sui treni locali e sui treni regolari che viaggiano all'interno di Londra.</p>
  	<p>Il sistema di trasporto è diviso in zone. Zona 1 è al centro della città, e man mano che crescono i numeri si va verso la periferia. I prezzi dei treni e della metropolitana dipendono dalle zone e il trasporto è più costoso durante l'ora di punta (6:30h-9.30h e 16h-19h). Un viaggio dalla Zona 2 alla Zona 1 ti costerà £2.30 o £2.90. Un viaggio in autobus costa £1.50 e, se prendi i mezzi di trasporto per più di tre volte in un singolo giorno, la tariffa fissa sarà di £4.40. Puoi comprare abbonamenti giornalieri, settimanali e mensili che si chiamano travelcards sulla tua Oyster. </p>
	<p>Si può comprare una travelcard settimanale valida solo per gli autobus, per i quali le zone non hanno importanze (£20.20) o una travelcard più comprensiva che puoi usare su ogni mezzo di trasporto. In questo caso, però, il prezzo non è fisso e dipende dalle zone nelle quali viaggerai. Viaggiare senza biglietto è possibile, ma si trovano spesso controllori. Se ti fermano, potrebbero voler controllare se hai il permesso di soggiorno. Usare il trasporto pubblico senza biglietto è un reato e a volte le persone vengono portate in tribunale.</p>
  	<p>Puoi usare il sito di TFL per vedere quale trasporto pubblico usare all'interno di Londra per spostarti da un posto all'altro:<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.tfl.gov.uk/'>tfl.gov.uk</a></span><br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0343 222 1234</span><br/>
  	</p>
  	<p>National Rail Enquiries ti aiuterà a trovare l'orario dei treni e i prezzi dei biglietti:<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nationalrail.co.uk/'>nationalrail.co.uk</a></span><br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 08457 48 49 50</span><br/>
  	</p>
  	<p>Gli autobus spesso costano meno del treno, specialmente quelli economici come Megabus:<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://uk.megabus.com/'>uk.megabus.com</a></span><br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0141 332 9644</span><br/>
  	</p>
  	<p>Puoi trovare la località esatta di ogni indirizzo nel Regno Unito digitando il post code (codice postale) su Google Maps o su Bing Maps:<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.google.co.uk/maps/place/London+E1+7Q'>google.co.uk/maps/place/London+E1+7Q</a></span><br/>
  	</p>
  </div>
  <div class="col-md-12 text-container">
  	<h2 id='section-internet' >Internet & telefono</h2>
  	<p>Connettersi a internet in un internet caffè costa circa 1£ per ora. Nel centro di Londra i prezzi salgono. Nei caffè ci sarà anche una fotocopiatrice, e avrai la possibilità di fare chiamate internazionali a basso prezzo.
  	</p>
  	<p>Puoi connetterti a internet gratis nelle biblioteche. Di solito, le biblioteche ti chiederanno di iscriverti. È gratis, ma dovrai provare che abiti in zona. Potrebbero anche lasciarti entrare senza registrati, quindi vale la pena chiedere allo sportello. Le biblioteche hanno a disposizione anche giornali, quotidiani, risorse per imparare l'inglese e lingue in libri diversi. Sono posti buoni per trovare informazioni sulle risorse presenti nella comunità, eventi, educazione, case, eccetera.</p>
  	<p>Un cellulare senza contratto si chiama prepaid, pay as you go o PAYG. Ci sono compagnie telefoniche, come Lebara, Lycatel o Giffgaff, che hanno ottime offerte per l'acquisto di una SIM. Puoi avere una sim prepagata con 250 minuti, un numero illimitato di SMS (texts) e 1GB di internet per 10£ al mese. Piccoli negozi di telefonia nei mercati locali sono il posto migliore per avere una SIM e un telefono a basso costo. Anche Argos vende telefoni poco costosi.</p>
  	<h2 id='section-cheap' >Cibo a Basso Costo & Altre Cose</h2>
  	<p>I supermercati meno costosi sono Lidl, Aldi o Morrisons. A volte si può trovare del cibo che sta per scadere lo stesso giorno a bassissimo prezzo, specialmente la sera tardi. Il cibo a volte è meno costoso nei mercati che nei negozi. Lo skipping (prendere cibo dai cassonetti) è considerato reato, ma viene raramente fatto un procedimento legale. È probabile che tu ti possa trovare nei guai se la security ti acchiappa. Stai attent@ perché a volte viene versata la candeggina sul cibo e ci potrebbero essere dei ratti nel cassonetto.
Questi sono dei luoghi dove del cibo viene distribuito gratuitamente: SOAS University e LSE (London School of Economics) – dal Lunedì al Sabato dalle 12:15 fino alle 14:30 del pomeriggio; Food Van: Kentish Town – 12,  Food Van: Kentish Town – 12, Camden Town – 13, Kings Cross – 14.15pm – Lunedì al Sabato; Day Centre: Matchless Gifts – 102 Caledonian Road, Islington London, N1 9DN.</p>
  	<p>Primark è il negozio di vestiti meno costoso. Argos è poco costoso per articoli casalinghi e elettrici. Associazioni di beneficenza come Oxfam, Marie Curie, Mind hanno dei charity shops dove puoi comprare vestiti, libri e articoli domestici di seconda mano a basso prezzo.</p>
  	<p>Freecycle è un forum dove le persone danno via delle cose gratis:
      <br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://uk.freecycle.org/'>uk.freecycle.org</a></span><br/>
  	</p>
  	<p>Gumtree ha una sezione per cose gratis:<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gumtree.com/freebies/london/freebies'>gumtree.com/freebies/london/freebies</a></span><br/>
  	</p>
  	<p>Dovrai essere molto paziente e fortunat@ con questi siti perché le cose di alta qualità vengono prese velocemente.</p>
  </div>
  <div class="col-md-12 text-container">
  	<h2 id='section-bank' >Conto in Banca</h2>
  	<p>Aprire un conto in banca è difficile se ti sei appena trasferit@ nel Regno Unito. Le banche spesso richiedono dei documenti per aprire un conto e, per avere questi documenti, a volte devi avere già un conto. Avrai bisogno di due documenti: una prova della tua identità, come un passaporto o carta d'identità, e una prova del tuo indirizzo di residenza. Quest'ultima potrebbe essere difficile da ottenere. Conserva tutte le lettere ufficiali a tuo nome per qualche mese, perché potrebbero essere utili per la banca o per situazioni simili. Avrai spesso bisogno di mostrare la prova dei tuoi indirizzi, con date di quando ci hai abitato. Scrivi ogni volta che ti trasferisci le date e gli indirizzi di casa.</p>
  	<p>Un contratto è una prova di residenza, ma è improbabile che avrai un contratto nei primi tempi. Le bollette del gas, dell'elettricità o di un telefono fisso sono prove valide del tuo indirizzo, ma quelle del cellulare non lo sono. Devi chiedere al proprietario di casa di mettere il tuo nome sul contratto e puoi chiedere alla compagnia della luce o del gas di mettere il tuo nome sulla bolletta, e aspettare la fine del mese quando arriverà la bolletta aggiornata con il tuo nome. Non accettano sempre di farlo. Se il tuo nome è sulle bollette, ricordati di informare la compagnia quando ti trasferisci, altrimenti potresti essere ritenut@ responsabile per le bollette degli altri inquilini.</p>
  	<p>Una patente valida del Regno Unito vale come prova di residenza. Puoi cambiare la tua patente dell'UE con una patente del Regno Unito pagando 50£. Puoi fare l'applicazione per la patente provvisoria, per persone che stanno imparando a guidare, ed alcune banche accetteranno questa come prova di residenza:<br/>
  	<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://ask.co-operativebank.co.uk/help/customer_services/address_proof'>ask.co-operativebank.co.uk/help/customer_services/address_proof</a></span><br/>
  	</p>
  	<p>Il tuo datore di lavoro può scrivere una lettera per confermare il tuo indirizzo. Deve essere su carta con l'intestazione della compagnia per cui lavori e firmata da qualcuno in posizione d'autorità. Alcune banche accettano questo o la lettera del Job Centre che conferma il tuo National Insurance Number.<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.hsbc.co.uk/content_static/en/ukpersonal/pdfs/en/passport_brochure.pdf'>hsbc.co.uk/content_static/en/ukpersonal/pdfs/en/passport_brochure.pdf</a></span><br/>
  	</p>
  	<p>Alcune banche offrono account per persone appena arrivate nel Regno Unito, dove anche solo un passaporto e nessuna prova di residenza è richiesta:<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.lloydsbank.com/banking-with-us/joining-lloyds/new-to-the-uk.asp'>lloydsbank.com/banking-with-us/joining-lloyds/new-to-the-uk.asp</a></span><br/>
  	</p>
  	<p>o un recente estratto conto dal tuo conto a casa sarà accettato come prova di residenza:<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.barclays.co.uk/Helpsupport/ComingtoworkintheUK/P1242601780771'>barclays.co.uk/Helpsupport/ComingtoworkintheUK/P1242601780771</a></span><br/>
  	</p>
  	<p>Le Credit Unions (cooperative bancarie) sono piccole organizzazione bancarie di comunità e tendono essere più flessibili quando si tratta di aprire un nuovo conto. Puoi trovare la tua cooperativa di credito locale qui:<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.findyourcreditunion.co.uk/home'>findyourcreditunion.co.uk/home</a></span><br/>
  	</p>
  	<p>Raccogli quanti più puoi documenti rilevanti, va in banca in persona e prova banche diverse, in quanto potresti essere fortunat@ e avere a che fare con qualcun@ che non è molto diligente con i controlli.</p>
  	<h2 id='section-learning' >Imparare l'Inglese</h2>
  	<p>In ogni quartiere c'è un istituto professionale per adulti per corsi vocazionali. Si chiamano Further Education (FE) o Community College. Offrono corsi in diverse materie, per esempio l'Inglese. A volte costano poco e a volte sono completamente gratis, sopratutto se ricevi benefits dallo stato. Alcuni consigli comunali (council), biblioteche, chiese e centri sociali forniscono corsi di inglese gratuiti. Chiedi nella tua biblioteca locale per aiuto.</p>
  </div>
  <div class="col-md-12 text-container">
  	<h2 id='section-healthcare' >Servizio Sanitario</h2>
  	<p>Se hai bisogno urgentemente di un medico chiama 999. Se hai bisogno d'aiuto medico velocemente, ma non è un'emergenza, chiama il 111. Puoi anche andare al pronto soccorso – l'accident and emergency unit, o A&E – che si trova, di solito, in ospedale.</p>
  	<p>NHS, il servizio sanitario nazionale (National Health Service), offre assistenza medica in tutto il Regno Unito. Puoi trovare ospedale, cliniche, dentisti, consultori e altri servizi sanitari locali nella tua zona usando questo sito:<br/>
  	<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nhs.uk/Service-Search'>nhs.uk/Service-Search</a><br/>
  	</span>
  	</p>
  	<p>Il servizio sanitario di base, come la visita ad un dottore o il trattamento d'emergenza, è gratuito a prescindere dal tuo status d'immigrazione. Potresti dover pagare per appuntamenti speciali o per la tua permanenza in ospedale, a meno che tu abbia una cittadinanza dell'UE e il diritto di soggiornare nel Regno Unito – in tal caso, anche questi servizi saranno gratuiti. Gli appuntamenti dal dentista o dall'ottico e le prescrizioni mediche costano sempre, a prescindere dalla tua cittadinanza.</p>
  	<p>Il tuo primo punto di contatto nel servizio sanitario si chiama GP o general practioner. Di solito lavora in una surgery, si chiama così ma non ha nulla a che vedere con procedure chirurgiche. Dovrai registrati con un GP nella zona e prenotare un appuntamento ogni volta che vuoi vedere un dottore. Se hai una malattia o una lesione che non richiede un trattamento d'urgenza, ma non puoi aspettare il tuo appuntamento puoi andare a una walk-in clinic dove un@ infermier@ ti visiterà. Preparati ad aspettare alcune ore.</p>
  	<p>Dovrai registrati e prenotare un appuntamento per vedere un@ dentista. Una visita di controllo costa 18.50£ e delle procedure quali otturazione dentale o estrazione di un dente costano £50.50. Pagherai solo una tassa per il trattamento più costoso e se hai bisogno di tornare di nuovo nell'arco dei primi due mesi sarà gratis.</p>
  	<p>L'aborto è legale nelle prime 24 settimane ed è eseguito gratuitamente nel Regno Unito. Avrai bisogno prima della referenza del tuo medico o puoi consultare il British Pregnancy Advisory Service:<br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03457 30 40 30</span><br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.bpas.org/'>bpas.org</a></span><br/>
  	</p>
	<p>L'aborto è eseguito anche nelle cliniche private, dove però dovrai pagare £450-750.</p>
	<p>Tutti possono prendere dei preservativi gratis, anche se hanno meno di 16 anni. Sono disponibili nelle cliniche di contraccezione, nei consultori, ed in alcune GP surgery e in alcuni posti che offrono servizi per giovani.</p>
	<p>Puoi avere la Pillola del Giorno Dopo (Morning After Pill) gratis nelle cliniche che si occupano di contraccezione, nei centri Brook, in alcune farmacie, nella più parte dei consultori, in quasi tutti i walk-in dell'NHS e nelle surgery dei GP e anche in alcuni dipartimenti dell'A&E. Puoi anche comprare la pillola senza prescrizione per £26 in una farmacia, incluse le farmacie quali Boots e Superdrug.</p>
	<p>Ci sono molti consultori a Londra, spesso nei pressi degli ospedali. 56 Dean Stress è un consultorio dell'NHS magnifico ed è aperto a tutti. Sono particolarmente brav@ quando si tratta di persone LGBTQ*. Hanno una cliniche per persone trans, per sex worker, e per chi fa uso di droghe.<br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 3315 6699</span><br/>
  		<span class='address'><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 56 Dean Street, Soho, London, W1D 6AQ</span><br/>
  	</p>
  </div>
  <div class="col-md-12 text-container">
  	<h2 id='section-home' >Casa</h2>
  	<h3>Trovare una Casa</h3>
  	<p>Gli affitti a Londra sono molto alti e trovare un posto decente è difficile e richiede del tempo. L'affitto è meno costoso dalla Zona 3 in poi. Prima di scegliere, guarda posti diversi, chiedi a chi abita nell'area quanto pagano d'affitto, cerca su siti diversi e chiedi nelle agenzie. Alcune edicole hanno cartelli con pubblicità o hanno pubblicità affisse nelle loro finestre. Puoi anche chiedere in posti come lavanderie, pub, barbieri, parrucchieri, caffè e centri sociali. Gumtree è il sito più popolare per cercare stanze e appartamenti:<br/>
  	  <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gumtree.com/london'>gumtree.com/london</a></span><br/>
  	</p>
  	<p>Molte persone non possono permettersi un appartamento e quindi affittano una stanza o condividono la stanza con un'altra persona. Condividere una stanza con letti a castello è l'opzione più semplice. Un roommate è la persona con cui si condivide la stanza, mentre i flatmates sono i coinquilini. Stai attent@ alle persone con cui condividi una stanza; alcune persone a volte sono alla ricerca di partner sessuali. Una stanza single è una stanza per una sola persona, mentre una double room è più grande, con un letto dove possono dormire due persone. Se una stanza viene pubblicizzata come una 'room', dovrebbe essere solo per te. I proprietari di casa spesso affittano ogni stanza in un appartamento come una stanza da letto – avere un salotto come spazio comune è un extra. Se sei in dubbio, chiedi se dovrai condividere la tua futura stanza, quante persone vivranno nell'appartamento, quante persone condivideranno il bagno, eccetera.</p>
  	<p>Una stanza poco costosa a Londra costa, di solito, £300-500 al mese bollette incluse. La maggior parte delle stanze vanno dai £500 ai 700£ al mese. Le bollette sono: le utilities, quali il gas, l'elettricità e l'acqua; gli extra quali il telefono, internet e la tv satellitare; la tassa da pagare al consiglio comunale locale, che si chiama council tax ed è di solito la bolletta più costosa. Il costo della council tax dipende dalla parte di Londra dove si trova la proprietà e quanto è grande. Controlla quali bollette sono incluse nel prezzo. Avrai bisogno di pagare due mesi di affitto come caparra, un mese per l'affitto e una per il deposito, che riavrai a fine contratto.</p>
  	<p>Le truffe sono molto comuni. Non pagare soldi in anticipo per nulla che non hai visto con i tuoi occhi. Se l'affare che stai per fare sembra troppo buono per essere vero – probabilmente lo è. Le persone indebitate a volte provano a chiedere di pagare una caparra molto costosa e l'affitto in anticipo per poi scappare via coi soldi. A quel punto corri il rischio di essere sfrattat@. Sfortunatamente questo tipo di sfratto è difficile da combattere. Quindi prova a conservare copie e documenti scritti riguardo al contratto d'affitto, idealmente dovresti ottenere sempre un contratto ufficiale.</p>
  	<h3>Diritti degli Affittuari</h3>
  	<p>Ci sono tipi diversi di contratti d'affitto. I tuoi diritti dipendono sul tipo di contratto che hai firmato. I contratti per Assured Shorthold Tenants sono i più comuni e ti danno alcuni diritti e protezione. Se sei un@ Excluded Occupier, per esempio un pensionante, hai meno diritti. Anche se non hai un contatto scritto hai comunque dei diritti fintanto che puoi provare che hai pagato il proprietario di casa. Chiedi le ricevute dei tuoi pagamenti e, se puoi, paga con un trasferimento bancario per avere delle prove.</p>
  	<p>I diritti basilari sono sottintesi per legge. Hai questi diritti anche se non sono scritti nel tuo contratto. Se il contratto contiene clausole contrarie alla legge, la legge ha la precedenza. Alcuni dei diritti più importanti sono:</p>
  	<ul>
  		<li>Il proprietario deve riparare ciò che si rompe (i danni si chiamano disrepair).</li>
  		<li>Il proprietario deve fare in modo che gli impianti per l'acqua, il gas, l'elettricità, i servizi sanitari, il riscaldamento e la caldaia siano funzionanti.</li>
  		<li>Hai il diritto di vivere tranquillamente nella proprietà che affitti senza essere disturbat@ dal tuo proprietario (il proprietario deve avvisarti 24 ore prima di ogni visita, con la possibile eccezione delle emergenza).</li>
  	</ul>
  	<p>Nella più parte dei casi, il proprietario non può discriminare contro di te. Ci potrebbero però essere alcune eccezioni se, per esempio, abiti nella stessa proprietà con il tuo proprietario.</p>
  	<p>L'affitto può essere alzato solo attraverso una richiesta formale. Se il tuo contratto prevede le procedure necessarie per l'aumento dell'affitto, il tuo proprietario deve rispettarle. Altrimenti, non può aumentare l'affitto più di una volta l'anno con una notificando un mese in anticipo per i contratti d'affitto periodici (periodic tenancies) (quali il contratto mese per mese o settimana per settimana), e solo con il tuo consenso per contratti fissi (fixed-terms contacts) finché il contratto scade.</p>
  	<h3>Molestie da parte del Proprietario</h3>
  	<p>Se il tuo proprietario di casa ti molesta, sappi che è un crimine. Puoi chiamare la polizia o parlare ad un'organizzazione indipendente quale il Citizen's Advice Bureau.
Le molestie possono essere di tipi diversi, per esempio:</p>
  	<ul>
  		<li>Rimuovere o restringere l'accesso ai servizi quali gas, elettricità o acqua, o non pagare le bollette e quindi far in modo che questi servizi vengano tagliati</li>
  		<li>Entrare in casa tua in modo regolare e senza avvisare, specialmente di notte tardi</li>
  		<li>Interferire con la tua posta</li>
  		<li>Minacciarti</li>
  		<li>Chiamare muratori e costruttori nella proprietà senza preavviso</li>
  		<li>Entrare in casa quando tu non ci sei senza il tuo permesso</li>
  		<li>Non mantenere la proprietà in una condizione decente fino al punto in cui è pericoloso per te rimanere</li>
  		<li>Iniziare dai lavori di riparazione senza mai finirli</li>
  		<li>Molestarti per via del tuo genere, della tua etnia o del tuo orientamento sessuale.</li>
  	</ul>
  	<h3>Caparra e  il Tenancy Deposit Scheme (Piano per la Caparra degli Affittuari)</h3>
  	<p>Quando ti trasferisci in una casa, paghi una caparra in caso arrecherai danni alla casa o in caso ti troverai in difficoltà a pagare l'affitto. Avere indietro la caparra è un problema le persone affrontano spesso quando affittano una proprietà. Ricordati di prendere e conservare la ricevuta quando paghi il deposito. Fai foto alla casa quando ti trasferisci e mandale per e-mail a qualcuno. Così avrai una prova con la data delle condizioni della casa quando ti sei trasferit@, nel caso il proprietario ti accusi di aver arrecato danni alla proprietà. Se il proprietario non ti ridà parte della caparra o la caparra intera, deve darti una fattura dei costi che ha sottratto alla caparra, incluse ricevute per le riparazioni o per la pulizia.</p>
    <p>Quando ti trasferisci, il proprietario deve per legge trasferire il tuo deposito in un tenancy deposit scheme (Piano/Schema per la Caparra degli Affittuari), approvato dal governo. Il proprietario può ricevere una multa se non ti restituisce la tua caparra quando ti trasferisci. Se rifiuta, puoi fare un appello allo scheme. La lista di scheme approvati e altri informazioni si trova su questo sito del governo:<br/>
          <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.gov.uk/tenancy-deposit-protection'>gov.uk/tenancy-deposit-protection</a></span><br/><br/>
    </p>
    <h3>Sfratto</h3>
    <p>Il proprietario di casa ha bisogno di grounds (una motivazione) per sfrattarti prima della fine del contratto, per esempio non rispettare il contratto d'affitto o essere in ritardo coi pagamenti del fitto.</p>
    <p>Il proprietario deve darti un preavviso per iscritto che ottempera a certi requisiti. Non devi lasciare la casa quando ricevi il preavviso. Il proprietario ha bisogno di un'ordinanza di tribunale che ti ordina di lasciare la proprietà. Hai la possibilità di spiegare la tua situazione per iscritto o andando al tribunale di persona.</p>
    <p>Puoi rimanere in casa tua fino a quando gli ufficiali giudiziari (bailiffs) arrivano. Non devi lasciare i bailiffs entrare a meno che siano stati chiamati per multe criminali o tasse. Gli è vietato lo scasso. Se li lasci entrare, possono prendere le tue cose. La polizia non ha il diritto di entrare senza non gli apri la porta, a meno ché abbiano un mandato che mostra che sei sospettat@ di un crimine.</p>
    <p>Ricordati, il preavviso da parte del proprietario non è abbastanza per sfrattarti, avrà bisogno di un'ordinanza di tribunale. Se qualcuno prova a sfrattarti senza la corretta procedura, sta commettendo un reato penale: sfratto illegale (illegal eviction). La polizia spesso sbaglia e crede che lo sfratto illegale sia una questione civile, ma in realtà si tratta di materia penale e dunque la polizia ha il dovere di proteggerti. Ti è legalmente permesso di cambiare i lucchetti per proteggerti da molestie, finché conservi i lucchetti originali e li rimetti a posto quando lasci la proprietà.</p>
    <h3>Dispute</h3>
    <p>Ogni disputa col tuo proprietario di casa dev'essere considerata attentamente. Qui ci sono alcune cose che possono aiutarti:</p>
    <ul>
      <li>Leggi il tuo contratto per trovare i tuoi diritti e le tue responsabilità</li>
      <li>Fai una ricerca sui diritti all'abitare e chiedi aiuto legale quando puoi</li>
      <li>Conserva e fai una copia di tutte le prove di pagamento, corrispondenze, prove fotografiche mandate al tuo proprietario per creare un paper trail, una documentazione cartacea.</li>
    </ul>
    <p>Shelter è un'organizzazione di beneficenza che dà consigli riguardo la casa e l'essere senzatetto. Puoi chiamarli o usare il sito per trovare informazioni:<br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 800 4444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://england.shelter.org.uk/get_advice'>england.shelter.org.uk/get_advice</a></span><br/>
    </p>
    <p>I consigli comunali spesso dispongono di qualcuno dedicato specialmente al dare consigli riguardo l'alloggio e la casa, ma a volte sono difficili da trovare perché ognuno di loro ha un nome di verso. Per esempio, ad Hackney si chiama Housing Options</p>
    <p>Il sito Housing Rights Info fornisce molte informazioni riguardo il diritto all'abitare e ha una sezione speciale dedicata ai migranti appena arrivati:<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.housing-rights.info/index.php'>housing-rights.info/index.php</a></span><br/>
    </p>
    <p>Citizen's Advice Bureau ti darà consigli riguardo l'abitare:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <h3>Essere Senzatetto</h3>
    <p>Un grande numero di senzatetto a Londra sono immigrati recenti, specialmente provenienti dall'Europa Centrale e dall'Europa dell'Est. Chi migra spesso non si rende conto di quanto sia dispendioso abitare qui e di quanto sia difficile trovare lavoro, quindi, quando succede qualcosa di brutto, c'è chi finisce in strada. Se diventi senzatetto non avrai diritto a nessun supporto dallo stato se non hai un passaporto dell'UE o se hai un passaporto dell'UE ma non abiti nel Regno Unito da più di tre mesi. Anche se hai diritto a questo supporto, i servizi previsti per i senzatetto sono limitati e molto richiesti e quindi potrebbe essere difficile ottenere aiuto.</p>
    <p>Alcune organizzazioni che offrono consigli e aiuto per i senzatetto:<br>
    Shelter
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 800 4444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://england.shelter.org.uk/get_advice'>england.shelter.org.uk/get_advice</a></span>    <br/>
    </p>
    <p>
      The Simon Community
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7485 6639</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.simoncommunity.org.uk'>simoncommunity.org.uk</a></span></p><br/>
    <p>
      Crisis
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.crisis.org.uk'>crisis.org.uk</a></span><br/>
    </p>
    <p>
      La rivista 'The Pavement' dà informazioni aggiornate sui senzatetto nelle strade di Londra, incluse informazioni pratiche come dove ci sono mense gratuite.
      <br/> 
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.thepavement.org.uk'>thepavement.org.uk</a></span><br/>
    </p>
    <p>Barka dà supporto per le persone provenienti dall'Europa Centrale o dell'Est che si trovano in condizioni economiche e sociali difficili. Supporto telefonico gratuito aperto dalle 9 alle 2 di mattina il lunedì, martedì, giovedì e venerdì. Il servizio è disponibile in polacco, russo e inglese.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 171 2926</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.barkauk.org'>barkauk.org</a></span><br/>
    </p>
    <h3>Squattare</h3>
    <p>Squattare (occupare a scopo abitativo) proprietà residenziali è un crimine. Alcune persone sono anche state portate in tribunale. Squattare proprietà non residenziali non è illegale ma è difficile rimanere in un solo posto per un lungo periodo di tempo. Advisory Service for Squattare offre consigli al riguardo:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 3216 0099</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.squatter.org.uk'>squatter.org.uk</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-work' >Lavoro</h2>
    <h3>National Insurance</h3>
    <p>La National Insurance  è una tassa che viene dedotta dal tuo salario per essere usata per il sussidio di disoccupazione, di malattia e la pensione. Hai bisogno di un National Insurance (NI) Number (Numero di Assicurazione Nazionale) per lavorare legalmente nel Regno Unito. Puoi cominciare a lavorare senza, ma dovresti cercare di ottenerlo quanto più presto possibile. Dovrai andare a un’intervista e portare con te una prova d’identità (per esempio un passaporto, carta d’identità o patente). Chiama Job Centre Plus per prenotare la tua intervista.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0345 600 0643</span><br/>
    </p>
    <h3>Paga, Salario Minimo, Tasse</h3>
    <p>Il/la tu@ cap@ ti dovrebbe dare un contratto per iscritto. Non devono dartene uno completo, ma devono specificare per iscritto le condizioni basilari, quali la tua paga. In ogni caso, è sempre bene richiedere il proprio contratto. Se non ti viene dato, potrebbe essere un segnale che in futuro potresti avere dei problemi. Chiedi a qualcuno di controllare il tuo contratto per vedere se ci sono problemi o modalità d’impiego dubbie.</p>
    <p>E' illegale per il tuo capo pagarti meno del National Minimum Wage, il Salario Minimo Nazionale. Al momento, questo è di 6.50£ all’ora se hai più di 21 anni o di 5.13£ all’ora se hai meno di 21 anni. La paga viene effettuata solitamente per ora o per l’intero anno (per annum o pa). Un lavoro a tempo pieno (full time) è di 40 ore la settimana, che con una paga di 6.50£ all’ora si traduce incirca 13,520£ l’anno.</p>
    <p>Ecco un breve esempio delle tasse e del National Insurance per un lavoro a tempo pieno, venendo pagat@ il minimo salariale: <br/>
    Paga prima delle tasse: 13.520£ l’anno<br/>
    National Insurance: £668 l’anno<br/>
    Tassa del Reddito: 704£ l’anno<br/>
    Paga totale dopo le tasse: 12,148£ l’anno, 324£ la settimana, circa £1010 al mese - quest’ultima dipenderà leggermente dalla durata del mese.</p>
    <p>Conserva sempre le tue buste paga e una nota che riguarda le ore di lavoro e quelle di ferie. In questo modo potrai facilmente capire se ti stanno sottopagando, se non ti stanno dando abbastanza ferie eccetera. Scrivi anche note riguardanti ogni incidente, discussione eccetera che hai al lavoro, insieme ai nomi di colo che ne sono stati testimoni. Fare questo ti aiuterà se il tuo capo cerca di intimidirti, multarti o licenziarti.
    </p>
    <p>Se hai un contratto di lavoro, anche se hai più di un lavoro, il tuo capo dovrebbe pagare tutte le tasse al tuo posto e tu non dovrai compilare scartoffie alla fine dell’anno fiscale. Se inizi a lavorare senza un numero NI, dovrai pagare una tassa d’emergenza in più (emergency tax) che potrai chiedere indietro appena ricevi il tuo numero NI. Non entrare nel panico se hai pagato troppe tasse. Puoi sempre chiederle indietro quando fai il resoconto delle tasse alla fine dell’anno fiscale. L’anno fiscale finisce il cinque aprile e hai fino ad ottobre per fare il resoconto delle tasse.</p>
    <p>HMRC (Her Makesty’s Revenue and Customs), l’organo che preleva le imposte, ti aiuterà se hai problemi. Hanno un numero di telefono che offre consigli e aiuti riguardo a tasse specifiche. Puoi trovare i numeri qui:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://taxaid.org.uk/guides/taxpayers'>taxaid.org.uk/guides/taxpayers</a></span></p><br/>
   <p>Tax Aid è un’associazione di beneficenza che aiuta persone con un salario basso con i loro problemi legati alle tasse, se HMRC non può aiutarli.
     <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://taxaid.org.uk/guides/information'>taxaid.org.uk/guides/information</a></span><br/>
     <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0345 120 377</span><br/>
   </p>
   <h3>Diritti Fondamentali al Lavoro</h3>
   <p>Non importa che tu stia lavorando con un contratto temporaneo o permanente, con un’agenzia, part time o full time, hai comunque alcuni diritti basilari e fondamentali:</p>
   <ul>
     <li>Almeno 5.6 settimane di ferie pagate  (chiamata leave o time off) l’anno. Questo vuol dire 28 giorni l’anno se lavori a tempo pieno. Questo include giorni festivi quali il Natale e i bank holidays. Il tuo contratto può darti più’ giorni di ferie, ma mai di meno. Per coloro che lavorano part-time, moltiplica i giorni in cui lavori per settimana per 5.6. Queste regole sono valide per tutti i lavori dal primo giorno in cui cominci - hai diritto a due giorni di ferie. Dopo sei mesi, hai diritto a 14 giorni. </li>
     <li>Hai il diritto ad essere pagat@ quando sei malat@. L’indennità per malattia viene applicata quando non sei stat@ al lavoro per quattro giorni di seguito. Devi guadagnare più di 111£ la settimana e avere lavorato per più di tre mesi (o essere stat@ impiegat@ in modo continuato per 13 settimane).</li>
     <li>Hai il diritto al congedo di maternità o paternità quando hai dei bambini. La maggior parte delle madri riceve 26 settimane di congedo di maternità pagate, più 26 settimane di congedo non pagate. Per avere il congedo di maternità devi guadagnare più di 111£ la settimana e devi aver lavorato per più di 26 settimane di seguito, 15 settimane prima della data prevista per il parto. Per le prime sei settimane dovresti ricevere il 90% della tua paga media,  poi 138.13£ la settimana per 33 settimane. Se il/la tu@ cap@ non può o non vuole pagarti, il Dipartimento di Impiego e Pensioni (Department of Work and Pensions) deve farlo. I padri/partner maschi hanno diritto a due settimane di congedo di paternità pagate.</li>
     <li>Il diritto a difendere te stess@. Hai il diritto a essere protett@ dall’essere licenziat@ per avere richiesto i tuoi diritti. Hai il diritto di unirti ad altri lavoratori, organizzarti in modo collettivo e hai il diritto a far parte di un sindacato.</li>
     <li>Il diritto ad un trattamento equo. Hai il diritto a non essere discriminat@ al lavoro per la tua età, disabilità, genere, status civile, maternità, razza, religione, sesso, orientamento sessuale. Queste sono chiamate caratteristiche protette,protected characteristics.</li>
   </ul>
   <h3>Bullismo, Molestie, Discriminazione </h3>
   <p>Ricordati, se vieni bulizzat@ o molestata@ non è mai colpa tua. Non devi tollerarlo.</p>
   <p>Bullismo e molestie includono comportamenti che feriscono, intimidiscono, minacciano, vittimizzano, danneggiano, offendono o umiliano. Il tuo datore di lavoro deve far si che il tuo posto di lavoro sia libero da bullismo e molestie. Il bullismo è un comportamento ripetuto che lede la tua dignità personale. La molestia è un incidente singolo o una serie di incidenti che riguardano le tue caratteristiche protette di cui abbiamo parlato qui sopra.</p>
   <p>Seri incidenti di molestie sessuali, come l'essere toccat@ contro la tua volontà e altre minacce fisiche sono reati. Se vuoi puoi anche denunciarli alla polizia.</p>
   <h3>Norme riguardo alle ore di lavoro</h3>
   <p>Per quanto riguarda le tue ore di lavoro, i tuoi diritti sono:</p>
   <ul>
     <li>Non lavorare più di 13 ore al giorno.</li>
     <li>Un giorno di ferie la settimana.</li>
     <li>Una pausa di almeno 20 minuti ogni sei ore di lavoro, almeno 11 ore di risposto ogni 24 ore. Per coloro che hanno meno di 18 anni, le pause sono di almeno 30 minuti ogni 4 ore e mezza.</li>
     <li>Puoi rifiutarti di lavorare più di 48 ore la settimana. Questa media viene calcolata su un periodo di 17 settimane, quindi puoi essere obbligat@ a lavorare di più in una settimana singola. Puoi dichiarare per iscritto di essere d’accordo a rinunciare a questo diritto (opt out). Spesso i datori di lavoro cercano di mettere questa clausola nel tuo contratto, quindi fai attenzione.</li>
     <li>Di notte, il tuo lavoro non può durare più di una media di otto ore al giorno. Chi lavora di notte hai il diritto a regolari controlli medici gratis.</li>
   </ul>
   <h3>Salute e Sicurezza </h3>
   <p>Hai il diritto di rifiutarti di lavorare se le condizioni nelle quali lavori sono pericolose. Il tuo datore di lavoro deve allenarti e prepararti in modo adeguato, e non ha il diritto di chiederti di fare un lavoro per il quale non sei qualificat@.</p>
   <p>Il tuo datore di lavoro deve provvedere ad assicurare delle condizioni di lavoro decenti, questo include bagni, acqua potabile e rubinetti. Ci devono essere delle procedures (istruzioni) riguardo i pericoli sul lavoro. Ci deve essere un piano di regolamento per salute e sicurezza. Pratiche di salute e sicurezza devono essere spiegate a tutti gli impiegati prima che inizino a lavorare e devono essere consultat@ riguardo a queste questioni. </p>
   <p>Salute e sicurezza sul lavoro sono cose che costano soldi e impiegano tempo, quindi i datori di lavoro spesso cercano di evitare queste questioni. Per la legge, devono provvedere a dare condizioni di lavoro sicure a coloro che assumono.</p>
   <p>Ricordati,è legale allontanarti dal posto di lavoro se senti di essere stat@ mess@ in pericolo.</p>
   <h3>Contratti di Zero Ore e Lavoro Autononomo/Indipendente</h3>
   <p>Self-employement, cioè lavorare in modo autonomo, vuol dire guadagnare denaro lavorando per te stess@ senza avere un salario dato da un datore di lavoro. Quando lavori autonomamente, sei tu il responsabile del tuo NI e del pagamento delle tasse. Il National Insurance si paga ogni mese, l’income tax alla fine dell’anno e potrebbe anche essere abbastanza onerosa. Avrai probabilmente bisogno di contabile professionista.  Diritti quali il minimo salariale, ore di lavoro, indennità per malattia e per le ferie sono applicabili solamente a dipendenti, e non ai lavoratori autonomi.</p>
   <p>Alcuni capi cercano di obbligare i lavoratori a diventare autonomi per risparmiare sulle tasse e toglierli dei diritti. Questo si chiama falso lavoro autonomo, false self-employement. È  molto comune in alcuni settori, quali l’edilizia. Ma è illegale e il governo non fa niente al riguardo. Puoi usare questo sito per controllare se sei un@ impiegat@ o un@ lavoratore\trice autonom@:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.hmrc.gov.uk/working/intro/empstatus.htm'>hmrc.gov.uk/working/intro/empstatus.htm</a></span><br/>
   </p>
   <p>Zero hours contract, il contratto di zero ore, è un tipo di contratto che non garantisce ore di lavoro. A volte non è specificato che si tratta di un contratto di zero ore, potrebbe dire che il tuo datore di lavoro non ha l’obbligo di darti lavoro. Potrebbe anche avere una clausola di esclusività, che ti vieta di trovare un altro lavoro. Entrambe queste cose sono illegali.
Con un contratto di zero ore hai comunque diritto a ferie, malattia e maternità come tutti gli altri lavoratori. Potrebbero però non darti abbastanza ore di lavoro in modo da poter ottenere questi diritti.</p>
   <p>I contratti di zero ore sono molto comuni in settori quali il settore commerciale, alberghiero, lavoro in agenzia e altri lavori pagati poco. Non ti verranno garantite ore di lavoro ogni settimana, potresti non avere dei turni stabiliti e ti potrebbero chiedere di venire al lavoro il giorno stesso.
Se hai problemi con i tuoi manager, a prescindere che siano legati al lavoro o di tipo personale, potrebbero semplicemente smettere di darti dei turni. Se vogliono liberarsi di te, non devono terminare il tuo contratto, possono semplicemente non darti mai più turni.</p>
   <p>I contratti di zero ore sono molto comuni in settori quali il settore commerciale, alberghiero, lavoro in agenzia e altri lavori pagati poco. Non ti verranno garantite ore di lavoro ogni settimana, potresti non avere dei turni stabiliti e ti potrebbero chiedere di venire al lavoro il giorno stesso.
Se hai problemi con i tuoi manager, a prescindere che siano legati al lavoro o di tipo personale, potrebbero semplicemente smettere di darti dei turni. Se vogliono liberarsi di te, non devono terminare il tuo contratto, possono semplicemente non darti mai più turni.</p>
   <h3>Procedure di richiami (disciplinary) e reclami (grievance)</h3>
   <p>Un ‘disciplinary’ è un procedimento fatto dal tuo capo quando pensa che tu abbia fatto qualcosa di sbagliato sul lavoro, si tratta cioè di un procedimento disciplinare. Una ‘grievance’ è un reclamo fatto da te riguardo al tuo lavoro. ACAS, un’organizzazione che fa da mediatrice in caso di dispute sul lavoro, ha un codice di comportamento che specifica come si effettuano entrambi questi procedimenti. Il tuo datore di lavoro dovrebbe rispettare questo codice, ma non si tratta di legge.
   <p>Gli impiegati che stanno per affrontare un disciplinary dovrebbero avere tempo a disposizione per preparare la propria difesa. Dovresti avere la possibilità di mostrare delle prove a tuo favore e chiamare dei testimoni. Se vieni chiamato a un’udienza disciplinare, hai il diritto ad essere accompagn@ da qualcuno. Puoi scegliere qualcuno che è stat@ allenat@ dal sindacato o qualunque altra persona del sindacato (non importa che il sindacato sia ufficialmente riconosciuto) o un@ collega di lavoro. Tu, e chiunque ti accompagna, siete protetti dal disciplinary o dall’essere licenziati per il fatto di aver usato il diritto ad essere accompagnati. Le udienze devono svolgersi in un arco ragionevole di tempo.</p>
   <p>Se non riesci a risolvere il caso all'interno di queste strutture o se sei stat@ licenziat@, puoi portare il tuo caso a una corte specializzata in questioni lavorative, l’Employement Tribunal. Dovrai pagare £390 o più, a seconda del tuo caso. Se perdi e il tribunale decide che il tuo caso non aveva possibilità di successo, potrebbero richiederti di pagare i costi legali del tuo ex datore di lavoro. Puoi scegliere di rappresentare te stess@ in tribunale, o potrebbe farlo un@ responsabile del sindacato, ma se hai bisogno di un@ professionista, dovrai essere tu a pagarli. Se vinci, riceverai una compensazione. </p>
   <p>I sindacati hanno sito con le informazioni riguardanti i tuoi diritti sul lavoro:
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.worksmart.org.uk/'>worksmart.org.uk</a></span><br/>
   </p>
   <p>ACAS ha un sito con informazioni simili:
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.acas.org.uk/'>acas.org.uk</a></span><br/>
   </p>
   <p>Citizen's Advice Bureau fornisce anche consigli riguardo a queste questioni:
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
   </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-benefits' >Benefits</h2>
    <p>Il sistema dei benefit, cioè dei sussidi offerti dallo stato, nel Regno Unito è molto complicato. Ci sono diversi tipi di benefit. Le tue circostanza dettano quale tipo di benefit puoi richiedere e quanto ti verrà dato. I sussidi sono di solito molto modesti, durano un periodo di tempo limitato e devi soddisfare alcune condizioni, non solo per iniziare a richiedere i benefit ma anche per continuare a riceverli. Puoi richiedere diversi benefit separatamente. Una riforma che vuole introdurre un super-benefit, chiamata Universal Credit, renderà le cose più difficili.</p>
    <p>Se sei cittadin@ dell’UE, devi lavorare per tre mesi nel Regno Unito prima di poter richiedere dei benefit. Se sei un@ cittadin@ di un paese fuori dall’UE, potresti riuscire a chiedere i benefit ma queste regole sono ancora più complicate. Richiedere i benefit, in quanto cittadin@ non-UE, potrebbe avere un impatto negativo sul tuo permesso di soggiorno.</p>
    <p>Puoi usare una di queste calcolatrice per avere un’idea di quanti benefit potresti ricevere:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.entitledto.co.uk/benefits-calculator/startcalc.aspx'>entitledto.co.uk/benefits-calculator/startcalc.aspx</a></span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://benefits-calculator.turn2us.org.uk/AboutYou'>benefits-calculator.turn2us.org.uk/AboutYou</a></span><br/>
    </p>
    <p>La somma vera e propria dipenderà dalle tue circostanze ed è bene richiedere aiuto ad una persona qualificata prima di fare la richiesta. Il Citizens Advice Bureau è un buon posto per chiedere una mano:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <p>Benefit fraud, cioè chiedere più sussidio di quanto ti spetta secondo la legge di proposito e in modo disonesto, è considerato reato.</p>
    <h3>Benefit principale </h3>
    <p>Il Job Seekers Allowance o JSA è un sussidio che puoi ricevere se hai lavorato nel Regno Unito e hai perso il lavoro. Riceverai 57.50£ la settimana se hai 24 anni o meno, 72.40£ se hai più di 24 anni o se sei un genitore single di più di 18 anni, 113.70£ se siete una coppia. Dovrai dare prova continuamente che stai cercando lavoro e questo renderà ricevere dei benefit per più di alcuni mesi di seguito abbastanza complicato. </p>
    <p>Gli Housing Benefit sono i sussidi che vengono dati per aiutarti a pagare l’affitto se hai un salario molto basso o se ricevi altri benefit. La quantità di soldi che ti verrà data dipende da dove abiti, dal tipo di casa, stanza, appartamento ecc che affitti. Non sarà mai più della somma dell’affitto che stai pagando e di solito è addirittura di meno dell’affitto stesso. Molti proprietari di casa non affittano a chi riceve housing benefits.</p>
    <p>I Child Benefit sono sussidi che ti vengono dati se sei un genitore o se sei responsabile per un@ bambin@ di meno di sedici anni. Potrai ricevere 20.50£ la settimana per il/la bambin@ più grande, e 13.55£ la settimana per ogni altro bambin@.</p>
    <p>Il Working Tax Credits è un sussidio che viene dato riducendo le tasse da pagare, se hai un salario basso. Puoi controllare quanto aiuto potresti ricevere di riduzione tasse usando questa calcolatrice online:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.gov.uk/tax-credits-calculator'>gov.uk/tax-credits-calculator</a></span><br/>
    </p>
    <p>L’Employment and Support Allowance (ESA) e il Personal Independence Payment (PIP) sono due sussidi che puoi ricevere se soffri di malattia cronica o se sei disabile. Devi vivere nel Regno Unito per molto tempo prima di poter essere ritenut@ idone@. Verrà effettuata una valutazione da parte dello Stato per stabilire se la tua condizione è così grave da non poter lavorare. Questo procedimento di valutazione è tristemente noto perché è  molto angosciante e anche persone che hanno una malattia seria spesso vengono riconosciute come 'in grado di lavorare'. </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-legal' >Problemi Legali</h2>
    <h3>La Polizia e i Tribunali</h3>
    <p>Le forze dell'ordine sono spesso razziste e xenofobe. In quanto migrante, la polizia potrebbe essere meno incline ad investigare un crimine di cui sei la vittima e, viceversa, più incline a pensare che tu sia colpevole, se vieni accusat@ di un crimine. Sono pessimi per quanto riguarda i crimini commessi contro le donne, quali la violenza domestica e gli abusi sessuali. È spesso difficile denunciare questo tipo di crimini, perché la polizia non vuole prenderli sul serio e sono spesso pessimi a trattare con chi è sopravvissut@ a questi eventi. Se vai alla stazione, portati un@ amic@ e scrivi tutto quello che ti dicono. Se vai a denunciare una violenza di tipo sessuale, domestica o un caso di discriminazione (per esempio un attacco di natura razzista o omofoba), è spesso meglio trovare il ‘Community Safety Unit’ e denunciare a loro perché è  meno probabile che siano bigotti. Usa Google per trovare l’unità più vicina a te.</p>
    <p>Se vieni fermat@ dalla polizia per strada, cerca di rimanere calm@. Possono fermarti e farti domande, ma tu non hai il dovere di rispondere. Legalmente, possono perquisirti solo se hanno una motivazione ragionevole di sospettarti di un crimine, ma, in pratica, fanno ciò che vogliono. Hanno il diritto a rimuovere la tua giacca e i tuoi guanti. Hai il diritto di avere un documento del tuo arresto, che dovrebbe avere il numero di identificazione del poliziotto.<br/>
    Guida per le perquisizioni:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://londonagainstpoliceviolence.wordpress.com/guide-to-stop-search'>londonagainstpoliceviolence.wordpress.com/guide-to-stop-search</a></span><br/>
    </p>
    <p>Se vieni arrestat@, ti chiederanno il tuo nome, indirizzo e data di nascita. Non rispondere a nessuna domanda senza parlare prima con un avvocato. Hai un diritto ad un avvocato d’ufficio per quando verrai interrogat@ dalla polizia. Non accettare l’avvocato d'ufficio (duty solicitor), prova a trovarne un@ che i tuoi amici raccomandano. Hai il diritto a una chiamata e ad un traduttore se non parli bene l’inglese.<br/>
    Newham Monitoring Group può aiutarti se la polizia si è comportata in modo illecito o illegale, soprattutto se per razzismo:
    <br/>
    <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 169 3111</span><br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nmp.org.uk'>nmp.org.uk</a></span><br/>
    </p>
    <p>Se la polizia pensa che tu sia colpevole, potrebbero offrirti una caution, cioè un avvertimento. Significa che accetti d’essere colpevole, ma che non verrai portat@ a corte ne riceverai una multa o una sentenza. Ciononostante, una caution rimane sulla tua fedina penale. Chiedi consiglio all’avvocato prima di accettare un avvertimento. Se hai commesso un crimine, ma non vuoi dichiararti colpevole, non dirlo all’avvocato in quanto è suo dovere denunciarlo.
Se la polizia ti ha picchiato, cerca di ottenere il referto medico al più presto possibile. Fare causa alla polizia è possibile, ma difficile.
    </p>
    <p>A seconda del tuo salario, potresti avere diritto ad avere un avvocato in tribunale gratuitamente. Se guadagni meno di 12'475£ l’avvocato sarà gratis, se guadagni di più puoi fare richiesta, e se guadagni più di 22'325£ dovrai pagartelo da sol@. Questo vale solo per casi di natura criminale. Per casi di natura civili, quali debito, famiglia o problemi legati alla casa, dovrai pagare da te. Puoi usare questa calcolatrice per controllare:
    </p>
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://legal-aid-checker.justice.gov.uk'>legal-aid-checker.justice.gov.uk</a></span><br/>
    </p>
    <h3>Immigrazione</h3>
    <p>La polizia che si occupa di immigrazione si chiama UK Border Agency o UKBA. Fanno regolarmente raid nei mercati, negozi, sul trasporto pubblico, in case private, e nei quartieri dove comunità migranti abitano. Anche se i cittadini dell’UE hanno il diritto a vivere nel Regno Unito, la polizia e UKBA hanno deportato anche cittadini dell’UE in passato. Questo succede più spesso a persone che sono disoccupate da molto tempo o senzatetto.</p>
    <p>Se UKBA o la polizia ti ferma per strada e ti chiede del tuo status d’immigrazione, non devi rispondere a nessuna domanda. Non devi dirgli il tuo nome e il tuo indirizzo. Digli che non vuoi parlare, rimani educat@ ma sii sicur@ di te e allontanati. Non hanno il diritto di fermarti solo per via della tua etnia. Se ti fermano per l’aspetto che hai o la lingua che parli, digli: “Questo è un comportamento razzista, è illegale, farò un reclamo ufficiale”.</p>
    <p>Se tu o qualcuno che conosci è arrestat@ e detenut@, contatta Bail for Immigration Detainees:
    <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7247 3590</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.biduk.org'>biduk.org</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-domestic' >Violenza Domestica e Abusi Sessuali</h2>
    <h3>Supporto per Donne</h3>
    <p>
      Women’s Aid è un numero verde per abusi domestiche aperto 24 ore al giorno:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 2000 247</span><br/>
    </p>
    <p>Questo dépliant per sopravissut@ è scritto in diverse lingue, incluso Polacco e Spangolo:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.womensaid.org.uk/landing_page.asp?section=0001000100080004'>womensaid.org.uk/landing_page.asp?section=0001000100080004</a></span><br/>
    </p>
    <p>Southall Black Sisters aiuta donne di colore che affrontano o hanno affrontato violenza domestica o problemi d’immigrazione:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0208 571 0800</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.southallblacksisters.org.uk'>southallblacksisters.org.uk</a></span><br/>
    </p>
    <p>Rape Crisis London offre aiuto confidenziale, informazione e supporto a donne e ragazze che hanno subito violenza sessuale:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 80 29999</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.rapecrisislondon.org'>rapecrisislondon.org</a></span><br/>
    </p>
    <p>Women's Rights da aiuto legale gratuito su diverse linee telefoniche. Puoi trovare sul loro sito il numero relativo alla questione che cerchi:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.rightsofwomen.org.uk/adviceline.php'>rightsofwomen.org.uk/adviceline.php</a></span><br/>
    </p>
    <p>Kalayaan fornisce aiuto confidenziale e indipendente riguardo diritti e leggi sull’immigrazione e sulle condizioni di lavoro per migranti che lavorano nel Regno Unito. Mettiti in contatto con loro se hai problemi con il tuo datore di lavoro, se hai un datore di lavoro che è in possesso del tuo passaporto o semplicemente se vuoi sapere di più sui tuoi diritti:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7243 2942</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.kalayaan.org.uk'>kalayaan.org.uk</a></span><br/>
    </p>
    <h3>Supporto per persone LGBTQ</h3>
    <p>Broken Rainbow è un servizio di assistenza telefonica che si occupa di violenza domestica. 
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 999 5428</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.brokenrainbow.org.uk'>brokenrainbow.org.uk</a></span><br/>
    </p>
    <h3>Supporto per Uomini</h3>
    <p>Men's Domestic Violence and Abuse è un servizio di assistenza telefonica per uomini che si occupa di violenza domestica e di abuso:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 801 0327</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.mensadviceline.org.uk'>mensadviceline.org.uk</a></span><br/>
    </p>
    <p>Survivors UK è un servizio di assistenza telefonica confidenziale per uomini che hanno subito violenza sessuale:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0845 122 1201</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.survivorsuk.org'>survivorsuk.org</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-lgbt' >LGBTQ* (Lesbiche, Gay, Bisessuali e Trans*)</h2>
    <p>A volte può essere difficile trovare altre persone LGBTQ quando sei nuov@ in città, sopratutto ora che i bar gay stanno diventando sempre più costosi. Ecco alcuni contatti che renderanno il tutto un po' più semplice:</p>
    <p>London Lesbian and Gay Switchboard è un servizio di assistenza telefonica:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0845 122 1201</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.llgs.org.uk'>llgs.org.uk</a></span><br/>
    </p>
    <p>Il London Queer Social Centre o "House of Brag" è un collettivo di persone queer:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://houseofbrag.wordpress.com'>houseofbrag.wordpress.com</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-other' >Altri Contatti Utili</h2>
    <p>GOV.UK e’ un sito gestito dal governo dove la legge è spiegata in modo comprensibile anche a chi non conosce bene termini legali. Tratta di varie aree, incluse questioni che questa guida ha trattato:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gov.uk'>gov.uk</a></span><br/>
    </p>
    <p>Citizen's Advice Bureau è un’organizzazione di beneficenza che fornisce consigli e che aiuta persone che ne hanno bisogno. Hanno dei centri locali dove puoi ricevere aiuto di persona. Puoi trovare il centro più vicino a te usando il loro sito:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>http://www.citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <p>Advice Guide è sito che fornisce consigli e suggerimenti di ogni tipo, simile a CAB:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.adviceguide.org.uk'>adviceguide.org.uk</a></span><br/>
    </p>
    <p>Community Law Centres fornisce assistenza legale a persone che non possono permettersi un avvocato. Puoi vedere qual è il centro più vicino a te qui:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.lawcentres.org.uk/i-am-looking-for-advice'>lawcentres.org.uk/i-am-looking-for-advice</a></span><br/>
    </p>
    <p>Mary Ward Legal Centre è un altro posto dove puoi richiedere assistenza legale:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.marywardlegal.org.uk/'>marywardlegal.org.uk</a></span><br/>
    </p>
    <p>La National Debt Line fornisce consigli riguardo ai debiti:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 808 4000</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='nationaldebtline.org/EW/Pages/default.aspx'>https://www.nationaldebtline.org/EW/Pages/default.aspx</a></span><br/>
    </p>
    <p>NHS Choices e’ un sito che fornisce informazioni riguardo salute, malattie e il servizio sanitario:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nhs.uk/Pages/HomePage.aspx'>nhs.uk/Pages/HomePage.aspx</a></span><br/>
    </p>
    <p>London Coalition Against Poverty è una coalizione di gruppi diversi, uniti dall’idea che, attraverso la solidarietà e l’azione diretta, persone normali possono avere la forza per cambiare le nostre vite. Il loro sito ha una lista gruppi locali attivi in diverse parti di Londra:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://lcap.org.uk'>lcap.org.uk</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-who' >Chi siamo e perché ci importa?</h2>
    <p>La Solidarity Federation è un gruppo che incoraggia le persone ad organizzarsi e agire collettivamente. Oltre che organizzare sul posto di lavoro e nella comunità, siamo felici di aiutare con qualsiasi problema hai con il tuo capo o con il tuo proprietario di casa. Se vuoi organizzarti, mettiti in contatto con noi!
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='solfed.org.uk'>solfed.org.uk</a></span><br/>
      <span class='email'><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href='mailto:solfed@solfed.org.uk'>solfed@solfed.org.uk</a></span><br/>
    </p>
  </div>
</div>
