---
extends: base.j2
default_block: main
title: London - Przewodnik Imigranta
description: Basic information useful for people who arrived and starting to live in London
---

<div class="row">
  <div class="col-md-12 download-container">
    <a href="migrants-guide-pl.pdf" class="btn btn-success button-download" aria-label="Ściągnij PDF">
      <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
      Ściągnij PDF
    </a>
    <a href="migrants-guide-pl.epub" class="btn btn-success button-download" aria-label="Ściągnij EPUB">
      <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
      Ściągnij EPUB
    </a>
  </div>
  <div class="col-md-12 toc-container">
  	<h2>Table of Contents</h2>
  	<ul class='toc'>
  		<li><a href='#section-introduction' >Wstęp</a></li>
  		<li><a href='#section-transport' >Komunikacja miejska</a></li>
      <li><a href='#section-internet' >Internet i telefon</a></li>
      <li><a href='#section-cheap' >Tanie jedzenie i inne rzeczy</a></li>
  		<li><a href='#section-bank' >Konto w banku</a></li>
      <li><a href='#section-learning' >Nauka angielskiego</a></li>
      <li><a href='#section-healthcare' >Opieka zdrowotna</a></li>
      <li><a href='#section-home' >Dom</a></li>
      <li><a href='#section-work' >Praca</a></li>
      <li><a href='#section-benefits' >Zasiłki</a></li>
      <li><a href='#section-legal' >Kwestie prawne</a></li>
      <li><a href='#section-domestic' >Przemoc domowa i napaść seksualna</a></li>
      <li><a href='#section-lgbt' >LGBT (lesbijki, geje, osoby biseksualne i trans*)</a></li>
      <li><a href='#section-other' >Przydatne kontakty</a></li>
      <li><a href='#section-who' >Kim jesteśmy i co nas to obchodzi?</a></li>
  	</ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
  	<h2 id='section-introduction' >Wstęp</h2>
  	<p>Rozpocząć nowe życie w Londynie nie jest łatwo. Wiele spraw wygląda zupełnie inaczej, niż w domu; wiele rzeczy jest drogich, a niektóre są po prostu trudne. W tej broszurce znajdziesz proste rady dotyczące niektórych kwestii, którymi musisz się zająć po przyjeździe i niektórych problemów, które możesz napotkać.</p>
  	<p>Część tych rad dotyczy wszystkich. Zakładamy tutaj, że masz prawo mieszkać i pracować w Wielkiej Brytanii legalnie, prawdopodobnie jako obywatel/ka kraju Unii Europejskiej. Jeśli w twoim przypadku tak nie jest, sprawy mogą być bardziej skomplikowane i możesz potrzebować bardziej szczegółowych informacji, niż te, które tu zawarliśmy. </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
  	<h2 id='section-transport' >Komunikacja miejska</h2>
  	<p>Aby korzystać z komunikacji miejskiej w Londynie, potrzebujesz niebieskiej elektronicznej karty Oyster. Nie ma papierowych biletów; nie możesz zapłacić za przejazd kierowcy czy konduktorowi. Karta Oyster kosztuje £5, które możesz dostać z powrotem, jeśli zwrócisz kartę. Doładowujesz kartę pieniędzmi (top up) i cena podróży jest odliczana od kwoty na karcie. Karty i doładowania możesz kupić na stacjach i w niektórych sklepach. Karta Oyster działa w autobusach, w metrze (the Tube), pociągach miejskich (the Overground) i w zwykłych pociągach w obrębie Londynu (DLR).</p>
  	<p>The transport network is divided into zones starting from 1 in the centre, all the way to zone 6 on the outskirts. On trains and the tube, the price depends on the zones and is more expensive during peak time  (6.30-9.30am and 4-7pm). A journey from Zone 2 to Zone 1 will cost you £2.30 or £2.90. A bus journey costs £1.50 and if you travel more than 3 times a day, the fare is capped at £4.40. You can put day, week and monthly tickets called travelcards on the Oyster.</p>
	<p>Sieć komunikacji miejskiej jest podzielona na strefy, od 1 w centrum do 6 na obrzeżach miasta. Cena przejazdu pociągiem lub metrem zależy od strefy i jest wyższa w godzinach szczytu (6.30-9.30 i 16.00-19.00). Przejazd ze strefy 2 do 1 kosztuje £2.30 lub £2.90. Przejazd autobusem kosztuje £1.50 i jeśli jedziesz więcej niż trzy razy dziennie, nie możesz zapłacić więcej niż £4.40. Możesz załadować na kartę Oyster bilety dzienne, tygodniowe i miesięczne (travelcards). Można jeździć bez biletu, ale kanarów jest dużo. Jeśli złapią cię bez biletu, mogą spróbować sprawdzić twój status imigracji. Jazda na gapę jest przestępstwem i można trafić przed sąd.</p>
  	<p>Na stronie TFL zorientujesz się, jak dotrzeć w konkretne miejsce w Londynie komunikacją miejską:<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.tfl.gov.uk/'>tfl.gov.uk</a></span><br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0343 222 1234</span><br/>
  	</p>
  	<p>W National Rail Enquiries sprawdzisz godziny odjazdów pociągów i ceny biletów<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nationalrail.co.uk/'>nationalrail.co.uk</a></span><br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 08457 48 49 50</span><br/>
  	</p>
  	<p>Autokary, szczególnie te tańsze jak np Megabus, są często tańsze od pociągów<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://uk.megabus.com/'>uk.megabus.com</a></span><br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0141 332 9644</span><br/>
  	</p>
  	<p>Możesz sprawdzić dokładne położenie na mapie dowolnego adresu wpisując kod pocztowy w Wielkiej Brytanii w Google Maps lub Bing Maps<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.google.co.uk/maps/place/London+E1+7Q'>google.co.uk/maps/place/London+E1+7Q</a></span><br/>
  	</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
  	<h2 id='section-internet' >Internet i telefon</h2>
  	<p>Dostęp do internetu w kafejce kosztuje około £1 za godzinę, więcej w centrum Londynu. Można też tam skserować dokumenty lub tanio zadzwonić za granicę.
  	</p>
  	<p>Biblioteki mają darmowy dostęp do internetu. Zazwyczaj będą chcieli, żeby zarejestrować się w bibliotece; to nic nie kosztuje, ale potrzebujesz dowodu, że mieszkasz w okolicy. Czasem tego nie wymagają, więc warto spytać. W bibliotekach znajdziesz czasopisma, gazety, materiały do nauki angielskiego, często też książki w innych językach. To dobre miejsce, jeśli chcesz zorientować się w zasobach lokalnej wspólnoty, wydarzeniach, dowiedzieć się czegoś o edukacji, mieszkaniach, itd.</p>
  	<p>Telefon komórkowy bez umowy nazywa się prepaid, pay as you go lub PAYG. Sieci takie jak Lebara, Lycatel czy Giffgaff sprzedają karty SIM na bardzo dobrych warunkach. Możesz dostać kartę SIM w ofercie prepaid z 250 minutami rozmów, nieograniczonymi SMSami (text) i 1GB danych z internetu za £10 na miesiąc. Małe sklepy z telefonami w lokalnych marketach to najlepsze miejsce, gdzie można kupić tani SIM i tani telefon. Tanie telefony dostaniesz też w Argos.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
  	<h2 id='section-cheap' >Tanie jedzenie i inne rzeczy</h2>
  	<p>Najtańsze markety to Lidl, Aldi i Morrisons. Czasem możesz dostać jedzenie pod koniec daty ważności bardzo tanio, jeśli przyjdziesz późno wieczorem. Jedzenie często tańsze jest w markecie, niż w sklepie. Skipping (branie jedzenia ze śmietnika) jest przestępstwem, ale sprawy w sądzie wytaczane są rzadko. Ochroniarze prawdopodobnie będą ci robić kłopoty, jeśli cię złapią. Uważaj – w śmietnikach mogą być szczury, a jedzenie czasem oblewane jest wybielaczem. Gdzie można dostać jedzenie za darmo:
    SOAS University i LSE (London School of Economics) – poniedziałek – sobota 12:15–14:30;
    Food Van: Kentish Town – 12:00, Camden Town – 13:00, Kings Cross – 14:15, poniedziałek-sobota;
    Day Centre: Matchless Gifts – 102 Caledonian Road, Islington London, N1 9DN.</p>
  	<p>Najtańsze ubrania są w Primarku. W Argos tanio dostaniesz sprzęt AGD, sprzęt elektryczny i elektronikę. Organizacje dobroczynne, jak np Oxfam, Marie Curie, Mind mają sklepy charytatywne, w których tanio kupisz używane ubrania, książki i artykuły użytku domowego.</p>
  	<p>Freecycle to forum internetowe, na którym ludzie oddają rzeczy za darmo
      <br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://uk.freecycle.org/'>uk.freecycle.org</a></span><br/>
  	</p>
  	<p>Na Gumtree jest dział z darmowymi rzeczami<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gumtree.com/freebies/london/freebies'>gumtree.com/freebies/london/freebies</a></span><br/>
  	</p>
  	<p>Będziesz potrzebować szcześcia i cierpliwości, jeśli chcesz skorzystać, bo rzeczy dobrej jakości znikają bardzo szybko.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
  	<h2 id='section-bank' >Konto w banku</h2>
  	<p>Jeśli jesteś swieżo po przeprowadzce, założenie nowego konta jest trudne. W banku często wymagają dokumentów, które trudno jest zdobyć, jeśli nie masz konta w banku. Potrzebujesz dwóch rzeczy: dowodu tożsamości, jak np. paszport  czy dowód osobisty, oraz dowodu miejsca zamieszkania, o który może być dużo trudniej. Nie wyrzucaj oficjalnych listów zaadresowanych do ciebie – mogą się przydać właśnie w tym celu. Może też być potrzebna historia wszystkich miejsc zamieszkania, z dokładnymi datami. Zapisz sobie datę każdej przeprowadzki.</p>
  	<p>Umowa wynajmu jest dowodem miejsca zamieszkania, ale prawdopodobnie nie będziesz mieć jej zaraz po przyjeździe. Możesz wykorzystać rachunek za gaz, prąd czy telefon stacjonarny (nie komórkę). Musisz poprosić właściciela domu i firmę dostarczającą gaz/prąd/ telefon o rachunek wystawiony na ciebie i poczekać do końca miesiąca. Często odmawiają. Jeśli twoje nazwisko jest na jakichś rachunkach, pamiętaj, żeby powiadomić firmę, kiedy będziesz się wyprowadzać, inaczej mogą obiążyć cię rachunkami przyszłych lokatorów.</p>
  	<p>Ważne brytyjskie prawo jazdy jest dowodem miejsca zamieszkania. Możesz wymienić europejskie prawo jazdy na brytyjskie za opłatą £50. Możesz złożyć wniosek o tymczasowe prawo jazdy, przeznaczone dla osób uczących się prowadzić samochód; niektóre banki je przyjmują:<br/>
  	<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://ask.co-operativebank.co.uk/help/customer_services/address_proof'>ask.co-operativebank.co.uk/help/customer_services/address_proof</a></span><br/>
  	</p>
  	<p>Twój pracodawca może wystawić ci list potwierdzający miejsce zamieszkania. Taki list musi być wystawiony na papierze z nagłówkiem twojej firmy i podpisany przez kogoś na kierowniczym stanowisku. Niektóre banki przyjmują takie listy lub list z urzędu pracy potwierdzający twój numer National Insurance<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.hsbc.co.uk/content_static/en/ukpersonal/pdfs/en/passport_brochure.pdf'>hsbc.co.uk/content_static/en/ukpersonal/pdfs/en/passport_brochure.pdf</a></span><br/>
  	</p>
  	<p>Niektóre banki mają konta dla osób nowo przybyłych i wymagają tylko paszportu bez dowodu miejsca zamieszkania:<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.lloydsbank.com/banking-with-us/joining-lloyds/new-to-the-uk.asp'>lloydsbank.com/banking-with-us/joining-lloyds/new-to-the-uk.asp</a></span><br/>
  	</p>
  	<p>lub przyjmują niedawny wyciąg z konta bankowego w twoim poprzednim kraju zamieszkania:<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.barclays.co.uk/Helpsupport/ComingtoworkintheUK/P1242601780771'>barclays.co.uk/Helpsupport/ComingtoworkintheUK/P1242601780771</a></span><br/>
  	</p>
  	<p>Credit Unions – spółdzielcze kasy oszczędnościowo-kredytowe – to małe organizacje pełniące funkcje banku. Czasem robią mniej trudności przy zakładaniu konta. Tutaj możesz poszukać kasy spółdzielczej w twojej okolicy:<br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.findyourcreditunion.co.uk/home'>findyourcreditunion.co.uk/home</a></span><br/>
  	</p>
  	<p>Zbierz tyle dokumentów, ile tylko jesteś w stanie, idź do banku osobiście i sprawdź kilka banków. Może będziesz mieć szczęście i trafisz na kogoś, kto nie będzie cię kontrolować tak dokładnie, jak każą przepisy.</p>
  	<h2 id='section-learning' >Nauka angielskiego</h2>
  	<p>W każdej gminie miejskiej (borough) jest kolegium zawodowe dla dorosłych – Further Education (FE) lub Community College. Prowadzą kursy na wiele tematów, włącznie z nauką angielskiego, zwykle tanio, a czasem za darmo, szczególnie jeśli otrzymujesz zasiłki państwowe. Czasem lekcje angielskiego prowadzone są też przez samorządy, biblioteki, kościoły i community centres (domy kultury). Spytaj o radę w najbliższej bibliotece.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
  	<h2 id='section-healthcare' >Opieka zdrowotna</h2>
  	<p>Jeśli potrzebujesz natychmiastowej pomocy lekarskiej, zadzwoń na 999. Jesli potrzebujesz pomocy szybko, ale sytuacja nie jest awaryjna, zadzwoń na 111. Możesz też pójść na oddział wypadków (accident & emergency unit, A&E), który zazwyczaj znajduje się w szpitalu.</p>
  	<p>NHS, czyli Narodowa Służba Zdrowia, zapewnia powszechną opiekę zdrowotną. Na tej stronie znajdziesz szpitale, przychodnie, dentystów, przychodnie zdrowia seksualnego i inne usługi w swojej okolicy:<br/>
  	<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nhs.uk/Service-Search'>nhs.uk/Service-Search</a><br/>
  	</span>
  	</p>
  	<p>Podstawowa opieka zdrowotna, na przykład wizyta u lekarza lub leczenie w nagłej potrzebie, jest darmowa niezależnie od twojego statusu imigracji. Możesz musieć zapłacić za wizyty u specjalistów lub pobyt w szpitalu. Jeśli masz prawo przebywać w UK, one też należą ci się za darmo. Wizyta u dentysty lub optyka i leki na receptę zawsze są płatne.</p>
  	<p>Twój lekarz pierwszego kontaktu to general practitioner lub GP. Zwykle pracują w gabinetach (surgery – nie ma nic wspólnego z chirurgią). Musisz zarejestrować się u lekarza w twojej okolicy i umówić się na każdą wizytę z wyprzedzeniem. Jeśli masz chorobę lub uraz, który nie jest bardzo pilny, ale nie możesz czekać do wyznaczonej wizyty, możesz iść do przychodni bez terminu (walk-in clinic), do pielęgniarza/pielęgniarki. Przygotuj się na kilka godzin w kolejce.</p>
  	<p>Żeby iść do dentysty, musisz zarejestrować się i umówić na termin. Wizyta kontrolna kosztuje £18.50; procedura w rodzaju założenia plomby lub usunięcia zęba kosztuje £50.50. Zapłacisz tylko za najdroższą operację, a jeśli w ciągu dwóch miesięcy będziesz znów potrzebować opieki, wizyta będzie darmowa.</p>
  	<p>Aborcja jest legalna do 24 tygodnia ciąży i jest dostępna za darmo. Potrzebujesz skierowania od lekarza lub z British Pregnancy Advisory Service:<br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03457 30 40 30</span><br/>
  		<span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.bpas.org/'>bpas.org</a></span><br/>
  	</p>
	<p>Aborcja jest też dostępna w przychodniach prywatnych, gdzie zapłacisz £450-£750.</p>
	<p>W przychodniach antykoncepcji i zdrowia seksualnego, w niektórych gabinetach lekarskich i instytucjach dla młodzieży możesz dostać prezerwatywy za darmo, nawet jeśli nie masz 16 lat.</p>
	<p>Możesz dostać pigułkę do antykoncepcji awaryjnej za darmo w przychodniach antykoncepcji, centrach Brook, niektórych aptekach, większości przychodni zdrowia seksualnego i przychodni bez terminu, gabinetach lekarzy pierwszego kontaktu i niektórych oddziałach wypadków w szpitalach.</p>
	<p>W Londynie jest wiele przychodni zdrowia seksualnego, zwykle przy szpitalach. Przychodnia na 56 Dean Street jest bardzo dobra i otwarta dla wszystkich, szczególnie osób LGBT. Mają oddział dla osób trans, dla pracowników seksualnych i dla mężczyzn lubiących ostry seks i narkotyki.<br/>
  		<span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 3315 6699</span><br/>
  		<span class='address'><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 56 Dean Street, Soho, London, W1D 6AQ</span><br/>
  	</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
  	<h2 id='section-home' >Dom</h2>
  	<h3>Szukanie mieszkania</h3>
  	<p>Czynsze w Londynie są bardzo wysokie; znalezienie przyzwoitego miejsca jest trudne i trwa długo. W strefie 3 i dalszych jest taniej. Zanim wybierzesz mieszkanie, obejrzyj kilka, spytaj ludzi mieszkających w tej samej okolicy, ile płacą, sprawdź różne strony w internecie i popytaj w agencjach nieruchomości. Niektóre agencje mają tablice z ogłoszeniami lub ogłoszenia w oknach; możesz też pytać ludzi w pralniach, pubach, u fryzjera, w kawiarni czy innych miejscach spotkań. Gumtree to najpopularniejsza strona z ogłoszeniami mieszkaniowymi:<br/>
  	  <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gumtree.com/london'>gumtree.com/london</a></span><br/>
  	</p>
  	<p>Większości osób nie stać na mieszkanie, więc wynajmują pokój dla siebie lub nawet na spółkę z kimś. Współlokator w jednym pokoju to roommate; flatmate mieszka w tym samym mieszkaniu, ale w innym pokoju. Uważaj, jeśli zamierzasz dzielić z kimś pokój; niektórzy szukają partnerów do seksu. „Pojedynczy” pokój (single) wystarczy dla jednej osoby, “podwójny” (double) jest większy i ma dwuosobowe łóżko. Jeśli ogłoszenie mówi o pokoju, powinien on być tylko do twojego użytku. Właściciele często wynajmują każdy pokój w mieszkaniu jako sypialnię – duży pokój do wspólnego użytku to dodatkowy atut. Jeśli nie masz pewności, spytaj: czy będziesz dzielić z kimś pokój, ile osób mieszka w mieszkaniu, czy jest duży pokój (living room), ile osób przypada na jedną łazienkę, itd.</p>
  	<p>Tani pokój w Londynie kosztuje około £300-£500 za miesiąc razem z rachunkami. Większość kosztuje około £500-£700 za miesiąc. Rachunki to: “media” (utilities) – gaz, woda, prąd; dodatki jak np. telefon, internet, telewizja kablowa lub satelitarna, i podatek należny samorządowi lokalnemu – council tax. Ten ostatni to zazwyczaj najwyższy rachunek. Wysokość tego podatku zależy od rozmiaru nieruchomości i jej położenia w Londynie. Sprawdź, które rachunki są wliczone w cenę.  Musisz zapłacić czynsz z góry za dwa miesiące – połowa to pierwszy czynsz, połowa to kaucja, która należy ci się z powrotem, gdy będziesz się wyprowadzać.</p>
  	<p>Oszustwa są bardzo powszechne. Nie płać z góry za nic, czego nie miałeś/miałaś okazji obejrzeć. Jeśli okazja wygląda na zbyt dobrą, to prawdopodobnie jest jakiś haczyk. Zadłużeni ludzie często wyciągają duże kaucje i zaliczkę czynszu, a potem znikają z pieniędzmi, a wtedy grozi ci eksmisja na bruk. Niestety bardzo trudno jest temu zapobiec lub uniknąć. Postaraj się mieć kopię wszystkiego, na co się zgadzasz, na piśmie – najlepiej w formie oficjalnej umowy.</p>
  	<h3>Prawa lokatora</h3>
  	<p>Są różne rodzaje umów najmu. Twoje prawa zależą od tego, jaką umowę podpiszesz. Jako assured shorthold tenant („zabezpieczony lokator krótkoterminowy”) masz pewne prawa i ochronę. Jako excluded occupier („lokator wyłączony”) masz bardzo niewiele praw. Nawet jeśli nie masz umowy na piśmie, przysługują ci prawa, jeśli potrafisz udowodnić, że właściciel wziął od ciebie pieniądze. Poproś o pokwitowanie, kiedy płacisz czynsz, i najlepiej płać przelewem, jeśli możesz, żeby mieć łatwo dostępny dowód.</p>
  	<p>Podstawowe prawa są dorozumiane (implied): masz je nawet wtedy, gdy nie zawiera ich twoja umowa. Jeśli umowa zawiera sformułowania niezgodne z prawem, prawo jest ważniejsze. Kilka najważniejszych praw lokatora:</p>
  	<ul>
  		<li>Właściciel mieszkania musi dokonywać podstawowych napraw (uszkodzenia to disrepair)</li>
  		<li>Właściciel musi utrzymywać w dobrym stanie instalacje gazowe, elektryczne, wodociągi i kanalizację, ogrzewanie pomieszczeń i wody.</li>
  		<li>Masz prawo do spokoju domowego, a właściciel nie ma prawa cię nachodzić i robić nieprzyjemności (ma obowiązek uprzedzić cię 24 godziny przed każdą wizytą, z wyjątkiem sytuacji nagłych).</li>
  	</ul>
  	<p>W większości przypadków właściciel mieszkania nie ma prawa traktować cię nierówno i dyskryminować. Istnieją pewne wyjątki, na przykład jeśli mieszkasz w jednej kwaterze z właścicielem.</p>
  	<p>Czynsz może zostać podniesiony tylko drogą oficjalną, na piśmie. Jeśli twoja umowa zawiera procedurę podwyżki czynszu, właściciel musi się do niej stosować. Jesli nie, nie może podnieść czynszu częściej, niż raz w roku, i musi zawiadomić cię z miesięcznym wyprzedzeniem, jeśli masz umowę okresową (na tydzień lub na miesiąc). Jeśli masz umowę na stały termin, możesz nie wyrazić zgody przed upływem tego terminu.</p>
  	<h3>Prześladowanie ze strony właściciela</h3>
  	<p>Prześladowanie lokatorów przez właściciela mieszkania jest przestępstwem i jeśli jesteś w tej sytuacji, możesz zadzwonić na policję lub porozmawiać z niezależną organizacją, jak np. Citizen’s Advice Bureau. Prześladowanie może mieć różne formy, na przykład:</p>
  	<ul>
  		<li>Usunięcie lub utrudnienie dostępu do usług takich jak gaz, woda czy prąd, lub dopuszczenie do odcięcia tych usług przez niepłacenie rachunków</li>
  		<li>Nachodzenie cię regularnie bez uprzedzenia, szczególnie nocą</li>
  		<li>Wtrącanie się w twoją korespondencję</li>
  		<li>Groźby</li>
  		<li>Przysyłanie ekipy remontowej bez ostrzeżenia</li>
  		<li>Wejście do mieszkania, gdy cię tam nie ma, bez twojego pozwolenia</li>
  		<li>Dopuszczenie do takich szkód, że przebywanie w mieszkaniu stanowi dla ciebie zagrożenie</li>
  		<li>Rozpoczynanie poważnych i zakłócających spokój napraw bez doprowadzenia ich do końca</li>
  		<li>Prześladowanie ze względu na płeć, rasę lub seksualność.</li>
  	</ul>
  	<h3>Kaucja i plan kaucji</h3>
  	<p>Kiedy się wprowadzasz, płacisz kaucję jako zabezpieczenie na wypadek zaległości czynszu lub spowodowania uszkodzeń w mieszkaniu. Otrzymanie kaucji z powrotem często jest problemem. Pamiętaj, żeby wziąć pokwitowanie, gdy płacisz kaucję. Zrób zdjęcia domu, gdy się wprowadzasz, i wyślij je do kogoś mailem. Będzie to dowód stanu nieruchomości wraz z datą, na wypadek jeśli właściciel oskarży cię o spowodowanie szkody. Jeśli właściciel odmawia zwrotu całej kaucji lub jej części, ma obowiązek przedstawić ci fakturę ze spisem poniesionych kosztów, włącznie z rachunkami za sprzątanie lub naprawy.</p>
    <p>Właściciel ma obowiązek wpłacić kaucję na zatwierdzony przez państwo „plan kaucji lokatorskiej” (tenancy deposit scheme), kiedy się wprowadzasz. Jeśli nie zwróci kaucji, może być zmuszony zapłacić grzywnę. Jeśli odmówi zapłaty, możesz odwołać się do instytucji prowadzącej plan. Listę zatwierdzonych planów i inne informacje znajdziesz na tej rządowej stronie:<br/>
          <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.gov.uk/tenancy-deposit-protection'>gov.uk/tenancy-deposit-protection</a></span><br/><br/>
    </p>
    <h3>Eksmisja</h3>
    <p>Właściciel lokalu potrzebuje podstawy (grounds), jesli chce cię wyrzucić przed końcem umowy. Taką podstawą może być złamanie jednego z warunków umowy najmu lub zaległość w zapłacie czynszu.</p>
    <p>Najpierw musisz otrzymać od właściciela dokument na piśmie, zgodny z konkretnymi wymogami prawa. Nie musisz wyprowadzać się natychmiast po jego otrzymaniu. Właściciel musi następnie zdobyć sadowy nakaz opuszczenia lokalu. Możesz wytłumaczyć swoją sytuację sądowi pisemnie lub osobiście przyjść na rozprawę.</p>
    <p>Możesz nadal pozostać w domu, dopóki nie zjawią się komornicy (bailiffs). Nie musisz wpuszczać ich do środka, chyba że sprawa dotyczy podatków lub grzywny za przestępstwo. Nie mają prawa się włamać. Jeśli ich wpuścisz, mogą zabrać twoje rzeczy. Policja również nie ma prawa włamać się w ich imieniu, chyba że ma nakaz z uwagi na podejrzenie o przestępstwo.</p>
    <p>Pamiętaj, że pismo od właściciela nie wystarczy do eksmisji i potrzebny jest nakaz z sądu. Jeśli ktoś próbuje wyrzucić cię z domu niezgodnie z tymi procedurami, popełnia przestępstwo (illegal eviction). Policji często wydaje się, że bezprawna eksmisja to sprawa cywilna, ale to nieprawda – jest to sprawa karna i mają obowiązek cię chronić.  Masz prawo wymienić zamki, by bronić się przed napastowaniem, o ile nie wyrzucisz pierwotnego zamka i założysz go z powrotem, gdy będziesz się wyprowadzać.</p>
    <h3>Spory</h3>
    <p>Każdy spór z właścicielem mieszkania musi być poważnie przemyślany. Co możesz zrobić, by sobie poradzić:</p>
    <ul>
      <li>Przeczytaj uważnie umowę najmu, by upewnić się, jakie daje ci prawa i obowiązki</li>
      <li>Sprawdź, jakie są twoje prawa jako lokatora i zdobądź poradę prawną, jeśli możesz</li>
      <li>Zatrzymaj kopię (lub kilka) wszystkich dowodów zapłaty, korespondencji i dowodów fotograficznych wysłanych do właściciela.</li>
    </ul>
    <p>Shelter to organizacja charytatywna udzielająca porad odnośnie sytuacji mieszkaniowej i bezdomności. Możesz zadzwonić do nich lub poszukać informacji na stronie:<br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 800 4444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://england.shelter.org.uk/get_advice'>england.shelter.org.uk/get_advice</a></span><br/>
    </p>
    <p>Lokalne samorządy często mają jakiś wydział do spraw porad mieszkaniowych, ale mają one różne nazwy i czasem może być trudno je znaleźć; na przykład taki wydział w Hackney nazywa się Housing Options.</p>
    <p>Strona Housing Rights Info zawiera wiele informacji o prawach lokatorów oraz część poświęconą prawom nowoprzybyłych imigrantów:<br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.housing-rights.info/index.php'>housing-rights.info/index.php</a></span><br/>
    </p>
    <p>W Citizen's Advice Bureau możesz dostać poradę w kwestii mieszkaniowej
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <h3>Bezdomność</h3>
    <p>Duża część osób bezdomnych w Londynie to niedawni imigranci, szczególnie z Europy Środkowej i Wschodniej. Ludzie nie zdają sobie sprawy, jak drogie jest życie tutaj i jak trudno jest znaleźć pracę, potem przytrafia się coś złego i lądują na ulicy. Jeśli stracisz miejsce zamieszkania, nie należy ci się żadna pomoc, jeśli nie jesteś z kraju Unii Europejskiej, lub jeśli jesteś, ale przebywasz w UK mniej niż trzy miesiące. Nawet jeśli prawnie należy ci się pomoc, usługi dla bezdomnych są straszliwie przeciążone i trudno jest ją otrzymać.</p>
    <p>Kilka organizacji zapewniających porady i wsparcie dla bezdomnych:<br>
    Shelter
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 800 4444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://england.shelter.org.uk/get_advice'>england.shelter.org.uk/get_advice</a></span>    <br/>
    </p>
    <p>
      The Simon Community
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7485 6639</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.simoncommunity.org.uk'>simoncommunity.org.uk</a></span></p><br/>
    <p>
      Crisis
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.crisis.org.uk'>crisis.org.uk</a></span><br/>
    </p>
    <p>
      Magazyn The Pavement zawiera aktualne informacje o bezdomności ulicznej w Londynie, w tym informacje praktyczne, jak np. gdzie dostać darmową żywność, itd.
      <br/> 
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.thepavement.org.uk'>thepavement.org.uk</a></span><br/>
    </p>
    <p>
      Barka pomaga osobom z Europy Środkowej i Wschodniej walczącymi z wielkimi trudnościami społecznymi i finansowymi. Darmowa linia pomocy działa od 9.00 do 14.00 w poniedziałki, wtorki, czwartki i piątki. Pomoc jest dostępna po polsku, rosyjsku lub angielsku.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 171 2926</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.barkauk.org'>barkauk.org</a></span><br/>
    </p>
    <h3>Skłatowanie</h3>
    <p>Skłatowanie w lokalach mieszkalnych jest przestępstwem. Zdarzają się procesy i wyroki więzienia. Skłatowanie w innego rodzaju nieruchomościach nie jest nielegalne, ale trudno jest pozostać dłużej w jednym miejscu. Porad udziela Advisory Service for Squatters:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 3216 0099</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.squatter.org.uk'>squatter.org.uk</a></span><br/>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-work' >Praca</h2>
    <h3>National Insurance</h3>
    <p>National Insurance to podatek odciągany z twojego wynagrodzenia na rzecz zasiłków na wypadek bezrobocia lub choroby oraz emerytury. Aby pracować w UK, musisz mieć numer National Insurance (NI). Możesz zacząć bez niego, ale musisz go zdobyć jak najszybciej. Aby dostać numer, musisz stawić się na rozmowę i przynieść dowód tożasmości (na przykład paszport lub prawo jazdy). Zadzwoń do Jobcentre Plus, by umówić się na rozmowę.
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0345 600 0643</span><br/>
    </p>
    <h3>Płaca, pensja minimalna, podatki</h3>
    <p>Twój szef powinien dać ci pisemną umowę zatrudnienia. Nie musi spisywać pełnej umowy, ale musi przedstawić ci na piśmie podstawowe warunki, takie jak płaca. Zawsze i tak lepiej poprosić o umowę. Jeśli jej nie dostaniesz, potraktuj to jako znak ostrzegawczy: w przyszłości możesz mieć kłopoty. Jesli możesz, poproś kogoś, by zerknął na umowę i sprawdził, czy jest w niej coś podejrzanego.</p>
    <p>Szef nie ma prawa zapłacić ci mniej, niż krajowa pensja minimalna. W tej chwili wynosi ona £6.50 za godzinę, jeśli masz 21 lat lub więcej, lub £5.13 jeśli masz mniej. Płaca w ogłoszeniu jest zwykle ujęta albo za godzinę, albo za cały rok (per annum lub pa). Praca na cały etat (40 godzin w tygodniu) za stawkę godzinową £6.50 to około £13,520 za rok.</p>
    <p>Przykładowe rozliczenie podatków i National Insurance w pracy na cały etat, za pensję minimalną:<br/>
    Przed podatkiem: £13,520 na rok<br/>
    National Insurance: £668 na rok<br/>
    Podatek dochodowy: £704 na rok<br/>
    Na rękę dostajesz: £12,148 na rok, £234 na tydzień, około £1,010 na miesiąc – zależy, ile dany miesiąc ma dni.</p>
    <p>Nie wyrzucaj dowodów otrzymania pensji i rozliczeń godzin pracy i dni wolnych. Pomoże ci to stwierdzić, czy płacą ci za mało, obcinają dni wolne, itd. Rób notatki, jeśli w pracy przytrafią się jakieś incydenty, spory, itd, oraz zapisz sobie, kto był ich świadkiem. Takie notatki przydadzą się, jeśli kierownik będzie później próbować cię zastraszyć, odebrać pieniądze lub zwolnić.</p>
    <p>Jeśli masz umowę o pracę, nawet jeśli pracujesz w kilku różnych miejscach, pracodawca ma obowiązek zapłacić wszystkie twoje podatki i nie musisz wypełniać żadnych PITów na koniec roku. Jeśli zaczniesz pracę, zanim zdobędziesz numer NI, będziesz płacić dodatkowy podatek – emergency tax – który należy ci się z powrotem, gdy tylko otrzymasz swój numer. Nie panikuj, jeśli zapłacisz za dużo. Zawsze możesz dostać pieniądze z powrotem, jeśli złożysz własne oszacowanie (self assessment) na koniec roku podatkowego. Rok podatkowy kończy się 5 kwietnia; masz czas do października, by złożyć oszacowanie.</p>
    <p>HMRC (Her Majesty's Revenue and Customs), czyli urząd skarbowy, często jest w stanie pomóc, jeśli masz problem. Mają kilka linii telefonicznych, które udzielają porad w związku z konkretnymi podatkami. Numery znajdziesz tutaj:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://taxaid.org.uk/guides/taxpayers'>taxaid.org.uk/guides/taxpayers</a></span></p><br/>
   <p>Tax Aid to organizacja charytatywna, która pomaga osobom o niskich dochodach z problemami, których HMRC nie może rozwiązać:
     <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://taxaid.org.uk/guides/information'>taxaid.org.uk/guides/information</a></span><br/>
     <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0345 120 377</span><br/>
   </p>
   <h3>Najważniejsze prawa w pracy</h3>
   <p>Nieważne, czy pracujesz na stałe, czy tymczasowo, w agencji, na cały lub niepełny etat, przysługują ci pewne podstawowe prawa:</p>
   <ul>
     <li>Co najmniej 5,6 tygodni wolnego w ciągu roku z pełną wypłatą (leave lub time off), jeśli pracujesz na cały etat, czyli 28 dni; wlicza się w to święta takie jak Boże Narodzenie i „święta bankowe”. W umowie możesz dostać więcej wolnego, ale nie mniej. Jeśli pracujesz na niepełny etat, pomnóż średnią liczbę dni roboczych w tygodniu przez 5,6. Ta reguła stosuje się do każdej pracy od dnia jej rozpoczęcia – pierwszego dnia przysługują ci dwa dni wolnego; po sześciu miesiącach 14 dni.</li>
     <li>Prawo do wypłaty chorobowej. Otrzymujesz ustawową wypłatę chorobową, jeśli nie pracujesz z powodu choroby cztery dni z rzędu. Aby ci się należała, musisz zarabiać więcej, niż £111 na tydzień (przed odliczeniem podatku) i pracować od ponad trzech miesięcy (lub być uważany/a za zatrudnionego/zatrudnioną przez 13 tygodni).</li>
     <li>Prawo do urlopu macierzyńskiego/ojcowskiego. Większość kobiet otrzymuje 26 tygodni płatnego urlopu macierzyńskiego plus 26 tygodni bezpłatnego urlopu. Aby otrzymać płatny urlop macierzyński, musisz zarabiać ponad £111  na tydzień i być zatrudniona od ponad 26 tygodni, 15 tygodni przed wyznaczoną datą porodu. Przez pierwsze sześć tygodni powinnaś otrzymać 90% przeciętnej płacy, a potem stałą tygodniową płacę £138.18 przez 33 tygodnie. Jeśli szef nie chce lub nie może zapłacić, Department of Work and Pensions ma taki obowiązek. Ojciec/partner może wziąć dwa tygodnie płatnego urlopu ojcowskiego.</li>
     <li>Prawo do obrony swoich interesów. Masz prawo do ochrony przed zwolnieniem z pracy w odwecie za korzystanie ze swoich praw pracowniczych. Masz prawo działać razem z kolegami i koleżankami w obronie swoich interesów, i prawo wstąpienia do związku zawodowego.</li>
     <li>Prawo do równego traktowania. Masz prawo do ochrony przed dyskryminacją w pracy ze względu na wiek, niepełnosprawność, płeć, zmianę płci, stan cywilny, ciążę lub macierzyństwo, rasę, wiarę lub wyznanie i orientację seksualną. Są to „cechy chronione” (protected characteristics).</li>
   </ul>
   <h3>Nękanie, prześladowanie, dyskryminacja</h3>
   <p>Pamiętaj, że znęcanie się i prześladowanie to nie twoja wina. Nie musisz tego znosić.</p>
   <p>Nękanie i prześladowanie to zachowanie, które wyrządza ci krzywdę, grozi lub zastrasza, tyranizuje, oczernia, ubliża, poniża lub upokarza. Twój pracodawca ma obowiązek dopilnować, by miejsce pracy było wolne od wszelkich takich zachowań. Nękanie (bullying) to powtarzające się zachowania, które podkopują twoją godność osobistą. Prześladowanie (harassment) to zdarzenie lub seria zdarzeń związane z cechami chronionymi, o których była mowa powyżej.</p>
   <p>Poważne przypadki prześladowania seksualnego, jak np. takie, w których ma miejsce dotyk lub inne groźby fizyczne, są przestępstwem i należy je zgłosić policji.</p>
   <h3>Reguły czasu pracy</h3>
   <p>Twoje podstawowe prawa w kwestii czasu pracy to:</p>
   <ul>
     <li>Nie więcej, niż 13 godzin pracy dziennie.</li>
     <li>Jeden dzień wolny w każdym tygodniu.</li>
     <li>Przerwa, co najmniej 20 minut, po każdych 6 godzinach pracy. Co najmniej 11 godzin odpoczynku w ciągu każdych 24 godzin. Jeśli masz mniej niż 18 lat, co najmniej 30 minut po 4 i pół godziny.</li>
     <li>Możesz odmówić pracy, jeśli pracodawca wymaga więcej, niż 48 godzin w tygodniu. Jest to wyliczane jako średnia w przeciągu 17 tygodni, więc pracodawca może w konkretnym tygodniu zmusić cię do dłuższej pracy. Istnieje możliwość zrzeczenia się tego prawa (opt out) – pracodawcy czasem próbują ukryć taką klauzulę w twojej umowie.</li>
     <li>Praca nocna nie może trwać więcej, niż osiem godzin dziennie (również wyliczane jako średnia). Jeśli pracujesz w nocy, masz prawo do darmowej, regularnej kontroli lekarskiej.</li>
   </ul>
   <h3>Bezpieczeństwo i higiena pracy</h3>
   <p>Masz prawo odmówić wykonywania pracy, jeśli warunki są niebezpieczne lub stanowią zagrożenie. Pracodawca ma obowiązek odpowiednio cię przeszkolić i nie wolno mu prosić cię o wykonanie pracy, do której nie masz kwalifikacji.</p>
   <p>Pracodawca musi zapewnić przyzwoite warunki pracy, w tym wystarczającą ilość toalet, wody pitnej i sposobność do umycia się. Muszą istnieć jasne procedury związane z ryzykownymi sytuacjami w pracy. Pracodawca musi sporządzić plan higieny i bezpieczeństwa. Praktyki, przepisy i umowy związane z BHP muszą zostać wyjaśnione wszystkim pracownikom przed rozpoczęciem pracy. Pracownicy muszą być pytani o opinię w sprawach bezpieczeństwa i higieny.</p>
   <p>Przestrzeganie przepisów BHP kosztuje czas i pieniądze, więc pracodawcy lubią kombinować i obchodzić przepisy. Prawo wymaga od nich zapewnienia wszystkim czystych, zdrowych i bezpiecznych warunków pracy.</p>
   <p>Pamiętaj, jeśli uważasz, że zagraża ci nagłe niebezpieczeństwo, masz prawo po prostu opuścić pracę.</p>
   <h3>Samozatrudnienie i umowy “na zero godzin”</h3>
   <p>Samozatrudnienie (self-employment) to zarabianie pieniędzy na własny rachunek, nie jako pensję od pracodawcy. Jeśli pracujesz jako osoba samozatrudniona, ponosisz odpowiedzialność za cała papierkową robotę związaną z podatkiem NI i podatkiem dochodowym, i musisz płacić je samodzielnie. National Insurance płaci się co miesiąc, podatek dochodowy na koniec roku; mogą to być duże sumy. Prawdopodobnie będziesz potrzebować pomocy kogoś, kto zna się na księgowości. Prawa pracownika, takie jak płaca minimalna, godziny pracy, wypłata chorobowa i płatne dni wolne, nie przysługują osobom samozatrudnionym.</p>
   <p>
    Czasem pracodawcy starają się wymusić na pracownikach samozatrudnienie, by zaoszczędzić na podatkach i pozbawić ich praw. Nazywa się to “fałszywe samozatrudnienie” i jest bardzo powszechne w niektórych przemysłach, na przykład budowlanym. Fałszywe samozatrudnienie jest nielegalne, ale rząd nic z tym nie robi. Jeśli nie masz pewności, czy twoja praca to etat, czy samozatrudnienie, sprawdź na tej stronie:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.hmrc.gov.uk/working/intro/empstatus.htm'>hmrc.gov.uk/working/intro/empstatus.htm</a></span><br/>
   </p>
   <p>Umowa na zero godzin to umowa, która nie gwarantuje twoich godzin pracy. Prawdopodobnie nie będzie tam napisane „zero godzin”, ale coś w rodzaju „pracodawca nie ma obowiązku zapewnić ci pracy”. Może też zawierać klauzule wyłączności, która nie pozwala ci pracować jednocześnie w innym miejscu. Jedno i drugie jest legalne.</p>
   <p>Pracując na zero godzin masz te same prawa do wolnego, wypłaty chorobowej i urlopu macierzyńskiego, jak wszyscy. Jeśli szef odmawia ci tych praw, robi to nielegalnie. Wolno im za to dawać ci tak mało pracy, że nie będziesz kwalifikować się do tych praw, które mają próg dochodu.</p>
   <p>Umowy na zero godzin są bardzo powszechne w sprzedaży, hotelarstwie i turystyce, agencjach zatrudnienia i innych nisko płatnych pracach. Nie będziesz mieć gwarantowanych godzin w każdym tygodniu, więc możesz nie dostać żadnego grafiku i pracodawca może zadzwonić rano, że masz dziś być w pracy. Jeśli pojawią się jakieś problemy z szefem – czy związane z pracą, czy osobiste – mogą po prostu przestać wzywać cię na zmiany. Jeśli będą chcieli się ciebie pozbyć, nie muszą nawet zrywać umowy, mogą po prostu nie dawać ci pracy.</p>
   <p>Samozatrudnienie i umowy na zero godzin stawiają cię w bardzo słabej pozycji w pracy. Jeśli szef źle cię potraktuje i zaczniesz stawiać opór, mogą zwyczajnie obciąć ci godziny i dochody. Jeśli zaczynasz pracę w miejscu, w którym obowiązują już umowy na zero godzin, nie możesz wiele na to poradzić. Jeśli szef próbuje zmienić istniejące umowy na zero godzin lub zmusić cię do samozatrudnienia, zorganizowanie się razem z kolegami i koleżankami i wspólna odmowa podpisania nowych umów będzie trudnym zadaniem, ale to twoje jedyne wyjście.</p>
   <h3>Skargi i procedury dyscyplinarne</h3>
   <p>Postępowanie dyscyplinarne to procedura dla szefa, jeśli zrobisz coś nie tak w pracy. Skarga (grievance) to twoje zażalenie, jeśli dzieje ci się krzywda. ACAS, organizacja zajmująca się pośrednictwem w sporach w miejscu pracy, ma kodeks opisujący przebieg takich postępowań. Pracodawca powinien stosować się do tego kodeksu, ale są to wytyczne, nie prawo.</p>
   <p>Pracownik, wobec którego wytacza się postepowanie dyscyplinarne, musi mieć dostateczny czas na przygotowanie swojej obrony. Powinni umożliwić ci wezwać świadków i przedstawić dowody. Jeśli wzywają cię na przesłuchanie dyscyplinarne, masz prawo zabrać kogoś ze sobą. Możesz wybrać kogoś przeszkolonego do takich spraw przez związek zawodowy lub inną osobe ze związku (nieważne, czy związek jest uznany, czy nie), lub kolegę czy koleżankę z pracy. Skorzystanie z tego prawa nie może być użyte jako pretekst do zwolnienia lub dalszych działań dyscyplinarnych. Przesłuchanie musi się odbyć w rozsądnym czasie.</p>
   <p>Jeśli nie jesteś w stanie rozwiązać sprawy w ramach miejsca pracy lub jeśli cię zwolnią, możesz iść do sądu pracy (The Employment Tribunal). Zależnie od rodzaju sprawy zapłacisz za to £390 lub więcej. Jeśli przegrasz, a sąd uzna, że sprawa była nie do wygrania z twojej strony, mogą zażądać pokrycia kosztów sądowych twojego pracodawcy. Możesz reprezentować się sam/a lub poprosić o to kogoś ze związku zawodowego, ale jeśli potrzebujesz prawnika, musisz opłacić jego honorarium. Jesli wygrasz, otrzymasz rekompensatę pieniężną.</p>
   <p>
     Związki zawodowe mają stronę o prawach pracowniczych:
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.worksmart.org.uk/'>worksmart.org.uk</a></span><br/>
   </p>
   <p>
     ACAS również ma stronę z tymi informacjami:
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.acas.org.uk/'>acas.org.uk</a></span><br/>
   </p>
   <p>
     Citizen's Advice Bureau udzieli ci porad w sprawach pracy:
    <br/>
     <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
   </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-benefits' >Zasiłki</h2>
    <p>System zasiłków w UK jest bardzo skomplikowany; twoja indywidualna sytuacja określa, które ci się należą i w jakiej wysokości. Są to zwykle niskie kwoty, wypłacane przez ograniczony okres czasu, i musisz spełnić różne warunki nie tylko aby się zakwalifikować, ale również podczas otrzymywania zasiłku, żeby go nie stracić. O różne zasiłki musisz wystepować osobno; wprowadzana jest reforma mająca na celu zastąpienie ich jednym zasiłkiem, Universal Credit, który tylko pogorszy sytuację.</p>
    <p>Jeśli masz obywatelstwo kraju Unii Europejskiej, musisz przepracować trzy miesiące w UK, znaim będą należeć ci się zasiłki. Jeśli pochodzisz spoza Unii, mogą ci się należeć pewne zasiłki, ale przepisy są niesamowicie skomplikowane. Otrzymywanie zasiłków jako obywatel kraju spoza Unii może negatywnie wpłynąć na twoje prawo do pozostania w Wielkiej Brytanii.</p>
    <p>Za pomocą jednego z tych kalkulatorów możesz oszacować, jakie zasiłki ci się należą:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.entitledto.co.uk/benefits-calculator/startcalc.aspx'>entitledto.co.uk/benefits-calculator/startcalc.aspx</a></span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://benefits-calculator.turn2us.org.uk/AboutYou'>benefits-calculator.turn2us.org.uk/AboutYou</a></span><br/>
    </p>
    <p>
      Suma, którą faktycznie otrzymasz, będzie zależeć od wielu czynników i zanim wystapisz o zasiłek, dobrze jest zasięgnąć profesjonalnej porady. The Citizens Advice Bureau jest w stanie z tym pomóc:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <p>Benefit fraud – oszustwo zasiłkowe, czyli celowe lub nieuczciwe otrzymywanie większej kwoty, niż ci się należy, podlega w UK karze więzienia.</p>
    <h3>Główne zasiłki</h3>
    <p>Job Seekers Allowance lub JSA to zasiłek, który możesz otrzymać, jeśli pracowałeś/aś w UK i straciłeś/aś pracę. Dostaniesz £57.50 na tydzień, jeśli masz 24 lat lub mniej; £72.40 jeśli masz ponad 24 lata lub ponad 18 i samotnie wychowujesz dziecko; £113.70, jeśli pobierasz zasiłek razem z partnerem/partnerką. Będą od ciebie nieustannie żądać dowodów, że szukasz pracy, i bardzo utrudnią ci pobieranie zasiłku przez dłużej niż kilka miesięcy.</p>
    <p>Housing Benefit to zasiłek mieszkaniowy dla osób o niskich dochodach. Kwota waha się zależnie od tego, gdzie mieszkasz i od rodzaju lokalu (pokój, mieszkanie, itd). Nigdy nie będzie to więcej, niż pełna kwota twojego czynszu, a zazwyczaj będzie to po prostu za mało. Właściciele mieszkań często nie życzą sobie mieć lokatorów, którzy pobierają ten zasiłek.</p>
    <p>Child Benefit to zasiłek przysługujący ci, jeśli jesteś rodzicem lub opiekujesz się dzieckiem poniżej 16 roku życia. Możesz £20.50 na tydzień na najstarsze dziecko i £13.55 na pozostałe.</p>
    <p>Working Tax Credits to zasiłek w postaci obniżki podatku dochodowego dla osób w nisko płatnej pracy. Możesz sprawdzić kwotę, która ci przysługuje, tutaj:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='https://www.gov.uk/tax-credits-calculator'>gov.uk/tax-credits-calculator</a></span><br/>
    </p>
    <p>Employment and Support Allowance (ESA) i Personal Independence Payment (PIP) to dwa zasiłki, które możesz otrzymać ze względu na przewlekłą chorobę lub niepełnosprawność. Aby ci przysługiwał, musisz bardzo długo mieszkać w UK. Musisz poddać się ocenie, która ma określić, czy faktycznie nie jesteś w stanie pracować. Powszechnie wiadomo, że procedura oceny jest bardzo przykra i nawet ludzie ciężko chorzy często są uznawani za “zdolnych do pracy”.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-legal' >Kwestie prawne</h2>
    <h3>Policja i sądy</h3>
    <p>Policjanci są rasistowscy i ksenofobiczni. Jeśli jesteś imigrantem/imigrantką, policja jest mniej skłonna przeprowadzić dochodzenie, jeśli staniesz się ofiarą przestępstwa, i bardziej skłonna założyć z góry twoją winę. Bardzo źle postępują w sprawach przestępstw przeciwko kobietom, jak przemoc domowa lub napastowanie seksualne. Często trudno jest nawet zgłosić takie zdarzenie, bo policja nie chce brać tych spraw poważnie i traktuje ofiary poniżająco. Jeśli idziesz na policję, weź ze sobą kogoś w charakterze wsparcia moralnego i zapisz sobie, co ci powiedzą funkcjonariusze. Jeśli odmówią przyjęcia zgłoszenia, możesz spróbować ponownie na innym posterunku. Jeśli zgłaszasz napaść seksualną, przemoc domową lub zbrodnię nienawiści (np. napaść na tle rasistowskim lub homofobicznym), często łatwiej jest znaleźć „Community Safety Unit” i najpierw pójść do nich, bo osoby tam pracujące teoretycznie powinny być mniej uprzedzone. Poszukaj najbliższej takiej jednostki w google.</p>
    <p>If you are stopped by the police in the street, try to stay calm. They can stop you and question you but you don'Jeśli policja zatrzyma cię na ulicy, postaraj się zachować spokój. Mogą cię zatrzymać i zadawać pytania, ale nie musisz odpowiadać. Powinni przeszukać cię tylko w wypadku uzasadnionego podejrzenia popełnienia przestępstwa, ale w praktyce i tak zrobią, co zechcą. Mają prawo kazać ci zdjąć kurtkę i rękawiczki. Masz prawo dostać kopię protokołu zatrzymania, na której powinien być numer identyfikacyjny funkcjonariusza. Co robić, jeśli cię zatrzymają:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://londonagainstpoliceviolence.wordpress.com/guide-to-stop-search'>londonagainstpoliceviolence.wordpress.com/guide-to-stop-search</a></span><br/>
    </p>
    <p>Jeśli cię aresztują, musisz podać policjantom imię i nazwisko, adres i datę urodzenia. Nie odpowiadaj na żadne pytania bez rozmowy z adwokatem (solicitor). Masz prawo do darmowej pomocy adwokata podczas przesłuchania. Nie bierz adwokata, którego polecą ci policjanci (duty solicitor), spróbuj znaleźć kogoś polecanego przez znajomych. Masz prawo do telefonu. Masz prawo do tłumacza, jeśli nie znasz angielskiego.</p>
    <p>
    Newham Monitoring Group jest w stanie pomóc w przypadkach złego traktowania przez policję, szczególnie rasizmu:
    <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 169 3111</span><br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nmp.org.uk'>nmp.org.uk</a></span><br/>
    </p>
    <p>Jeśli policjanci myślą, że jesteś winny/winna, mogą zaproponować ci pouczenie (caution). Znaczy to, że przyznajesz się do winy, ale sprawa nie trafi do sądu i nie dostaniesz wyroku ani grzywny. Pouczenie trafia na stałe do twoich dokumentów. Poradź się adwokata, zanim się na to zgodzisz. Jeśli popełniłeś/aś przestępstwo, ale nie chcesz przyznawać się do winy, nie mów prawnikowi – ma obowiązek zgłosić to policji.
    </p>
    <p>Jeśli policjanci cię pobiją, potrzebujesz dokumentu z oględzin lekarskich, jak najszybciej. Wniesienie skargi na policjanta jest trudne, ale wykonalne.
    </p>
    <p>Jeśli twoja sprawa trafi do sądu, może ci przysługiwać darmowy adwokat, zależnie od twojego dochodu. Jeśli zarabiasz mniej, niż £12,475 na rok, będzie darmowy, jeśli więcej, musisz przejść pełną kontrolę dochodów, a jeśli więcej niż £22,325, musisz zapłacić z własnej kieszeni. Dotyczy to tylko spraw karnych. W sprawach cywilnych, np. dług, problemy rodzinne czy mieszkaniowe, niemal na pewno musisz zapłacić za prawnika. Możesz sprawdzić, czy przysługuje ci darmowa pomoc prawna, na tej stronie:
    <br/>
    <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://legal-aid-checker.justice.gov.uk'>legal-aid-checker.justice.gov.uk</a></span><br/>
    </p>
    <h3>Imigracja</h3>
    <p>Policja imigracyjna nazywa się UK Border Agency (UKBA). Regularnie robią naloty na targowiska, sklepy, stacje komunikacji miejskiej i domy w miejscach, gdzie mieszka dużo imigrantów. Mimo, że obywatele Unii Europejskiej mają prawo mieszkać w UK, UKBA zdarzało się już deportować ludzi. Jest to bardziej prawdopodobne, jeśli jesteś bez domu lub długo na bezrobociu.</p>
    <p>Jeśli UKBA lub policja zatrzyma cię na ulicy i spyta o twój status imigranta, nie musisz odpowiadać na żadne pytania. Nie musisz podawać im nazwiska ani adresu. Powiedz im, że nie chcesz z nimi rozmawiać, zachowuj się uprzejmie, ale pewnie siebie, i po prostu odejdź. Nie mają prawa cię zatrzymać ze względu na rasę. Jeśli zatrzymają cię ze względu na to, jak wyglądasz, lub język, którym mówisz, powiedz im: This is racist, This is illegal, I will make a complaint.</p>
    <p>Jeśli zostaniesz zatrzymany/a lub znasz kogoś, kogo to spotkało, skontaktuj się z Bail for Immigration Detainees:
    <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7247 3590</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.biduk.org'>biduk.org</a></span><br/>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-domestic' >Przemoc domowa i napaść seksualna</h2>
    <h3>Wsparcie dla kobiet</h3>
    <p>
      Linia pomocy ofiarom przemocy domowej Women's Aid, czynna 24 godziny na dobę
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 2000 247</span><br/>
    </p>
    <p>
      Przewodnik dla kobiet doświadczających przemocy domowej w wielu językach, w tym polskim i hiszpańskim
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.womensaid.org.uk/landing_page.asp?section=0001000100080004'>womensaid.org.uk/landing_page.asp?section=0001000100080004</a></span><br/>
    </p>
    <p>
      Southall Black Sisters udzielają porad kobietom czarnym i Azjatkom w sprawach przemocy domowej i z nią związanych, w tym imigracji:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0208 571 0800</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.southallblacksisters.org.uk'>southallblacksisters.org.uk</a></span><br/>
    </p>
    <p>
      Rape Crisis London udziela poufnej pomocy, informacji i wsparcia kobietom i dziewczynom, które doświadczyły jakiejkolwiek formy przemocy seksualnej:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 80 29999</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.rapecrisislondon.org'>rapecrisislondon.org</a></span><br/>
    </p>
    <p>
      Women's Rights udziela darmowych porad prawnych za pośrednictwem kilku infolinii, numery w konkretnych sprawach znajdziesz na stronie:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.rightsofwomen.org.uk/adviceline.php'>rightsofwomen.org.uk/adviceline.php</a></span><br/>
    </p>
    <p>
      Kalayaan udziela darmowych, niezależnych i poufnych rad w kwestii zatrudnienia i imigracji osobom, które pracują w domu pracodawcy. Skontaktuj się z nimi, jeśli masz problem z pracodawcą, jeśli były pracodawca przetrzymuje twój paszport lub jesli po prostu chcesz lepiej poznać swoje prawa:
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 020 7243 2942</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.kalayaan.org.uk'>kalayaan.org.uk</a></span><br/>
    </p>
    <h3>Wsparcie dla osób LGBT</h3>
    <p>
      Broken Rainbow – linia dla osób LGBT doświadczających przemocy domowej
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0800 999 5428</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.brokenrainbow.org.uk'>brokenrainbow.org.uk</a></span><br/>
    </p>
    <h3>Wsparcie dla mężczyzn</h3>
    <p>
      Linia dla mężczyzn doświadczających przemocy domowej
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 801 0327</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.mensadviceline.org.uk'>mensadviceline.org.uk</a></span><br/>
    </p>
    <p>
      Survivors UK – poufna linia dla mężczyzn, którzy doświadczyli przemocy seksualnej
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0845 122 1201</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.survivorsuk.org'>survivorsuk.org</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-lgbt' >LGBT (lesbijki, geje, osoby biseksualne i trans*)</h2>
    <p>Może być trudno spotkać inne osoby LGBT w nowym kraju i nowym mieście, a scenowe lokale robią się coraz droższe. Może te kontakty pomogą:</p>
    <p>
      Infolinia London Lesbian and Gay Switchboard: 
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0845 122 1201</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.llgs.org.uk'>llgs.org.uk</a></span><br/>
    </p>
    <p>
      London Queer Social Centre lub "House of Brag" to oddolny kolektyw osób queer:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://houseofbrag.wordpress.com'>houseofbrag.wordpress.com</a></span><br/>
    </p>
  </div>
  <div class="col-md-12 text-container">
    <h2 id='section-other' >Przydatne kontakty</h2>
    <p>
      GOV.UK to rządowa strona, która w przystępny sposób tłumaczy prawo. Znajdziesz tam wiele informacji, włącznie z kwestiami omawianymi przez nas
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.gov.uk'>gov.uk</a></span><br/>
    </p>
    <p>
      Citizen's Advice Bureau to organizacja charytatywna udzielająca porad potrzebującym. Mają lokalne centra, gdzie możesz osobiście spytać o poradę. Najbliższe centrum znajdziesz na stronie
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 03444 111 444</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.citizensadvice.org.uk/index/getadvice.htm'>http://www.citizensadvice.org.uk/index/getadvice.htm</a></span><br/>
    </p>
    <p>
      Advice Guide to strona prowadzona przez CAB z poradami w wielu rodzajach problemów:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.adviceguide.org.uk'>adviceguide.org.uk</a></span><br/>
    </p>
    <p>
      W Community Law Centre osoby, których nie stać na prawnika, mogą otrzymać wykwalifikowaną poradę prawną. Znajdź najbliższe centrum tutaj:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.lawcentres.org.uk/i-am-looking-for-advice'>lawcentres.org.uk/i-am-looking-for-advice</a></span><br/>
    </p>
    <p>
      Mary Ward Legal Centre to kolejne miejsce, gdzie możesz poprosić o poradę prawną:
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.marywardlegal.org.uk/'>marywardlegal.org.uk</a></span><br/>
    </p>
    <p>
      National Debt Line udziela porad związanych z długami
      <br/>
      <span class='phone'><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 0808 808 4000</span><br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='nationaldebtline.org/EW/Pages/default.aspx'>https://www.nationaldebtline.org/EW/Pages/default.aspx</a></span><br/>
    </p>
    <p>
      NHS Choices to strona z informacjami o zdrowiu i służbie zdrowia
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://www.nhs.uk/Pages/HomePage.aspx'>nhs.uk/Pages/HomePage.aspx</a></span><br/>
    </p>
    <p>
      London Coalition Against Poverty to koalicja wielu grup działająca według zasady, że zwykli ludzie mogą poprawić swoje życie poprzez solidarność i akcję bezpośrednią. Na stronie znajdziesz lokalne oddziały w różnych częściach Londynu
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://lcap.org.uk'>lcap.org.uk</a></span><br/>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-container">
    <h2 id='section-who' >Kim jesteśmy i co nas to obchodzi?</h2>
    <p>
      Solidarity Federation to organizacja wspierająca zrzeszanie się i działanie wspólne. Organizujemy się we własnych miejscach pracy i wspólnotach, a poza tym z radością pomożemy każdemu, kto m  <div class="col-md-12 text-container">
a problemy z szefem lub właścicielem domu. Jeśli chcesz działać razem z nami, daj nam znać!
      <br/>
      <span class='website'><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href='http://solfed.org.uk'>solfed.org.uk</a></span><br/>
      <span class='email'><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href='mailto:solfed@solfed.org.uk'>solfed@solfed.org.uk</a></span><br/>
      <span class='email'><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href='mailto:info@migrantsguide.uk'>info@migrantsguide.uk</a></span><br/>
    </p>
  </div>
</div>
