<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}">
  <meta name="author" content="{{ resource.meta.author }}">
  
  {% block favicons %}
  <link rel="shortcut icon" href="{{ media_url('/favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ media_url('/apple-touch-icon.png') }}">
  {% endblock favicons %}

  {% block css %}
  <link rel="stylesheet" href="{{ media_url('css/style.css') }}">
  {% endblock css %}
</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
  {% block content %}
    <!-- main container -->
    <div class="container">
      <!-- main page content -->
      <div class="bs-docs-section">
        <div class="row first-row">
          <div class="col-md-12">
            {% block header %}
              <h1>{{ resource.meta.title }}<h1>
            {% endblock %}
          </div>
        </div>
        <section class="content">
        {% block main %}
        {% endblock main %}
        </section>
      </div>
      <!-- end of main page content -->

    </div>
    <!-- end of main container -->
  {% endblock content %}
</body>
</html>