<!doctype html>
<!-- https://github.com/paulirish/html5-boilerplate/blob/master/index.html -->
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  {% block starthead %}{% endblock starthead %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}">
  <meta name="author" content="{{ resource.meta.author }}">

  {% block favicons %}
  <link rel="shortcut icon" href="{{ media_url('/images/sf-logo.png') }}">
  <link rel="apple-touch-icon" href="{{ media_url('/images/sf-logo.png') }}">
  {% endblock favicons %}

  {% block css %}
  <link rel="stylesheet" href="{{ media_url('css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ media_url('css/style.css') }}">
  {% endblock css %}

  {% block headjs %}
    <script src="{{ media_url('js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ media_url('js/bootstrap.min.js') }}"></script>
    <script>
      var shiftWindow = function() { scrollBy(0, -50) };
      if (location.hash) shiftWindow();
      window.addEventListener("hashchange", shiftWindow);
    </script>
  {% endblock headjs %}
  {% block endhead %}{% endblock endhead %}
</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
  {% block content %}
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        <span class="navbar-brand"><a class='navbar-site-title' href='/'>London - A Migrant's Guide</a></span>
          <!--button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button-->
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Languages <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/bg.html">На български</a></li>
                <li><a href="/en.html">In English</a></li>
                <li><a href="/es.html">En Español</a></li>
                <li><a href="/it.html">In italiano</a></li>
                <li><a href="/lt.html">lietuvių</a></li>
                <li><a href="/hu.html">Magyar</a></li>
                <li><a href="/pl.html">Po polsku</a></li>
                <li><a href="/pt.html">Em Português</a></li>
                <li><a href="/tr.html">Türk olarak</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end of navbar -->

    <!-- main container -->
    <div class="container">
      <!-- main page content -->
      <div class="bs-docs-section">
        <div class="row first-row">
          <div class="col-md-12">
            {% block header %}
              <h1>{{ resource.meta.title }}<h1>
            {% endblock %}
          </div>
        </div>
        <section class="content">
        {# % block nav %}
        {% from "macros.j2" import render_nav with context %}
        {{ render_nav(menu, 'main_nav') }}
        {% endblock % #}

        {% block main %}
        {% endblock main %}
        </section>
      </div>
      <!-- end of main page content -->

      <!-- footer -->
      <footer>
        <div class="row">
          <div class="col-md-12">
            <img class='footer-logo' src="/media/images/sf-logo.png"/>
            Created by <a href="http://solfed.org.uk">SolFed</a> and friends.
            Contact <a href='mailto:info@migrantsguide.uk'>info@migrantsguide.uk</a>
            <div class='pull-right'><a href="#top">Back to top</a></div>
          </div>
        </div>

      </footer>
      <!-- end of footer -->

    </div>
    <!-- end of main container -->
  {% endblock content %}
  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setCookieDomain", "*.migrantsguide.uk"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//stats.strikenow.org.uk/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 6]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//stats.strikenow.org.uk/piwik.php?idsite=6" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->
</body>
</html>
